Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

Update history.md
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

work in progress
  starsky/starsky.feature.update/Class1.cs
  starsky/starsky.feature.update/Helpers/StatusHelper.cs
  starsky/starsky.feature.update/Services/PreflightUpdate.cs
  starsky/starsky.feature.update/starsky.feature.update.csproj
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.sln
  starsky/starsky/Controllers/ApiController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/starsky.csproj
  starsky/starskycore/Helpers/StatusCodesHelper.cs
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky.feature.update/Class1.cs
  starsky/starsky.feature.update/Helpers/StatusHelper.cs
  starsky/starsky.feature.update/Interfaces/IPreflightUpdate.cs
  starsky/starsky.feature.update/Services/PreflightUpdate.cs
  starsky/starsky.feature.update/starsky.feature.update.csproj
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starsky/Controllers/ApiController.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskycore/Helpers/StatusCodesHelper.cs
  starsky/starskycore/Services/ReplaceService.cs
  starsky/starskytest/Helpers/StatusCodesHelperTest.cs
Due: azure-pipelines-starsky.yml

[changelog] add todo
  history.md
Due: none

Work in progress
  starsky/starsky.feature.metaupdate/Interfaces/IPreflightUpdate.cs
  starsky/starsky.feature.metaupdate/Services/PreflightUpdate.cs
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starsky.sln
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

Work in progress Info/Update/Replace
  starsky/starsky.feature.metaupdate/Interfaces/IMetaPreflight.cs
  starsky/starsky.feature.metaupdate/Interfaces/IMetaReplaceService.cs
  starsky/starsky.feature.metaupdate/Interfaces/IMetaUpdateService.cs
  starsky/starsky.feature.metaupdate/Interfaces/IPreflightUpdate.cs
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.feature.metaupdate/Services/PreflightUpdate.cs
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.foundation.database/Models/DetailView.cs
  starsky/starsky.foundation.database/Query/QuerySingleItem.cs
  starsky/starsky/Controllers/ApiController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskytest/Services/ReplaceServiceTest.cs
  starsky/starskytest/Services/UpdateServiceTest.cs
  starsky/starskytest/Services/UserManagerTest.cs
Due: azure-pipelines-starsky.yml

[hotfix] gps tracker dont use local datetime kind
  starsky/starsky.feature.geolookup/Services/GeoIndexGpx.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaXmp.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

update readme
  history.md
Due: none

isDirectory nullable
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.database/Helpers/FileIndexCompareHelper.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.database/Query/QuerySingleItem.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriter.cs
  starsky/starsky/Controllers/IndexController.cs
  starsky/starskycore/Helpers/RenameFs.cs
  starsky/starskycore/Services/SyncServiceAddFileToDatabase.cs
  starsky/starskycore/Services/SyncServiceAddFoldersToDatabase.cs
  starsky/starskycore/Services/SyncServiceDeleted.cs
  starsky/starskycore/Services/SyncServiceOrphanFolder.cs
  starsky/starskycore/Services/SyncServiceRemoveOldFilePathItemsFromDatabase.cs
Due: azure-pipelines-starsky.yml

rename file ++ add readonly
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriter.cs
Due: azure-pipelines-starsky.yml

rm helpers folder
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
Due: azure-pipelines-starsky.yml

start working on unit tests
  history.md
  starsky/starsky.feature.metaupdate/Interfaces/IMetaPreflight.cs
  starsky/starsky.feature.metaupdate/Interfaces/IMetaReplaceService.cs
  starsky/starsky.feature.metaupdate/Interfaces/IMetaUpdateService.cs
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky/Controllers/DeleteController.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskytest/FakeMocks/FakeMetaPreflight.cs
  starsky/starskytest/Helpers/StatusCodesHelperTest.cs
  starsky/starskytest/Services/ReplaceServiceTest.cs
  starsky/starskytest/Services/UserManagerTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/StatusCodesHelperTest.cs
Due: azure-pipelines-starsky.yml

8% of unittests fails :(
  starsky/starsky.feature.metaupdate/Interfaces/IMetaInfo.cs
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky/Controllers/ApiController.cs
  starsky/starsky/Controllers/MetaInfoController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskytest/Controllers/ApiControllerTest.cs
  starsky/starskytest/Controllers/DeleteControllerTest.cs
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs_
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/FakeMocks/FakeConsoleWrapper.cs
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
  starsky/starskytest/Helpers/FileStreamingHelperTest.cs
  starsky/starskytest/Services/BackgroundTaskQueueTest.cs
  starsky/starskytest/Services/ReplaceServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Query/QueryAddRangeTest.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky.yml

7% fails
  starsky/starskytest/starsky.foundation.database/Query/QueryTest.cs
Due: azure-pipelines-starsky.yml

to 1% of unit test fails
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starskytest/Services/SearchServiceTest.cs
  starsky/starskytest/Services/SearchSuggestionsServiceTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
Due: azure-pipelines-starsky.yml

[Dependabot]/ [Security] security fix ++ update electron in package-lock
  starskyapp/package-lock.json
Due: azure-pipelines-starsky.starskyapp.yml

SearchService_SearchForDirectories
  starsky/starsky/Controllers/ExportController.cs
  starsky/starskycore/Services/SearchService.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/Services/SearchServiceTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
Due: azure-pipelines-starsky.yml

fix search
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starskycore/Services/SearchService.cs
  starsky/starskycore/ViewModels/SearchViewModel.cs
Due: azure-pipelines-starsky.yml

add Add
  starsky/starskytest/FakeMocks/FakeMetaPreflight.cs
Due: azure-pipelines-starsky.yml

fix 1 test
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
Due: azure-pipelines-starsky.yml

add false
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
Due: azure-pipelines-starsky.yml

read only check
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
Due: azure-pipelines-starsky.yml

add not found check
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky/Controllers/ExportController.cs
Due: azure-pipelines-starsky.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

work on replace service
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starskytest/Services/ReplaceServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/StatusCodesHelperTest.cs
Due: azure-pipelines-starsky.yml

should fix some issues
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
  starsky/starsky.feature.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/UpdateServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/StatusCodesHelperTest.cs
Due: azure-pipelines-starsky.yml

add guid
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
Due: azure-pipelines-starsky.yml

fix test
  starsky/starsky/Controllers/ExportController.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky.yml

Update starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update dotnet-tools.json
  starsky/.config/dotnet-tools.json
Due: azure-pipelines-starsky.yml

add tests
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs_
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaInfoTest.cs
Due: azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
