Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

starskymountwatchercli --uninstall
  documentation/docs/features/import/mountwatchercli.md
Due: pipelines/azure/documentation.yaml

Check installation running status mount watcher --status flag (#2973)
  documentation/docs/features/import/mountwatchercli.md
  history.md
  starsky/.config/dotnet-tools.json
  starsky/build/helpers/SonarQube.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/RunProcess.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IOSServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/Helpers/RunProcessTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starskymountwatchercli/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-storage-folder/preferences-app-settings-storage-folder.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-storage-folder/preferences-app-settings-storage-folder.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add pickers
  mac/starsky/webView.swift
  starsky/starsky/clientapp/src/hooks/use-folder-picker.ts
  starsky/starsky/clientapp/src/types/window.d.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

easier
  mac/starsky/FOLDER_PICKER_BRIDGE_SPEC.md
  mac/starsky/webView.swift
Due: none

add bridge && cookies
  mac/starsky/CookiePersistence.swift
  mac/starsky/docs/FOLDER_PICKER_BRIDGE_SPEC.md
  mac/starsky/starskyApp.swift
  mac/starsky/webView.swift
  mac/starskyTests/CookiePersistenceTests.swift
  starsky/starsky/clientapp/src/components/atoms/folder-picker-input/folder-picker-input.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-folder-picker.ts
  starsky/starsky/clientapp/src/shared/native/js-for-result.ts
  starsky/starsky/clientapp/src/types/window.d.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

path
  mac/starsky/runBinary.swift
Due: none

WIP
  mac/starsky/AppSettingsReader.swift
  mac/starsky/StorageBookmarkManager.swift
  mac/starskyTests/AppSettingsReaderTests.swift
  mac/starskyTests/StorageBookmarkManagerTests.swift
Due: none

WIP
  mac/starsky/BackendLauncher.swift
  mac/starsky/StorageBookmarkManager.swift
  mac/starsky/docs/FOLDER_PICKER_BRIDGE_SPEC.md
  mac/starsky/runBinary.swift
Due: none

WIP
  starsky/SECURITY_SCOPED_BOOKMARKS_DELIVERY.txt
  starsky/starsky.feature.settings/Services/UpdateAppSettingsByPath.cs
  starsky/starsky.feature.settings/starsky.feature.settings.csproj
  starsky/starsky.foundation.import/Helpers/MacOsFileSystemHelper.cs
  starsky/starsky.foundation.native/DiskFileSystemType/MacOsNativeMethods.cs
  starsky/starsky.foundation.native/FileSystem/Interfaces/IMacOsSecurityScopedBookmarkNative.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkNative.cs
  starsky/starsky.foundation.native/FileSystem/tmp_docs/IMPLEMENTATION_COMPLETE.md
  starsky/starsky.foundation.native/FileSystem/tmp_docs/INTEGRATION_GUIDE.md
  starsky/starsky.foundation.native/FileSystem/tmp_docs/MACOS_SECURITY_SCOPED_BOOKMARKS_README.md
  starsky/starsky.foundation.native/FileSystem/tmp_docs/README.md
  starsky/starsky.foundation.native/FileSystem/tmp_docs/VERIFICATION_CHECKLIST.md
  starsky/starskytest/FakeMocks/FakeMacOsSecurityScopedBookmarkNative.cs
  starsky/starskytest/starsky.foundation.native/DiskFileSystemType/MacOsNativeMethodsTests.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.settings/Services/UpdateAppSettingsByPath.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

, new FakeIWebLogger()
  starsky/starsky.feature.settings/Services/UpdateAppSettingsByPath.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

, new FakeIWebLogger()
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkNative.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

StartAccessingSecurityScopedResource
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkNative.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.native/FileSystem/Interfaces/IMacOsSecurityScopedBookmarkNative.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmark.cs
  starsky/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkNative.cs
  starsky/starskytest/FakeMocks/FakeMacOsSecurityScopedBookmarkNative.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsSecurityScopedBookmarkTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.native/FileSystem/Interfaces/IMacOsNativeFilePicker.cs
  starsky/starsky.foundation.native/FileSystem/Interfaces/IMacOsNativeFilePickerNative.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePicker.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePickerNative.cs
  starsky/starsky.foundation.native/FileSystem/Models/MacOsFolderPickResult.cs
  starsky/starsky/Controllers/MacOsNativeFilePickerController.cs
  starsky/starskytest/Controllers/MacOsNativeFilePickerControllerTest.cs
  starsky/starskytest/FakeMocks/FakeMacOsNativeFilePickerNative.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsNativeFilePickerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePicker.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePickerNative.cs
  starsky/starskytest/Controllers/MacOsNativeFilePickerControllerTest.cs
  starsky/starskytest/starsky.foundation.native/FileSystem/MacOsNativeFilePickerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePicker.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePickerNative.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[MacOsNativeFilePicker] AppKit unavailable (NSOpenPanel not found; framework may not be loaded)
  starsky/starsky.foundation.native/FileSystem/Interfaces/IMacOsNativeFilePickerNative.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePicker.cs
  starsky/starsky.foundation.native/FileSystem/MacOsNativeFilePickerNative.cs
  starsky/starskytest/FakeMocks/FakeMacOsNativeFilePickerNative.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac/starsky/AppViewModel.swift
  mac/starsky/Assets.xcassets/AccentColor.colorset/Contents.json
  mac/starsky/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starsky/Assets.xcassets/Contents.json
  mac/starsky/BackendLauncher.swift
  mac/starsky/BackendReadiness.swift
  mac/starsky/CookiePersistence.swift
  mac/starsky/ReadinessChecker.swift
  mac/starsky/RootView.swift
  mac/starsky/StorageBookmarkManager.swift
  mac/starsky/docs/FOLDER_PICKER_BRIDGE_SPEC.md
  mac/starsky/getFreePort.swift
  mac/starsky/starskyApp.swift
  mac/starsky/webView.swift
  mac/starskyTests/AppViewModelTests.swift
  mac/starskyTests/BackendReadinessTests.swift
  mac/starskyTests/CookiePersistenceTests.swift
  mac/starskyTests/FilePickerControllerTests.swift
  mac/starskyTests/GetFreePortTests.swift
  mac/starskyTests/starskyTests.swift
  starsky/starsky/clientapp/src/components/atoms/folder-picker-input/folder-picker-input.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/folder-picker-input/folder-picker-input.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/internal/warning-box-no-photos-filter.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-storage-folder/preferences-app-settings-storage-folder.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-storage-folder/preferences-app-settings-storage-folder.tsx
  starsky/starsky/clientapp/src/hooks/use-folder-picker.ts
  starsky/starsky/clientapp/src/interfaces/IFolderPickerMessage.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
  starsky/starsky/clientapp/src/shared/keyboard/keyboard-set-caret-to-end.spec.ts
  starsky/starsky/clientapp/src/shared/native/js-for-result.ts
  starsky/starsky/clientapp/src/style/css/50-preferences.css
  starsky/starsky/clientapp/src/types/window.d.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  mac/starsky/BackendLauncher.swift
Due: none

disable sandbox
  mac/starsky.xcodeproj/project.pbxproj
Due: none

Auto .NET SDK version Upgrade to 8.0.420
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update version history for release 0.7.15
  history.md
Due: none

Update dotnet SDK version from 8.0.419 to 8.0.420
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

.NET SDK Upgrade to 8.0.420 (#2979)
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  history.md
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/readme.md
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#2983)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

WIP
  mac/Gemfile
  mac/Gemfile.lock
  mac/fastlane/Appfile
  mac/fastlane/Fastfile
  mac/fastlane/README.md
  mac/fastlane/report.xml
  mac/starskyTests/FilePickerControllerTests.swift
  mac/starskyTests/WebViewEvaluating.swift
Due: none

Update release date for version 0.7.15
  history.md
Due: none

replace
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.database/Query/QueryExistsAsync.cs
  starsky/starsky.foundation.database/Query/QueryGetAllFiles.cs
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starsky.foundation.database/Query/QueryGetAllRecursive.cs
  starsky/starsky.foundation.database/Query/QueryGetFoldersAsync.cs
  starsky/starsky.foundation.database/Query/QueryGetNextPrevInFolder.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFileHashAsync.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starsky.foundation.database/Query/QueryRemoveItemAsync.cs
  starsky/starsky.foundation.settings/Services/SettingsService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

replace
  starsky/starsky.foundation.database/Query/InjectServiceScope.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathCollectionAsync.cs
  starsky/starskytest/starsky.foundation.database/Import/ImportQueryTest.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/InjectServiceScopeTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryAddRangeTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryRemoveItemAsyncTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky.foundation.database/DataProtection/SqlXmlRepository.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryAddRangeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

QueryDisplayFileFolders_uses_scope_when_primary_context_throws_NotSupportedException
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryDisplayFileFolders_NotSupportedException_Test.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryDisplayFileFolders_NotSupportedException_Test.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

merge
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryDisplayFileFolders_NotSupportedException_Test.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryFolderTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFileHashAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllObjectsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
