Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

add test
  starsky/starsky.feature.health/HealthCheck/SetupHealthCheck.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/SetupHealthCheckTest.cs
Due: azure-pipelines-starsky.yml

split feature
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
Due: azure-pipelines-starsky.yml

add extra tests
  starsky/starskytest/starsky.feature.health/HealthCheck/PathExistHealthCheckTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SetupDatabaseTypesTest.cs
Due: azure-pipelines-starsky.yml

add tests for cache
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

update tests
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

QueryIsUpdateNeeded_EmptyList
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

update docs
  history.md
  starsky/starsky.feature.health/HealthCheck/SetupHealthCheck.cs
Due: azure-pipelines-starsky.yml

change to internal
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
Due: none

fix some code smells
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky.yml

renaming clientside names to match files
  starsky/starsky/Controllers/UploadController.cs
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-edit-date-time/modal-edit-datetime.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/contexts/detailview-context.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/hooks/use-searchlist.ts
  starsky/starsky/clientapp/src/index.tsx
  starsky/starsky/clientapp/src/router-app/router-app.spec.tsx
  starsky/starsky/clientapp/src/router-app/router-app.tsx
Due: azure-pipelines-starsky.yml

remove unused code
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
Due: azure-pipelines-starsky.yml

Update starsky-clientapp.yml
  .github/workflows/starsky-clientapp.yml
Due: none

update cache key client app github actions
  .github/workflows/starsky-clientapp.yml
Due: none

ci --no-progress --prefer-offline
  .github/workflows/starsky-clientapp.yml
Due: none

add cache
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

update name to cache-clientapp-node-modules
  .github/workflows/starsky-clientapp.yml
Due: none

remove unused env
  .github/workflows/starsky-clientapp.yml
Due: none

remove unused env
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

Add Caching for Node modules for SonarQube pipe
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

update version to 0.4.0-beta.2
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/end2end/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update name
  starsky/starsky/clientapp/src/components/molecules/health-status-error/health-status-error.spec.tsx
Due: azure-pipelines-starsky.yml

mock /api/health/check-for-updates > 202 && add component && isElectron window object to easy test && add to UrlQuery && add to menu
  starsky-tools/mock/api/health/check-for-updates/index.json
  starsky-tools/mock/set-router.js
  starsky/starsky/clientapp/src/components/atoms/notification/notification.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
  starsky/starsky/clientapp/src/shared/browser-detect.ts
  starsky/starsky/clientapp/src/shared/url-query.ts
  starsky/starsky/clientapp/src/style/css/36-notification.css
  starskyapp/lib/app-menu.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
Due: azure-pipelines-starsky.yml

notification test
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
Due: azure-pipelines-starsky.yml

add fix for test
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
Due: azure-pipelines-starsky.yml

update code
  history.md
  starsky-tools/mock/set-router.js
  starsky/starsky.feature.health/UpdateCheck/Interfaces/ICheckForUpdates.cs
  starsky/starsky.feature.health/UpdateCheck/Models/ReleaseModel.cs
  starsky/starsky.feature.health/UpdateCheck/Models/UpdateStatus.cs
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starsky/Controllers/HealthCheckForUpdatesController.cs
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
  starsky/starskytest/FakeMocks/FakeICheckForUpdates.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/VersionHelpers/VersionHelpersTest.cs
Due: azure-pipelines-starsky.yml

fix tests
  starsky/starsky.feature.health/UpdateCheck/Models/ReleaseModel.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

add test for controller
  docs/history.html
  starsky/starskytest/Controllers/HealthCheckForUpdatesControllerTest.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

add to client
  starsky/starsky/Controllers/HealthCheckForUpdatesController.cs
Due: azure-pipelines-starsky.yml

add api check in app
  starskyapp/index.js
  starskyapp/lib/app-menu.js
  starskyapp/lib/check-for-updates.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/remote-settings-preload.js
  starskyapp/media/focus-button-autoclose.js
  starskyapp/media/settings-client.js
  starskyapp/pages/check-for-updates-new-version.html
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

fix mock
  starsky-tools/mock/.gitignore
  starsky-tools/mock/github.com/repos/qdraw/starsky/releases/index.json
Due: none

add tests
  starsky/starskytest/starsky.foundation.platform/VersionHelpers/VersionHelpersTest.cs
Due: azure-pipelines-starsky.yml

add test for tagname
  starsky/starskytest/starsky.feature.health/Models/ReleaseModelTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add comment
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky.yml
