Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

cl
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202601 hotkeys command (#2572)
  history.md
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Remove Node.js version 18 from CI matrix
  .github/workflows/documentation-linux-ci.yml
Due: none

Remove Node.js version 18 from CI matrix (#2573)
  .github/workflows/documentation-linux-ci.yml
Due: none

Update ClientApp (#2549)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

Update Documentation and Docusaurus (#2451)
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

New feature: Using Cloud Import with Dropbox Camera Uploads
  documentation/blog/20251221-starsky-2025-year-in-review.md
  documentation/blog/20260108-new-feature-cloud-import.md
Due: pipelines/azure/documentation.yaml

changelog
  history.md
Due: none

add setup for dropbox
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.foundation.http/Interfaces/IHttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpProvider.cs
  starsky/starskyadmincli/Models/DropboxTokenResponse.cs
  starsky/starskyadmincli/Models/ManageOptions.cs
  starsky/starskyadmincli/Services/ConsoleAdmin.cs
  starsky/starskyadmincli/Services/DropboxSetup.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/starsky.foundation.http/Helpers/HttpClientHelperTest.cs
  starskydesktop/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add helper
  starsky/starsky.foundation.http/Interfaces/IHttpProvider.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpProvider.cs
  starsky/starskyadmincli/Program.cs
  starsky/starskyadmincli/Services/ConsoleAdmin.cs
  starsky/starskyadmincli/Services/DropboxSetup.cs
  starsky/starskytest/FakeMocks/FakeIHttpProvider.cs
  starsky/starskytest/starskyAdminCli/Services/ConsoleAdminTest.cs
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starskyadmincli/Services/DropboxSetup.cs
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.http/Interfaces/IHttpProvider.cs
  starsky/starskytest/FakeMocks/FakeHttpMessageHandler.cs
  starsky/starskytest/starsky.foundation.http/Services/HttpProviderTest.cs
  starsky/starskytest/starskyAdminCli/Models/DropboxTokenResponseTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starskyAdminCli/Services/ConsoleAdminTest.cs
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add null
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

docs
  documentation/docs/getting-started/cloud-import/readme.md
Due: pipelines/azure/documentation.yaml

remove legacy
  starsky-tools/dropbox-import/.gitignore
  starsky-tools/dropbox-import/Dockerfile
  starsky-tools/dropbox-import/command.sh
  starsky-tools/dropbox-import/dropbox-core.js
  starsky-tools/dropbox-import/dropbox-get-access-token.js
  starsky-tools/dropbox-import/dropbox-import.js
  starsky-tools/dropbox-import/dropbox-setup.js
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/dropbox-import/readme.md
  starsky-tools/readme.md
  starsky-tools/update-npm.sh
Due: pipelines/azure/documentation.yaml

Delete .github/workflows/tools-dropbox-import-docker-buildx.yml
  .github/workflows/tools-dropbox-import-docker-buildx.yml
Due: none

Update workflow to exclude dropbox-import path
  .github/workflows/tools-smoke-test-node.yml
Due: none

docs
  documentation/scripts/prestart.js
Due: pipelines/azure/documentation.yaml

keep a changelog
  history.md
Due: none

windows
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

space
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

using
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202601 setup dropbox (#2576)
  .github/workflows/tools-dropbox-import-docker-buildx.yml
  .github/workflows/tools-smoke-test-node.yml
  documentation/docs/getting-started/cloud-import/readme.md
  documentation/scripts/prestart.js
  history.md
  starsky-tools/dropbox-import/.gitignore
  starsky-tools/dropbox-import/Dockerfile
  starsky-tools/dropbox-import/command.sh
  starsky-tools/dropbox-import/dropbox-core.js
  starsky-tools/dropbox-import/dropbox-get-access-token.js
  starsky-tools/dropbox-import/dropbox-import.js
  starsky-tools/dropbox-import/dropbox-setup.js
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/dropbox-import/readme.md
  starsky-tools/readme.md
  starsky-tools/update-npm.sh
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.foundation.http/Interfaces/IHttpClientHelper.cs
  starsky/starsky.foundation.http/Interfaces/IHttpProvider.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpProvider.cs
  starsky/starskyadmincli/Models/DropboxTokenResponse.cs
  starsky/starskyadmincli/Models/ManageOptions.cs
  starsky/starskyadmincli/Program.cs
  starsky/starskyadmincli/Services/ConsoleAdmin.cs
  starsky/starskyadmincli/Services/DropboxSetup.cs
  starsky/starskytest/FakeMocks/FakeHttpMessageHandler.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/FakeMocks/FakeIHttpProvider.cs
  starsky/starskytest/starsky.foundation.http/Helpers/HttpClientHelperTest.cs
  starsky/starskytest/starsky.foundation.http/Services/HttpProviderTest.cs
  starsky/starskytest/starskyAdminCli/Models/DropboxTokenResponseTest.cs
  starsky/starskytest/starskyAdminCli/Services/ConsoleAdminTest.cs
  starsky/starskytest/starskyAdminCli/Services/DropboxSetupTest.cs
  starskydesktop/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WIP
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac/starsky/Assets.xcassets/AccentColor.colorset/Contents.json
  mac/starsky/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starsky/Assets.xcassets/Contents.json
  mac/starsky/getFreePort.swift
  mac/starsky/runBinary.swift
  mac/starsky/starskyApp.swift
  mac/starsky/webView.swift
  mac/starskyTests/starskyTests.swift
  mac/starskyUITests/starskyUITests.swift
  mac/starskyUITests/starskyUITestsLaunchTests.swift
Due: none

WIP
  mac/starsky.xcodeproj/project.pbxproj
Due: none

WIP
  mac-1/starsky.xcodeproj/project.pbxproj
  mac-1/starsky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac-1/starsky/Assets.xcassets/AccentColor.colorset/Contents.json
  mac-1/starsky/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac-1/starsky/Assets.xcassets/Contents.json
  mac-1/starsky/getFreePort.swift
  mac-1/starsky/runBinary.swift
  mac-1/starsky/starskyApp.swift
  mac-1/starsky/webView.swift
  mac-1/starskyTests/starskyTests.swift
  mac-1/starskyUITests/starskyUITests.swift
  mac-1/starskyUITests/starskyUITestsLaunchTests.swift
  mac/starskydesktop.xcodeproj/project.pbxproj
  mac/starskydesktop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac/starskydesktop/Assets.xcassets/AccentColor.colorset/Contents.json
  mac/starskydesktop/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starskydesktop/Assets.xcassets/Contents.json
  mac/starskydesktop/ContentView.swift
  mac/starskydesktop/starskydesktopApp.swift
  mac/starskydesktopTests/starskydesktopTests.swift
  mac/starskydesktopUITests/starskydesktopUITests.swift
  mac/starskydesktopUITests/starskydesktopUITestsLaunchTests.swift
Due: none

batch rename
  starsky/starsky.feature.rename/Models/BatchRenameMapping.cs
  starsky/starsky.feature.rename/Models/RenameTokenPattern.cs
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to interface
  starsky/starsky.foundation.storage/Structure/Interfaces/IStructureService.cs
  starsky/starsky.foundation.storage/Structure/StructureService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/starsky.foundation.storage/Structure/Interfaces/IStructureService.cs
  starsky/starsky.foundation.storage/Structure/StructureService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starsky.foundation.storage/Structure/StructureService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add timeouts / fix on rename token pattern
  starsky/starsky.feature.rename/Models/RenameTokenPattern.cs
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.cloudimport/Clients/DropboxClientWrapperTest.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
  starsky/starskytest/starsky.foundation.settings/Services/SettingsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix implementation
  starsky/starsky.feature.rename/Models/RenameTokenPattern.cs
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
