Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

WIP
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.422
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update .NET SDK version in README
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Revise version history for 0.7.20 and 0.7.21
  history.md
Due: none

.NET SDK Upgrade to 8.0.422 (#3091)
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  history.md
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/readme.md
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Disable fail-fast in CI workflow
  .github/workflows/clientapp-react-linux-ci.yml
Due: none

Update packages and types
  .gitignore
  starsky-tools/build-tools/clientapp-vite-update.js
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.tsx
  starsky/starsky/clientapp/src/components/atoms/form-control/get-text-length.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/navigate.ts
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/controls.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/play-pause.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/play-pause.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/progress-bar.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/set-default-effect.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/set-default-effect.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/time-update.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/time-update.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/update-progress-by-click.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/update-progress-by-click.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/waiting.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.ts
  starsky/starsky/clientapp/src/shared/clipboard-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.ts
  starsky/starsky/clientapp/src/hooks/use-interval.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update packages and types (#3094)
  .gitignore
  starsky-tools/build-tools/clientapp-vite-update.js
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.tsx
  starsky/starsky/clientapp/src/components/atoms/form-control/get-text-length.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/navigate.ts
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/controls.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/play-pause.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/play-pause.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/progress-bar.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/set-default-effect.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/set-default-effect.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/time-update.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/time-update.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/update-progress-by-click.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/update-progress-by-click.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/waiting.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.ts
  starsky/starsky/clientapp/src/hooks/use-interval.ts
  starsky/starsky/clientapp/src/shared/clipboard-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Node.js version to 22 in workflow
  .github/workflows/clientapp-update-dependencies-vite.yml
Due: none

@swc/jest
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

complier options
  starsky/starsky/clientapp/tsconfig.prod.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 12
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/src/components/atoms/searchable-dropdown/searchable-dropdown.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-rotate-image-90/menu-option-rotate-image-90.stories.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/get-current-touches.ts
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

storybook
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/searchable-dropdown/searchable-dropdown.stories.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

meta
  starsky/starsky/clientapp/src/components/atoms/searchable-dropdown/searchable-dropdown.stories.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 12 (#3100)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/searchable-dropdown/searchable-dropdown.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/searchable-dropdown/searchable-dropdown.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-rotate-image-90/menu-option-rotate-image-90.stories.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/get-current-touches.ts
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

isEnabled: MutableRefObject<boolean>
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp (#3095)
  starsky/starsky/clientapp/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#3093)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

WinUI
  documentation/docs/developer-guide/technologies/electron/readme.md
  documentation/docs/developer-guide/technologies/electron/starskydesktop-functional-spec.md
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3114)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

sonar 23
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/flat-list-item/flat-list-item.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/portal/portal.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-selection-no-select-warning/menu-option-desktop-editor-open-selection-no-select-warning.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-single/menu-option-desktop-editor-open-single.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/get-mouse-position.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-location/detailview-info-location.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-batch-rename/modal-batch-rename.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/add-context-menu.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/update-geo-location.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-cloud-import/preferences-cloud-import.spec.tsx
  starsky/starsky/clientapp/src/containers/search.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/shared/aspect-ratio.spec.ts
  starsky/starsky/clientapp/src/shared/comma-seperated-filelist/comma-seperated-filelist.spec.ts
  starsky/starsky/clientapp/src/shared/fetch/fetch-post.spec.ts
  starsky/starsky/clientapp/src/shared/select-check-if-active.spec.ts
  starsky/starsky/clientapp/src/shared/sidebar-update.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-path.spec.ts
  starsky/starsky/clientapp/src/style/css/01-base.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

overflow-wrap: break-word;
  starsky/starsky/clientapp/src/style/css/02-form.css
  starsky/starsky/clientapp/src/style/css/16-searchable-dropdown.css
  starsky/starsky/clientapp/src/style/css/36-notification.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 23 (#3118)
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/flat-list-item/flat-list-item.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/portal/portal.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-selection-no-select-warning/menu-option-desktop-editor-open-selection-no-select-warning.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-single/menu-option-desktop-editor-open-single.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/get-mouse-position.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-location/detailview-info-location.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-batch-rename/modal-batch-rename.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/add-context-menu.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/update-geo-location.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-cloud-import/preferences-cloud-import.spec.tsx
  starsky/starsky/clientapp/src/containers/search.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/shared/aspect-ratio.spec.ts
  starsky/starsky/clientapp/src/shared/comma-seperated-filelist/comma-seperated-filelist.spec.ts
  starsky/starsky/clientapp/src/shared/fetch/fetch-post.spec.ts
  starsky/starsky/clientapp/src/shared/select-check-if-active.spec.ts
  starsky/starsky/clientapp/src/shared/sidebar-update.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-path.spec.ts
  starsky/starsky/clientapp/src/style/css/01-base.css
  starsky/starsky/clientapp/src/style/css/02-form.css
  starsky/starsky/clientapp/src/style/css/16-searchable-dropdown.css
  starsky/starsky/clientapp/src/style/css/36-notification.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 23a
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/shared/array-helper.spec.ts
  starsky/starsky/clientapp/src/shared/file-extensions.spec.ts
  starsky/starsky/clientapp/src/shared/file-extensions.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

docs
  history.md
Due: none

sonar 23a (#3119)
  history.md
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/shared/array-helper.spec.ts
  starsky/starsky/clientapp/src/shared/file-extensions.spec.ts
  starsky/starsky/clientapp/src/shared/file-extensions.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix lint
  starsky/starsky/clientapp/readme.md
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
  starsky/starsky/clientapp/src/hooks/use-interval.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Remove legacy-peer-deps option from npm ci
  .github/workflows/clientapp-react-linux-ci.yml
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
