Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add asticks
  .github/workflows/auto-update-swagger-dotnet.yml
Due: none

fix: upgrade react-router-dom from 6.21.0 to 6.21.1
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update docs
  documentation/docs/getting-started/desktop/desktop-macos.md
  documentation/docs/getting-started/macos-launchctl.md
  documentation/package-lock.json
  documentation/package.json
  documentation/src/components/DownloadFeature/index.tsx
Due: pipelines/azure/documentation.yaml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

WIP breaking code
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolHostStorageServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Try this
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

some fixes
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.platform/Extensions/MemoryCacheExtensions.cs
  starsky/starskytest/Extensions/EntityFrameworkExtensionsTest.cs
  starsky/starskytest/starsky.foundation.database/DataProtection/SqlXmlRepositoryTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/RunMigrationsTest.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllRecursiveTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade ws from 8.15.1 to 8.16.0
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
Due: none

more time && rename
  starsky/starskytest/root/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 6.0.418
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add push
  documentation/package-lock.json
  starsky/starskytest/root/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Add check if run is not a PR run
  .github/workflows/auto-update-swagger-dotnet.yml
Due: none

WIP breaking build
  starsky-tools/.gitignore
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starsky.feature.geolookup/Services/GeoBackgroundTask.cs
  starsky/starsky.feature.geolookup/Services/GeoCli.cs
  starsky/starsky.feature.geolookup/Services/GeoIndexGpx.cs
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.feature.settings/Interfaces/IUpdateAppSettingsByPath.cs
  starsky/starsky.feature.settings/Models/UpdateAppSettingsStatusModel.cs
  starsky/starsky.feature.settings/Services/UpdateAppSettingsByPath.cs
  starsky/starsky.feature.settings/starsky.feature.settings.csproj
  starsky/starsky.feature.webhtmlpublish/Helpers/PublishManifest.cs
  starsky/starsky.feature.webhtmlpublish/Models/PublishManifestModel.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.platform/JsonConverter/DefaultJsonSerializer.cs
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starsky/starsky.foundation.readmeta/Interfaces/IReadMeta.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaGpx.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.sln
  starsky/starsky/Controllers/AppSettingsController.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIUpdateAppSettingsByPath.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Helpers/ExportManifestTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docusaurus + core to v310
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix some tests
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.feature.settings/Services/UpdateAppSettingsByPath.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

copy
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

one test fails
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Helpers/ExportManifestTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

windows tests
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smells
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/CacheIndexControllerTest.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/Controllers/ImportThumbnailControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllRecursiveTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.platform/Exceptions/TelemetryServiceExceptionTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starskytest/Controllers/ThumbnailGenerationControllerTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/ManualThumbnailGenerationServiceTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.geolookup/Services/GeoCli.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.sln.DotSettings
  starsky/starskytest/FakeMocks/FakeReadMetaSubPathStorage.cs
  starsky/starskytest/root/ProgramTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.realtime/Middleware/DisabledWebSocketsMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCliTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix some code smells
  starsky/starsky.feature.geolookup/Services/GeoIndexGpx.cs
  starsky/starsky.foundation.webtelemetry/Extensions/OpenTelemetryExtension.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starsky.foundation.webtelemetry/Helpers/SetupLogging.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.storage/Exceptions/DecodingException.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.worker/ThumbnailServices/Exceptions/ToManyUsageException.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/Exceptions/ToManyUsageExceptionTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this fix windows
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky.feature.geolookup/Services/GeoCli.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.foundation.accountmanagement/Middleware/BasicAuthenticationSignInManager.cs
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.database/Helpers/StatusCodesHelper.cs
  starsky/starsky.foundation.database/Migrations/20180419182654_importdatabase.Designer.cs
  starsky/starsky.foundation.database/Migrations/20221025182759_data-protection-keys.Designer.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/Middleware/MiddlewareExtensionsTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoCliTest.cs
  starsky/starskytest/starsky.foundation.database/Extensions/TestConnectionTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/CheckIfAccountExistMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/NoAccountMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
  starsky/starskytest/starsky.foundation.storage/Exceptions/DecodingExceptionTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

code smells
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky.foundation.webtelemetry/Helpers/RequestTelemetryHelper.cs
  starsky/starskytest/FakeMocks/FakeIUserManger.cs
  starsky/starskytest/FakeMocks/FakeUserManagerActiveUsers.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Helpers/IsLocalhostTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Models/UserOverviewModel.cs
  starsky/starsky.foundation.platform/JsonConverter/JsonBoolQuotedConverter.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky/Controllers/AccountController.cs
  starsky/starskytest/FakeMocks/FakeUserManagerActiveUsers.cs
  starsky/starskytest/starsky.foundation.platform/JsonConverter/JsonBoolQuotedConverterTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/NoAccountMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Services/WebLoggerTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smells
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.accountmanagement/Models/Account/ChangePasswordViewModel.cs
  starsky/starsky.foundation.accountmanagement/Models/Account/LoginViewModel.cs
  starsky/starsky.foundation.sync/Helpers/AddParentList.cs
  starsky/starsky.foundation.sync/Helpers/DeleteStatusHelper.cs
  starsky/starsky.foundation.sync/Helpers/SyncCli.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IQueueProcessor.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/FakeMocks/FakeISynchronize.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/NoAccountMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Services/WebLoggerTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcherTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

nullable issues
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.sync/Helpers/DeleteStatusHelper.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starskytest/Attributes/PermissionAttributeTest.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
  starsky/starskytest/FakeMocks/AppSettingsReflection.cs
  starsky/starskytest/FakeMocks/FakeHealthCheckService.cs
  starsky/starskytest/FakeMocks/FakeHttpMessageHandler.cs
  starsky/starskytest/FakeMocks/FakeICacheEntry.cs
  starsky/starskytest/FakeMocks/FakeIGeoReverseLookup.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
  starsky/starskytest/FakeMocks/FakeIManualBackgroundSyncService.cs
  starsky/starskytest/FakeMocks/FakeIMetaReplaceService.cs
  starsky/starskytest/FakeMocks/FakeIOffsetDataMetaExifThumbnail.cs
  starsky/starskytest/FakeMocks/FakeIQueueProcessor.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/FakeMocks/FakeIWebSocketConnectionsService.cs
  starsky/starskytest/FakeMocks/FakeIWriteMetaThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeMemoryCache.cs
  starsky/starskytest/FakeMocks/FakePublishPreflight.cs
  starsky/starskytest/FakeMocks/FakeReadMeta.cs
  starsky/starskytest/FakeMocks/FakeSelectorStorage.cs
  starsky/starskytest/FakeMocks/FakeWebSocketHttpContext.cs
  starsky/starskytest/FakeMocks/NoOpAuth.cs
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
  starsky/starskytest/Models/SearchViewModelTest.cs
  starsky/starskytest/root/ProgramTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Helpers/TrackDependencyTest.cs
  starsky/starskytest/starskyGeoCli/starskyGeoCliTest.cs
  starsky/starskytest/starskyImporterCli/starskyImporterCliProgramTest.cs
  starsky/starskytest/starskythumbnailcli/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
