Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

tmp ignore
  .gitignore
Due: none

WIP
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.pbxproj
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/AccentColor.colorset/Contents.json
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/AppIcon.appiconset/Contents.json
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/Contents.json
  desktopmac/starskydesktop/starskydesktop/ContentView.swift
  desktopmac/starskydesktop/starskydesktop/Preview Content/Preview Assets.xcassets/Contents.json
  desktopmac/starskydesktop/starskydesktop/starskydesktop.entitlements
  desktopmac/starskydesktop/starskydesktop/starskydesktopApp.swift
  desktopmac/starskydesktop/starskydesktopTests/starskydesktopTests.swift
  desktopmac/starskydesktop/starskydesktopUITests/starskydesktopUITests.swift
  desktopmac/starskydesktop/starskydesktopUITests/starskydesktopUITestsLaunchTests.swift
  starsky/starsky.foundation.native/Trash/Helpers/MacOsLaunch.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOsOpen.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOsTest2.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Test2Class.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

it does something
  starsky/starsky.foundation.native/Trash/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOsTest2.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Example/Clipboard.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Test2Class.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add tests
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOSTrashBindingHelper.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOsLaunch.cs
  starsky/starsky.foundation.native/Trash/Helpers/MacOsOpen.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Test2Class.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Create macos-webapp-net.yml
  .github/workflows/macos-webapp-net.yml
Due: none

Update macos-webapp-net.yml
  .github/workflows/macos-webapp-net.yml
Due: none

Update and rename macos-webapp-net.yml to webapp-back-end-net-macos.yml
  .github/workflows/webapp-back-end-net-macos.yml
Due: none

Update and rename webapp-back-end-net-macos.yml to webapp-net-only-macos.yml
  .github/workflows/webapp-net-only-macos.yml
Due: none

try this
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/OpenDefaultApp.bak
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/OpenDefaultAppTests.bak
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Test2Class.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.pbxproj
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  desktopmac/starskydesktop/starskydesktop.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/AccentColor.colorset/Contents.json
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/AppIcon.appiconset/Contents.json
  desktopmac/starskydesktop/starskydesktop/Assets.xcassets/Contents.json
  desktopmac/starskydesktop/starskydesktop/ContentView.swift
  desktopmac/starskydesktop/starskydesktop/Preview Content/Preview Assets.xcassets/Contents.json
  desktopmac/starskydesktop/starskydesktop/starskydesktop.entitlements
  desktopmac/starskydesktop/starskydesktop/starskydesktopApp.swift
  desktopmac/starskydesktop/starskydesktopTests/starskydesktopTests.swift
  desktopmac/starskydesktop/starskydesktopUITests/starskydesktopUITests.swift
  desktopmac/starskydesktop/starskydesktopUITests/starskydesktopUITestsLaunchTests.swift
Due: none

add filter
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fixes
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/OtherPlatformsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Interfaces/IOpenApplicationNativeService.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starsky.foundation.native/Trash/TrashService.cs
  starsky/starsky.foundation.native/starsky.foundation.native.csproj
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests && add code for windows
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/OtherPlatformsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtension.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Interfaces/IOpenApplicationNativeService.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starsky.foundation.native/References/OpenDefaultApp.bak
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix issue
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtension.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not working
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtension.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtensionTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

wip
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopApp.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtensionTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtension.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociations.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Interfaces/IOpenApplicationNativeService.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starsky.foundation.native/starsky.foundation.native.csproj
  starsky/starskytest/FakeCreateAn/CreateAnExifToolWindows.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyExe.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starsky.starsky
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/OpenDefaultAppTests.bak
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsGetDefaultAppByExtensionTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.200
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-net-only-macos.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/build.vstest.runsettings
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociations.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative/MacOsStub.cpp
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative/MacOsStub.dll
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative/MacOsStub.h
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative/readme.md
  starsky/starskytest/starsky.foundation.native/Helpers/OperatingSystemHelperTest.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

rename
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Fix tests on Mac OS
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrl.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopApp.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociations.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyExe.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyUnixBash.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyWindowsExe.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starsky-macos.zip
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

linting fix
  starskydesktop/src/app/main-window/on-headers-received.ts
Due: none

change to 8.0.200
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update history.md
  history.md
Due: none

fix test issues
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Give regex more time
  starsky/starskytest/AuthorizeAttributeTest/TestForNonAuthorizeAttributesTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress warnings && add files back
  starsky/starsky.foundation.realtime/Middleware/DisabledWebSocketsMiddleware.cs
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Controllers/HomeController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/MacOsStub.cpp
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/MacOsStub.dll
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/MacOsStub.h
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/readme.md
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixing stuff
  starsky/starsky/Controllers/HomeController.cs
  starsky/starsky/Program.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/root/StartupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add nighly
  starsky/nuget.config
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyUnixBash.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyWindowsExe.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add debug
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/WindowsShellTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fix linux/freebsd
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename reference
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/MacOsStub.cpp-reference
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/MacOsStub.h-reference
  starsky/starskytest/FakeCreateAn/CreateOpenApplicationNative.reference/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

just nuget
  starsky/nuget.config
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

format && give more time
  starsky/starsky.foundation.storage/Services/StructureService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
