Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add try catch in removeSingleFile -> fs.unlink(filePath, function (err)
  starsky-tools/dropbox-import/dropbox-core.js
Due: none

Update .nvmrc
  starsky/.nvmrc
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog for 0.5.7
  history.md
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Update readme.md
  readme.md
Due: none

Update dotnet-sdk-version-update.js
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

Create clean-untagged-ghcr-images.yml
  .github/workflows/clean-untagged-ghcr-images.yml
Due: none

Update clean-untagged-ghcr-images.yml
  .github/workflows/clean-untagged-ghcr-images.yml
Due: none

hope this helps
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundService.cs
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starsky.foundation.platform/Helpers/StopWatchLogger.cs
  starsky/starsky/Controllers/MetaUpdateController.scope.txt
  starsky/starskytest/starsky.feature.syncbackground/Helpers/OnStartupSyncTest.cs
  starskydesktop/src/app/child-process/child-process-path.ts
  starskydesktop/src/setup/before-build.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/FakeMocks/FakeDiskWatcherUpdateBackgroundTaskQueue.cs
  starsky/starskytest/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix path
  starskydesktop/src/app/child-process/child-process-path.ts
Due: none

add test
  starsky/starskytest/starsky.foundation.platform/Helpers/StopWatchLoggerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/FakeMocks/FakeISynchronize.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small tests
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes for windows
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starsky.foundation.storage/Services/StructureService.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add slash
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test for unix
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make resolve faster
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

api info
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaInfoTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check in api/publish endpoint
  history.md
  starsky/starsky.feature.webhtmlpublish/Helpers/ParseRazor.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/PublishCli.cs
  starsky/starsky.feature.webhtmlpublish/Interfaces/IPublishPreflight.cs
  starsky/starsky.feature.webhtmlpublish/Services/PublishPreflight.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starsky/clientapp/src/components/atoms/select/select.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/FakeMocks/FakePublishPreflight.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/PublishPreflightTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
  starsky/starskytest/starskyWebHtmlCli/Services/ParseRazorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog and add warning
  history.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

rename and add test
  history.md
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/FakeMocks/FakePublishPreflight.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update npm rc chang
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

bugfix
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fix
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

https://github.com/qdraw/starsky/issues/1152
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add catch
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

invert result
  starsky/starsky.feature.webhtmlpublish/Services/PublishPreflight.cs
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/PublishPreflightTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

div style
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add id
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

testing
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/PublishPreflightTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused code && add test case
  starsky/starskytest/Extensions/EntityFrameworkExtensionsTest.cs
  starsky/starskytest/starsky.foundation.database/DataProtection/SqlXmlRepositoryTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.platform/Exceptions/TelemetryServiceExceptionTest.cs
  starsky/starskytest/starsky.foundation.storage/Exceptions/DecodingExceptionTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/Exceptions/ToManyUsageExceptionTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small example fix
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
