Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

#1833 add test
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 make code easier to read
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 document & remove using
  starsky/starsky.foundation.writemeta/Helpers/ExifToolStreamToStreamRunner.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 fixes
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/FfmpegVideoThumbnailGenerator.cs
  starsky/starsky.foundation.video/Process/FfmpegStreamToStreamRunner.cs
  starsky/starsky.foundation.video/Process/VideoProcess.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add wait
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-file-from-upload.cy.ts
Due: none

Update readme.md
  readme.md
Due: none

Update clientapp-react-linux-ci.yml
  .github/workflows/clientapp-react-linux-ci.yml
Due: none

fix: upgrade @types/node from 22.10.2 to 22.10.5
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.18.0 to 8.19.1
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/parser from 8.18.2 to 8.19.1
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @docusaurus/module-type-aliases from 3.6.0 to 3.7.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/tsconfig from 3.6.1 to 3.7.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/types from 3.6.3 to 3.7.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade typescript-eslint from 8.19.0 to 8.19.1
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

Update global-npm-resolve-conflicting-files-fix.yml
  .github/workflows/global-npm-resolve-conflicting-files-fix.yml
Due: none

#1833 rm using
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/FfmpegVideoThumbnailGenerator.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 22.10.5 to 22.10.6
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade typescript from 5.7.2 to 5.7.3
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade @eslint/js from 9.17.0 to 9.18.0
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade eslint from 9.17.0 to 9.18.0
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @typescript-eslint/parser from 8.18.2 to 8.20.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.19.1 to 8.20.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint-plugin-jest from 28.10.0 to 28.11.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Check in package.json changes
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/node from 22.10.6 to 22.10.7
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

Auto .NET SDK version Upgrade to 8.0.406
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript-eslint from 8.19.1 to 8.21.0
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade typescript from 5.7.2 to 5.7.3
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @typescript-eslint/parser from 8.18.2 to 8.21.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.20.0 to 8.21.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint-plugin-react from 7.37.2 to 7.37.4
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint from 9.17.0 to 9.18.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @storybook/addon-links from 8.5.0 to 8.5.1
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @storybook/react from 8.5.0 to 8.5.1
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
