Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

fix: upgrade marked from 4.0.17 to 4.0.18
  starsky-tools/docs/package-lock.json
  starsky-tools/docs/package.json
Due: none

fix: upgrade @testing-library/user-event from 14.2.1 to 14.2.3
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade ws from 8.8.0 to 8.8.1
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
Due: none

fix: upgrade @testing-library/user-event from 14.2.3 to 14.2.5
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/user-event from 14.2.5 to 14.3.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 6.0.400
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

Update history.md
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/readme.html
Due: none

WIP
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/user-event from 14.3.0 to 14.4.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/user-event from 14.4.0 to 14.4.1
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/jest-dom from 5.16.4 to 5.16.5
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.0.15 to 18.0.16
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/user-event from 14.4.1 to 14.4.3
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.0.16 to 18.0.17
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade winston from 3.8.0 to 3.8.1
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

WIP
  starsky/starsky/github-artifacts-download.sh
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade marked from 4.0.18 to 4.0.19
  starsky-tools/docs/package-lock.json
  starsky-tools/docs/package.json
Due: none

Auto .NET SDK version Upgrade to 6.0.401
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

6.0.401
  starsky/readme.md
Due: azure-pipelines-starsky.yml

update sonar-scanner
  starsky/.config/dotnet-tools.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check for github
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update package
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 4.7.4 to 4.8.2
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename && add linux-x64
  starsky/starsky/github-artifacts-download.sh
  starsky/starsky/pm2-download-azure-devops.sh
  starsky/starsky/pm2-install-latest-release.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/service-cron-restart.sh
  starsky/starsky/service-deploy-systemd.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update
  starsky/starsky/service-deploy-systemd.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky/service-deploy-systemd.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/service-deploy-systemd.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Create end2end-inline.yml
  .github/workflows/end2end-inline.yml
Due: none

update output dir
  starsky/starsky/github-artifacts-download.sh
  starsky/starsky/pm2-download-azure-devops.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check if output dir exists
  starsky/starsky/github-artifacts-download.sh
  starsky/starsky/pm2-download-azure-devops.sh
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update end2end-inline.yml
  .github/workflows/end2end-inline.yml
Due: none
