Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

fix
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

null ref
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

null ref
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

3
  history.md
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

fix for api changes of exiftool
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

download checksums from mirror
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make tests work
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

fixes for windows client
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra coverage
  starsky/starsky/Helpers/CompressionMime.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/Helpers/CompressionMimeTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2238 from qdraw/feature/202606_exiftool_changes
  starsky-tools/build-tools/download-mirror-exiftool.sh
Due: none

fix compare helper
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Changed) _Back-end_ CompareHelper for ImportTransformation andStructureModel (PR #2239)
  history.md
Due: none

add new version blog
  documentation/blog/20250623-whats-new-in-starsky-v070.md
Due: pipelines/azure/documentation.yaml

missing feature
  documentation/blog/20250623-whats-new-in-starsky-v070.md
Due: pipelines/azure/documentation.yaml

rename
  documentation/blog/20241220-year-2024-in-review.md
Due: pipelines/azure/documentation.yaml

store diagnostics in table
  starsky/starsky.feature.packagetelemetry/Interfaces/ILifetimeDiagnosticsService.cs
  starsky/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsService.cs
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Diagnostics/DiagnosticsService.cs
  starsky/starsky.foundation.database/Diagnostics/DiagnosticsType.cs
  starsky/starsky.foundation.database/Diagnostics/Interfaces/IDiagnosticsService.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
  starsky/starsky.foundation.database/Models/DiagnosticsItem.cs
  starsky/starsky.foundation.settings/Interfaces/ISettingsService.cs
  starsky/starsky/Helpers/TimeApplicationRunning.cs
  starsky/starsky/Program.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/root/StartupTest.cs
  starsky/starskytest/starsky.foundation.database/Diagnostics/DiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add migration
  starsky/starsky.foundation.database/Migrations/20250623150953_DiagnosticsService.Designer.cs
  starsky/starsky.foundation.database/Migrations/20250623150953_DiagnosticsService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to package telemetry
  starsky/starsky.feature.packagetelemetry/Interfaces/ILifetimeDiagnosticsService.cs
  starsky/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsService.cs
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetryBackgroundService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/FakeMocks/FakeLifetimeDiagnosticsService.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Services/PackageTelemetryBackgroundServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Diagnostics/DiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/FakeMocks/FakeLifetimeDiagnosticsService.cs
  starsky/starskytest/Helpers/TimeApplicationRunningTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar cloud code smells
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFileHashAsync.cs
  starsky/starsky.foundation.injection/ServiceCollectionExtensions.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettingsImportTransformationModel.cs
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsImportTransformationModelTests.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsStructureModelTests.cs
  starsky/starskytest/starsky.foundation.platform/Models/Structure/StructureRegexHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/FakeMocks/FakeDiagnosticsService.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky/Helpers/TimeApplicationRunning.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/Helpers/TimeApplicationRunningTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsService.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Helpers/TimeApplicationRunningTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

nullable
  starsky/starskytest/Helpers/TimeApplicationRunningTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Errors in resize thumbnail
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromThumbnailImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename parameter
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromThumbnailImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.GenerateThumbnail_FileHash_WrongImageType_Verify.verified.txt
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.GenerateThumbnail__Corrupt_Verify.verified.txt
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

can sometimes be 30.0001
  starsky/starskytest/starsky.feature.packagetelemetry/Services/LifetimeDiagnosticsServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
