Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

415
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update history.md
  history.md
Due: none

keep a changelog
  history.md
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

give list of versions
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

fix: upgrade axios from 1.5.0 to 1.5.1
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

fix: upgrade axios from 1.5.0 to 1.5.1
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

code smells
  starsky/Dockerfile
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.feature.search/ViewModels/SearchViewModel.cs
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/detailview-info-make-model-aperture/detailview-info-make-model-aperture.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/atoms/switch-button/switch-button.tsx
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-datetime/detailview-info-datetime.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-location/detailview-info-location.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-default/menu-default.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/containers/search.tsx
  starsky/starsky/clientapp/src/containers/trash.tsx
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused prop
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 6.0.416
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

6.0.416
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

fix: starsky-tools/dropbox-import/package.json & starsky-tools/dropbox-import/package-lock.json to reduce vulnerabilities
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

fix: starsky-tools/thumbnail/package.json & starsky-tools/thumbnail/package-lock.json to reduce vulnerabilities
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

update docs
  documentation/docs/developer-guide/github-actions/readme.md
  documentation/docs/developer-guide/technologies/react/readme.md
Due: pipelines/azure/documentation.yaml

make more clear
  documentation/docs/developer-guide/technologies/dotnet/readme.md
  documentation/docs/developer-guide/technologies/electron/readme.md
  documentation/docs/developer-guide/technologies/nodejs/readme.md
  documentation/docs/developer-guide/technologies/react/readme.md
Due: pipelines/azure/documentation.yaml

add tests
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.feature.search/ViewModels/SearchViewModel.cs
  starsky/starskytest/Models/SearchViewModelTest.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small changes
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  pipelines/azure/develop-ci.yml
  pipelines/azure/steps/use_jdk11_powershell.yml
  pipelines/azure/steps/use_jdk_powershell.yml
Due: none

try this
  pipelines/azure/steps/use_jdk_powershell.yml
Due: none

fix some code smells
  .github/workflows.md
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/menu-option/menu-option.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/menu-option/menu-option.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/atoms/more-menu/more-menu.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/more-menu/more-menu.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.tsx
  starsky/starsky/clientapp/src/style/css/28-sidebar-selection.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update list
  .github/workflows.md
Due: none

add keydown
  starsky/starsky/clientapp/.storybook/main.ts
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add keydowns
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra keydowns
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove some duplicate code
  starsky/starsky/clientapp/src/components/molecules/menu-select-count/menu-select-count.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm usused code
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

split duplicate code
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-all/menu-option-selection-all.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-undo/menu-option-selection-undo.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tmp
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-folder-to-trash/menu-option-move-folder-to-trash.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

nullable
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-undo/menu-option-selection-undo.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add some tests
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-all/menu-option-selection-all.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-all/menu-option-selection-all.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-undo/menu-option-selection-undo.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-all/menu-option-selection-all.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/menu-select-count/menu-select-count.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-select-count/menu-select-count.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
