Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

WIP
  starsky/starsky/Controllers/IndexController.cs
  starsky/starskytest/Controllers/IndexControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/containers/login.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.foundation.platform/Helpers/TenantPathHelper.cs
  starsky/starsky/Controllers/TenantsController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTestInMemoryDb.Importer_Gpx.verified.txt
  starsky/starskytest/starsky.foundation.platform/Helpers/TenantPathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/shared/fetch/fetch-post.spec.ts
  starsky/starsky/clientapp/src/shared/fetch/fetch-post.ts
  starsky/starsky/clientapp/src/shared/url/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.platform/Helpers/PathTraversalGuard.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/IndexController.cs
  starsky/starsky/Controllers/MetaInfoController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starskytest/Controllers/IndexControllerTest.cs
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathTraversalGuardTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

IWP
  starsky/starsky.foundation.platform/Helpers/PathTraversalGuard.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3039)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

## version 0.7.17
  history.md
Due: none

Migrations fix
  starsky/starsky.foundation.database/Migrations/20260428081931_QueueItemsTable.cs
  starsky/starsky.foundation.database/Models/QueueItem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  history.md
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  history.md
Due: none

WIP
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260428081931_QueueItemsTable.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260428081931_QueueItemsTable.cs
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.cs
  starsky/starsky.foundation.database/Models/QueueItem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add limits
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starsky.foundation.database/Migrations/20260505142535_QueueItemsTableAddCustomAiTags.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260505142535_QueueItemsTableAddCustomAiTags.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add limits
  starsky/starsky.foundation.database/Extensions/EntityFrameworkExtensions.cs
  starsky/starsky.foundation.database/Extensions/TruncateExtensions.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starskytest/starsky.foundation.database/Extensions/TruncateExtensionsTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260505142535_QueueItemsTableAddCustomAiTags.sql
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

## version 0.7.18 - 2026-05-05 {#v0.7.18}
  history.md
Due: none

more clear
  history.md
Due: none

WIP
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreviewExtractorTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.Scan.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.ScanTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreviewExtractorTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP feature/202605-cr2-raw6
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.Scan.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

raw6
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.ScanTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

raw6
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/docs/README-camera-quirks.md
  starsky/docs/camera-quirks-implementation-summary.md
  starsky/docs/camera-quirks-test-reference.md
  starsky/docs/jpeg-embedded-preview-camera-quirks.md
  starsky/docs/jpeg-sof-test-matrix.md
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.ScanTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  .github/copilot-instructions.md
  starsky/docs/README-camera-quirks.md
  starsky/docs/camera-quirks-implementation-summary.md
  starsky/docs/camera-quirks-test-reference.md
  starsky/docs/jpeg-embedded-preview-camera-quirks.md
  starsky/docs/jpeg-sof-test-matrix.md
  starsky/starsky.foundation.thumbnailgeneration/raw-embedded-preview-extraction.md
  starsky/starsky.foundation.thumbnailgeneration/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add docs
  documentation/docs/advanced-options/thumbnail-generation/_category_.json
  documentation/docs/advanced-options/thumbnail-generation/raw-embedded-preview-extraction.md
  documentation/docs/advanced-options/thumbnail-generation/readme.md
  documentation/scripts/prestart.js
Due: pipelines/azure/documentation.yaml

docs
  documentation/docs/advanced-options/thumbnail-generation/__do_not_edit_this__folder
  documentation/scripts/prestart.js
Due: pipelines/azure/documentation.yaml

add tests
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.ScanTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreviewExtractorTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

Feature/202605 cr2 raws 6 (#3047)
  .github/copilot-instructions.md
  documentation/docs/advanced-options/thumbnail-generation/__do_not_edit_this__folder
  documentation/docs/advanced-options/thumbnail-generation/_category_.json
  documentation/docs/advanced-options/thumbnail-generation/raw-embedded-preview-extraction.md
  documentation/docs/advanced-options/thumbnail-generation/readme.md
  documentation/scripts/prestart.js
  history.md
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.Scan.cs
  starsky/starsky.foundation.thumbnailgeneration/raw-embedded-preview-extraction.md
  starsky/starsky.foundation.thumbnailgeneration/readme.md
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.ScanTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreviewExtractorTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#3048)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

sonar 7
  starsky/docs/Microsoft Flow - Starksy File Importer Camera Uploads (Check Headers and Endpoint).json
  starsky/docs/delete-raw-afterwards.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
