Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

#1833 add checks to avoid wrong downloads
  starsky-tools/build-tools/download-mirror-exiftool.sh
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
  starsky-tools/build-tools/download-mirror-geonames.sh
  starsky-tools/build-tools/mirror/ffmpeg/index.json
Due: none

remove link to not found page
  documentation/docs/getting-started/readme.mdx
Due: pipelines/azure/documentation.yaml

#1833 add debug
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add debug
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
Due: none

#1833 work
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Create tools-dependecies-mirror-netlify.yml
  .github/workflows/tools-dependecies-mirror-netlify.yml
Due: none

Update and rename tools-dependecies-mirror-netlify.yml to tools-dependencies-mirror-netlify.yml
  .github/workflows/tools-dependecies-mirror-netlify.yml
  .github/workflows/tools-dependencies-mirror-netlify.yml
Due: none

Update tools-dependencies-mirror-netlify.yml
  .github/workflows/tools-dependencies-mirror-netlify.yml
Due: none

#1833 reformat
  starsky/starsky.foundation.http/Interfaces/IHttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.video/GetDependencies/FFMpegDownload.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 mirror scripts copy from PR
  starsky-tools/build-tools/.gitignore
  starsky-tools/build-tools/download-mirror-exiftool.sh
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
  starsky-tools/build-tools/download-mirror-geonames.sh
  starsky-tools/build-tools/download-mirror.sh
Due: none

#1833 move to master
  starsky-tools/build-tools/download-mirror.sh
Due: none

#1833 build pipeline
  .github/workflows/tools-dependencies-mirror-netlify.yml
Due: none

#1833 Update tools-dependencies-mirror-netlify.yml
  .github/workflows/tools-dependencies-mirror-netlify.yml
Due: none

Update clientapp-storybook-netlify.yml
  .github/workflows/clientapp-storybook-netlify.yml
Due: none

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

#1833 replace arch
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
Due: none

#1833 keep index in repo
  starsky-tools/build-tools/mirror/ffmpeg/index.json
Due: none

#1833 ffmpeg index
  starsky/starsky.foundation.video/GetDependencies/FFMpegDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add node check
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
Due: none

#1833 add check for hash
  starsky-tools/build-tools/download-mirror-exiftool.sh
  starsky-tools/build-tools/download-mirror.sh
  starsky-tools/build-tools/mirror/exiftool/checksums.txt
Due: none

#1833 current os implementenation
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starsky.foundation.native/Trash/TrashService.cs
  starsky/starsky.foundation.platform/Architecture/CurrentArchitecture.cs
  starsky/starsky.foundation.platform/Architecture/OperatingSystemHelper.cs
  starsky/starsky.foundation.storage/Helpers/DeserializeJson.cs
  starsky/starsky.foundation.video/GetDependencies/FFMpegDownload.cs
  starsky/starsky.foundation.video/GetDependencies/GetVersionString.cs
  starsky/starsky.foundation.video/GetDependencies/Models/FfmpegBinariesIndex.cs
  starsky/starsky.foundation.video/GetDependencies/OperationSystemPlatforms.cs
  starsky/starsky.foundation.video/starsky.foundation.video.csproj
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/TrashServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/Architecture/CurrentArchitectureTests.cs
  starsky/starskytest/starsky.foundation.platform/Architecture/FakeOsOverwrite.cs
  starsky/starskytest/starsky.foundation.platform/Architecture/OperatingSystemHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starsky-tools/end2end/package.json & starsky-tools/end2end/package-lock.json to reduce vulnerabilities
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

#1833 removve
  starsky/starsky.foundation.video/GetDependencies/GetVersionString.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

some ideas
  starsky/starsky.foundation.geoimport/Class1.cs
  starsky/starsky.foundation.geoimport/Strava2Gpx.cs
  starsky/starsky.foundation.geoimport/starsky.foundation.geoimport.csproj
  starsky/starsky.sln
  starsky/starskytest/starsky.foundation.geoimport/Strava2GpxTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
