Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

fix: upgrade @typescript-eslint/parser from 8.14.0 to 8.17.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint from 9.15.0 to 9.16.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint-import-resolver-typescript from 3.6.3 to 3.7.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

#1833 wip
  starsky/starsky.foundation.video/GetDependencies/Interfaces/IFFMpegDownload.cs
  starsky/starsky.foundation.video/VideoProcess.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade eslint-plugin-react-hooks from 5.0.0 to 5.1.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade typescript from 5.6.3 to 5.7.2
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.14.0 to 8.18.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/parser from 8.14.0 to 8.18.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react from 18.3.12 to 18.3.16
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react-dom from 18.3.1 to 18.3.5
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade electron from 33.2.1 to 33.3.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

uploadToFolder add extra logging
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 write video thumbnail & start implementing logic to run this as thumbnailer
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ErrorLogItemFullPath.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailVideo.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ToAddFiles.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.video/GetDependencies/FfMpegDownload.cs
  starsky/starsky.foundation.video/GetDependencies/Interfaces/IFFMpegDownload.cs
  starsky/starsky.foundation.video/Process/Interfaces/IVideoProcess.cs
  starsky/starsky.foundation.video/Process/VideoProcess.cs
  starsky/starsky.foundation.video/Process/VideoProcessTypes.cs
  starsky/starsky.foundation.video/VideoProcess.cs
  starsky/starsky.foundation.video/starsky.foundation.video.csproj
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolHostStorage.cs
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4.cs
  starsky/starskytest/FakeMocks/FakeIVideoProcess.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Services/ThumbnailServiceTest.cs
  starsky/starskytest/starsky.foundation.video/VideoProcessTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @typescript-eslint/parser from 8.14.0 to 8.18.1
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.18.0 to 8.18.1
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint from 9.15.0 to 9.17.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react from 18.3.16 to 18.3.17
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

#1833 factory improvements
  starsky/starsky.foundation.platform/Thumbnails/ThumbnailSizes.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.storage/Storage/ThumbnailNameHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/CompositeThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/FfmpegVideoThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/ImageSharpThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromThumbnailImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/RemoveCurruptThumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/FolderToFileList.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/PreflightThumbnailGeneration.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/ThumbnailExistsBySize.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailGeneratorFactory.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailVideo.cs
  starsky/starsky.foundation.thumbnailgeneration/Models/GenerationResultModel.cs
  starsky/starsky.foundation.thumbnailgeneration/Models/GenerationResultModelExtensions.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/ToBase64DataUriListTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/ThumbnailNameHelperTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelperTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromThumbnailImageHelperTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/SaveThumbnailImageFormatHelperTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Services/ThumbnailServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

#1833 temp comment out
  starsky/starskytest/starsky.foundation.video/VideoProcessTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 remove duplicate code
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/FfmpegVideoThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/ImageSharpThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 format changes fixes
  starsky/starsky.foundation.platform/Enums/ThumbnailImageFormat.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.storage/Storage/SelectorStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/CompositeThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/FfmpegVideoThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/ImageSharpThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/PreflightThumbnailGeneration.cs
  starsky/starsky.foundation.video/Process/VideoProcess.cs
  starsky/starsky.project.web/Helpers/MimeHelper.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 exists IQuery, SelectorStorage to IServiceScope
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/QueryExistsAsync.cs
  starsky/starsky/Controllers/DiskController.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/FakeMocks/FakeIQueryException.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryExistsTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/SelectorStorageTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add checks
  starsky/starsky.feature.webhtmlpublish/Helpers/ToBase64DataUriList.cs
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromThumbnailImageHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/GetThumbnailStream.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/RemoveCurruptThumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/Return.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/PreflightThumbnailGeneration.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIOverlayImage.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/OverlayImageTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/ToBase64DataUriListTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelperTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Shared/RemoveCorruptThumbnailTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 fix tests
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/RemoveCurruptThumbnail.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/ThumbnailServiceTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Shared/RemoveCorruptThumbnailTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 update todo
  starsky/starsky.feature.import/Interfaces/IImportThumbnailService.cs
  starsky/starsky.feature.import/Services/ImportThumbnailService.cs
  starsky/starsky.foundation.storage/Storage/ThumbnailNameHelper.cs
  starsky/starsky/Controllers/ImportThumbnailController.cs
  starsky/starskytest/Controllers/ImportThumbnailControllerTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportThumbnailServiceTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/ThumbnailNameHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 clean unused files
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ErrorLogItemFullPath.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs.bak
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ToAddFiles.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailService.bak
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add test
  starsky/starskytest/starsky.foundation.video/Process/FfmpegStreamToStreamRunnerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add dispose
  starsky/starskytest/starsky.foundation.video/Process/FfmpegStreamToStreamRunnerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 more cases tested
  starsky/starskytest/starsky.foundation.video/Process/FfmpegStreamToStreamRunnerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

Auto .NET SDK version Upgrade to 8.0.405
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @typescript-eslint/parser from 8.14.0 to 8.18.2
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 8.18.0 to 8.18.2
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react from 18.3.17 to 18.3.18
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
