Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add overview - trx parser
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/TrxParserHelper.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change from Error > Information
  starsky/build/helpers/DotnetGenericHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

more clear
  starsky/build/Build.cs
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/ZipperHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

SupressMessage for unused classes
  starsky/starskytest/starsky.foundation.database/Helpers/ReflectionValueHelperTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/SelectorStorageTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress warning
  starsky/build/helpers/TrxParserHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove restore && update cypress pckages
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
  starsky/Directory.Build.props
  starsky/build/Build.cs
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

GetSonarKey
  starsky/Directory.Build.props
  starsky/build/Build.cs
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[test] add ready to run for shared runtime
  pipelines/azure/steps/build_server_shared_runtime.yml
Due: none

[github-artifacts-download] add 50 seconds wait when build is in_progress
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[history] keep a changelog
  history.md
Due: none

[mac os] self code sign update
  starsky/starsky/mac-m1-install.sh
  starsky/starsky/mac-self-codesign.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  documentation/docs/developer-guide/logging/opentelemetry.md
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/starsky/cleanup-build-tools.ps1
  starsky/starsky/cleanup-build-tools.sh
  starsky/starsky/gatekeeper-mac-os-helper.command
  starsky/starsky/readme.md
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

rm
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add by-daily sonar run to see new rules faster && add no deps to sonar run
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

[codeql] do no publish & load ext. dependencies flag: --no-dependencies --no-publish
  .github/workflows/codeql-analysis.yml
Due: none

]auto-update-application-version.yml
  .github/workflows/auto-update-application-version.yml
Due: none

[docs] update github actions readme
  documentation/docs/developer-guide/github-actions/readme.md
Due: pipelines/azure/documentation.yaml

Auto .NET SDK version Upgrade to 8.0.101
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add build RID
  starsky/build/Build.cs
  starsky/build/helpers/DotnetGenericHelper.cs
  starsky/build/helpers/RuntimeIdentifier.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Ready To run feature feature toggle
  starsky/.nuke/build.schema.json
  starsky/build/Build.cs
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
  starsky/build/helpers/RuntimeIdentifier.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove old Cake references && add ready to run flag for ADO build
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .gitignore
  history.md
  pipelines/azure/steps/build_clientapp.yml
  pipelines/azure/steps/build_server.yml
  pipelines/azure/steps/build_zip_bundle.yml
  pipelines/azure/steps/coverage_report_merge.yml
  starsky-tools/build-tools/lib/get-files-directory.js
  starsky-tools/build-tools/project-guid.js
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

add comment && add --ready-to-run feature flag
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
Due: none

show if ReadyToRun faster startup: enabled is enabled
  starsky/build/Build.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Rename build name
  .github/workflows/starsky-dotnetcore-ubuntu.yml
Due: none

name: Windows .NET build
  .github/workflows/starsky-dotnetcore-windows.yml
Due: none

rename name field
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

Hope this helps to avoid disposed memory stream
  .editorconfig
  starsky/starsky.foundation.storage/Helpers/StreamToStringHelper.cs
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.thumbnailmeta/Services/WriteMetaThumbnailService.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolHostStorage.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolService.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/ReadMetaThumbnailTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolHostStorageServiceTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

filescope namespace && add dispose flag && change calculateHashAsync to set dispose in props
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolHostStorageServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure devops option for R2R feature
  pipelines/azure/develop-ci.yml
  pipelines/azure/steps/build_clientapp.yml
  pipelines/azure/steps/build_server.yml
  pipelines/azure/steps/build_zip_bundle.yml
  starsky/build/helpers/TrxParserHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add feature flag for readytorun due to slow builds
  starsky/build/Build.cs
  starsky/build/helpers/DotnetGenericHelper.cs
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Change to Regex.compiled && add nullable
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change to precompiled regex
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/HashSetHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.platform/Helpers/Base64Helper.cs
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename max_counter, curl suggest change max counter 30 -> 40
  starsky/starsky/pm2-warmup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

/api/account/status
  starsky/starsky/pm2-warmup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comment && add extra pre compiled regexes
  starsky/starsky.foundation.platform/Helpers/Base64Helper.cs
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove package
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra test
  starsky/starskytest/starsky.foundation.platform/Helpers/HashSetHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

set codecov to 85%
  codecov.yml
Due: none
