Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

Update release-on-tag-netcore-desktop-electron.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
Due: none

build_core > build_net
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
Due: none

add tag
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

WIP for mac arm64
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/child-process/spawn-clean-mac-os.ts
  starskydesktop/src/app/config/get-base-url-from-settings.ts
  starskydesktop/src/app/config/location-ipc-keys.const.ts
  starskydesktop/src/app/config/location-settings.const.ts
  starskydesktop/src/app/file-watcher/setup-file-watcher.ts
  starskydesktop/src/app/main-window/create-main-window.ts
  starskydesktop/src/app/main-window/restore-main-window.spec.ts
  starskydesktop/src/app/main-window/restore-main-window.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.spec.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.ts
  starskydesktop/src/client/script/reload-warmup-local-or-remote.ts
  starskydesktop/src/main/main.spec.ts
  starskydesktop/src/main/main.ts
Due: pipelines/azure/app-ci.yml

Preferences & Tooltip UI changes
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/style/css/40-tooltip.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 20.11.16 to 20.11.17
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade dotenv from 16.4.1 to 16.4.2
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

undo
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

disabel spell check due privacy issues in google chrome
  starsky/starsky/clientapp/src/containers/account-register.tsx
  starsky/starsky/clientapp/src/containers/login.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add why
  starsky/starsky/clientapp/src/containers/account-register.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

add back
  history.md
Due: none

Retry W_OpenDefault_HappyFlow__WindowsOnly
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/shared-web-only.yml

Do codeQL only on master
  .github/workflows/codeql-analysis.yml
Due: none

Do codecov only on master
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

Add build by proxy script to avoid errors && remove flag to remove service from windows machine
  build.ps1
  build.sh
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add more debug info
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add close
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add more logging
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
  starsky/starsky.foundation.writemeta/Services/GeoLocationWrite.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logger
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry for notification service
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra dispose
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaGpx.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add more debug
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add ready check
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

longer
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky/Controllers/DownloadPhotoController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo / longer retry
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky.foundation.sync/Helpers/CheckForStatusNotOkHelper.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
