Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

add filter
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

add filter && remove catch
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

Use real-time update Color class outside selection #252
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add Dutch to app
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml

add dutch localisation
  starskyapp/src/app/i18n/i18n.ts
  starskyapp/src/app/menu/app-menu.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml

add dutch translation
  history.md
  starskyapp/src/app/menu/app-menu.ts
  starskyapp/src/app/menu/dock-menu.ts
  starskyapp/src/app/startup/main.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix for windows
  starskyapp/src/app/menu/dock-menu.ts
Due: azure-pipelines-starsky.starskyapp.yml

add random port
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/config/get-base-url-from-settings.ts
  starskyapp/src/app/main-window/on-headers-received.ts
  starskyapp/src/app/startup/main.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

add default port
  starskyapp/src/app/child-process/setup-child-process.spec.ts
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix test
  starskyapp/src/app/child-process/setup-child-process.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

change name
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky.starskyapp.yml

add docs && add fallback if {}
  docs/history.html
  starskyapp/src/app/main-window/restore-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

add logs for debug
  starskyapp/src/app/main-window/restore-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

add retry
  starskyapp/src/app/main-window/restore-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

write to log
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky.starskyapp.yml

add back
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky.starskyapp.yml

add create window
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml

add console
  starskyapp/src/app/main-window/restore-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix bug
  starskyapp/src/app/main-window/restore-main-window.spec.ts
  starskyapp/src/app/main-window/restore-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

add extra
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix bug && update policy
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/updates-warning-window/should-it-update.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix typo
  history.md
Due: none

change fallback in storage folder && change update of appsettings
  starsky/starsky.foundation.platform/Helpers/SetupAppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/AppSettingsController.cs
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
  starsky/starsky/Controllers/AppSettingsController.cs
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky.yml

fix cacheing issue
  history.md
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnectorTest.cs
Due: azure-pipelines-starsky.yml

is this working under windows?
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky.yml

remove slash at end
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky.yml

is this working?
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky.yml

add console
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
Due: azure-pipelines-starsky.yml

add extra test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTestNoCacheTest.cs
Due: azure-pipelines-starsky.yml

simple rename
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

update package lock to right version && update future breaking changes
  history.md
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml

add check for duplicate folders
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
