Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

trims newlines from contentEditable innerText before saving
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-readonly-folders/preferences-app-settings-readonly-folders.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-readonly-folders/preferences-app-settings-readonly-folders.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Invalid code sign and retry
  mac/starsky/Services/BackendService.swift
  mac/starskyTests/Services/BackendServiceTests.swift
Due: none

- [x] (Fixed) _Front-end_ Skip new lines in Preferences > ReadonlyFolders (PR #3313)
  history.md
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-readonly-folders/preferences-app-settings-readonly-folders.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Skip new lines in Preferences > ReadonlyFolders & mac os tests (#3313)
  history.md
  mac/starskyTests/App/AppCoreTests.swift
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-readonly-folders/preferences-app-settings-readonly-folders.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-readonly-folders/preferences-app-settings-readonly-folders.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

windows pipeline
  .github/workflows/desktop-windows-sonarqube-net.yml
Due: none

try this
  .github/workflows/desktop-windows-sonarqube-net.yml
Due: none

add tests
  .github/copilot-instructions.md
  CLAUDE.md
  mac/starskyTests/App/AppDelegateTests.swift
Due: none

update docs
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

remove electron
  documentation/docs/developer-guide/technologies/electron/readme.md
  documentation/docs/developer-guide/technologies/nodejs/readme.md
  documentation/docs/developer-guide/technologies/swift/readme.md
  documentation/docs/developer-guide/technologies/wpf/readme.md
Due: pipelines/azure/documentation.yaml

update technology
  documentation/docs/developer-guide/github-actions/readme.md
  documentation/docs/developer-guide/technologies/dotnet/readme.md
  documentation/docs/developer-guide/technologies/react/readme.md
  documentation/docs/developer-guide/technologies/swift/readme.md
  documentation/docs/developer-guide/technologies/wpf/readme.md
  documentation/docs/getting-started/troubleshooting/logs.md
Due: pipelines/azure/documentation.yaml

update docs
  HACKING.md
  documentation/docs/developer-guide/contributing/HACKING.md
  mac/secrets-setup.md
  windows/SPEC.md
  windows/readme.md
Due: pipelines/azure/documentation.yaml

move electron out
  .github/workflows/desktop-macos-sonarqube.yml
  .github/workflows/desktop-release-on-tag-native.yml
  .github/workflows/desktop-windows-sonarqube-net.yml
  .github/workflows/end2end-ubuntu-ci.yml
  .github/workflows/end2end-windows-ci.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  CLAUDE.md
  documentation/docs/developer-guide/github-actions/readme.md
  documentation/documentation.csproj
  documentation/scripts/clear.js
  mac/SPEC.md
  mac/build-dmg.sh
  mac/readme.md
  mac/secrets-setup.md
  starsky-tools/readme.md
  windows/SPEC.md
  windows/Starsky.Desktop.csproj
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

try this
  mac/starsky/App/AppCore.swift
Due: none

- [x] (Fixed) _App_ macOS: Manually closing a window no longer causes it to reopen on next launch (PR #3317) - [x] (Fixed) _App_ macOS: Show name of app in Splash screen (PR #3317)
  history.md
  mac/starsky/Presentation/MainWindowPresenter.swift
  mac/starsky/Presentation/WindowManagerProtocol.swift
  mac/starsky/WindowManager.swift
  mac/starsky/Windows/SplashWindowController.swift
  mac/starskyTests/Presentation/MainWindowPresenterTests.swift
Due: none

Root cause: beginTermination() dispatched NSApplication.shared.reply(… (#3317)
  history.md
  mac/starsky/App/AppCore.swift
  mac/starsky/Presentation/MainWindowPresenter.swift
  mac/starsky/Presentation/WindowManagerProtocol.swift
  mac/starsky/Services/FileDownloadService.swift
  mac/starsky/WindowManager.swift
  mac/starsky/Windows/SplashWindowController.swift
  mac/starskyTests/App/AppCoreTests.swift
  mac/starskyTests/Presentation/MainWindowPresenterTests.swift
Due: none

WebApp Update Swagger .NET (#3316)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

cypress
  starsky-tools/end2end/cypress/e2e/60-multi-file-move/60-multi-file-move.cy.ts
Due: none

cypress
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-file-from-upload.cy.ts
Due: none

Windows: Manually closing a window no longer causes it to reopen on next launch
  history.md
  mac/starsky/WindowManager.swift
  mac/starskyTests/WindowManagerTests.swift
  windows/Services/WindowManager.cs
  windows/Windows/MainWindow.xaml.cs
  windows/starsky.Tests/Services/WindowManagerTests.cs
Due: none

download universal
  documentation/src/components/DownloadFeature/index.tsx
Due: pipelines/azure/documentation.yaml

Add Proxy icon for mac
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky/Presentation/MainWindowPresenter.swift
  mac/starsky/Services/AppSettingsReader.swift
  mac/starsky/Windows/MainWindowController.swift
  mac/starskyTests/Presentation/MainWindowPresenterTests.swift
  mac/starskyTests/Services/AppSettingsReaderTests.swift
Due: none

3318
  history.md
Due: none

fix tests
  windows/Services/RoutePersistenceService.cs
  windows/Services/WindowManager.cs
  windows/Windows/MainWindow.xaml.cs
  windows/starsky.Tests/Services/RoutePersistenceServiceTests.cs
  windows/starsky.Tests/Services/WindowManagerTests.cs
Due: none

Add proxy icon for mac
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky/Presentation/MainWindowPresenter.swift
  mac/starsky/Services/AppSettingsReader.swift
  mac/starsky/Windows/MainWindowController.swift
  mac/starskyTests/Services/AppSettingsReaderTests.swift
Due: none

Add trim
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade to .NET 10
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix output helper
  documentation/scripts/openapi.js
  documentation/static/openapi/openapi.json
  starsky/starsky/Helpers/SwaggerExportHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

version compare
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

windows
  windows/Models/MainWindowOptions.cs
  windows/Services/WindowManager.cs
  windows/Windows/MainWindow.xaml.cs
Due: none

Windows: Manually closing a window no longer causes it to reopen on n… (#3318)
  history.md
  mac/starsky/WindowManager.swift
  mac/starskyTests/WindowManagerTests.swift
  windows/Models/MainWindowOptions.cs
  windows/Services/RoutePersistenceService.cs
  windows/Services/WindowManager.cs
  windows/Windows/MainWindow.xaml.cs
  windows/starsky.Tests/Services/RoutePersistenceServiceTests.cs
  windows/starsky.Tests/Services/WindowManagerTests.cs
Due: none

Update history.md
  history.md
Due: none

auth
  documentation/static/openapi/openapi.json
  starsky/nuget-packages-list.json
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

using
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202609 swashbuckle v10 (#3326)
  documentation/scripts/openapi.js
  documentation/static/openapi/openapi.json
  history.md
  starsky/nuget-packages-list.json
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
