Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

fix background sync
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix for safari
  history.md
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starsky/starsky/clientapp/src/hooks/use-capture-position.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add internal seri.
  starsky/starsky/Controllers/MemoryCacheDebugController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add invalid fix && add test
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  history.md
Due: none

fix flush crash on end
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.webtelemetry/Helpers/FlushApplicationInsights.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/FlushOnApplicationStoppingTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add warning
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/pm2-new-instance.sh
Due: none

Auto .NET SDK version Upgrade to 3.1.416
  .github/workflows/release-on-tag-netcore-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/nuget-packages-list.json
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.consoletelemetry/starsky.foundation.consoletelemetry.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.foundation.worker/starsky.foundation.worker.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

Update history.md
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/readme.html
Due: none

fix: starsky/starsky/clientapp/package.json & starsky/starsky/clientapp/package-lock.json to reduce vulnerabilities
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/jest-dom from 5.15.0 to 5.15.1
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 16.11.9 to 16.11.10
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

update readme
  history.md
Due: none

remove old sync service && remove netframework cli
  azure-pipelines-starsky.netframework-msbuild.yml
  starsky.netframework/build.cake
  starsky.netframework/build.ps1
  starsky.netframework/build.sh
  starsky.netframework/readme.md
  starsky.netframework/starsky.netFramework.sln
  starsky.netframework/starsky/.gitkeep
  starsky.netframework/starskyImporterNetFrameworkCli/Program.cs
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/Program.cs
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/starsky.sln
  starsky/starskycore/Services/SyncService.cs
  starsky/starskycore/Services/SyncServiceAddFileToDatabase.cs
  starsky/starskycore/Services/SyncServiceAddFoldersToDatabase.cs
  starsky/starskycore/Services/SyncServiceAddSubPathFolder.cs
  starsky/starskycore/Services/SyncServiceCheckMd5Hash.cs
  starsky/starskycore/Services/SyncServiceCli.cs
  starsky/starskycore/Services/SyncServiceDeleted.cs
  starsky/starskycore/Services/SyncServiceDuplicate.cs
  starsky/starskycore/Services/SyncServiceFirstItemDirectory.cs
  starsky/starskycore/Services/SyncServiceOrphanFolder.cs
  starsky/starskycore/Services/SyncServiceRemoveOldFilePathItemsFromDatabase.cs
  starsky/starskycore/Services/SyncServiceSingleFile.cs
  starsky/starskysynccli/Program.cs
  starsky/starskysynccli/readme.md
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskytest/Services/SyncServiceTest.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove obsolete
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
  starsky/starskytest/starskySyncCli/starskyCliTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove sync api && remove query helper
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky/Controllers/SyncController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix removed
  starsky/starsky/Controllers/IndexController.cs
  starsky/starskytest/Controllers/SyncControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add job & time limit
  pipelines/azure/develop-ci.yml
Due: none

Update develop-ci.yml
  pipelines/azure/develop-ci.yml
Due: none

fix: upgrade @types/react from 17.0.36 to 17.0.37
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade prettier from 2.2.1 to 2.5.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

consistance file naming
  starsky/starsky.foundation.webtelemetry/Extensions/ApplicationInsightsExtension.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs && await for import
  readme.md
  starsky/build.cake
  starsky/starsky.feature.import/Services/Import.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP idea
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IOffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starskytest/FakeMocks/FakeIOffsetDataMetaExifThumbnail.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

exclude old sync cli
  starsky/build.cake
  starsky/readme-upgrade-net-core.md
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-restore-x-rights.sh
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Delete starsky-dotnetframework.yml
  .github/workflows/starsky-dotnetframework.yml
Due: none

update changelog && edit version && remove from docs
  history.md
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/docs/docs.js
Due: none

remove legacy net framework page
  starsky-tools/docs/docs.js
Due: none

undo removal of test
  starsky/starsky/Controllers/SyncController.cs
  starsky/starskytest/Controllers/SyncControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
