Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

add comment
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
Due: azure-pipelines-starsky.yml

update styling for info windows in starskyApp (electron)
  starskyapp/lib/main-window.js
  starskyapp/lib/settings-window.js
  starskyapp/media/css/01-base.css
  starskyapp/media/css/02-form.css
  starskyapp/media/css/03-button.css
  starskyapp/media/css/20-content.css
  starskyapp/media/css/29-switch-button.css
  starskyapp/media/focus-button-autoclose.js
  starskyapp/media/fonts/GloriolaStd-Bold.woff
  starskyapp/media/fonts/GloriolaStd-Bold.woff2
  starskyapp/media/fonts/GloriolaStd-Light.woff
  starskyapp/media/fonts/GloriolaStd-Light.woff2
  starskyapp/media/fonts/GloriolaStd-Medium.woff
  starskyapp/media/fonts/GloriolaStd-Medium.woff2
  starskyapp/media/settings-client.js
  starskyapp/pages/check-for-updates-new-version.html
  starskyapp/pages/edit-not-allowed.html
  starskyapp/pages/edit-save-as.html
  starskyapp/pages/reload-redirect.html
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

change warning box
  starskyapp/media/images/baseline-error-24px.svg
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

change to comment to prevent code smell
  starsky/starsky/Helpers/SwaggerSetupHelper.cs
Due: azure-pipelines-starsky.yml

version from beta-2 to .0 version
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/end2end/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update docs
  docs/history.html
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  docs/starskyapp/docs-assets/starskyapp-remote-options-v040.jpg
  docs/starskyapp/readme.html
  history.md
  starsky-tools/docs/docs.js
  starskyapp/docs-assets/starskyapp-remote-options-v040.jpg
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

update docs
  docs/starsky/starsky.feature.geolookup/readme.html
  docs/starsky/starskybusinesslogic/readme.html
  starsky-tools/docs/assets/style/style.css
  starsky-tools/docs/docs.js
  starsky-tools/end2end/readme.md
  starsky-tools/readme.md
  starsky/starsky.feature.export/readme.md
  starsky/starsky.feature.geolookup/readme.md
  starsky/starsky.feature.health/HealthCheck/DateAssemblyHealthCheck.cs
  starsky/starsky.feature.health/HealthCheck/DiskOptionsPercentageSetup.cs
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
  starsky/starsky.feature.health/HealthCheck/PathExistHealthCheck.cs
  starsky/starsky.feature.health/readme.md
  starsky/starsky.feature.webhtmlpublish/readme.md
  starsky/starsky.foundation.accountmanagement/readme.md
  starsky/starsky.foundation.realtime/readme.md
  starsky/starsky.sln
  starsky/starskybusinesslogic/readme.md
  starsky/starskytest/readme.md
Due: azure-pipelines-starsky.yml

update docs
  docs/assets/style/style.css
  docs/starsky-tools/end2end/readme.html
  docs/starsky-tools/readme.html
  docs/starsky/starskytest/readme.html
Due: none

[DocsUpdateBot] Auto commited html update
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  docs/starskyapp/docs-assets/starskyapp-remote-options-v040beta1.jpg
Due: none

update code
  starsky/starsky.foundation.sync/Interfaces/IAutoResetEventAsync.cs
  starsky/starsky.foundation.sync/Interfaces/IDiskWatcher.cs
  starsky/starsky.foundation.sync/Interfaces/IFileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/Services/AutoResetEventAsync.cs
  starsky/starsky.foundation.sync/Services/DiskWatcher.cs
  starsky/starsky.foundation.sync/Services/FileProcessor.cs
  starsky/starsky.foundation.sync/Services/FileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky.sln
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

add extra catch to prevent scan issues
  starsky/starsky.foundation.readmeta/Services/ReadMetaExif.cs
Due: azure-pipelines-starsky.yml

list of packages
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/lib/get-files-directory.js
  starsky-tools/build-tools/lib/prefix-path.const.js
  starsky-tools/build-tools/nuget-package-list.js
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky.foundation.readmeta/Services/ReadMetaExif.cs
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky.yml

add extra test
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add watcher ++ stub code
  starsky/starsky.foundation.sync/Helpers/FileProcessor.cs
  starsky/starsky.foundation.sync/Interfaces/IDiskWatcher.cs
  starsky/starsky.foundation.sync/Interfaces/IFileProcessor.cs
  starsky/starsky.foundation.sync/Services/AutoResetEventAsync.cs
  starsky/starsky.foundation.sync/Services/DiskWatcher.cs
  starsky/starsky.foundation.sync/Services/DiskWatcherBackgroundService.cs
  starsky/starsky.foundation.sync/Services/FileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky/Controllers/SyncController.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

sync foundation work
  history.md
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IAutoResetEventAsync.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IDiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IFileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/WatcherServices/AutoResetEventAsync.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundService.cs
  starsky/starsky.foundation.sync/WatcherServices/FileSystemWatcherWrapper.cs
  starsky/starskycore/Services/BackgroundService.cs20
  starsky/starskycore/Services/ImportService.bak
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
Due: azure-pipelines-starsky.yml

Update history.md
  history.md
Due: none

change fileHash behavior ++ add round for focalLenght ++ new item creation
  starsky/starsky.foundation.platform/Extensions/TimeoutTaskAfter.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaExif.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs_
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky/Controllers/SyncController.cs
Due: azure-pipelines-starsky.yml

execute x rights
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/pm2-restore-x-rights.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

fix test
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starsky/pm2-new-instance.sh
Due: none

need a extra delay before checking if its the latest version
  starskyapp/lib/check-for-updates.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/media/focus-button-autoclose.js
Due: azure-pipelines-starsky.starskyapp.yml

fix on error case
  starskyapp/lib/ipc-bridge.js
Due: azure-pipelines-starsky.starskyapp.yml

add default fix
  starsky-tools/end2end/.gitignore
  starsky-tools/end2end/cypress/plugins/index.ts
  starsky-tools/end2end/cypress/screenshots/.gitignore
  starsky-tools/end2end/cypress/support/commands.ts
  starsky-tools/end2end/package.json
Due: none

Update end2end-on-heroku-demo.yml
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

Update readme.md
  readme.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

fix sync issue
  starsky/starsky.feature.metaupdate/Interfaces/IMetaUpdateService.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.readmeta/Interfaces/IReadMeta.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskytest/FakeMocks/FakeReadMeta.cs
Due: azure-pipelines-starsky.yml

Update starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

Update starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

Update starsky-clientapp.yml
  .github/workflows/starsky-clientapp.yml
Due: none
