Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

ubuntu-latest
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

wine --version
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

install wine on linux
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

sudo apt update
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

apt-get install -y --no-install-recommends mono...
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

change to install wine
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

--install-recommends
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

sudo apt-get install libgnutls30:i386...
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

ubuntu-20.04
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Split feature and test it again
  .github/workflows/release-on-tag.yml
Due: none

update release
  .github/workflows/release-on-tag.yml
Due: none

test run
  .github/workflows/release-on-tag.yml
Due: none

start with steps
  .github/workflows/release-on-tag.yml
Due: none

list dir
  .github/workflows/release-on-tag.yml
Due: none

add flag to skip unit tests
  starsky/build.cake
Due: azure-pipelines-starsky.yml

no-unit-test on release
  .github/workflows/release-on-tag.yml
Due: none

add extra logging
  starskyapp/scripts/beforeBuild.js
Due: azure-pipelines-starsky.starskyapp.yml

add extra copy step (hope this works)
  .github/workflows/release-on-tag.yml
Due: none

add extra checks
  .github/workflows/release-on-tag.yml
Due: none

remove try
  starskyapp/scripts/beforeBuild.js
Due: azure-pipelines-starsky.starskyapp.yml

change download
  .github/workflows/release-on-tag.yml
Due: none

add check for is DIR
  starskyapp/scripts/beforeBuild.js
Due: azure-pipelines-starsky.starskyapp.yml

add pipe for win32
  starsky-tools/docs/docs.js
Due: none

add dev fix for win32
  starskyapp/lib/setup-child-process.js
Due: azure-pipelines-starsky.starskyapp.yml

remove ls ++ fix win7
  .github/workflows/release-on-tag.yml
Due: none

add promise for starskyapp
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml

change to starsky-win-desktop
  .github/workflows/release-on-tag.yml
Due: none

Update and rename release-on-tag.yml to release-on-tag-netcore-electron.yml
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

rename to include type
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

fixes for windows
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml

return null on file not found error
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky.yml

link to github pages ++ naming
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

update content
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

get the default app working in windows
  starskyapp/lib/app-menu.js
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/settings-window.js
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

electron WIP ++ add list of Sidecar files
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaXmp.cs
  starsky/starsky/Controllers/HealthController.cs
  starskyapp/lib/app-menu.js
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/edit-windows.js
  starskyapp/lib/watch-for-changes.js
  starskyapp/media/reload-script.js
  starskyapp/pages/edit-connection-error.html
  starskyapp/pages/edit-error.html
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add xmp download support
  starsky/starsky.foundation.database/Migrations/20201027151043_SideCarPathsAdded.Designer.cs
  starsky/starsky.foundation.database/Migrations/20201027151043_SideCarPathsAdded.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starskycore/Helpers/MimeHelper.cs
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update electron client ++ add stub for upload sidecar api
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky/Controllers/UploadController.cs
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

start with e2e tech
  starsky-tools/end2end/.eslintrc.js
  starsky-tools/end2end/.gitignore
  starsky-tools/end2end/.vscode/extensions.json
  starsky-tools/end2end/.vscode/settings.json
  starsky-tools/end2end/cypress.json
  starsky-tools/end2end/cypress/.gitignore
  starsky-tools/end2end/cypress/config/starsky/heroku-demo.json
  starsky-tools/end2end/cypress/config/starsky/local.json
  starsky-tools/end2end/cypress/fixtures/.gitkeep
  starsky-tools/end2end/cypress/integration/01-create-account/01-create-account.ts
  starsky-tools/end2end/cypress/integration/01-create-account/config.json
  starsky-tools/end2end/cypress/integration/01-create-account/flow.json
  starsky-tools/end2end/cypress/integration/02-login/02-login.ts
  starsky-tools/end2end/cypress/integration/02-login/config.json
  starsky-tools/end2end/cypress/integration/02-login/flow.json
  starsky-tools/end2end/cypress/integration/10-archive/archive.ts
  starsky-tools/end2end/cypress/integration/10-archive/config.json
  starsky-tools/end2end/cypress/integration/10-archive/flow.json
  starsky-tools/end2end/cypress/plugins/index.ts
  starsky-tools/end2end/cypress/support/commands.ts
  starsky-tools/end2end/cypress/support/index.ts
  starsky-tools/end2end/end2end.code-workspace
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
  starsky-tools/end2end/tsconfig.json
Due: none
