Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

longer cache
  history.md
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smell
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/pm2-new-instance.sh
Due: none

fix some code smells
  starsky/build/Build.cs
  starsky/build/Configuration.cs
  starsky/build/helpers/ClientHelper.cs
  starsky/build/helpers/CoverageReportHelper.cs
  starsky/build/helpers/DocsGenerateHelper.cs
  starsky/build/helpers/GetSolutionAllProjects.cs
  starsky/build/helpers/MergeCoverageFiles.cs
  starsky/build/helpers/SonarQube.cs
  starsky/build/helpers/ZipperHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress message
  starsky/build/Build.cs
  starsky/build/Configuration.cs
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/GetSolutionAllProjects.cs
  starsky/build/helpers/ProjectCheckNetCoreCommandHelper.cs
  starsky/build/helpers/ZipperHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.0.18 to 18.0.19
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.database/Query/Query.NetFramework.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryNetFrameworkTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncSingleFileTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.Legacy.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolderV2.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.sync/SyncServices/SyncFolderV2.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix cleanup script
  starsky/starsky/docker-cleanup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename && add docker up
  starsky/starsky/cleanup-build-tools.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update node version
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

allow path as argument
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

Update history.md
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

set cookies for secure only
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused code
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

update docs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/readme.html
Due: none

WIP
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolderV2.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.Legacy.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncMultiFileTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncMultiFileTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add debug
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/FakeMocks/FakeIQueryException.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncMultiFileTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starsky/Properties/default-init-launchSettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add png
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

bugfixes
  starsky/starsky.foundation.storage/Helpers/PlainTextFileHelper.cs
  starsky/starsky.foundation.storage/Models/StorageInfo.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Interfaces/IExifToolDownload.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/FakeMocks/FakeExifToolDownload.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest_InMemoryDb.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest_InMemoryDb.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/PublishManifest.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.storage/Helpers/PlainTextFileHelper.cs
  starsky/starsky.foundation.sync/SyncInterfaces/ISync.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedService.cs
  starsky/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowException.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonParser.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starsky/Controllers/AppSettingsController.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/Helpers/SwaggerHelperTest.cs
  starsky/starskytest/Models/FakeExifTool.cs
  starsky/starskytest/Services/ExifCopyTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoReverseLookupTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
  starsky/starskytest/starsky.foundation.storage/Helpers/DeserializeJsonTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryAddRangeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
