Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

make async && add fallback
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
  starsky/starsky/clientapp/src/shared/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url-query.ts
  starsky/starskytest/Controllers/DeleteControllerTest.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryInvokeCloneTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused code
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryInvokeCloneTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.export/Services/ExportServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add schema
  documentation/static/openapi/schema.json
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.platform/JsonConverter/DefaultJsonSerializer.cs
  starsky/starsky.foundation.platform/Models/MetadataContainer.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonParser.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

rename
  documentation/static/schema/meta-data-container.json
  starsky-tools/build-tools/lib/https-get.js
  starsky/starsky.foundation.platform/Models/MetadataContainer.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add WIP
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky.foundation.sync/SyncServices/SyncAddAddThumbnailTable.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonParser.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sharing is caring
  starsky-tools/build-tools/.env.example
  starsky-tools/build-tools/create-pull-request-azure-devops.js
  starsky-tools/build-tools/download-artifacts-if-exists.js
  starsky-tools/build-tools/git-commit-message.js
  starsky-tools/build-tools/lib/https-download.js
Due: none

give longer
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky-tools/build-tools/.env.example
  starsky-tools/build-tools/download-artifacts-if-exists.js
Due: none

line endings // rosylnn warnings
  starsky/build/Build.cs
  starsky/build/helpers/DotnetTestHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add api for updating dates && add no enter / enter json serializer
  starsky/starsky.foundation.database/Models/MetadataContainer.cs
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starsky.foundation.platform/JsonConverter/DefaultJsonSerializer.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
  starsky/starsky.foundation.realtime/Services/WebSocketConnectionsService.cs
  starsky/starsky.foundation.storage/Helpers/DeserializeJson.cs
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starsky.foundation.writemeta/JsonService/FileIndexItemJsonParser.cs
  starsky/starskytest/Controllers/MetaReplaceControllerTest.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/FakeMocks/FakeIWebSocketConnectionsService.cs
  starsky/starskytest/starsky.foundation.realtime/Services/WebSocketConnectionsServiceTest.cs
  starsky/starskytest/starsky.foundation.storage/Helpers/DeserializeJsonTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncMultiFileTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncSingleFileTest.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Helpers/FileIndexCompareHelperTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaInfoTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

typo
  history.md
Due: none

add extra logging
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add entire string
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add longer
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove duplicate values && add longer byte list
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  documentation/static/schema/meta-data-container.json
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

longer timeout
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep seperated for windows
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

give longer time
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathCollectionAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to cli helper
  starsky/starsky.feature.demo/Helpers/CleanDemoDataServiceCli.cs
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starskydemoseedcli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move tests
  starsky/starskytest/starsky.feature.demo/Helpers/CleanDemoDataServiceCliTest.cs
  starsky/starskytest/starsky.feature.demo/Services/CleanDemoDataServiceTest.cs
  starsky/starskytest/starskyDemoCli/StarskyDemoCliProgramTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
