Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Update ClientApp (#3348)
  starsky/starsky/clientapp/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

Update Documentation and Docusaurus (#3349)
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3352)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

Timeout issues 17
  starsky/starsky.feature.realtime/Services/RealtimeConnectionsService.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/starsky.feature.realtime/Services/RealtimeConnectionsServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change log level
  starsky/starsky.foundation.import/Services/CameraStorageDetector.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Timeout issues 17
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Timeout issues 17 (#3355)
  history.md
  starsky/starsky.feature.realtime/Services/RealtimeConnectionsService.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.import/Services/CameraStorageDetector.cs
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/starsky.feature.realtime/Services/RealtimeConnectionsServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Drag Over
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.tsx
  starsky/starsky/clientapp/src/shared/move-file-helper.spec.ts
  starsky/starsky/clientapp/src/shared/move-file-helper.ts
  starsky/starsky/clientapp/src/style/css/21-archive-folder.css
  starsky/starsky/clientapp/src/style/css/22-breadcrumb.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix navigate bug
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Bep protocol
  starsky/starsky.feature.connect/Watchers/DiskWatcherSyncLocalChangeSource.cs
  starsky/starsky.feature.connect/Watchers/StandaloneFileWatcherSyncLocalChangeSource.cs
  starsky/starsky.feature.connect/starsky.feature.connect.csproj
  starsky/starsky.foundation.connect/Crypto/Base32.cs
  starsky/starsky.foundation.connect/Crypto/DeviceIdentity.cs
  starsky/starsky.foundation.connect/Protocol/BepProtocolException.cs
  starsky/starsky.foundation.connect/Protocol/BepReader.cs
  starsky/starsky.foundation.connect/Protocol/BepWriter.cs
  starsky/starsky.foundation.connect/Protocol/Compression.cs
  starsky/starsky.foundation.connect/Protocol/Protos/bep.proto
  starsky/starsky.foundation.connect/Sync/BlockSizing.cs
  starsky/starsky.foundation.connect/Sync/ISyncLocalChangeSource.cs
  starsky/starsky.foundation.connect/Sync/VectorClock.cs
  starsky/starsky.foundation.connect/Transport/TlsDialer.cs
  starsky/starsky.foundation.connect/Transport/TlsListener.cs
  starsky/starsky.foundation.connect/starsky.foundation.connect.csproj
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Models/ConnectBlockInfo.cs
  starsky/starsky.foundation.database/Models/ConnectDeviceIndex.cs
  starsky/starsky.foundation.database/Models/ConnectFileMeta.cs
  starsky/starsky.foundation.database/Models/ConnectFolderMeta.cs
  starsky/starsky.sln
  starsky/starskytest/starsky.feature.connect/Watchers/DiskWatcherSyncLocalChangeSourceTest.cs
  starsky/starskytest/starsky.foundation.connect/Crypto/Base32Test.cs
  starsky/starskytest/starsky.foundation.connect/Crypto/DeviceIdentityTest.cs
  starsky/starskytest/starsky.foundation.connect/Protocol/BepFramingTest.cs
  starsky/starskytest/starsky.foundation.connect/Protocol/CompressionTest.cs
  starsky/starskytest/starsky.foundation.connect/Sync/BlockSizingTest.cs
  starsky/starskytest/starsky.foundation.connect/Sync/VectorClockTest.cs
  starsky/starskytest/starsky.foundation.database/Connect/ConnectEntityTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Drag 'n drop support for files in the archive
  history.md
Due: none

Drag 'n drop support for files in the archive (#3359)
  history.md
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.tsx
  starsky/starsky/clientapp/src/shared/move-file-helper.spec.ts
  starsky/starsky/clientapp/src/shared/move-file-helper.ts
  starsky/starsky/clientapp/src/style/css/21-archive-folder.css
  starsky/starsky/clientapp/src/style/css/22-breadcrumb.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.connect/Sync/BlockStore.cs
  starsky/starsky.feature.connect/Sync/ConflictResolver.cs
  starsky/starsky.feature.connect/Sync/Downloader.cs
  starsky/starsky.feature.connect/Sync/FolderModel.cs
  starsky/starsky.feature.connect/Sync/Scanner.cs
  starsky/starsky.feature.connect/Sync/SyncEngine.cs
  starsky/starsky.feature.connect/starsky.feature.connect.csproj
  starsky/starsky.foundation.connect/Crypto/DeviceIdentity.cs
  starsky/starsky.foundation.connect/Discovery/GlobalDiscovery.cs
  starsky/starsky.foundation.connect/Discovery/LocalDiscovery.cs
  starsky/starsky.foundation.connect/Protocol/BepConnection.cs
  starsky/starsky.foundation.connect/Protocol/BepWriter.cs
  starsky/starsky.foundation.connect/Protocol/Compression.cs
  starsky/starsky.foundation.connect/Protocol/Protos/bep.proto
  starsky/starsky.foundation.connect/Relay/RelayClient.cs
  starsky/starsky.foundation.connect/Storage/ConfigStore.cs
  starsky/starsky.foundation.connect/Transport/ConnectionManager.cs
  starsky/starsky.foundation.connect/Transport/TlsDialer.cs
  starsky/starsky.foundation.database/Migrations/20260918091609_AddConnectIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260918091609_AddConnectIndex.cs
  starsky/starsky.foundation.database/Models/ConnectDeviceIndex.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starskytest/starsky.feature.connect/Sync/SyncEngineFileSyncIntegrationTest.cs
  starsky/starskytest/starsky.foundation.connect/Protocol/BepFramingTest.cs
  starsky/starskytest/starsky.foundation.connect/Protocol/BepSyncthingIntegrationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starskytest/starsky.feature.connect/Sync/SyncEngineFileSyncIntegrationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update stacks docs
  documentation/docs/features/stacks.md
Due: pipelines/azure/documentation.yaml

WIP
  starsky/starsky.feature.connect/Sync/Downloader.cs
  starsky/starsky.feature.connect/Sync/FolderModel.cs
  starsky/starsky.feature.connect/Sync/SyncEngine.cs
  starsky/starskytest/starsky.feature.connect/Sync/SyncEngineFileSyncIntegrationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.connect/Sync/FolderModel.cs
  starsky/starsky.feature.connect/Sync/SyncEngine.cs
  starsky/starskytest/starsky.feature.connect/Sync/SyncEngineFileSyncIntegrationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

permissions
  starsky/starsky.feature.connect/Sync/FolderModel.cs
  starsky/starsky.feature.connect/Sync/Scanner.cs
  starsky/starsky.feature.connect/Sync/SyncEngine.cs
  starsky/starsky.foundation.database/Models/ConnectFileMeta.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add UI
  documentation/docs/features/connect.md
  starsky/starsky.foundation.connect/Storage/ConfigStore.cs
  starsky/starsky.foundation.connect/starsky.foundation.connect.csproj
  starsky/starsky.foundation.settings/Enums/SettingsType.cs
  starsky/starsky/Controllers/ConnectController.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-connect/preferences-connect.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.tsx
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

issues
  starsky/starsky.foundation.connect/Crypto/DeviceIdentity.cs
  starsky/starskytest/Controllers/ConnectControllerTest.cs
  starsky/starskytest/starsky.foundation.connect/Crypto/DeviceIdentityTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.feature.connect/Sync/BlockStoreTest.cs
  starsky/starskytest/starsky.feature.connect/Sync/ConflictResolverTest.cs
  starsky/starskytest/starsky.feature.connect/Sync/DownloaderTest.cs
  starsky/starskytest/starsky.foundation.connect/Protocol/BepConnectionTest.cs
  starsky/starskytest/starsky.foundation.connect/Storage/ConfigStoreTest.cs
  starsky/starskytest/starsky.foundation.connect/Transport/ConnectionManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

More timeout
  starsky-tools/end2end/cypress/e2e/70-download/70-download.cy.ts
Due: none

update names
  mac/starsky/en.lproj/Localizable.strings
  mac/starsky/nl.lproj/Localizable.strings
Due: none

change config handleing
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use remove query
  starsky/starsky.feature.realtime/Services/RealtimeConnectionsService.cs
  starsky/starsky.foundation.database/Interfaces/INotificationQuery.cs
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

avoid noise
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.database/Interfaces/INotificationQuery.cs
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ `NotificationQuery` splits oversized notifications chunks instead of dropping (PR #3367)
  history.md
Due: none

Feature/202609 exiftool (#3367)
  history.md
  starsky/starsky.feature.realtime/Services/RealtimeConnectionsService.cs
  starsky/starsky.foundation.database/Interfaces/INotificationQuery.cs
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky/appsettings.json
  starsky/starskytest/FakeMocks/FakeINotificationQuery.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
