Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework

add test for title
  starsky/starsky/clientapp/src/shared/document-title.spec.ts
Due: azure-pipelines-starsky.yml

remove there
  starsky/starsky/clientapp/src/containers/login.tsx
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

change to 60 days
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky.yml

trigger only on master and release branch
  .github/workflows/starsky-docs-html-auto-update.yml
Due: none

[docs] starskyapp
  docs/assets/style/style.css
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  docs/starskyapp/docs-assets/starskyapp-versions.jpg
  docs/starskyapp/readme.html
  starsky-tools/docs/assets/style/style.css
  starsky-tools/docs/docs.js
  starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  starskyapp/docs-assets/starskyapp-versions.jpg
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

fix first run issue
  starskyapp/lib/main-window.js
Due: azure-pipelines-starsky.starskyapp.yml

fix undefined issue
  starskyapp/index.js
Due: azure-pipelines-starsky.starskyapp.yml

add cache locations
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

make location looks nicer
  starsky/starsky/clientapp/src/shared/document-title.ts
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starskyapp/readme.html
Due: none

add test for backend api ++ version matcher
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
Due: azure-pipelines-starsky.yml

add warning ++ return version
  starsky-tools/starsky-tools.code-workspace
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starskyapp/index.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/media/reload-script.js
  starskyapp/upgrade.html
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

ver
  history.md
Due: none

use 64 bits version by default
  .gitignore
  starsky/build.cake
  starskyapp/readme.md
  starskyapp/scripts/beforeBuild.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add fallback ++ update commetn
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/os-type.js
Due: azure-pipelines-starsky.starskyapp.yml

update build scripts ++ fix reload script
  .gitignore
  azure-pipelines-starsky.starskyapp.yml
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml

add check
  starsky/starsky/Controllers/HealthController.cs
  starskyapp/index.html
  starskyapp/lib/ipc-bridge.js
  starskyapp/media/load.css
  starskyapp/media/reload-script.js
  starskyapp/upgrade.html
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

make docs clear
  history.md
Due: none

add more logging
  starsky/starsky/Controllers/HealthController.cs
Due: azure-pipelines-starsky.yml

rename header
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

to lower case name
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

[name] add React
  .github/workflows/starsky-clientapp.yml
Due: none

update examples
  docs/history.html
  docs/starskyapp/readme.html
  index.md
  readme.md
  starsky-tools/docs/docs.js
  starsky/docs/starsky-mac-v025-home-nl.jpg
  starsky/docs/starsky-windows-v024-home-en.jpg
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/index.html
  docs/readme.html
  docs/starsky/docs/starsky-mac-v025-home-nl.jpg
Due: none

Create starskyapp-electron-build-multios.yml
  .github/workflows/starskyapp-electron-build-multios.yml
Due: none

Update starskyapp-electron-build-multios.yml
  .github/workflows/starskyapp-electron-build-multios.yml
Due: none

Rename starskyapp-electron-build-multios.yml to starskyapp-electron-build-mac-win.yml
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Update starskyapp-electron-build-mac-win.yml
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Update readme.md
  readme.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

[mock] add fake starsky.exe
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starksy-win7.zip
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starsky
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starsky.exe
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/starsky.zip
Due: azure-pipelines-starsky.yml

docker
  starsky/.dockerignore
  starsky/Dockerfile
  starsky/dockerfile.md
Due: azure-pipelines-starsky.yml

make docker work
  starsky/Dockerfile
  starsky/dockerfile.md
Due: azure-pipelines-starsky.yml

Create starsky-deploy-demo-env.yml
  .github/workflows/starsky-deploy-demo-env.yml
Due: none
