Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

WIP
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

Code changes
  starsky/starsky.foundation.databasetelemetry/Services/DatabaseTelemetryInterceptor.cs
  starsky/starsky.foundation.platform/Extensions/ChunkHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to list
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

clean code and retry
  starsky-tools/build-tools/deploy-ssh.sh
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky-tools/build-tools/lib/https-get.js
Due: none

update breaking changes mysql connector && upgrade nuget packages
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.consoletelemetry/starsky.foundation.consoletelemetry.csproj
  starsky/starsky.foundation.database/Extensions/EntityFrameworkExtensions.cs
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFilePathAsync.cs
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starskytest/Services/SearchSuggestionsServiceTest.cs
  starsky/starskytest/starsky.foundation.database/Extensions/TestConnectionTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/RunMigrationsTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Services/DatabaseTelemetryInterceptorTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

fix: upgrade marked from 4.0.11 to 4.0.12
  starsky-tools/docs/package-lock.json
  starsky-tools/docs/package.json
Due: none

fix unit tests
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starskytest/Services/SearchSuggestionsServiceTest.cs
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.platform/Extensions/ChunkHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add setup for dockerFile replace
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update dockerfile
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

fix for endless loop in tar.gz
  starsky/.env
  starsky/starsky.foundation.storage/ArchiveFormats/TarBal.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check for position to avoid endless loop
  starsky/starsky.foundation.storage/ArchiveFormats/TarBal.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Rename mirror services
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo commented out code
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smells
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.database/Extensions/TestConnectionTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/RunMigrationsTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
  starsky/starskytest/starsky.foundation.storage/Exceptions/DecodingExceptionTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smells and warnings
  starsky/starsky.feature.webhtmlpublish/Helpers/PublishManifest.cs
  starsky/starsky/Controllers/AppSettingsController.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

0.5.0-beta.3
  history.md
Due: none

update version
  starsky-tools/build-tools/app-version-update.js
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/readme.html
Due: none

upgrade deps for razorlight && imagesharp
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update deps
  history.md
Due: none

add removal of parent dir
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add verbose
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade winston from 3.5.0 to 3.5.1
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix end2end test
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
Due: none

add test
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starskytest/Helpers/FileStreamingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add no logger
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTestNoCacheTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
