Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

Add MountWatcher for Windows
  windows/App.xaml.cs
  windows/Services/MountWatcherLifecycle.cs
  windows/Services/MountWatcherService.cs
  windows/Services/UpdateService.cs
  windows/Windows/MainWindow.xaml.cs
Due: none

recommend settings
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
Due: none

changelog
  history.md
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
Due: none

changelog
  history.md
Due: none

Mount Watcher to Desktop (#3308)
  documentation/docs/features/import/mountwatchercli.md
  documentation/docs/getting-started/desktop/desktop-macos.md
  history.md
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky/App/AppCore.swift
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Models/DesktopSettings.swift
  mac/starsky/Services/ApplicationPaths.swift
  mac/starsky/Services/DailyFileLogger.swift
  mac/starsky/Services/MountWatcherService.swift
  mac/starsky/Services/MountWatcherServiceProtocol.swift
  mac/starsky/Services/UpdateService.swift
  mac/starsky/en.lproj/Localizable.strings
  mac/starsky/nl.lproj/Localizable.strings
  mac/starskyTests/App/AppCoreTests.swift
  mac/starskyTests/FakeCreateAn/CreateFakeProcessBin/FakeProcessBin.swift
  mac/starskyTests/Models/DesktopSettingsTests.swift
  mac/starskyTests/Services/ApplicationPathsTests.swift
  mac/starskyTests/Services/DailyFileLoggerTests.swift
  mac/starskyTests/Services/MountWatcherServiceTests.swift
  mac/starskyTests/Services/UpdateServiceTests.swift
  windows/Windows/MainWindow.xaml.cs
Due: pipelines/azure/documentation.yaml

add tests
  documentation/docs/features/import/mountwatchercli.md
  documentation/docs/getting-started/desktop/desktop-windows.md
  windows/SPEC.md
  windows/Services/IProcessRunner.cs
  windows/Services/MountWatcherService.cs
  windows/Services/WindowsProcessRunner.cs
  windows/starsky.Tests/FakeCreateAn/FakeProcessRunner.cs
  windows/starsky.Tests/Services/MountWatcherServiceTests.cs
Due: pipelines/azure/documentation.yaml

add changelog
  history.md
Due: none

add spec
  mac/SPEC.md
Due: none

update spec
  mac/SPEC.md
Due: none

update readme
  mac/readme.md
Due: none

Change status
  windows/Services/MountWatcherLifecycle.cs
  windows/Services/MountWatcherService.cs
  windows/Services/WindowsProcessRunner.cs
  windows/Windows/MainWindow.xaml.cs
  windows/starsky.Tests/FakeCreateAn/FakeProcessRunner.cs
  windows/starsky.Tests/Services/MountWatcherServiceTests.cs
Due: none

add unzip
  windows/build-velopack.ps1
Due: none

Add MountWatcher for Windows (#3309)
  documentation/docs/features/import/mountwatchercli.md
  documentation/docs/getting-started/desktop/desktop-windows.md
  history.md
  windows/App.xaml.cs
  windows/Models/DesktopSettings.cs
  windows/Models/MainWindowOptions.cs
  windows/SPEC.md
  windows/Services/IMountWatcherService.cs
  windows/Services/IProcessRunner.cs
  windows/Services/MountWatcherLifecycle.cs
  windows/Services/MountWatcherService.cs
  windows/Services/UpdateService.cs
  windows/Services/WindowManager.cs
  windows/Services/WindowsProcessRunner.cs
  windows/Windows/MainWindow.xaml
  windows/Windows/MainWindow.xaml.cs
  windows/build-velopack.ps1
  windows/starsky.Tests/FakeCreateAn/FakeMountWatcherService.cs
  windows/starsky.Tests/FakeCreateAn/FakeProcessRunner.cs
  windows/starsky.Tests/Models/DesktopSettingsTests.cs
  windows/starsky.Tests/Services/MountWatcherServiceTests.cs
Due: pipelines/azure/documentation.yaml

intercept
  starsky-tools/end2end/cypress/e2e/40-detailview-from-upload/detailview-from-upload.cy.ts
Due: none

try this
  starsky-tools/end2end/cypress/e2e/40-detailview-from-upload/detailview-from-upload.cy.ts
Due: none

try this
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-file-from-upload.cy.ts
Due: none

update changelog
  history.md
Due: none

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#3311)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

70 download
  starsky-tools/end2end/cypress/e2e/70-download/config.json
  starsky-tools/end2end/cypress/e2e/70-download/download.cy.ts
Due: none

Wait for the backend index to reflect the renamed folder before navigating, otherwise the new page loads before the index is updated and shows a 404.
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

kill process after timeout && add collections test
  mac/starsky/Services/BackendService.swift
  starsky-tools/end2end/cypress/e2e/80-collections/collections.cy.ts
  starsky-tools/end2end/cypress/e2e/80-collections/config.json
Due: none

Three root causes fixed:
  mac/starsky/App/AppCore.swift
  mac/starskyTests/App/AppCoreTests.swift
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/RunProcess.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/Helpers/RunProcessTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  mac/starsky/Services/BackendService.swift
Due: none

add tests
  mac/starsky/Services/BackendService.swift
  mac/starskyTests/Services/BackendServiceTests.swift
Due: none

end backend service
  mac/starsky/Services/BackendService.swift
  mac/starskyTests/Services/BackendServiceTests.swift
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  history.md
  mac/starskyTests/Services/BackendServiceTests.swift
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

formatting
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
Due: none

- [x] (Fixed) _Front-end_ Wait for backend when rename (PR #3312)
  history.md
  mac/starskyTests/Services/BackendServiceTests.swift
Due: none

add tests
  mac/starskyTests/FakeCreateAn/CreateFakeStarskyBin/FakeStarskyBin.swift
  mac/starskyTests/Services/BackendServiceTests.swift
Due: none

code warnings
  mac/starsky/App/AppCore.swift
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Services/BackendService.swift
  mac/starsky/Services/BackendServiceProtocol.swift
  mac/starsky/Services/FileWatcherService.swift
  mac/starsky/Services/FileWatcherServiceProtocol.swift
  mac/starsky/Services/MountWatcherService.swift
  mac/starsky/Services/MountWatcherServiceProtocol.swift
  mac/starskyTests/App/AppCoreTests.swift
Due: none

freeze
  history.md
  mac/starsky/App/AppCore.swift
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Services/BackendService.swift
  mac/starsky/Services/BackendServiceProtocol.swift
  mac/starskyTests/App/AppCoreTests.swift
  mac/starskyTests/Services/BackendServiceTests.swift
Due: none

faster close
  mac/starsky/App/AppCore.swift
  mac/starsky/App/AppDelegate.swift
  mac/starskyTests/App/AppCoreTests.swift
Due: none

Wait for backend when rename Handle concurrency in ThumbnailQuery.UpdateAsync macOS: Backend process not terminated on app quit macOS: Avoid backend restart when shutdown initiated (#3312)
  history.md
  mac/starsky/App/AppCore.swift
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Services/BackendService.swift
  mac/starsky/Services/BackendServiceProtocol.swift
  mac/starsky/Services/FileWatcherService.swift
  mac/starsky/Services/FileWatcherServiceProtocol.swift
  mac/starsky/Services/MountWatcherService.swift
  mac/starsky/Services/MountWatcherServiceProtocol.swift
  mac/starskyTests/App/AppCoreTests.swift
  mac/starskyTests/FakeCreateAn/CreateFakeStarskyBin/FakeStarskyBin.swift
  mac/starskyTests/Services/BackendServiceTests.swift
  starsky-tools/end2end/cypress/e2e/70-download/config.json
  starsky-tools/end2end/cypress/e2e/70-download/download.cy.ts
  starsky-tools/end2end/cypress/e2e/80-collections/collections.cy.ts
  starsky-tools/end2end/cypress/e2e/80-collections/config.json
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/RunProcess.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.tsx
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/Helpers/RunProcessTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  mac/starskyTests/App/AppCoreTests.swift
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
