Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

change api
  starskyapp/src/app/config/url-query.ts
  starskyapp/src/client/script/check-for-updates.ts
Due: azure-pipelines-starsky.starskyapp.yml

also allow parameter for version checking
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
Due: azure-pipelines-starsky.yml

remove console && add starts with
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/main-window/save-remember-url.ts
  starskyapp/src/app/net-request/get-net-request.ts
Due: azure-pipelines-starsky.starskyapp.yml

add test
  starskyapp/src/app/net-request/get-net-request.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

console log
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/startup/app-settings.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml

add WIP code
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/net-request/download-net-request.ts
Due: azure-pipelines-starsky.starskyapp.yml

update content
  starsky/docker_demo_setup.sh
Due: azure-pipelines-starsky.yml

work on fs watcher && command E
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/config/temp-path.ts
  starskyapp/src/app/edit-file/create-parent-folders.ts
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/file-watcher.ts
  starskyapp/src/app/net-request/download-net-request.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/shared/file-extensions.ts
  starskyapp/src/shared/slugify.ts
Due: azure-pipelines-starsky.starskyapp.yml

when press command e its opens the image
  starskyapp/src/app/config/url-query.ts
  starskyapp/src/app/edit-file/download-binary.ts
  starskyapp/src/app/edit-file/download-xmp-file.ts
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/is-application-running.ts
  starskyapp/src/app/edit-file/open-path.ts
  starskyapp/src/app/error-window/create-error-window.ts
  starskyapp/src/app/error-window/error-windows.const.ts
  starskyapp/src/client/pages/error/error.html
  starskyapp/src/shared/IExifStatus.ts
  starskyapp/src/shared/IFileindexItem.ts
  starskyapp/tsconfig.json
Due: azure-pipelines-starsky.starskyapp.yml

split feature
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/is-detail-view-result.ts
Due: azure-pipelines-starsky.starskyapp.yml

import * as SetupFileWatcher from "../file-watcher/setup-file-watcher";
  starskyapp/src/app/edit-file/create-parent-folders.ts
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/file-watcher.ts
  starskyapp/src/app/edit-file/get-parent-disk-path.ts
  starskyapp/src/app/file-watcher/file-watcher.const.ts
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix using
  starskyapp/src/app/edit-file/download-xmp-file.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix using
  starskyapp/src/app/edit-file/download-binary.ts
Due: azure-pipelines-starsky.starskyapp.yml

require
  starskyapp/src/app/edit-file/download-binary.ts
  starskyapp/src/app/edit-file/download-xmp-file.ts
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/menu/menu.ts
  starskyapp/src/app/net-request/download-net-request.ts
  starskyapp/src/app/updates-warning-window/updates-warning-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

fix test
  starskyapp/src/app/edit-file/create-parent-folders.ts
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml

add filter &&. remove console logs
  starskyapp/src/app/edit-file/create-parent-folders.ts
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/open-path.ts
  starskyapp/src/app/file-watcher/action-when-file-is-changed.ts
  starskyapp/src/app/file-watcher/check-file-exist.ts
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/net-request/download-net-request.ts
  starskyapp/src/app/net-request/get-net-request.ts
  starskyapp/src/app/net-request/upload-net-request.ts
  starskyapp/src/app/updates-warning-window/should-it-update.ts
Due: azure-pipelines-starsky.starskyapp.yml

add writing file size to detect changes
  starskyapp/src/app/file-watcher/action-when-file-is-changed.ts
  starskyapp/src/app/net-request/download-net-request.ts
  starskyapp/src/app/net-request/upload-net-request.ts
Due: azure-pipelines-starsky.starskyapp.yml

dock menu
  starskyapp/src/app/menu/app-menu.spec.ts
  starskyapp/src/app/menu/app-menu.ts
  starskyapp/src/app/menu/dock-menu.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml

add spies for dock menu
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml

add idea
  starskyapp/src/app/main-window/inject-js.txt
Due: azure-pipelines-starsky.starskyapp.yml

console
  starskyapp/src/client/script/reload-warmup-script.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

add options to master
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

add spy
  starskyapp/src/app/main-window/create-main-window.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

update code
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/release-version-check.js
Due: none

child process
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/release-version-check.js
Due: none

WIP code
  azure-pipelines-starsky.starskyapp.yml
  starsky-tools/build-tools/release-version-check.js
Due: none

add to pipeline and fix issues
  starsky-tools/build-tools/release-version-check.js
  starsky/build.cake
Due: azure-pipelines-starsky.yml

add to package json
  starsky-tools/build-tools/package.json
Due: none

add env option
  azure-pipelines-starsky.starskyapp.yml
Due: none

add extra check
  azure-pipelines-starsky.starskyapp.yml
  starsky-tools/build-tools/release-version-check.js
  starsky/build.cake
Due: azure-pipelines-starsky.yml

add data
  starsky-tools/build-tools/release-version-check.js
Due: none

add build env
  starsky-tools/build-tools/release-version-check.js
Due: none

env to pipeline
  azure-pipelines-starsky.yml
Due: none

fix
  starsky-tools/build-tools/release-version-check.js
Due: none

comment
  starsky-tools/build-tools/release-version-check.js
Due: none

[DocsUpdateBot] Auto commited html update
  docs/azure-pipelines-starsky.yml
Due: none

Update release-on-tag-netcore-electron.yml
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
