Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

update changelog
  history.md
Due: none

add remove afterwards
  starsky/starskytest/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/QueueProcessorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra build script
  starsky/build.cake
  starsky/starsky/clientapp/package.json
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/assets/download/download.html
  docs/history.html
  docs/starsky-tools/end2end/readme.html
Due: none

code smell
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add info
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.accountmanagement/Extensions/UseBasicAuthenticationExtensions.cs
  starsky/starsky.foundation.accountmanagement/Extensions/UseNoAccountLocalhostExtensions.cs
  starsky/starsky.foundation.accountmanagement/Helpers/IsLocalhost.cs
  starsky/starsky.foundation.accountmanagement/Interfaces/IUserManager.cs
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add Check if login has entity in database
  starsky/starsky.foundation.accountmanagement/Extensions/UseCheckIfAccountExistMiddlewareExtensions.cs
  starsky/starsky.foundation.accountmanagement/Interfaces/IUserManager.cs
  starsky/starsky.foundation.accountmanagement/Middleware/CheckIfAccountExistMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/FakeMocks/FakeUserManagerActiveUsers.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/CheckIfAccountExistMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/ApplicationInsightsJsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.accountmanagement/Helpers/IsLocalhost.cs
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/FakeMocks/FakeUserManagerActiveUsers.cs
  starsky/starskytest/starsky.foundation.accountmangement/Helpers/IsLocalhostTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/CheckIfAccountExistMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/NoAccountLocalhostMiddlewareTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra null tests
  starsky/starsky.foundation.accountmanagement/Middleware/CheckIfAccountExistMiddleware.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/CheckIfAccountExistMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
  starsky/starskytest/starsky.foundation.platform/Middleware/NoAccountLocalhostMiddlewareTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add env for app
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky-tools/end2end/readme.html
Due: none

small fixes
  starsky/build.cake
  starsky/starskytest/starsky.foundation.worker/BackgroundTaskQueueTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky-tools/end2end/readme.html
Due: none

add warning
  starsky/starsky/clientapp/src/containers/login.spec.tsx
  starsky/starsky/clientapp/src/containers/login.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

data test
  starsky/starsky/clientapp/src/containers/login.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky-tools/mock/set-router.js
  starsky/starsky/clientapp/src/containers/login.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

change version
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

log counter
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Helpers/SetupAppSettings.cs
  starsky/starsky/Startup.cs
  starskyapp/src/app/child-process/electron-cache-location.ts
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/startup/app-settings.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix env issues
  starsky/nuget-packages-list.json
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/Startup.cs
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix mangle issue
  docs/starsky-tools/end2end/readme.html
  starsky-tools/docs/docs.js
Due: none

fix: starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj to reduce vulnerabilities
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

remove old views && fix some but not all e2e tests
  starsky-tools/end2end/cypress/integration/02-login/02-login.ts
  starsky-tools/end2end/cypress/integration/02-login/config.json
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/config.json
  starsky/starsky/Views/Account/ChangePassword.cshtml
  starsky/starsky/Views/Account/ConfirmEmail.cshtml
  starsky/starsky/Views/Account/Register.cshtml
  starsky/starsky/Views/Account/ResetPasswordConfirmation.cshtml
  starsky/starsky/Views/Account/SignedOut.cshtml
  starsky/starsky/Views/Account/_StatusMessage.cshtml
  starsky/starsky/Views/_ViewImports.cshtml
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix cypress tests
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky-tools/end2end/cypress/integration/helpers/create-directory-helper.ts
  starsky/starsky.foundation.database/Models/ImportIndexItem.cs
  starsky/starsky/Controllers/MemoryCacheDebugController.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add azure to script
  starsky-tools/end2end/package.json
Due: none
