Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.201
    inputs:
      packageType: sdk
      version: 3.1.201
      installationPath: $(Agent.ToolsDirectory)/dotnet
      enabled: false
  - task: PowerShell@2
  ...

fix unit tests
  starsky/starskytest/starsky.foundation.writemeta/JsonService/FileIndexItemJsonWriterTest.cs
Due: azure-pipelines-starsky.yml

Update starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
Due: none

Update starsky-dotnetcore-windows.yml
  .github/workflows/starsky-dotnetcore-windows.yml
Due: none

Update starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

[azure pipeline] upgrade sdk
  azure-pipelines-starsky.yml
Due: none

update docs
  starsky/readme.md
Due: azure-pipelines-starsky.yml

update dependencies
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky.yml

upgrade dependencies
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

update deps
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/azure-pipelines-starsky.yml
  docs/starsky/readme.html
Due: none

update dependencies
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
Due: azure-pipelines-starsky.netframework-msbuild.yml

[docs] add upgrade instruction
  docs/starsky/readme-docker-instructions.html
  docs/starsky/readme.html
  starsky-tools/docs/docs.js
  starsky/readme-docker-instructions.md
  starsky/readme-upgrade-net-core.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

update storybook deps
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky.yml

[docs] version upgrade net core
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add playback for video
  starskyapp/lib/main-window.js
Due: azure-pipelines-starsky.starskyapp.yml

add to changelog
  history.md
Due: none

fix for issue 52
  starskyapp/lib/app-menu.js
  starskyapp/lib/main-window.js
Due: azure-pipelines-starsky.starskyapp.yml

add comment
  starskyapp/lib/app-menu.js
Due: azure-pipelines-starsky.starskyapp.yml

fix for issue 54
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
Due: azure-pipelines-starsky.yml

add changelog
  history.md
Due: none

[azure-pipeline] update version 3.1.300
  azure-pipelines-starsky.starskyapp.yml
  starsky/readme-upgrade-net-core.md
Due: azure-pipelines-starsky.yml

upgrade version to 0.2.7
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add text files
  starsky/readme-upgrade-net-core.md
  starsky/starsky.sln
Due: azure-pipelines-starsky.yml

update version
  azure-pipelines-starsky.starskyapp.yml
  azure-pipelines-starsky.yml
Due: none

Upgrade Project to 3.1.5 and SDK 3.1.301
  starsky/readme-upgrade-net-core.md
  starsky/readme.md
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/azure-pipelines-starsky.yml
Due: none

upgrade nuget packages
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

upgrade versions
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
Due: azure-pipelines-starsky.yml

fix legacy project
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
Due: azure-pipelines-starsky.netframework-msbuild.yml

app version to 0.2.7
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/readme.html
Due: none

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework
