Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

enable collections
  starsky/starsky/clientapp/src/components/organisms/modal-detailview-rename-file/modal-detailview-rename-file.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-detailview-rename-file/modal-detailview-rename-file.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

upgrade version
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/watch-for-changes.js
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml

change cache time to 1 minute for info api
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
Due: azure-pipelines-starsky.yml

refactor to preflight method
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

making feature easier to read
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky.yml

add WIP code
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

add tests ++ fixes for edge cases
  history.md
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

remove unused code
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky.yml

add test ++ make docs more clear
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

also remove item
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

remove object feature
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

add exception test
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

test move sidecar file
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

update changelog
  docs/history.html
Due: none

File to Deleted Update Sidecar files
  history.md
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

fix issue where renaming extension did fail
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky.yml

add test for storage provider ++ update changelog
  docs/history.html
  history.md
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starskytest/Services/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/Services/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky.yml

add folder delete test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky.yml

fix test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky.yml

change to tommorow
  history.md
Due: none

add extra headers to improve browser security
  SECURITY.md
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

add test
  history.md
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
Due: azure-pipelines-starsky.yml

add docs/* as gitattributes
  .gitattributes
Due: none

it should fix the test
  starsky/build.cake
  starsky/starskytest/FakeMocks/FakeISynchronize.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

disable and fix tests
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncSingleFileTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/FileProcessorTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

not very helpfull yet
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
Due: azure-pipelines-starsky.yml

typo
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky.yml

fix merge error
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.yml

read only
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.yml

add tests
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starskytest/Controllers/SynchronizeControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

code smells
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IFileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/FakeMocks/FakeIFileSystemWatcherWrapper.cs
Due: azure-pipelines-starsky.yml

update docs html
  docs/history.html
Due: none

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
