Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.201
    inputs:
      packageType: sdk
      version: 3.1.201
      installationPath: $(Agent.ToolsDirectory)/dotnet
      enabled: false
  - task: PowerShell@2
  ...

Hope this doenst break everything
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky/clientapp/src/contexts/detailview-context.spec.tsx
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky.yml

add build example
  starsky/build.cake
Due: azure-pipelines-starsky.yml

windows fixes
  starsky/build.cake
  starsky/build.vstest.runsettings
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
Due: azure-pipelines-starsky.yml

remove unused csproj
  starsky/starsky.foundation.query/starsky.foundation.query.csproj
Due: azure-pipelines-starsky.yml

fix spec
  starsky/starsky.foundation.storage/Services/StructureService.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
Due: azure-pipelines-starsky.yml

should aways end on /
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky.yml

add example
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
Due: azure-pipelines-starsky.yml

test
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Query/InjectServiceScope.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky.yml

test with service scope
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Query/InjectServiceScope.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.foundation.database/Import/ImportQueryTest.cs
Due: azure-pipelines-starsky.yml

one test to go
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.platform/Helpers/RunMultiThreading.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.database/Query/QueryTest.cs
  starsky/starskytest/starsky.foundation.database/Query/QueryTestNoCacheTest.cs
Due: azure-pipelines-starsky.yml

fix null ref
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky.yml

save state
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.platform/Helpers/RunMultiThreading.cs____
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky.yml

ServiceLifetime.Transient
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky.yml

remove slash at end ++ add catch for dispose
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky.foundation.storage/Services/StructureService.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starskytest/Controllers/RedirectControllerTest.cs
  starsky/starskytest/starsky.foundation.storage/Services/StructureServiceTest.cs
Due: azure-pipelines-starsky.yml

create test folder ++ cw
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starskytest/Services/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.storage/Services/StructureServiceTest.cs
Due: azure-pipelines-starsky.yml

enabled: false
  azure-pipelines-starsky.yml
Due: none

client enabled
  azure-pipelines-starsky.yml
Due: none

update namespace ++ remove unused file
  starsky/starsky.foundation.platform/Helpers/RunMultiThreading.cs____
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky.yml

include framework again ++ update history
  history.md
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

remove old feature from docs and add why comment
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky/starsky.csproj
  starsky/starskyimportercli/readme.md
Due: azure-pipelines-starsky.yml

update deps
  starsky/starsky.feature.webhtmlpublish/Services/LoopPublications.cs
  starsky/starsky.feature.webhtmlpublish/Services/ParseRazor.cs
  starsky/starsky.feature.webhtmlpublish/ViewModels/WebHtmlViewModel.cs
  starsky/starsky.feature.webhtmlpublish/WebHtmlPublish/EmbeddedViews/Autopost.cshtml
  starsky/starsky.feature.webhtmlpublish/WebHtmlPublish/EmbeddedViews/Index.cshtml
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

add frameworkref
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

no framework ref
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
Due: azure-pipelines-starsky.yml

https://stackoverflow.com/questions/44907819/microsoft-aspnetcore-hosting-abstractions-manifest-definition-does-not-match-the
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

enable use step again
  azure-pipelines-starsky.yml
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

add fail for pm2-warmup
  starsky/starsky/pm2-warmup.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.yml

update pipeline name
  readme.md
Due: none

WIP on legacy app ++ change ++ update parallel
  starsky.netframework/starsky.netFramework.sln
  starsky.netframework/starskyImporterNetFrameworkCli/Program.cs
  starsky.netframework/starskyImporterNetFrameworkCli/packages.config
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskyNetFrameworkShared/ConfigCliAppsStartupHelperNetFramework.cs
  starsky.netframework/starskyNetFrameworkShared/packages.config
  starsky.netframework/starskyNetFrameworkShared/starskyNetFrameworkShared.csproj
  starsky.netframework/starskySyncNetFrameworkCli/Program.cs
  starsky.netframework/starskySyncNetFrameworkCli/packages.config
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Extensions/EnumerableExtensions.cs
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

change way import work
  starsky.netframework/starsky.netFramework.sln
  starsky.netframework/starskyImporterNetFrameworkCli/packages.config
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Extensions/EnumerableExtensions.cs
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

allow sharing files ++ add isConnection
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky.yml

add catch for disposed object in background threath
  starsky.netframework/starskyImporterNetFrameworkCli/App.config
  starsky.netframework/starskyImporterNetFrameworkCli/Properties/AssemblyInfo.cs
  starsky.netframework/starskyImporterNetFrameworkCli/packages.config
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskyNetFrameworkShared/ExifToolLegacy.cs
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

_context.Attach(updateStatusContent).State = EntityState.Modified;
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.yml

update importer
  starsky.netframework/starsky.netFramework.sln
  starsky.netframework/starskyImporterNetFrameworkCli/Program.cs
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQuery.NetFramework.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Interfaces/IImportQuery.cs
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.NetFramework.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.writemeta/Services/ExifTool.cs
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

update mocks
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
Due: azure-pipelines-starsky.yml

AddRange file ++ move colorclass to preflight
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Query/Query.NetFramework.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky.yml

add overwrite for legacy
  starsky.netframework/build.cake
  starsky.netframework/starsky.netFramework.sln
  starsky.netframework/starskyNetFrameworkShared/ConfigCliAppsStartupHelperNetFramework.cs
  starsky.netframework/starskyNetFrameworkShared/ExifToolCmdLegacyHelper.cs
  starsky.netframework/starskyNetFrameworkShared/ExifToolLegacy.cs
  starsky.netframework/starskyNetFrameworkShared/Properties/AssemblyInfo.cs
  starsky.netframework/starskyNetFrameworkShared/app.config
  starsky.netframework/starskyNetFrameworkShared/packages.config
  starsky.netframework/starskyNetFrameworkShared/starskyNetFrameworkShared.csproj
  starsky.netframework/starskySyncNetFrameworkCli/Program.cs
  starsky.netframework/starskySyncNetFrameworkCli/Properties/AssemblyInfo.cs
  starsky.netframework/starskySyncNetFrameworkCli/app.config
  starsky.netframework/starskySyncNetFrameworkCli/packages.config
  starsky/starsky.foundation.database/Import/ImportQuery.NetFramework.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

make sync cli using dependency injection ++ share code between legacy and net core
  starsky.netframework/build.cake
  starsky.netframework/build.ps1
  starsky.netframework/build.sh
  starsky.netframework/starskySyncNetFrameworkCli/Program.cs
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IThumbnailCleaner.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starskycore/Interfaces/ISync.cs
  starsky/starskycore/Services/SyncServiceCli.cs
  starsky/starskysynccli/Program.cs
  starsky/starskytest/FakeMocks/FakeISync.cs
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml

Create dotnetcore.yml
  .github/workflows/dotnetcore.yml
Due: none

Update dotnetcore.yml
  .github/workflows/dotnetcore.yml
Due: none

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework
