Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

Update readme.md
  readme.md
Due: none

undo changes
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky.sln
  starsky/starskytest/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcherTest.cs
  starsky/starskytest/starskyImporterCli/starskyImporterCliProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update shared-web-only.yml for Azure Pipelines
  pipelines/azure/shared-web-only.yml
Due: none

self contained true
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update release-on-tag-netcore-desktop-electron.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
Due: none

use set open handle
  starskyapp/src/app/main-window/create-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

use system set env
  starsky/build.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  history.md
  starskyapp/src/app/main-window/create-main-window.spec.ts
  starskyapp/src/app/settings-window/create-settings-window.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

WIP
  starsky/starsky/clientapp/src/shared/document-title.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/shared/document-title.spec.ts
  starsky/starsky/clientapp/src/shared/document-title.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

duplicate code
  starsky/starsky/clientapp/src/shared/document-title.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

WIP
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/contexts/sorter.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add log
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/contexts/sorter.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change order
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/contexts/sorter.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

lint fix
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

code smell
  starsky/starsky/clientapp/src/contexts/sorter.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade express from 4.17.1 to 4.17.2
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

fix for new window 2
  starskyapp/package.json
  starskyapp/src/app/main-window/create-main-window.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

Change default setting
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCli.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IThumbnailService.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  history.md
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make AI names more clear
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add stop function for swagger
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Helpers/SwaggerExportHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starskytest/FakeMocks/FakeIApplicationLifetime.cs
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Create auto-update-swagger-dotnet.yml
  .github/workflows/auto-update-swagger-dotnet.yml
Due: none

usings
  starsky/starskytest/FakeMocks/FakeIApplicationLifetime.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starskytest/FakeMocks/FakeIApplicationLifetime.cs
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
