Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

typo
  documentation/docs/getting-started/raspberry-pi.md
Due: pipelines/azure/documentation.yaml

fix links
  documentation/docs/getting-started/troubleshooting/docker.md
  documentation/docs/getting-started/troubleshooting/performance.md
Due: pipelines/azure/documentation.yaml

bugfix
  history.md
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix for issue #859
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
  starsky/starsky/clientapp/src/style/css/31-modal-move.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix translations
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

rm using
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  documentation/docs/features/search.md
  documentation/docs/getting-started/desktop.md
  documentation/docs/readme.md
Due: pipelines/azure/documentation.yaml

fix nightly
  pipelines/azure/nightly-ci.yml
Due: none

add try to upload
  pipelines/azure/steps/upload_documentation.yml
  starsky-tools/release-tools/ftp-upload.ps1
  starsky-tools/release-tools/ftp-upload.sh
Due: none

remove prefix
  pipelines/azure/steps/upload_documentation.yml
Due: none

upload
  pipelines/azure/steps/upload_documentation.yml
  starsky-tools/release-tools/ftp-upload.ps1
Due: none

config fixes
  starsky/starsky/Controllers/CpuTestController.cs
  starskydesktop/src/app/config/location-settings.const.ts
  starskydesktop/src/app/config/remember-url-settings.const.ts
  starskydesktop/src/app/config/update-policy-settings.const.ts
  starskydesktop/src/app/error-window/create-error-window.ts
  starskydesktop/src/app/updates-warning-window/updates-warning-window.ts
  starskydesktop/src/app/warmup/splash.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix linting
  starskydesktop/package.json
  starskydesktop/src/app/config/location-settings.const.ts
  starskydesktop/src/app/error-window/create-error-window.ts
  starskydesktop/src/app/updates-warning-window/updates-warning-window.ts
  starskydesktop/src/app/warmup/splash.ts
Due: none

make colorclass sticky
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/containers/archive.tsx
  starsky/starsky/clientapp/src/style/css/26-colorfilter.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

display sort
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/style/css/26-colorfilter.css
  starsky/starsky/clientapp/src/style/images/baseline-sort-24px.svg
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add dark mode shadow
  starsky/starsky/clientapp/src/style/css/26-colorfilter.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

hope this helps
  pipelines/azure/steps/upload_documentation.yml
Due: none

upload as artifact
  pipelines/azure/documentation.yaml
  pipelines/azure/steps/upload_documentation.yml
Due: none

add double zip
  pipelines/azure/documentation.yaml
  starsky-tools/release-tools/docs-azure-devops-download.sh
Due: none

hope this helps
  pipelines/azure/documentation.yaml
  starsky-tools/build-tools/app-version-update.js
Due: none

Auto commited Application Version update
  documentation/package.json
Due: pipelines/azure/documentation.yaml

change to build folder
  pipelines/azure/documentation.yaml
Due: none

add version to docs
  documentation/scripts/postbuild.js
Due: pipelines/azure/documentation.yaml

fix path
  pipelines/azure/documentation.yaml
Due: none

add idea
  starsky/starsky/clientapp/src/components/organisms/toast-wrapper/toast-wrapper.tsx
  starsky/starsky/clientapp/src/providers/toast-config.ts
  starsky/starsky/clientapp/src/providers/toast-provider.tsx
  starsky/starsky/clientapp/src/router-app/router-app.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add clean
  starsky-tools/release-tools/docs-azure-devops-download.sh
Due: none

update docs
  documentation/docs/developer-guide/readme.md
  documentation/docs/developer-guide/technologies/yaml.md
  documentation/docs/features/stacks.md
  documentation/docs/getting-started/docker-compose.md
  documentation/docs/getting-started/docker.md
  documentation/docs/getting-started/raspberry-pi.md
  documentation/docs/getting-started/troubleshooting/browsers.md
  documentation/docs/getting-started/troubleshooting/mariadb.md
Due: pipelines/azure/documentation.yaml

fixing docker deps
  starsky/Dockerfile
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskydemoseedcli/Program.cs
  starsky/starskygeocli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog && update test
  history.md
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starskytest/starsky.feature.demo/Services/CleanDemoDataServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.demo/Services/CleanDemoDataService.cs
  starsky/starskytest/starsky.feature.demo/Services/CleanDemoDataServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Dockerfile
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

version bumb 0.5.1
  starsky-tools/build-tools/app-version-update.js
Due: none

Update history.md
  history.md
Due: none

Update documentation.yaml for Azure Pipelines
  pipelines/azure/documentation.yaml
Due: none

WIP
  documentation/documentation.code-workspace
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-datetime/detailview-info-datetime.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-location/detailview-info-location.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/modal-geo.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.stories.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.spec.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.stories.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
  starsky/starsky/clientapp/src/pages/preferences-page.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

update geo location element
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/modal-geo.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/modal-geo.tsx
  starsky/starsky/clientapp/src/shared/tile-layer-location.const.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/30-modal.css
  starsky/starsky/clientapp/src/style/css/31-modal-geo.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
