Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add back
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#2657)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#2660)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

remove
  starsky/starsky.foundation.database/Migrations/20260126112553_IndexFixSizeToBig.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

log ending
  starsky/starsky.feature.cloudimport/Services/CloudImportScheduledService.cs
  starsky/starskytest/starsky.feature.cloudimport/Services/CloudImportScheduledServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

v.0.7.9 keep a changelog
  history.md
Due: none

remove using v079
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

improve logging
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

improve logging (#2662)
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/ImageSharp/ResizeThumbnailFromSourceImageHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update default JDK version to JDK24 for SonarQube
  pipelines/azure/steps/use_jdk_powershell.yml
Due: none

Update default JDK version to JDK24 for SonarQube (#2663)
  pipelines/azure/steps/use_jdk_powershell.yml
Due: none

WIP
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrectionRequest.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.platform/Enums/ApiNotificationType.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.bak
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Refactor this method to reduce its Cognitive Complexity from 18 to the 15 allowed.
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

static
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sealed
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202601 time correct (#2647)
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrectionRequest.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.platform/Enums/ApiNotificationType.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#2664)
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

front-end
  starsky/starsky/clientapp/src/components/molecules/menu-option-timezone-shift/index.ts
  starsky/starsky/clientapp/src/components/molecules/menu-option-timezone-shift/menu-option-timezone-shift.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-timezone-shift/menu-option-timezone-shift.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/README.md
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/index.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
  starsky/starsky/clientapp/src/interfaces/ITimezone.ts
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/31-modal-timezone-shift.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

various fixes
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starsky/clientapp/src/components/molecules/menu-option-timezone-shift/menu-option-timezone-shift.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/README.md
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/generate-offset-preview.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
  starsky/starsky/clientapp/src/shared/date.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/31-modal-timezone-shift.css
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIp
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/index.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-load-timezones.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-offset-state.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-preview-state.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-reset-on-close.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-shift-mode.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-timezone-state.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/execute-shift.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/generate-offset-preview.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/generate-timezone-preview.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/load-timezones.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-mode-selection.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-offset-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
  starsky/starsky/clientapp/src/interfaces/ITimezone.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

various fixes
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneDisplay.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/index.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-preview-state.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-reset-on-close.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/hooks/use-timezone-state.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/index.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/execute-shift.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/generate-offset-preview.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/generate-timezone-preview.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/load-timezones.ts
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-offset-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
  starsky/starsky/clientapp/src/interfaces/ITimezone.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/31-modal-timezone-shift.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

feature/202601-datetime-shifting
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneDisplay.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix controllers
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove nullable
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update tests
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
