Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

nuget updates
  starsky/build/_build.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add Cache control header for cloudfare configs
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/internal/remove-cache.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/internal/remove-cache.ts
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/shared/export/export-interval-update.spec.ts
  starsky/starsky/clientapp/src/shared/export/export-interval-update.ts
  starsky/starsky/clientapp/src/shared/fetch/cache-control.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1839 Update history.md
  history.md
Due: none

add headers to not cache result
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Helpers/CacheControlOverwrite.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/starsky/Helpers/CacheControlOverwriteTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add no cache header
  starsky/starsky/Controllers/ExportController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @docusaurus/types from 3.0.0 to 3.6.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/module-type-aliases from 3.5.2 to 3.6.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/tsconfig from 3.5.2 to 3.6.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

code smells reformat appSettingsList.FirstOrDefault()!; -> [0]
  starsky/starsky.foundation.platform/Helpers/SetupAppSettings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1844 var title = readGpxFile.FirstOrDefault()?.Title ?? string.Empty; && reformat
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaGpx.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1844 rm first or default
  starsky/starsky/Controllers/MetaUpdateController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Changed) _Back-end_ Small readablity fixes to avoid code smells (PR #1844)
  history.md
Due: none

remove check
  starsky/starskytest/starsky.project.web/Helpers/PortProgramHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starsky-tools/thumbnail/package.json & starsky-tools/thumbnail/package-lock.json to reduce vulnerabilities
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade eslint-plugin-storybook from 0.10.1 to 0.11.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

externsions tests
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
  starsky/starskytest/starsky.project.web/Helpers/FilenameHelpersTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1849 add http tests
  starsky/starskytest/starsky.project.web/Helpers/FilenameHelpersTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1849 more test cases
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.project.web/Helpers/FilenameHelpersTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1849 add test cases
  starsky/starskytest/starsky.project.web/Helpers/FilenameHelpersTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Portmapper
  starsky/starsky.project.web/Helpers/PortProgramHelper.cs
  starsky/starskytest/starsky.project.web/Helpers/Models/AppSettingsExampleModel.cs
  starsky/starskytest/starsky.project.web/Helpers/PortProgramHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1850 nullable
  starsky/starskytest/starsky.project.web/Helpers/Models/AppSettingsExampleModel.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1850 keep a changelog
  history.md
Due: none

#1838 nuke breaking changes SetProcessArgumentConfigurator > AddProcessAdditionalArguments
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1838 update
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1838 remove error & update json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

node version update
  starsky/.nvmrc
  starskydesktop/.nvmrc
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add wrapper
  starsky/starsky.foundation.video/GetDependencies/FFMpegDownload.cs
  starsky/starsky.foundation.video/GetDependencies/Models/FfmpegBinariesIndex.cs
  starsky/starsky.foundation.video/GetDependencies/OperationSystemPlatforms.bak
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix sonarscanner for desktop
  starskydesktop/.gitignore
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/sonar-scanner.js
Due: pipelines/azure/app-ci.yml

Update desktop-electron-sonarqube-missing-net-dependency.yml
  .github/workflows/desktop-electron-sonarqube-missing-net-dependency.yml
Due: none

Update desktop-electron-pr-build-mac-win.yml
  .github/workflows/desktop-electron-pr-build-mac-win.yml
Due: none

rm rf consolelog
  starskydesktop/sonar-scanner.js
Due: pipelines/azure/app-ci.yml

fix: upgrade @docusaurus/tsconfig from 3.5.2 to 3.6.1
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/types from 3.6.0 to 3.6.1
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/module-type-aliases from 3.6.0 to 3.6.1
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

#1833 add parsing data
  starsky/starsky.foundation.video/GetDependencies/FFMpegDownload.cs
  starsky/starsky.foundation.video/GetDependencies/FfMpegDownloadIndex.cs
  starsky/starsky.foundation.video/GetDependencies/Models/FfmpegBinariesIndex.cs
  starsky/starsky.foundation.video/starsky.foundation.video.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 url
  starsky-tools/build-tools/download-mirror-ffmpeg.sh
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
