Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

fix for hide when updating video file from archive
  starsky/starsky/clientapp/.vscode/extensions.json
  starsky/starsky/clientapp/.vscode/launch.json
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add docs
  documentation/docs/assets/developer-guide-getting-started-with-clientapp-vscode-debug.jpg
  documentation/docs/developer-guide/getting-started-with-clientapp/readme.md
  documentation/docs/developer-guide/technologies/_category_.json
Due: pipelines/azure/documentation.yaml

- [x] (Fixed) _Front-end_ When updating video files in archive mode those are not hidden (PR #2709)
  documentation/docs/developer-guide/getting-started-with-clientapp/readme.md
  history.md
Due: pipelines/azure/documentation.yaml

Feature/202602 update xmp video file hide (#2709)
  documentation/docs/assets/developer-guide-getting-started-with-clientapp-vscode-debug.jpg
  documentation/docs/developer-guide/getting-started-with-clientapp/readme.md
  documentation/docs/developer-guide/technologies/_category_.json
  history.md
  starsky/starsky/clientapp/.vscode/extensions.json
  starsky/starsky/clientapp/.vscode/launch.json
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/contexts/sorter.spec.ts
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

typos
  history.md
Due: none

add idea
  starsky/starsky/clientapp/src/components/molecules/menu-desktop-inline-search/menu-desktop-inline-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/style/css/10-menu.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fast tags
  starsky/starsky.feature.search/Interfaces/ISearchSuggest.cs
  starsky/starsky.feature.search/Services/SearchSuggestionsService.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

allow system
  starsky/starsky.feature.search/Services/SearchSuggestionsService.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tag auto complete
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/27-tag-autocomplete.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/arrow-key-down.ts
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/arrow-key-down.spec.ts
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/arrow-key-down.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/style/css/27-tag-autocomplete.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tmp
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/tag-autocomplete.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move and add changelog
  history.md
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202602 fast tags (#2711)
  history.md
  starsky/starsky.feature.search/Interfaces/ISearchSuggest.cs
  starsky/starsky.feature.search/Services/SearchSuggestionsService.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/arrow-key-down.spec.ts
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/arrow-key-down.ts
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/27-tag-autocomplete.css
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#2713)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Add tag auto complete to detailview
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes for darkmode
  starsky/starsky/clientapp/src/style/css/16-searchable-dropdown.css
  starsky/starsky/clientapp/src/style/css/27-tag-autocomplete.css
  starsky/starsky/clientapp/src/style/css/31-modal-timezone-shift.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2719
  history.md
Due: none

fixes for darkmode (#2719)
  history.md
  starsky/starsky/clientapp/src/style/css/16-searchable-dropdown.css
  starsky/starsky/clientapp/src/style/css/27-tag-autocomplete.css
  starsky/starsky/clientapp/src/style/css/31-modal-timezone-shift.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add prop
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  documentation/blog/20260201-timezone-shifting.md
  documentation/blog/20260209-tag-autocomplete.md
  documentation/docs/features/metadata.md
  documentation/docusaurus.config.ts
  documentation/src/pages/index.tsx
  history.md
Due: pipelines/azure/documentation.yaml

Add tag auto complete to detailview (#2714)
  documentation/blog/20260201-timezone-shifting.md
  documentation/blog/20260209-tag-autocomplete.md
  documentation/docs/features/metadata.md
  documentation/docusaurus.config.ts
  documentation/src/pages/index.tsx
  history.md
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

update npm packages
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package-lock.json
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

update npm packages (#2720)
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package-lock.json
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

setCaretToEnd
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select-keyboard.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select-keyboard.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/containers/detailview/helpers/move-folder-up.spec.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/move-folder-up.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
  starsky/starsky/clientapp/src/shared/keyboard/keyboard-caret.spec.ts
  starsky/starsky/clientapp/src/shared/keyboard/keyboard.spec.ts
  starsky/starsky/clientapp/src/shared/keyboard/keyboard.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/shared/keyboard/keyboard-caret.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
