Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

remove unused code && fix parameters
  pipelines/azure/develop-ci.yml
  pipelines/azure/steps/build_clientapp.yml
  pipelines/azure/steps/cache_nuget_packages.yml
  pipelines/azure/steps/coverage_report_merge.yml
Due: none

temp
  pipelines/azure/develop-ci.yml
Due: none

move
  pipelines/azure/develop-ci.yml
Due: none

add ls
  pipelines/azure/develop-ci.yml
Due: none

add path
  pipelines/azure/develop-ci.yml
Due: none

add index
  pipelines/azure/develop-ci.yml
Due: none

fix
  pipelines/azure/develop-ci.yml
Due: none

delete child directories
  starsky/starsky.feature.metaupdate/Services/DeleteItem.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/DeleteItemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

this should fix duplicates in results
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add delete query
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add safe guard
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
Due: none

code smell
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra wait
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
Due: none

add tests
  starsky/starsky/clientapp/src/components/organisms/modal-force-delete/modal-force-delete.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test for case2
  starsky/starskytest/Controllers/SyncControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

updated items
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

code smells
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaExif.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

do nothing on function && to for-of loop
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change for loop
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add nightly script && audit script
  pipelines/azure/jobs/server.yml
  pipelines/azure/nightly-ci.yml
  pipelines/azure/steps/audit_npm.yml
  starsky-tools/build-tools/audit-npm.ps1
Due: none

npm audit fix
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

npm update
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add check for electron app
  pipelines/azure/nightly-ci.yml
Due: none

upgrade electron to 12.x
  pipelines/azure/nightly-ci.yml
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

depth
  pipelines/azure/nightly-ci.yml
  pipelines/azure/steps/audit_npm.yml
Due: none

fix depth
  pipelines/azure/steps/audit_npm.yml
Due: none

change depth
  pipelines/azure/nightly-ci.yml
Due: none

try 0
  pipelines/azure/nightly-ci.yml
Due: none

npm update packages
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

0
  pipelines/azure/nightly-ci.yml
Due: none

upgrade clientapp 4.0.3
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

node types to 14.x
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add cron and disable pr builds
  pipelines/azure/nightly-ci.yml
Due: none

schedules:
  pipelines/azure/nightly-ci.yml
Due: none

oops removed build and test, start
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update history
  history.md
Due: none

e2e hotfix
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
Due: none
