Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

sonar 22
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 22
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 22
  starsky/starsky/clientapp/src/hooks/use-global-settings.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 22
  starsky/starsky/clientapp/src/shared/data.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 22
  .editorconfig
  starsky/starsky/clientapp/src/shared/sidebar-update.spec.ts
  starsky/starskytest/Controllers/SearchSuggestControllerTest.cs
  starsky/starskytest/Helpers/FileIndexCompareHelperTest.cs
  starsky/starskytest/starsky.feature.cloudimport/DropboxCloudImportClientTest.cs
  starsky/starskytest/starsky.feature.cloudimport/Services/CloudImportServiceTest.cs
  starsky/starskytest/starsky.feature.rename/Services/BatchRenameServiceTest.cs
  starsky/starskytest/starsky.feature.search/ViewModels/SearchViewModelTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Services/LocalFileSystemPublishServiceTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Helpers/Pbkdf2HasherTests.cs
  starsky/starskytest/starsky.foundation.database/Helpers/BreadcrumbHelperTest.cs
  starsky/starskytest/starsky.foundation.database/Models/FileIndexItemTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllFilesTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.injection/ServiceCollectionExtensionsTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/MountWatcher/BaseMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/MountWatcher/Linux/UdevWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/MountWatcher/LinuxMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/MountWatcher/MacMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/MountWatcher/WindowsMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindowsTest.cs
  starsky/starskytest/starsky.foundation.platform/Architecture/DotnetRuntimeNamesTests.cs
  starsky/starskytest/starsky.foundation.platform/Extensions/EnumerableExtensionsTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/JsonConverter/EnumListConverterTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/CloudImportSettingsTest.cs
  starsky/starskytest/starsky.foundation.platform/Thumbnails/ThumbnailSizesTests.cs
  starsky/starskytest/starsky.foundation.storage/Helpers/StreamGetFirstBytesTest.cs
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/Helpers/StreamPrimitivesTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/JpegExifPreviewExtractorTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleanerTest.cs
  starsky/starskytest/starsky.foundation.worker/Backends/RabbitMqQueueBackendTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

sonar 22b
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/get-video-class-name.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/containers/login.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.spec.tsx
  starsky/starsky/clientapp/src/shared/file-extensions.spec.ts
  starsky/starsky/clientapp/src/shared/sidebar-update.spec.ts
  starsky/starskytest/starsky.foundation.worker/Backends/RabbitMqChannelAdapterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#3163)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WIP
  windows/starsky.Tests/starsky.Tests.csproj
  windows/starsky.csproj
Due: none

Feature/202607 sonar 22b (#3166)
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/get-video-class-name.spec.ts
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/containers/login.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.spec.tsx
  starsky/starsky/clientapp/src/shared/file-extensions.spec.ts
  starsky/starskytest/starsky.foundation.worker/Backends/RabbitMqChannelAdapterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp (#3167)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

sonar 27
  starsky/starsky.feature.cloudimport/Clients/DropboxCloudImportClient.cs
  starsky/starsky.feature.metaupdate/Services/DeleteItem.cs
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.feature.rename/DateTimeRepair/Services/FilenameDatetimeRepairService.cs
  starsky/starsky.feature.rename/Helpers/FileItemsQueryHelpers.cs
  starsky/starsky.feature.rename/Services/BatchRenameService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.foundation.accountmanagement/Middleware/CheckIfAccountExistMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 27
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCli.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.worker/CpuEventListener/CpuUsageListener.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 27
  starsky/starsky.feature.cloudimport/Clients/DropboxCloudImportClient.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202607 sonar 27 (#3185)
  starsky/starsky.feature.cloudimport/Clients/DropboxCloudImportClient.cs
  starsky/starsky.feature.metaupdate/Services/DeleteItem.cs
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.feature.rename/DateTimeRepair/Services/FilenameDatetimeRepairService.cs
  starsky/starsky.feature.rename/Helpers/FileItemsQueryHelpers.cs
  starsky/starsky.feature.rename/Services/BatchRenameService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.foundation.accountmanagement/Middleware/CheckIfAccountExistMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Middleware/NoAccountLocalhostMiddleware.cs
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
  starsky/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcher.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCli.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.worker/CpuEventListener/CpuUsageListener.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3186)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

Optimize publish thumbnail encoding: PNG → WebP for consistency & size
  starsky/starsky.feature.webhtmlpublish/Helpers/ToBase64DataUriList.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/ToBase64DataUriListTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add
  .github/copilot-instructions.md
Due: none

#3188
  history.md
Due: none

Add UnauthorizedAccessException handling tests for CreateDirectory
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  .github/copilot-instructions.md
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Fix platform-specific CreateDirectory behavior: explicit file check
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageTemporaryFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Optimize publish thumbnail encoding: PNG → WebP for consistency & size (#3188)
  .github/copilot-instructions.md
  history.md
  starsky/starsky.feature.webhtmlpublish/Helpers/ToBase64DataUriList.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageTemporaryFilesystem.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/ToBase64DataUriListTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/nuget-packages-list.json
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/Dockerfile
  starsky/readme.md
  starsky/starskytest/starskytest.csproj
  starskydesktop/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

version
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

WIP
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/starsky.feature.demo/Services/CleanDemoDataServiceTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadBackgroundServiceTest.cs
  starsky/starskytest/starsky.feature.realtime/Services/CleanUpConnectionBackgroundServiceTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundServiceTest.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadBackgroundServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starskytest/starsky.project.web/Helpers/PortProgramHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

package list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

update packages
  starsky/build/Build.cs
  starsky/build/_build.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.foundation.worker/starsky.foundation.worker.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
