Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

npm updates
  documentation/package-lock.json
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

upgrade nuget packages
  starsky/build/_build.csproj
  starsky/build/helpers/SonarQube.cs
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update deps
  history.md
  starsky-tools/build-tools/readme.md
  starsky/.config/dotnet-tools.json
  starsky/nuget-packages-list.json
  starsky/starsky.sln
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add data test
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to separate controller
  starsky/starsky.feature.import/Helpers/RemoveTempAndParentStreamFolder.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/ImportThumbnailController.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/Controllers/ImportThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

lint & hope it fixes the test
  starskydesktop/src/app/edit-file/download-binary.spec.ts
Due: none

hope this solves the windows issues
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-folder-from-upload.cy.ts
Due: none

add code
  starsky/starsky.feature.import/Helpers/RemoveTempAndParentStreamFolder.cs
  starsky/starsky/Controllers/ImportThumbnailController.cs
  starsky/starskytest/Controllers/ImportThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smell bugfix
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.import/Helpers/RemoveTempAndParentStreamFolderHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

namespace
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

deviceId
  starsky/starsky.feature.packagetelemetry/Helpers/RandomGenerator.cs
  starsky/starsky.feature.packagetelemetry/Services/DeviceIdService.cs
  starsky/starsky.feature.packagetelemetry/starsky.feature.packagetelemetry.csproj
  starsky/starsky.foundation.settings/Enums/SettingsType.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Services/DeviceIdServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm helper
  starsky/starsky.feature.packagetelemetry/Helpers/RandomGenerator.cs
  starsky/starsky.feature.packagetelemetry/Services/DeviceIdService.cs
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetryBackgroundService.cs
  starsky/starsky.foundation.platform/Helpers/Sha256.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Services/PackageTelemetryBackgroundServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/Sha256Test.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

refactor
  starsky/starsky.feature.thumbnail/Interfaces/IThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starsky.feature.thumbnail/Services/ThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/starsky.feature.thumbnail.csproj
  starsky/starsky.sln
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/Controllers/ThumbnailGenerationControllerTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/ThumbnailGenerationServiceTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

unique id
  starsky/starsky.feature.thumbnail/starsky.feature.thumbnail.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

testung
  starsky-tools/end2end/cypress/e2e/21-archive-from-upload/from-upload.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/helpers/create-directory-helper.cy.ts
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react-dom from 18.0.9 to 18.0.10
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Work in progress
  history.md
  starsky/starsky.feature.thumbnail/Interfaces/IDatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Interfaces/IManualThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/ManualThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IUpdateStatusGeneratedThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/UpdateStatusGeneratedThumbnailService.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/Controllers/ThumbnailGenerationControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/ManualThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add loggings and add test
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/starsky.feature.syncbackground/Helpers/OnStartupSyncTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ideas
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Query/QueryGetObjectsByFileHashAsync.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update texts
  documentation/docs/features/bulk-editing.md
  documentation/docs/features/import.md
  documentation/docs/features/readme.md
  documentation/docs/features/realtime.md
  documentation/docs/features/rename.md
  documentation/docs/features/search.md
  documentation/docs/features/stacks.md
  documentation/docs/features/webhtmlpublish.md
  documentation/docs/readme.md
Due: pipelines/azure/documentation.yaml

fix test
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add dispose test
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFileHashAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/FakeMocks/FakeThumbnailBackgroundTaskQueue.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add half test
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/FakeMocks/FakeIDatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this works
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change test
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add debug && add changelog
  history.md
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

disable publish and clean of cache added
  starsky/starsky/cleanup-build-tools.sh
  starskydesktop/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small fix
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add publish options
  starskydesktop/package.json
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
