Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add debug
  pipelines/azure/shared-web-only.yml
Due: none

debug
  pipelines/azure/shared-web-only.yml
Due: none

test
  pipelines/azure/shared-web-only.yml
Due: none

add container item
  pipelines/azure/shared-web-only.yml
  pipelines/azure/steps/publish_artifacts_containers.yml
Due: none

shallow clone && debug
  pipelines/azure/app-ci.yml
  pipelines/azure/shared-web-only.yml
Due: none

test2
  pipelines/azure/shared-web-only.yml
Due: none

hope this works
  pipelines/azure/shared-web-only.yml
  pipelines/azure/steps/publish_artifacts_containers.yml
Due: none

no PublishReadyToRun
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

-p:PublishReadyToRun=true
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add no create account for security reasons
  starsky-tools/end2end/cypress/config/starsky/no-create-account.json
  starsky-tools/end2end/cypress/integration/00-warmup/config.json
  starsky-tools/end2end/cypress/integration/01-create-account/01-create-account.ts
  starsky-tools/end2end/cypress/integration/01-create-account/config.json
  starsky-tools/end2end/cypress/integration/02-login/config.json
  starsky-tools/end2end/cypress/integration/03-logout/config.json
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/20-archive/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/config.json
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/config.json
  starsky-tools/end2end/cypress/integration/30-search/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky-tools/end2end/cypress/plugins/index.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update readme
  starsky-tools/end2end/readme.md
Due: none

add catch for IOExceptions (mainly windows issues)
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change default log setting && fix test && IOException delete file
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky-tools/end2end/readme.md
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

clear cache before item
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-folder-from-upload.ts
Due: none

add record example
  starsky-tools/end2end/package.json
  starsky-tools/end2end/readme.md
Due: none

add IWebLogger abstraction
  starsky/nuget-packages-list.json
  starsky/starsky.foundation.platform/Interfaces/IWebLogger.cs
  starsky/starsky.foundation.platform/Services/WebLogger.cs
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logger
  starsky/starsky/Helpers/SwaggerExportHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logger
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
  starsky/starsky/Helpers/SwaggerExportHelper.cs
  starsky/starskycore/Services/SearchService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starskycore/Services/SearchService.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaUpdateServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update default setting
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo pdb changes
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

question?
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change from scope to singleton
  starsky/starsky.foundation.platform/Services/WebLogger.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add replace
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry helpers
  starsky/starsky.foundation.platform/Helpers/RetryHelper.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change cake bootstrapper
  starsky.netframework/build.sh
Due: azure-pipelines-starsky.netframework-msbuild.yml

fix casing in comment
  starsky/starsky.foundation.database/Query/QuerySingleItem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

performance tweak
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add why
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add faker logger
  starsky/starskytest/Helpers/SwaggerExportHelperTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaUpdateServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test && add extra tests for making it a little bit faster
  starsky/starsky.feature.metaupdate/Services/MetaPreflight.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaPreflightTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add explicit dispose
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update end2end-on-heroku-demo.yml
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

add logger to upload controller && fix tests
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

parameters
  pipelines/azure/shared-web-only.yml
  pipelines/azure/steps/build_server_shared_runtime.yml
Due: none

add display
  pipelines/azure/steps/cache_nuget_packages.yml
Due: none

try it async
  starsky/starsky.foundation.platform/Helpers/RetryHelper.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope the tests are working
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/upload-filename1.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-folder-from-upload.ts
  starsky-tools/end2end/cypress/integration/helpers/create-directory-helper.ts
  starsky-tools/end2end/cypress/support/commands.ts
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
