Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

change order
  history.md
Due: none

66
  starsky/starsky.foundation.platform/Helpers/Slug/GenerateSlugHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

fix file size
  starsky-tools/build-tools/download-mirror-geonames.sh
Due: none

sonar 30
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.stories.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-select-count/menu-select-count.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/shared/geo.ts
  starsky/starsky/clientapp/src/style/css/03-button.danger-warning.css
  starsky/starsky/clientapp/src/style/css/21-archive-folder-flatlist.css
  starsky/starsky/clientapp/src/style/css/37-video.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade storybook
  starsky-tools/build-tools/clientapp-vite-update.js
  starsky/starsky/clientapp/.storybook/main.ts
  starsky/starsky/clientapp/.storybook/middleware.js
  starsky/starsky/clientapp/.storybook/preview.ts
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/molecules/menu-option-rotate-image-90/menu-option-rotate-image-90.stories.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

run upgrade of packages
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/hooks/___tests___/intersection-observer-mock.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Code smells 2
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.tsx
  starsky/starsky/clientapp/src/style/css/37-video.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add exception handeling for zip files
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
  starsky/starskytest/FakeMocks/FakeIFfMpegDownload.cs
  starsky/starskytest/FakeMocks/FakeIZipper.cs
  starsky/starskytest/starsky.foundation.storage/ArchiveFormats/ZipperTest.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegChmodTests.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegPreflightRunCheckTests.cs
  starsky/starskytest/starsky.foundation.video/Process/FfmpegRunnerTests.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolHostStorageServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add exception handling for files with path
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
  starsky/starskytest/starsky.foundation.storage/ArchiveFormats/ZipperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to interfaces
  starsky/starsky.foundation.storage/ArchiveFormats/Interfaces/IZipper.cs
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to fake
  starsky/starskytest/FakeMocks/FakeIZipper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove misleading comment
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

SetApplicationName add comment
  starsky/starsky.foundation.database/DataProtection/AddDataProtectionKeys.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add using to dispose zip file after usage
  starsky/starsky.foundation.geo/GeoDownload/GeoFileDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  documentation/docs/assets/getting-started-windows-as-server-download-hosting-bundle.jpg
  documentation/docs/assets/getting-started-windows-as-server-enable-optional-windows-feature.jpg
  documentation/docs/assets/getting-started-windows-as-server-ms-docs-ancm-module.jpg
  documentation/docs/getting-started/windows-as-server/iis.md
Due: pipelines/azure/documentation.yaml

add continue on error
  pipelines/azure/develop-ci.yml
Due: none

Auto .NET SDK version Upgrade to 8.0.416
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update .NET SDK version in README
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update version 0.7.5 details in history.md
  history.md
Due: none

Add V2 to docs
  documentation/docs/getting-started/windows-as-server/iis.md
  documentation/documentation.code-workspace
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

add iO stub
  starsky/starsky.foundation.platform/Helpers/BaseDirectoryProjectHelper.cs
  starsky/starsky.sln
  starsky/starskyiocli/ControllerMapper.cs
  starsky/starskyiocli/IoCli.cs
  starsky/starskyiocli/Program.cs
  starsky/starskyiocli/RequestIoModel.cs
  starsky/starskyiocli/ResponseIoModel.cs
  starsky/starskyiocli/starskyiocli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  documentation/docs/getting-started/windows-as-server/iis.md
Due: pipelines/azure/documentation.yaml

IIS fixes
  starsky/starsky/Program.cs
  starsky/starsky/Properties/default-init-launchSettings.json
  starsky/starsky/web.config
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

MSTest v4 changes
  .editorconfig
  starsky/starskytest/root/ProgramTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoBackgroundTaskTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoIndexGpxTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoReverseLookupTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/EventQueueOverflowExceptionTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/BufferingFileSystemWatcherTest.cs
  starsky/starskytest/starsky.foundation.video/Process/FfmpegRunnerTests.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/Exceptions/ToManyUsageExceptionTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolStreamToStreamRunnerTests.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolServiceTest.cs
  starsky/starskytest/starsky/Helpers/CacheControlOverwriteTests.cs
  starsky/starskytest/starskyDependenciesDownloadCli/starskyDependenciesDownloadCliTest.cs
  starsky/starskytest/starskyGeoCli/starskyGeoCliTest.cs
  starsky/starskytest/starskyImporterCli/starskyImporterCliProgramTest.cs
  starsky/starskytest/starskySynchronizeCli/ProgramTest.cs
  starsky/starskytest/starskytest.csproj
  starsky/starskytest/starskythumbnailcli/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to using style && update package list
  starsky/nuget-packages-list.json
  starsky/starskytest/Helpers/SwaggerHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use folder of source to write temp files inside instead of riders c program files
  .editorconfig
  starsky/starskytest/Controllers/DeleteControllerTest.cs
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageNoExif.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove usings
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix warnings
  starsky/starskytest/starsky.feature.health/HealthCheck/CheckHealthTests.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/CleanThumbnailHostedServiceTests.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/ViewModels/WebHtmlViewModelTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Helpers/Pbkdf2HasherTests.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/MetaUpdateServiceTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/WindowsShellTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Roslyn errors
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetNextPrevInFolderTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/Base64HelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
  starsky/starskytest/starsky.foundation.storage/ArchiveFormats/ZipperTest.cs
  starsky/starskytest/starsky.foundation.storage/Services/Base32Test.cs
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/Testers/PreflightThumbnailGenerationTests.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused postman collection
  starsky/docs/Starsky Local.postman_environment.json
  starsky/docs/Starsky.postman_collection.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
