Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

keep a changelog
  history.md
Due: none

spcae
  history.md
Due: none

code smell
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

compare && add assert
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/starsky.feature.syncbackground/Helpers/OnStartupSyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rewrite
  documentation/.htaccess
Due: pipelines/azure/documentation.yaml

use async method for addItem
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncMultiFile.cs
  starsky/starskytest/Controllers/CacheIndexControllerTest.cs
  starsky/starskytest/Controllers/DeleteControllerTest.cs
  starsky/starskytest/Controllers/DiskControllerTest.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/Controllers/IndexControllerTest.cs
  starsky/starskytest/Controllers/MetaReplaceControllerTest.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/Controllers/SearchControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllFilesTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllObjectsTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Breaking Build - change last edited time
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add powershell
  starsky/.nvmrc
  starsky/build.ps1
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add hidden window && upgrade electron
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.ts
  starskydesktop/src/app/warmup/splash.ts
  starskydesktop/src/main/main.ts
Due: none

add warning
  starskydesktop/src/setup/copy-folder.ts
Due: none

undo upgrade for electron
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/src/setup/copy-folder.ts
Due: none

fix test
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.spec.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.ts
Due: none

tests
  starskydesktop/src/app/ipc-bridge/ipc-bridge.spec.ts
Due: none

change
  starskydesktop/src/app/window-state-keeper/window-state-keeper.ts
Due: none

undo/ add test
  starskydesktop/src/app/window-state-keeper/window-state-keeper.spec.ts
  starskydesktop/src/app/window-state-keeper/window-state-keeper.ts
Due: none

lint
  starskydesktop/src/app/warmup/splash.ts
Due: none

fix test
  starsky/starskytest/starsky.foundation.storage/Services/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

line ending
  starsky/starskytest/starsky.foundation.storage/Services/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add changelog
  history.md
Due: none

add
  starskydesktop/src/client/script/reload-warmup-local-or-remote.spec.ts
Due: none

fix: upgrade prettier from 2.8.2 to 2.8.3
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Error 1053
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change docs
  documentation/docs/getting-started/docker.md
  starsky/docker-compose.yml
  starsky/docker/phpmyadmin/config/.gitignore
  starsky/docker/phpmyadmin/config/.gitkeep
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

change hosting
  starsky/starsky/Program.cs
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky/Program.cs
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/shared-web-only.yml

test this
  starsky/starsky/Program.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add cleanup scripts for windows
  starsky/cleanup.ps1
  starsky/starsky/cleanup-build-tools.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logging mac os
  starsky/starsky/cleanup-build-tools.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not used
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

order
  starsky/starsky/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

this should work [ except ssl issue]
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Create end2end-windows-ci.yml
  .github/workflows/end2end-windows-ci.yml
Due: none

Update end2end-windows-ci.yml
  .github/workflows/end2end-windows-ci.yml
Due: none
