Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

remove test
  starsky/starskytest/starsky.foundation.platform/Extensions/EnumerableExtensionsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.platform/Helpers/ExtensionRaw.cs
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRawTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/TiffEmbedded/TiffEmbeddedPreview.MainTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

comments
  starsky/starsky/Controllers/HomeController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change how search works
  starsky/starsky.feature.search/Interfaces/ISearch.cs
  starsky/starsky.feature.search/Services/SearchService.cs
  starsky/starsky/Controllers/SearchController.cs
  starsky/starskytest/Controllers/SearchControllerTest.cs
  starsky/starskytest/starsky.feature.search/Services/SearchServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change search
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

typos
  starsky/starsky.feature.search/Services/SearchService.cs
  starsky/starsky/clientapp/src/containers/detailview/detailview.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

space
  history.md
Due: none

rename
  documentation/blog/20260330-raw-previews.md
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

WebApp Update Swagger .NET
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#2900)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

WebApp Update Swagger .NET (#2901)
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WIP
  starsky/starsky.foundation.import/Interfaces/ICameraMountWatcherService.cs
  starsky/starsky.foundation.import/Interfaces/IImporterCliRunner.cs
  starsky/starsky.foundation.import/Interfaces/IMountEventSource.cs
  starsky/starsky.foundation.import/Interfaces/IMountWatcherLogWriter.cs
  starsky/starsky.foundation.import/Models/ImporterCliRunResult.cs
  starsky/starsky.foundation.import/Models/MountAppearedEventModel.cs
  starsky/starsky.foundation.import/Models/MountWatcherStatusModel.cs
  starsky/starsky.foundation.import/Services/CameraMountWatcherService.cs
  starsky/starsky.foundation.import/Services/ImporterCliRunner.cs
  starsky/starsky.foundation.import/Services/MountEventSource.cs
  starsky/starsky.foundation.import/Services/MountWatcherLogWriter.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/MountWatcherController.cs
  starsky/starskytest/Controllers/MountWatcherControllerTest.cs
  starsky/starskytest/starsky.foundation.import/Services/CameraMountWatcherServiceTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImporterCliRunnerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

starskymountwatchercli
  starsky/DELIVERY_SUMMARY.md
  starsky/EVENT_DRIVEN_UPGRADE_COMPLETE.md
  starsky/IMPLEMENTATION_SUMMARY.md
  starsky/MOUNT_WATCHER_CHECKLIST.md
  starsky/MOUNT_WATCHER_DOCUMENTATION.md
  starsky/MOUNT_WATCHER_IMPLEMENTATION.md
  starsky/MOUNT_WATCHER_QUICKSTART.md
  starsky/MOUNT_WATCHER_UPGRADE.md
  starsky/docker-compose.dcproj
  starsky/global.json
  starsky/starsky.foundation.mountwatch/Interfaces/IMountDetector.cs
  starsky/starsky.foundation.mountwatch/Interfaces/IMountWatcher.cs
  starsky/starsky.foundation.mountwatch/README.md
  starsky/starsky.foundation.mountwatch/Services/IMountWatcherFactory.cs
  starsky/starsky.foundation.mountwatch/Services/LinuxMountWatcher.cs
  starsky/starsky.foundation.mountwatch/Services/MacMountWatcher.cs
  starsky/starsky.foundation.mountwatch/Services/MountDetector.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherFactory.cs
  starsky/starsky.foundation.mountwatch/Services/WindowsMountWatcher.cs
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.sln
  starsky/starskymountwatchercli/Program.cs
  starsky/starskymountwatchercli/Properties/default-init-launchSettings.json
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskytest/FakeMocks/FakeMountDetector.cs
  starsky/starskytest/FakeMocks/FakeMountWatcherFactory.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/LinuxMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MacMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountDetectorTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherFactoryTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/WindowsMountWatcherTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add code
  starsky/MOUNT_WATCHER_DEDUPLICATION.md
  starsky/SERVICEINSTALLER_REFACTORING.md
  starsky/starsky.foundation.mountwatch/MountWatcher/BaseMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/Interfaces/IMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/LinuxMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MacMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MountWatcherFactory.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/WindowsMountWatcher.cs
  starsky/starsky.foundation.mountwatch/README.md
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IOSServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.foundation.mountwatch/Services/WindowsMountWatcher.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeMountWatcherFactory.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/LinuxMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MacMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountDetectorTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherFactoryTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/ServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/WindowsMountWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

revert
  starsky/global.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

path
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/ServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add start service
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IOSServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

implement
  starsky/starsky.foundation.mountwatch/MountWatcher/MacMountWatcher.cs
  starsky/starsky.foundation.mountwatch/README.md
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/ServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make windows service
  starsky/starsky.foundation.mountwatch/MountWatcher/BaseMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/LinuxMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MacMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MountWatcherFactory.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/WindowsMountWatcher.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountDetector.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/LinuxMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MacMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountDetectorTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherFactoryTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/ServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/WindowsMountWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fixes
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.foundation.webtelemetry/Helpers/SetupLogging.cs
  starsky/starskymountwatchercli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/docker-compose.dcproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add deps
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

revert
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add files back
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove
  starsky/DELIVERY_SUMMARY.md
  starsky/EVENT_DRIVEN_UPGRADE_COMPLETE.md
  starsky/IMPLEMENTATION_SUMMARY.md
  starsky/MOUNT_WATCHER_CHECKLIST.md
  starsky/MOUNT_WATCHER_DEDUPLICATION.md
  starsky/MOUNT_WATCHER_DOCUMENTATION.md
  starsky/MOUNT_WATCHER_IMPLEMENTATION.md
  starsky/MOUNT_WATCHER_QUICKSTART.md
  starsky/MOUNT_WATCHER_UPGRADE.md
  starsky/SERVICEINSTALLER_REFACTORING.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

servicename
  starsky/build/Build.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/WatchServiceName.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

i dont think i need full disk
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not sure if needed
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/ServiceInstallerHelper.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ReverseDnsServiceName
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/WatchServiceName.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

refactorings
  starsky/starsky.foundation.import/Interfaces/ICameraStorageDetector.cs
  starsky/starsky.foundation.import/Services/CameraStorageDetector.cs
  starsky/starsky.foundation.mountwatch/Interfaces/IMountDetector.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/BaseMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/LinuxMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MacMountWatcher.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/MountWatcherFactory.cs
  starsky/starsky.foundation.mountwatch/MountWatcher/WindowsMountWatcher.cs
  starsky/starsky.foundation.mountwatch/Services/MountDetector.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/FakeMocks/FakeCameraStorageDetector.cs
  starsky/starskytest/FakeMocks/FakeMountDetector.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MacMountWatcherTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountDetectorTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherFactoryTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/WindowsMountWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

default value
  starsky/starskytest/starsky.foundation.settings/Services/SettingsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starskytest/starsky.foundation.mountwatch/Services/WindowsMountWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

eject
  starsky/starsky.foundation.mountwatch/MountWatcher/MacMountWatcher.cs
  starsky/starsky.foundation.platform/Helpers/BaseDirectoryProjectHelper.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MacMountWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.sln.DotSettings
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
