Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

Update history.md
  history.md
Due: none

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

Update develop-ci.yml
  pipelines/azure/develop-ci.yml
Due: none

Update shared-web-only.yml
  pipelines/azure/shared-web-only.yml
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/readme.html
Due: none

fix: upgrade winston from 3.7.2 to 3.8.0
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix: upgrade eslint-plugin-prettier from 4.0.0 to 4.1.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade eslint-plugin-prettier from 4.1.0 to 4.2.1
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

fix test
  starsky/starsky.foundation.database/Query/QueryGetAllFiles.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoReverseLookupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.database/Query/QueryGetAllFiles.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetAllFilesTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update ignore
  .gitignore
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change
  history.md
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Issue #797
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Change mysql logging
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade nuget packages
  starsky/build/_build.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.consoletelemetry/starsky.foundation.consoletelemetry.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade version
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react-dom from 18.0.5 to 18.0.6
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.0.14 to 18.0.15
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update auto-dotnet-sdk-version-upgrade.yml
  .github/workflows/auto-dotnet-sdk-version-upgrade.yml
Due: none

Auto .NET SDK version Upgrade to 6.0.302
  starsky/test
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
