Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

Add front-end
  starsky/starsky.foundation.platform/Models/AppSettingsTransferObject.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/preferences-publish-profiles.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.spec.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.tsx
  starsky/starsky/clientapp/src/interfaces/IAppSettings.ts
  starsky/starsky/clientapp/src/interfaces/IAppSettingsPublishProfiles.ts
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/50-preferences.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.platform/Models/AppSettingsPublishProfilesTemplateContentType.cs
  starsky/starsky.foundation.platform/Models/AppSettingsTransferObject.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/preferences-publish-profiles.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

split to internal files
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/create-profile-item.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/editable-profile-item.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/editable-profile.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/remove-content-type.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/update-item-field.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/preferences-publish-profiles.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/internal/to-request-payload.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-publish-profiles/preferences-publish-profiles.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

private const int MaxBytesToHash = 1024 * 1024;
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.storage/Services/Mp4FileHasher.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

2836
  history.md
Due: none

increasing the hashing buffer size for MP4 files (#2836)
  history.md
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.storage/Services/Mp4FileHasher.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Sync race condition
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelper.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add why
  starsky/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add helpers
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageTemporaryFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/FakeMocks/FakeIStorageTransient.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/FakeMocks/FakeIStorageTransient.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  history.md
Due: none

Feature/202603 sync race condition (#2841)
  history.md
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageTemporaryFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelper.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/FakeMocks/FakeIStorageTransient.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageSubPathFilesystemTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

One or more errors occurred. (Cannot Open when State is Connecting.) (Cannot Open when State is Connecting.) (Cannot Open when State is Connecting.)
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ Notification Item Cannot Open when State is Connecting (PR #2842)
  history.md
Due: none

One or more errors occurred. (Cannot Open when State is Connecting.) … (#2842)
  history.md
  starsky/starsky.foundation.database/Notifications/NotificationQuery.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryErrorTest.cs
  starsky/starskytest/starsky.foundation.database/NotificationsTest/NotificationQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ExecuteWithRetryAsync
  starsky/starsky.foundation.database/Helpers/ExecuteWithRetry.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.platform/Interfaces/IWebLogger.cs
  starsky/starsky.foundation.platform/Services/WebLogger.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.foundation.database/Helpers/ExecuteWithRetryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.platform/Services/WebLoggerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.database/Helpers/ExecuteWithRetry.cs
  starsky/starskytest/starsky.foundation.database/Helpers/ExecuteWithRetryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test all cases
  starsky/starsky.foundation.database/Helpers/ExecuteWithRetry.cs
  starsky/starskytest/starsky.foundation.database/Helpers/ExecuteWithRetryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add unreleased version 0.7.13 to history
  history.md
Due: none

ExecuteWithRetryAsync (#2843)
  history.md
  starsky/starsky.foundation.database/Helpers/ExecuteWithRetry.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.platform/Interfaces/IWebLogger.cs
  starsky/starsky.foundation.platform/Services/WebLogger.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/starsky.foundation.database/Helpers/ExecuteWithRetryTest.cs
  starsky/starskytest/starsky.foundation.platform/Services/WebLoggerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Move to JobHandler
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationJobHandler.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/ManualThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/SmallThumbnailBackgroundJobService.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedService.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starsky.foundation.worker/Helpers/InMemoryBackgroundJobCallbackHandler.cs
  starsky/starsky.foundation.worker/Helpers/InMemoryBackgroundJobCallbackRegistry.cs
  starsky/starsky.foundation.worker/Helpers/ProcessTaskQueue.cs
  starsky/starsky.foundation.worker/Interfaces/IBackgroundJobHandler.cs
  starsky/starsky.foundation.worker/Interfaces/IBaseBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/Models/BackgroundTaskQueueJob.cs
  starsky/starsky.foundation.worker/Services/UpdateBackgroundQueuedHostedService.cs
  starsky/starsky.foundation.worker/Services/UpdateBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailQueuedHostedService.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Controllers/GeoController.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/MetaReplaceController.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/FakeMocks/FakeDiskWatcherUpdateBackgroundTaskQueue.cs
  starsky/starskytest/FakeMocks/FakeIUpdateBackgroundTaskQueue.cs
  starsky/starskytest/FakeMocks/FakeThumbnailBackgroundTaskQueue.cs
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedServiceTest.cs
  starsky/starskytest/starsky.foundation.worker/Services/UpdateBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/ThumbnailQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSyncJobHandler.cs
  starsky/starsky.feature.webhtmlpublish/Models/PublishCreateBackgroundJobPayload.cs
  starsky/starsky.feature.webhtmlpublish/Services/PublishCreateBackgroundJobHandler.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starsky/Helpers/PublishCreateBackgroundJobHandler.cs
  starsky/starskytest/starsky.feature.syncbackground/Helpers/OnStartupSyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.export/Models/ExportBackgroundPayload.cs
  starsky/starsky.feature.export/Services/ExportBackgroundJobHandler.cs
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.syncbackground/Helpers/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Models/OnStartupSyncPayload.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundService.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncJobHandler.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/ManualThumbnailGenerationJobHandler.cs
  starsky/starsky.feature.thumbnail/Services/ManualThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/SmallThumbnailBackgroundJobHandler.cs
  starsky/starsky.feature.thumbnail/Services/SmallThumbnailBackgroundJobService.cs
  starsky/starsky.feature.trash/Services/MoveToTrashJobHandler.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.foundation.import/Models/ImportBackgroundPayload.cs
  starsky/starsky.foundation.import/Services/ImportBackgroundJobHandler.cs
  starsky/starsky.foundation.import/starsky.foundation.import.csproj
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncJobHandler.cs
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessorJobHandler.cs
  starsky/starsky.foundation.worker/Helpers/InMemoryBackgroundJobCallbackHandler.cs
  starsky/starsky.foundation.worker/Helpers/InMemoryBackgroundJobCallbackRegistry.cs
  starsky/starsky.foundation.worker/Models/BackgroundTaskQueueJob.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Controllers/GeoController.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/MetaReplaceController.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starsky/Helpers/ControllerBackgroundJobs.cs
  starsky/starskytest/FakeMocks/FakeDiskWatcherUpdateBackgroundTaskQueue.cs
  starsky/starskytest/FakeMocks/FakeIUpdateBackgroundTaskQueue.cs
  starsky/starskytest/FakeMocks/FakeThumbnailBackgroundTaskQueue.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.worker/Services/UpdateBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/ThumbnailQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.419
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.geolookup/Models/GeoSyncBackgroundPayload.cs
  starsky/starsky.feature.geolookup/Services/GeoSyncBackgroundJobHandler.cs
  starsky/starsky.feature.metaupdate/Services/MetaTimeCorrectBackgroundJobHandler.cs
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.foundation.import/Services/ImportBackgroundJobHandler.cs
  starsky/starsky.foundation.metaupdate/Models/MetaReplaceBackgroundPayload.cs
  starsky/starsky.foundation.metaupdate/Models/MetaUpdateBackgroundPayload.cs
  starsky/starsky.foundation.metaupdate/Services/MetaReplaceBackgroundJobHandler.cs
  starsky/starsky.foundation.metaupdate/Services/MetaUpdateBackgroundJobHandler.cs
  starsky/starsky.foundation.metaupdate/starsky.foundation.metaupdate.csproj
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/MetaReplaceController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/Helpers/ControllerBackgroundJobs.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportBackgroundJobHandlerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Changed) _Back-end_ Upgrade to .NET 8 - SDK 8.0.419 (Runtime: 8.0.25) (PR #2849)
  history.md
Due: none

Update .NET SDK version in README
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

.NET SDK Upgrade to 8.0.419 (#2849)
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  history.md
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/readme.md
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp (#2854)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml
