Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

update import docs
  documentation/docs/features/import.md
Due: pipelines/azure/documentation.yaml

add test
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.rename/Services/BatchRenameService.cs
  starsky/starsky/Controllers/BatchRenameController.cs
  starsky/starskytest/starsky.feature.rename/Services/BatchRenameServiceTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
  starsky/starskytest/starsky/Controllers/BatchRenameControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

collections
  starsky/starskytest/starsky/Controllers/BatchRenameControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.rename/Services/BatchRenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExifTimezoneCorrectionService.cs
  starsky/starskytest/FakeMocks/FakeServiceScopeFactory.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change model
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrection.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExifTimezoneCorrectionService.cs
  starsky/starskytest/FakeMocks/FakeIServiceScopeFactory.cs
  starsky/starskytest/FakeMocks/FakeServiceScopeFactory.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

line ending
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneDisplay.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneDisplay.cs
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

avoid timeouts here
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add indexes
  documentation/docs/developer-guide/migrations/migrations.md
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260122081014_SearchIndexes.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122081014_SearchIndexes.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

fix test
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add index
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260122094815_SearchThumbnailIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122094815_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change index
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2627
  history.md
Due: none

Feature/202601 log feedback (#2627)
  documentation/docs/developer-guide/migrations/migrations.md
  history.md
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

fix for test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathCollectionAsyncTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove duplicate
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

bugfix for classname
  starsky/starsky/clientapp/FILE_MANIFEST.md
  starsky/starsky/clientapp/src/components/molecules/item-text-list-view/internal/get-box-class-name.spec.ts
  starsky/starsky/clientapp/src/components/molecules/item-text-list-view/internal/get-box-class-name.ts
  starsky/starsky/clientapp/src/components/organisms/modal-batch-rename/README.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests and make fakeilogger thread safe
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove copilot text
  starsky/starsky.foundation.metaupdate/implementation-checklist-timezone-correction.md
  starsky/starsky.foundation.metaupdate/implementation-summary-timezone-correction.md
  starsky/starsky.foundation.metaupdate/quick-reference-timezone-correction.md
  starsky/starsky.foundation.metaupdate/readme-timezone-correction.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starskytest/starsky.feature.cloudimport/Clients/DropboxClientWrapperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202601 date time shifting for multiple items 76 (#2596)
  history.md
  starsky/starsky.feature.rename/Services/BatchRenameService.cs
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrection.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrectionRequest.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneDisplay.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListService.cs
  starsky/starsky.foundation.platform/Enums/ApiNotificationType.cs
  starsky/starsky/Controllers/BatchRenameController.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starskytest/Controllers/MetaCorrectTimezoneControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExifTimezoneCorrectionService.cs
  starsky/starskytest/FakeMocks/FakeIServiceScopeFactory.cs
  starsky/starskytest/FakeMocks/FakeIWebLogger.cs
  starsky/starskytest/FakeMocks/FakeServiceScopeFactory.cs
  starsky/starskytest/starsky.feature.cloudimport/Clients/DropboxClientWrapperTest.cs
  starsky/starskytest/starsky.feature.rename/Services/BatchRenameServiceTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathCollectionAsyncTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneDisplayListServiceTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky/Controllers/BatchRenameControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fixes
  documentation/docs/developer-guide/api/readme.md
  documentation/scripts/openapi.js
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starskytest/Architecture/ApiRouteLengthTests.cs
  starsky/starskytest/Controllers/AccountControllerTest.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

valid json
  starsky/starsky/bundleconfig.json
  starsky/starsky/clientapp/tsconfig.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update MetaCorrectTimezone names to be shorter (#2632)
  documentation/docs/developer-guide/api/readme.md
  documentation/scripts/openapi.js
  history.md
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starsky/bundleconfig.json
  starsky/starsky/clientapp/tsconfig.json
  starsky/starskytest/Architecture/ApiRouteLengthTests.cs
  starsky/starskytest/Controllers/AccountControllerTest.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#2634)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Update ClientApp (#2631)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
