Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

0 decimals
  starsky/starsky/clientapp/src/shared/bytes-format.spec.ts
Due: azure-pipelines-starsky.yml

ignore minus values
  starsky/starsky/clientapp/src/shared/bytes-format.spec.ts
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

httplocalhost5000/__starsky/.DS_Store
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml

fix test
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add not found ++ no xml test
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

add test
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add test when case is ignored
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.tsx
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/inotify-settings/readme.html
Due: none

update docs
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

make update work
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml

- [x] (Added) _App_ Use separate config vars when in non-package mode and production
  docs/history.html
  history.md
  starskyapp/index.js
  starskyapp/lib/get-base-url-from-settings.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/main-window.js
  starskyapp/lib/os-type.js
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml

fix issue that prevent logout ++ add test
  starsky-tools/end2end/cypress/integration/01-create-account/02-check-if-toc-privacy.ts
  starsky-tools/end2end/cypress/integration/01-create-account/flow.json
  starsky-tools/end2end/cypress/integration/03-logout/03-logout.ts
  starsky-tools/end2end/cypress/integration/03-logout/config.json
  starsky-tools/end2end/cypress/integration/03-logout/flow.json
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Views/Account/ResetPasswordConfirmation.cshtml
  starsky/starsky/clientapp/src/containers/account-register.tsx
  starsky/starskytest/Controllers/AccountControllerTest.cs
Due: azure-pipelines-starsky.yml

- [x] (Added) _Back-end_ Logout page is working again
  history.md
Due: none

update docs
  starsky-tools/docs/docs.js
  starskyapp/docs-assets/starskyapp-remote-options-v040beta1.jpg
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

[DocsUpdateBot] Auto commited html update
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  docs/starskyapp/docs-assets/starskyapp-remote-options-v040beta1.jpg
  docs/starskyapp/readme.html
Due: none

Enable sockets as default option
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.tsx
  starsky/starsky/clientapp/src/containers/account-register.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/style/css/29-switch-button.css
Due: azure-pipelines-starsky.yml

remove unused comments
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.tsx
Due: azure-pipelines-starsky.yml

change socket default option
  history.md
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky.yml

Compare versions
  starsky/starsky.feature.checkforupdates/Helpers/CheckForUpdatesHelper.cs
  starsky/starsky.feature.checkforupdates/Models/ReleaseModel.cs
  starsky/starsky.feature.checkforupdates/starsky.feature.checkforupdates.csproj
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starsky.sln
  starsky/starskytest/starsky.feature.checkForUpdates/CheckForUpdatesHelperTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

compare version
  docs/starskyapp/docs-assets/starskyapp-remote-options-v025.jpg
  starsky/starsky.feature.checkforupdates/Helpers/CheckForUpdatesHelper.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starskytest/starsky.foundation.platform/VersionHelpers/VersionHelpersTest.cs
Due: azure-pipelines-starsky.yml

Realtime collections bugfix
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/shared/array-helper.ts
Due: azure-pipelines-starsky.yml

add todo ++ add extra wait in e2e
  history.md
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
Due: none

[e2e] add retry
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
Due: none

add gitkeep
  starsky-tools/end2end/cypress/screenshots/.gitkeep
Due: none

e2e (always) pipeline
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

e2e add retry
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
Due: none

move to health feature
  starsky/starsky.feature.health/HealthCheck/DateAssemblyHealthCheck.cs
  starsky/starsky.feature.health/HealthCheck/DiskOptionsPercentageSetup.cs
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheckExtensions.cs
  starsky/starsky.feature.health/HealthCheck/DiskStorageOptions.cs
  starsky/starsky.feature.health/HealthCheck/PathExistHealthCheck.cs
  starsky/starsky.feature.health/HealthCheck/PathExistHealthCheckExtensions.cs
  starsky/starsky.feature.health/HealthCheck/PathExistOptions.cs
  starsky/starsky.feature.health/Helpers/CheckForUpdatesHelper.cs
  starsky/starsky.feature.health/Models/ReleaseModel.cs
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.sln
  starsky/starsky/Health/HealthResponseWriter.cs__
  starsky/starsky/Startup.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/starsky.feature.health/HealthCheck/DateAssemblyHealthCheckTest.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/DiskOptionsPercentageSetupTest.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/DiskStorageHealthCheckExtensionsTest.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/DiskStorageHealthCheckTest.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/HealthResponseWriterTest.cs_
  starsky/starskytest/starsky.feature.health/HealthCheck/PathExistHealthCheckExtensionsTest.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/PathExistHealthCheckTest.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky.yml

move to health feature ++ update version check
  starsky/starsky.feature.health/HealthCheck/SetupHealthCheck.cs
  starsky/starsky.feature.health/UpdateCheck/CheckForUpdatesHelper.cs
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starsky/Startup.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

add user agent ++ fix service to check for updates
  starsky/starsky.feature.health/UpdateCheck/CheckForUpdatesHelper.cs
  starsky/starsky.feature.health/UpdateCheck/Interfaces/ICheckForUpdates.cs
  starsky/starsky.feature.health/UpdateCheck/Models/ReleaseModel.cs
  starsky/starsky.feature.health/UpdateCheck/Models/UpdateStatus.cs
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.foundation.http/Services/HttpProvider.cs
  starsky/starsky/Controllers/HealthCheckForUpdates.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

add tests ++ add abstraction
  starsky/starsky.feature.health/UpdateCheck/Interfaces/ICheckForUpdates.cs
  starsky/starsky.feature.health/UpdateCheck/Models/UpdateStatus.cs
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky/Controllers/HealthCheckForUpdates.cs
  starsky/starsky/Controllers/HealthCheckForUpdatesController.cs
  starsky/starskytest/Controllers/HealthCheckForUpdatesControllerTest.cs
  starsky/starskytest/FakeMocks/FakeICheckForUpdates.cs
Due: azure-pipelines-starsky.yml

fix test
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
Due: azure-pipelines-starsky.yml

code smells ++ fix tests
  starsky/starsky.feature.health/HealthCheck/SetupHealthCheck.cs
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky.foundation.platform/VersionHelpers/SemVersion.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.feature.health/Helpers/CheckForUpdatesHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/VersionHelpers/VersionHelpersTest.cs
Due: azure-pipelines-starsky.yml

fix bug ++ fix code smell
  starsky/starsky.feature.health/UpdateCheck/Services/CheckForUpdates.cs
  starsky/starsky/Controllers/HealthCheckForUpdatesController.cs
  starsky/starskytest/Controllers/HealthCheckForUpdatesControllerTest.cs
Due: azure-pipelines-starsky.yml
