Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

fix: upgrade axios from 1.6.5 to 1.6.6
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

add project && code formatting
  starsky/starsky.feature.desktop/Interfaces/IOpenEditorDesktopService.cs
  starsky/starsky.feature.desktop/Service/OpenEditorDesktopService.cs
  starsky/starsky.feature.desktop/starsky.feature.desktop.csproj
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Helpers/SetupAppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettingsDefaultEditorApplication.cs
  starsky/starsky.sln
  starsky/starsky/Controllers/AppSettingsFeaturesController.cs
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/Controllers/AppSettingsFeaturesControllerTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test this
  starsky/starsky.feature.desktop/Service/OpenEditorDesktopService.cs
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Helpers/Compare/AreListsEqual.cs
  starsky/starsky.foundation.platform/JsonConverter/EnumListConverter.cs
  starsky/starsky.foundation.platform/Models/AppSettingsDefaultEditorApplication.cs
  starsky/starsky.foundation.platform/Models/AppSettingsTransferObject.cs
  starsky/starsky/Controllers/AppSettingsFeaturesController.cs
  starsky/starsky/appsettings.json
  starsky/starsky/readme.md
  starsky/starskycore/ViewModels/EnvFeaturesViewModel.cs
  starsky/starskytest/Controllers/AppSettingsControllerTest.cs
  starsky/starskytest/Controllers/AppSettingsFeaturesControllerTest.cs
  starsky/starskytest/starsky.feature.settings/Services/UpdateAppSettingsByPathTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/JsonConverter/EnumListConverterTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsDefaultEditorApplicationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add small delay
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add mappers
  starsky/starsky.feature.desktop/Service/OpenEditorDesktopService.cs
  starsky/starsky.foundation.native/OpenApplicationNative/Interfaces/IOpenApplicationNativeService.cs
  starsky/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeService.cs
  starsky/starskytest/FakeCreateAn/CreateFakeStarskyExe/CreateFakeStarskyUnixBash.cs
  starsky/starskytest/FakeMocks/FakeIOpenApplicationNativeService.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add code // wip
  starsky/starsky.feature.desktop/Models/PathImageFormatExistsAppPathModel.cs
  starsky/starsky.feature.desktop/Service/OpenEditorDesktopService.cs
  starsky/starsky.feature.desktop/starsky.feature.desktop.csproj
  starsky/starsky.foundation.native/OpenApplicationNative/Interfaces/IOpenApplicationNativeService.cs
  starsky/starsky.foundation.storage/Interfaces/ISelectorStorage.cs
  starsky/starskytest/FakeMocks/FakeIOpenApplicationNativeService.cs
  starsky/starskytest/starsky.feature.desktop/Service/OpenEditorDesktopServiceTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociations.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsTests.cs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsUnixTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade axios from 1.6.5 to 1.6.7
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

change to test on windows
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change tests
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress some issues
  .editorconfig
  starsky/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociations.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/Example/Clipboard.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 20.11.6 to 20.11.7
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

add tests
  starsky/starskytest/starsky.feature.desktop/Service/OpenEditorDesktopServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/JsonConverter/EnumListConverterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove logger
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsSetFileAssociationsUnixTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @docusaurus/types from 3.0.0 to 3.1.1
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/module-type-aliases from 3.0.0 to 3.1.1
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/tsconfig from 3.0.0 to 3.1.1
  documentation/package.json
Due: pipelines/azure/documentation.yaml

null ref fun! ::)
  starsky/starsky.feature.import/Services/ImportCli.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add generic monitoring
  starsky/nuget-packages-list.json
  starsky/starsky.foundation.webtelemetry/Helpers/SetupLogging.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starskyadmincli/Program.cs
  starsky/starskydemoseedcli/Program.cs
  starsky/starskygeocli/Program.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskysynchronizecli/Program.cs
  starsky/starskythumbnailcli/Program.cs
  starsky/starskythumbnailmetacli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add longer logging
  starsky/starsky.foundation.storage/Storage/ThumbnailNameHelper.cs
  starsky/starsky/Controllers/ThumbnailController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add remove query -- add check if file size does match
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Interfaces/IImportQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add remove to sub
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

throw exeption if failed any
  starsky/starsky.feature.import/Services/ImportCli.cs
  starsky/starsky.foundation.platform/Exceptions/WebApplicationException.cs
  starsky/starsky.foundation.realtime/Middleware/DisabledWebSocketsMiddleware.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add flush
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
  starsky/starsky.foundation.storage/Helpers/StreamToStringHelper.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm using
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add no suggest and update system packages
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update history.md
  history.md
Due: none

change name and remove flush
  starsky/starsky.feature.import/Services/Import.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add exception to logger
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

2 tests fails && change dispose rules for Exiftool helper
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.storage/Helpers/StreamToStringHelper.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.worker/Helpers/ProcessTaskQueue.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rewrite stream usage for and use this not anymore:
  starsky/starsky.foundation.storage/Helpers/StreamGetFirstBytes.cs
  starsky/starsky.foundation.storage/Helpers/StreamToStringHelper.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/starsky.foundation.storage/Helpers/StreamGetFirstBytesTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change logging to be more clear
  starsky/starsky.feature.import/Services/ImportCli.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update warning
  starsky/starsky.foundation.thumbnailmeta/Services/WriteMetaThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starskytest/starsky.foundation.database/Import/ImportQueryTest.cs
  starsky/starskytest/starsky.foundation.platform/Exceptions/WebApplicationExceptionTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

suprress issue
  starsky/starskytest/starsky.foundation.storage/Helpers/StreamGetFirstBytesTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
