Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update and rename auto-upgrade-clientapp-cra.yml to auto-upgrade-clientapp-create-react-app.yml
  .github/workflows/auto-upgrade-clientapp-create-react-app.yml
Due: none

code smell
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-color-class.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-update-single.ts
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-mkdir/modal-archive-mkdir.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-edit-date-time/modal-edit-datetime.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-force-delete/modal-force-delete.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings/preferences-app-settings.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.tsx
  starsky/starsky/clientapp/src/shared/url-path.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/portal/portal.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/select/select.stories.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-interval.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event.spec.tsx
  starsky/starsky/clientapp/src/pages/account-register-page.spec.tsx
  starsky/starsky/clientapp/src/pages/content-page.spec.tsx
  starsky/starsky/clientapp/src/pages/import-page.spec.tsx
  starsky/starsky/clientapp/src/pages/trash-page.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/Controllers/SearchControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Controllers/ThumbnailGenerationTest.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

to const
  starsky/starskytest/FakeCreateAn/CreateAnExifToolTar.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/FakeCreateAn/CreateAnGpx.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageCorrupt/CreateAnImageCorrupt.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageWithThumbnail/CreateAnImageWithThumbnail.cs
  starsky/starskytest/FakeMocks/FakeIMetaExifThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/FakeMocks/FakeMetaPreflight.cs
  starsky/starskytest/FakeMocks/FakeReadMeta.cs
  starsky/starskytest/Helpers/Base64HelperTest.cs
  starsky/starskytest/Services/ReadMeta_GpxFromFileTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Services/SearchServiceTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoBackgroundTaskTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix typo
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Helpers/PublishCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ignore
  starsky/starsky.foundation.worker/Services/UpdateBackgroundQueuedHostedService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove unused code
  starsky/starsky.foundation.worker/Helpers/BaseBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/starsky.foundation.worker.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

null ref
  starsky/starskytest/FakeMocks/FakeIQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Update auto-dotnet-sdk-version-upgrade.yml
  .github/workflows/auto-dotnet-sdk-version-upgrade.yml
Due: none

rm
  starskyapp/package.json.bak
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

get the app working again
  .gitignore
  starskyapp/.eslintrc.cjs
  starskyapp/jest.config.mjs
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/error-window/create-error-window.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/settings-window/create-settings-window.ts
  starskyapp/src/app/warmup/splash.ts
  starskyapp/src/preload/preload-main.spec.ts
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/webpack.config.mjs
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

code cleanup
  starskyapp/.eslintrc.cjs
  starskyapp/src/app/main-window/create-main-window.spec.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/preload/IPreloadApi.ts
  starskyapp/src/preload/preload-main.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

eslint
  starskyapp/src/setup/before-build.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

eslint
  starskyapp/.eslintrc.cjs
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
  starskyapp/src/app/file-watcher/action-when-file-is-changed.ts
  starskyapp/src/app/get-free-port/get-free-port.ts
  starskyapp/src/app/settings-window/create-settings-window.ts
  starskyapp/src/app/startup/app-settings.spec.ts
  starskyapp/src/app/startup/app-settings.ts
  starskyapp/src/app/startup/before-quit.ts
  starskyapp/src/app/startup/restore-warmup-main-window-and-close-splash.spec.ts
  starskyapp/src/app/startup/restore-warmup-main-window-and-close-splash.ts
  starskyapp/src/app/startup/will-navigate-security.spec.ts
  starskyapp/src/app/startup/will-navigate-security.ts
  starskyapp/src/app/updates-warning-window/should-it-update.spec.ts
  starskyapp/src/preload/IPreloadAPI.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/src/shared/IExifStatus.ts
  starskyapp/src/shared/IFileindexItem.ts
  starskyapp/src/shared/date.ts
  starskyapp/src/shared/file-extensions.spec.ts
  starskyapp/src/shared/file-extensions.ts
  starskyapp/src/shared/slugify.spec.ts
  starskyapp/src/shared/slugify.ts
  starskyapp/src/shared/unfreeze-import.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

space
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

rename
  starsky-tools/build-tools/create-react-app-update.js
Due: none

use flag to skip test
  starsky/build/Build.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename win7
  docs/starsky/starsky/pm2-new-instance.sh
  pipelines/azure/steps/electron_build.yml
  starsky-tools/mock/github.com/repos/qdraw/starsky/releases/index.json
  starsky/readme.md
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Delete _end2end-on-heroku-demo.bak
  .github/workflows/_end2end-on-heroku-demo.bak
Due: none

random unit test failure
  starsky/starskytest/FakeMocks/FakeIQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change default
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

get this easier
  starskyapp/src/app/get-free-port/get-free-port.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

net6.0
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starsky/readme.html
Due: none

git ignore
  .gitignore
Due: none

github-artifacts-download.sh
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
