Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

#1866 remove any to unknown and cast
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
  starsky/starsky/clientapp/src/components/molecules/health-status-error/health-status-error.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/internal/inline-search-suggest.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/update-change.ts
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-edit-date-time/modal-edit-datetime.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/update-geo-location.ts
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-move-folder-to-trash/modal-move-folder-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-app-settings-storage-folder/preferences-app-settings-storage-folder.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/IHandlers.types.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/call-handler.spec.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/call-handler.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/debounce.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.ts
  starsky/starsky/clientapp/src/hooks/use-interval.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event.ts
  starsky/starsky/clientapp/src/hooks/use-location/use-location.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-searchlist.ts
  starsky/starsky/clientapp/src/interfaces/IConnectionDefault.ts
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 remove any | eslint
  starsky/starsky/clientapp/src/hooks/use-interval.ts
  starsky/starsky/clientapp/src/pages/search-page.spec.tsx
  starsky/starsky/clientapp/src/pages/trash-page.spec.tsx
  starsky/starsky/clientapp/src/router-app/router-app.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 lint eslint anys removal
  starsky/starsky/clientapp/src/shared/array-helper.spec.ts
  starsky/starsky/clientapp/src/shared/array-helper.ts
  starsky/starsky/clientapp/src/shared/browser-detect.spec.ts
  starsky/starsky/clientapp/src/shared/browser-detect.ts
  starsky/starsky/clientapp/src/shared/bytes-format.spec.ts
  starsky/starsky/clientapp/src/shared/cast-to-interface.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.6.3 to 5.7.2
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

#1866 eslint issues
  starsky/starsky/clientapp/src/shared/detect-automatic-rotation.spec.ts
  starsky/starsky/clientapp/src/shared/fetch/fetch-xml.ts
  starsky/starsky/clientapp/src/shared/leaflet/leaflet-modify-empty-image-url-gridlayer.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 eslint fixes & upgrade packages
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/update-change.ts
  starsky/starsky/clientapp/src/shared/clipboard-helper.spec.ts
  starsky/starsky/clientapp/src/shared/fetch/fetch-post.ts
  starsky/starsky/clientapp/src/shared/leaflet/leaflet-modify-empty-image-url-tilelayer.ts
  starsky/starsky/clientapp/src/shared/sidebar-update.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 format && add clear done
  starsky-tools/build-tools/clientapp-vite-update.js
Due: none

#1866 sonarcloud
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/hooks/use-capture-position.ts
  starsky/starsky/clientapp/src/shared/leaflet/leaflet-modify-empty-image-url-tilelayer.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 add data test
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 arrow
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-move-mouse-touch-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 add tests
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 add tests
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 return
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 return type
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 add theory
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1866 changelog
  history.md
Due: none

fix: upgrade typescript from 5.6.3 to 5.7.2
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade typescript-eslint from 8.15.0 to 8.16.0
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @types/node from 22.9.0 to 22.10.0
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @docusaurus/types from 3.6.0 to 3.6.3
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/module-type-aliases from 3.6.0 to 3.6.3
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/tsconfig from 3.6.1 to 3.6.3
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

#1833 add preflight
  starsky/starsky.foundation.video/GetDependencies/FfMpegDownload.cs
  starsky/starsky.foundation.video/GetDependencies/FfMpegDownloadBackgroundService.cs
  starsky/starsky.foundation.video/GetDependencies/FfMpegExePath.cs
  starsky/starsky.foundation.video/GetDependencies/FfMpegPreflightRunCheck.cs
  starsky/starsky.foundation.video/GetDependencies/Interfaces/IFfMpegPreflightRunCheck.cs
  starsky/starsky.foundation.video/GetDependencies/Models/FfmpegDownloadStatus.cs
  starsky/starskytest/FakeMocks/FakeIFfMpegPreflightRunCheck.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadBackgroundServiceTests.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegPreflightRunCheckTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.6.3 to 5.7.2
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 windows fixxes
  starsky/starsky.foundation.video/GetDependencies/FfMpegDownloadBinaries.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegChmodTests.cs
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add extra checks
  starsky/starskytest/starsky.foundation.worker/Services/UpdateBackgroundTaskQueueTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 test
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 add storage
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1833 windows
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

update npm
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package-lock.json
  starsky-tools/sync/package-lock.json
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

Create 20241220-year-in-review.md
  documentation/blog/20241220-year-in-review.md
Due: pipelines/azure/documentation.yaml

Update 20241220-year-in-review.md
  documentation/blog/20241220-year-in-review.md
Due: pipelines/azure/documentation.yaml

#1833 spacing
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.6.3 to 5.7.2
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @typescript-eslint/eslint-plugin from 8.14.0 to 8.17.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
