Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add ignore
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix path
  starsky/starsky.foundation.database/Data/GlobalSuppressions.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix more
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add supress
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

avoid legacy usage
  starsky/starsky.foundation.database/Data/GlobalSuppressions.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add strict rule
  .editorconfig
Due: none

add warning & keep a changelog
  history.md
  starsky/starsky.foundation.database/Data/GlobalSuppressions.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove usused props
  starsky/starsky/clientapp/src/components/molecules/item-text-list-view/item-text-list-view.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

is not used
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

i88n
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 20.11.17 to 20.11.19
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Lots of broken stuff
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SetupDatabaseTypesTest.cs
  starskydesktop/src/app/child-process/setup-child-process.spec.ts
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/child-process/spawn-clean-mac-os.ts
  starskydesktop/src/app/global/global.ts
  starskydesktop/src/app/main-window/create-main-window.ts
  starskydesktop/src/app/main-window/inject-js.txt
  starskydesktop/src/app/main-window/restore-main-window.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.spec.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.ts
  starskydesktop/src/app/warmup/is-remote.ts
  starskydesktop/src/client/pages/error/___legacy___
  starskydesktop/src/client/pages/redirect/__legacy___
  starskydesktop/src/client/pages/start/start.html
  starskydesktop/src/main/main.spec.ts
  starskydesktop/src/main/main.ts
  starskydesktop/webpack.config.mjs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade dotenv from 16.4.1 to 16.4.4
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
Due: none

try this
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/startup/will-navigate-security.ts
  starskydesktop/src/main/main.ts
Due: pipelines/azure/app-ci.yml

WIP
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/file-selector-window/file-selector-window.spec.ts
  starskydesktop/src/app/file-selector-window/file-selector-window.ts
  starskydesktop/src/app/main-window/create-main-window.ts
Due: pipelines/azure/app-ci.yml

rm & add
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/child-process/spawn-clean-mac-os.ts
  starskydesktop/src/app/file-selector-window/file-selector-window.spec.ts
  starskydesktop/src/app/file-selector-window/file-selector-window.ts
  starskydesktop/src/app/global/global.ts
  starskydesktop/src/app/main-window/inject-js.txt
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/node from 20.11.18 to 20.11.19
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

use global state
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/config/get-base-url-from-settings.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.ts
Due: pipelines/azure/app-ci.yml

fix: upgrade eslint-plugin-jest from 27.8.0 to 27.9.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Remove unused cultures dll's
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

fix: upgrade eslint-plugin-storybook from 0.6.15 to 0.8.0
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update npm packages / remove depreacted sync project
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
  starsky-tools/readme.md
  starsky-tools/sync/crawler.js
  starsky-tools/sync/package-lock.json
  starsky-tools/sync/package.json
  starsky-tools/sync/readme.md
  starsky-tools/sync/sync.js
  starsky-tools/sync/sync_singlefile.js
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
  starsky-tools/update-npm.sh
Due: pipelines/azure/documentation.yaml

update storybook
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Less verbose in console mode
  starsky/starsky.foundation.platform/Services/WebLogger.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.2.55 to 18.2.56
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

[WindowsTest] If IO Exception skip
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/WindowsOpenDesktopAppTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Regex] Failed to execute PeriodicThumbnailScanHostedService with exception message One or more errors occurred. (The Regex engine has timed out while trying to match a pattern to an input string. ...
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename metric name
  starsky/starsky.foundation.sync/Metrics/DiskWatcherBackgroundTaskQueueMetrics.cs
  starsky/starsky.foundation.worker/Metrics/ThumbnailBackgroundQueuedMetrics.cs
  starsky/starsky.foundation.worker/Metrics/UpdateBackgroundQueuedMetrics.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Change GetParentPath() to use
  starsky/starsky.foundation.platform/Helpers/FilenamesHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update history.md
  history.md
Due: none

add comment
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix unit tests
  starskydesktop/src/app/child-process/setup-child-process.spec.ts
  starskydesktop/src/app/global/global.ts
Due: pipelines/azure/app-ci.yml

Update packages. && Add SonarScanner
  .gitignore
  starskydesktop/.eslintrc.cjs
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/sonar-scanner.js
Due: pipelines/azure/app-ci.yml

rename
  .gitignore
  starskydesktop/src/shared/slugify.spec.ts
Due: pipelines/azure/app-ci.yml

add to gitignore
  .gitignore
Due: none

Rename starskyapp-electron-pr-build-mac-win.yml to desktop-electron-pr-build-mac-win.yml
  .github/workflows/desktop-electron-pr-build-mac-win.yml
Due: none
