Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add preloader when colorclass filter is slow ++ add parent tests for cache
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/contexts/detailview-context.tsx
  starsky/starsky/clientapp/src/interfaces/IDetailView.ts
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky.yml

add why
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
Due: azure-pipelines-starsky.yml

Files that are not found while publishing are ignored Show status when there a no items found before publishing
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIMetaInfo.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

add fix for https://github.com/qdraw/starsky/issues/101
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky.yml

[docs] enters
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starsky/readme.html
Due: none

add colorclass search
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starskycore/Services/SearchService.cs
  starsky/starskycore/ViewModels/SearchViewModel.cs
Due: azure-pipelines-starsky.yml

Assert.AreEqual(1, _search.Search("-ColorClass:2").SearchCount);
  starsky/starskytest/Services/SearchServiceTest.cs
Due: azure-pipelines-starsky.yml

Update names ++ update search docs
  starsky/starsky.foundation.platform/Helpers/ColorClassParser.cs
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

ignore for search pages
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

add copy paste for detailview
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/shared/clipboard-helper.spec.ts
  starsky/starsky/clientapp/src/shared/clipboard-helper.ts
  starsky/starsky/clientapp/src/style/css/02-form.css
  starsky/starsky/clientapp/src/style/css/36-notification.css
Due: azure-pipelines-starsky.yml

update history
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/readme.html
Due: none

Add Icons Bmp, Jpg, Png when is not loaded
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.tsx
  starsky/starsky/clientapp/src/style/css/21-archive-folder.css
  starsky/starsky/clientapp/src/style/images/baseline-file-bmp-24px.svg
  starsky/starsky/clientapp/src/style/images/baseline-file-jpg-24px.svg
  starsky/starsky/clientapp/src/style/images/baseline-file-png-24px.svg
Due: azure-pipelines-starsky.yml

when changing in detailview when searching ++ fix localtunnel
  starsky-tools/localtunnel/localtunnel.js
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky/starsky.foundation.thumbnailgeneration/Services/Thumbnail.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/containers/login.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky.yml

enable again
  starsky-tools/localtunnel/localtunnel.js
Due: none

split feature
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/shared/update-relative-object.spec.ts
Due: azure-pipelines-starsky.yml

rm consolelog
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky.yml

remove test that isnt doing anything
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky.yml

enable gzip compression provider ++ update cache time for clientapp/wwwroot
  docs/history.html
  history.md
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky.yml

Compression enabled - this should works
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky.yml

move hamburger to seperate element
  starsky/starsky/clientapp/src/components/atoms/hamburger-menu-toggle/hamburger-menu-toggle.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/hamburger-menu-toggle/hamburger-menu-toggle.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/hamburger-menu-toggle/hamburger-menu-toggle.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-default/menu-default.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-default/menu-default.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/10-menu.css
  starsky/starsky/clientapp/src/style/css/11-hamburger-toggle.css
  starsky/starsky/clientapp/src/style/css/12-menu-context.css
Due: azure-pipelines-starsky.yml

split into navContainer
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-default/menu-default.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/nav-container/nav-container.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/nav-container/nav-container.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/nav-container/nav-container.tsx
Due: azure-pipelines-starsky.yml

make a11y checks pass
  starsky/starsky/clientapp/src/components/atoms/hamburger-menu-toggle/hamburger-menu-toggle.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/organisms/nav-container/nav-container.tsx
  starsky/starsky/clientapp/src/style/css/02-form.css
  starsky/starsky/clientapp/src/style/css/11-hamburger-toggle.css
Due: azure-pipelines-starsky.yml

update changelog
  docs/history.html
  history.md
Due: none

version to 0.3.2
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

fix issue where datetime push influences colorclass or other tags
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky.yml

remove >
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
Due: azure-pipelines-starsky.yml

add typescript to package ++ fix issue
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
Due: azure-pipelines-starsky.yml

detailViewSidebar now has always details on
  starsky-tools/mock/api/info/test.jpg.json
  starsky-tools/mock/set-router.js
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky.yml

fix two small bugs
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky.yml

fix delete issue
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky.yml

add filter
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml
