Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

allow hashes
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

Regular expression used to match the actions/setup-dotnet GitHub Action in workflow files(#2595)
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

Auto .NET SDK version Upgrade to 8.0.417
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update dotnet SDK version in README
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update version 0.7.7 details in history.md
  history.md
Due: none

.NET SDK Upgrade to 8.0.417 (#2588)
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  history.md
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/readme.md
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Update ClientApp (#2594)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

need to test
  starsky/SYNC_RACE_CONDITION_FIX.md
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove
  starsky/SYNC_RACE_CONDITION_FIX.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Sync Race Condition Fix #2550
  history.md
Due: none

add issue
  history.md
Due: none

add extra tests
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest_summary.md
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Sync Race Condition Fix (#2550)
  history.md
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest_summary.md
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

DateTime shifting for multiple items #76
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrection.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/implementation-checklist-timezone-correction.md
  starsky/starsky.foundation.metaupdate/implementation-summary-timezone-correction.md
  starsky/starsky.foundation.metaupdate/quick-reference-timezone-correction.md
  starsky/starsky.foundation.metaupdate/readme-timezone-correction.md
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrection.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Auto .NET SDK version Upgrade to 8.0.417
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Spacing (#2599)
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus (#2598)
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Update ClientApp (#2597)
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make internal
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/TEMP_DOCS/API_ENDPOINTS_QUICK_REFERENCE.md
  starsky/TEMP_DOCS/CODE_CHANGES_SUMMARY.md
  starsky/TEMP_DOCS/COMPLETE_PACKAGE_SUMMARY.md
  starsky/TEMP_DOCS/DST_TIMEZONE_CORRECTION_EXAMPLE.md
  starsky/TEMP_DOCS/EXIF_TIMEZONE_CORRECTION_GUIDE.md
  starsky/TEMP_DOCS/FEATURE_IMPLEMENTATION_SUMMARY.md
  starsky/TEMP_DOCS/OFFSETTIME_MISSING_UNRELIABLE.md
  starsky/TEMP_DOCS/OFFSET_MISSING_EXPLANATION.md
  starsky/TEMP_DOCS/README_TIMEZONE_FEATURE.md
  starsky/TEMP_DOCS/TIMEZONE_CORRECTION_IMPLEMENTATION.md
  starsky/TEMP_DOCS/TIMEZONE_FEATURE_INDEX.md
  starsky/TEMP_DOCS/TIMEZONE_QUICK_REFERENCE.md
  starsky/TEMP_DOCS/UNITTEST_QUICK_REFERENCE.md
  starsky/TEMP_DOCS/UNITTEST_SUMMARY.md
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrection.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrectionRequest.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.platform/Enums/ApiNotificationType.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change checks
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix timeing issue
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add support for macOS and external drive and tests
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ Add support for macOS and external drive in tests (PR #2602)
  history.md
Due: none

add support for macOS and external drive and tests (#2602)
  history.md
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

disable
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests when running offline
  starsky/starskytest/starsky.feature.cloudimport/Clients/DropboxClientWrapperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add why
  history.md
Due: none

fix tests when running offline (#2603)
  history.md
  starsky/starskytest/starsky.feature.cloudimport/Clients/DropboxClientWrapperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add video to shell script
  starsky-tools/import/import.sh
Due: none

add check
  starsky-tools/import/import.sh
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
