Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

add test for duplicate uploads
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

upgrade cypress
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

add extra cypress test
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
Due: none

split feature
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
Due: azure-pipelines-starsky.yml

add extra test for sidecar files
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

verbose is not needed
  starsky/build.cake
Due: azure-pipelines-starsky.yml

need await
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

move to issues
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

cypress fix
  starsky-tools/end2end/cypress/integration/02-login/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
Due: none

add extra wait
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
Due: none

lots of refactorings
  starskyapp/.gitignore
  starskyapp/index.html
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/check-for-updates-window/check-for-updates-window.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/main.ts
  starskyapp/src/app/menu/menu.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/icons/baseline-searcher-detective-263238__256px.ico
  starskyapp/src/setup/icons/baseline-searcher-detective-263238__512px.icns
  starskyapp/src/setup/icons/baseline-searcher-detective-263238__512px.png
  starskyapp/tsconfig.json
Due: azure-pipelines-starsky.starskyapp.yml

Track
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/helpers/window-state-keeper.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/settings-window/create-settings-window.ts
Due: azure-pipelines-starsky.starskyapp.yml

add app. menu back
  starskyapp/src/app/menu/menu.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml

refactor exiftool download
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
  starskyapp/src/app/child-process/child-process-path.ts
  starskyapp/src/app/child-process/electron-cache-location.ts
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/os-info/is-packaged.ts
  starskyapp/src/app/os-info/os-build-key.ts
  starskyapp/src/app/startup/main.ts
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

WIP
  starskyapp/package.json
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/config/remember-url.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml

add copy script
  starskyapp/package.json
  starskyapp/src/client/redirect/reload-redirect.html
  starskyapp/src/setup/copy-folder.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml

lots of refacotring
  starskyapp/src/app/config/location-settings.const.ts
  starskyapp/src/app/config/remember-url.const.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/client/css/reload-redirect.css
  starskyapp/src/client/images/preloader-fancy.svg
  starskyapp/src/client/pages/redirect/reload-redirect.html
  starskyapp/src/client/redirect/reload-redirect.html
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/preload/preload-main.ts
  starskyapp/src/preload/preload.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml

webpack
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/config/location-settings-ipc-keys.const.ts
  starskyapp/src/app/config/location-settings.const.ts
  starskyapp/src/app/config/url-regex.ts
  starskyapp/src/app/helpers/window-state-keeper.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/startup/app-settings.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/preload/preload-main.ts
  starskyapp/src/setup/html-copy.ts
  starskyapp/tsconfig.client.json
  starskyapp/webpack.config.js
Due: azure-pipelines-starsky.starskyapp.yml

WIP
  starskyapp/src/app/config/app-version-ipc-key.const.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/preload/IPreloadApi.ts
  starskyapp/src/preload/preload-main.ts
  starskyapp/tsconfig.client.json
  starskyapp/tsconfig.json
  starskyapp/webpack.config.js
Due: azure-pipelines-starsky.starskyapp.yml

redirect
  starskyapp/src/app/config/url-query.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/preload/preload-main.ts
  starskyapp/tsconfig.client.json
  starskyapp/tsconfig.json
  starskyapp/webpack.config.js
Due: azure-pipelines-starsky.starskyapp.yml

add fonts
  starskyapp/src/app/settings-window/create-settings-window.ts
  starskyapp/src/client/css/01-base.css
  starskyapp/src/client/css/02-form.css
  starskyapp/src/client/css/03-button.css
  starskyapp/src/client/css/20-content.css
  starskyapp/src/client/css/29-switch-button.css
  starskyapp/src/client/fonts/GloriolaStd-Bold.woff
  starskyapp/src/client/fonts/GloriolaStd-Bold.woff2
  starskyapp/src/client/fonts/GloriolaStd-Light.woff
  starskyapp/src/client/fonts/GloriolaStd-Light.woff2
  starskyapp/src/client/fonts/GloriolaStd-Medium.woff
  starskyapp/src/client/fonts/GloriolaStd-Medium.woff2
  starskyapp/src/client/images/baseline-error-24px.svg
  starskyapp/src/client/pages/settings/settings.html
  starskyapp/src/client/script/settings.ts
  starskyapp/src/setup/html-copy.ts
  starskyapp/webpack.config.js
Due: azure-pipelines-starsky.starskyapp.yml

reformat using prettier
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/check-for-updates-window/check-for-updates-window.ts
  starskyapp/src/app/child-process/child-process-path.ts
  starskyapp/src/app/child-process/electron-cache-location.ts
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/config/IlocationUrlSettings.ts
  starskyapp/src/app/config/location-settings.const.ts
  starskyapp/src/app/config/remember-url.const.ts
  starskyapp/src/app/config/url-query.ts
  starskyapp/src/app/config/url-regex.ts
  starskyapp/src/app/helpers/window-state-keeper.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/main-window/main-windows.const.ts
  starskyapp/src/app/menu/menu.ts
  starskyapp/src/app/os-info/is-packaged.ts
  starskyapp/src/app/os-info/os-build-key.ts
  starskyapp/src/app/settings-window/create-settings-window.ts
  starskyapp/src/app/settings-window/settings-windows.const.ts
  starskyapp/src/app/startup/app-settings.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/client/pages/settings/settings.html
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/client/script/settings.ts
  starskyapp/src/preload/IPreloadApi.ts
  starskyapp/src/preload/preload-main.ts
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/src/setup/html-copy.ts
  starskyapp/starskyapp.code-workspace
Due: azure-pipelines-starsky.starskyapp.yml

fix remote
  starskyapp/src/app/config/IlocationUrlSettings.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/client/script/settings.ts
Due: azure-pipelines-starsky.starskyapp.yml

update comments
  starskyapp/src/app/config/IlocationUrlSettings.ts
  starskyapp/src/app/config/location-ipc-keys.const.ts
  starskyapp/src/app/config/location-settings.const.ts
  starskyapp/src/app/config/remember-url-settings.const.ts
  starskyapp/src/app/config/update-policy-ipc-key.const.ts
  starskyapp/src/app/config/update-policy-settings.const.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/client/pages/redirect/reload-redirect.html
  starskyapp/src/client/pages/settings/settings.html
  starskyapp/src/client/script/reload-redirect.ts
  starskyapp/src/client/script/settings.ts
  starskyapp/src/preload/preload-main.ts
Due: azure-pipelines-starsky.starskyapp.yml

check for update settings
  starskyapp/src/app/check-for-updates-window/check-for-updates-window.const.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/main-window/create-main-window.ts
  starskyapp/src/app/menu/menu.ts
  starskyapp/src/app/settings-window/create-settings-window.ts
  starskyapp/src/app/window-state-keeper/window-state-keeper.ts
  starskyapp/src/client/pages/settings/settings.html
  starskyapp/src/client/script/settings.ts
Due: azure-pipelines-starsky.starskyapp.yml

version bumb to 043
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/end2end/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky.yml

remove _ at end
  history.md
Due: none

Update starskyapp-electron-build-mac-win.yml
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Make compatable with newer versions that ignore zips
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Add unzip actions for future releases
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

fix issue where downloader did not work correctly with app / missing path under mac os/unix
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
Due: azure-pipelines-starsky.yml

change azure pipeline for app
  azure-pipelines-starsky.starskyapp.yml
Due: none

add restore rights
  azure-pipelines-starsky.starskyapp.yml
  starsky/starsky/pm2-restore-x-rights.sh
  starskyapp/src/shared/data.ts
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update here as well
  starsky/starsky/pm2-restore-x-rights.sh
Due: azure-pipelines-starsky.yml

add restore for files ^^ disable unittests
  azure-pipelines-starsky.starskyapp.yml
Due: none

add tests
  starsky/build.cake
  starskyapp/.gitignore
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/os-info/is-packaged.ts
  starskyapp/src/shared/date.spec.ts
  starskyapp/src/shared/date.ts
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
