Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

docs
  documentation/docs/features/rabbitmq-queue-backend.md
  documentation/docs/features/readme.md
  starsky/starskytest/starsky.foundation.worker/Backends/RabbitMqQueueBackendTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

- [x] (Added) _Back-end_ Flexible background queue, support for multiple backends (in-memory, database, and RabbitMQ) (InMemory already exists) (PR #3020)
  history.md
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3021)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

add docs
  documentation/blog/20260428-new-feature-queue-backends-database-rabbitmq.md
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#3022)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add migrations
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#3023)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add tests
  documentation/docs/developer-guide/migrations/migrations.md
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky/exiftool.config
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

docs update
  documentation/docs/features/metadata.md
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_XmpReadHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  history.md
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add custom ai tags (#3000)
  documentation/docs/developer-guide/migrations/migrations.md
  documentation/docs/features/metadata.md
  history.md
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260428143555_AddCustomAITags.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
  starsky/starsky.foundation.writemeta/Services/GeoLocationWrite.cs
  starsky/starsky/exiftool.config
  starsky/starsky/starsky.csproj
  starsky/starskytest/Helpers/FileIndexCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_ForceOverWrite_ColorClassOverwrite.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_HappyFlow.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a330.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a6660.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a6700.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-eos7d.cr2.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-test.mp4.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTestInMemoryDb.Importer_Gpx.verified.txt
  starsky/starskytest/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExifTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_XmpReadHelperTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolStreamToStreamRunnerTests.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WIP
  history.md
  starsky/starsky/download-mirror.sh
  starsky/starsky/ollama-dependencies-download.sh
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/pm2-restore-x-rights.sh
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add settings
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/appsettings.default.json
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.platform/Helpers/OllamaExePath.cs
  starsky/starsky.foundation.platform/Interfaces/IOllamaProcessRunner.cs
  starsky/starsky.foundation.platform/Interfaces/IOllamaService.cs
  starsky/starsky.foundation.platform/Models/OllamaCommandResult.cs
  starsky/starsky.foundation.platform/Services/OllamaProcessRunner.cs
  starsky/starsky.foundation.platform/Services/OllamaService.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/OllamaExePathTests.cs
  starsky/starskytest/starsky.foundation.platform/Services/OllamaProcessRunnerTests.cs
  starsky/starskytest/starsky.foundation.platform/Services/OllamaServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.imageclassification/Helpers/ImageClassificationTagMergeHelper.cs
  starsky/starsky.foundation.imageclassification/Interfaces/IImageClassificationService.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationService.cs
  starsky/starsky.foundation.imageclassification/starsky.foundation.imageclassification.csproj
  starsky/starsky.foundation.platform/Services/OllamaService.cs
  starsky/starsky.sln
  starsky/starsky/starsky.csproj
  starsky/starskytest/starsky.foundation.imageclassification/Helpers/ImageClassificationTagMergeHelperTests.cs
  starsky/starskytest/starsky.foundation.imageclassification/Services/ImageClassificationServiceTests.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.imageclassification/Interfaces/IImageClassificationBackgroundTaskQueue.cs
  starsky/starsky.foundation.imageclassification/Interfaces/IImageClassificationBatchRunner.cs
  starsky/starsky.foundation.imageclassification/Models/ImageClassificationQueuePayload.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationBackgroundJobHandler.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationBackgroundTaskQueue.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationBatchRunner.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationQueuedHostedService.cs
  starsky/starsky.foundation.imageclassification/Services/ImageClassificationStartupHostedService.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.worker/Helpers/ProcessTaskQueue.cs
  starsky/starsky.sln
  starsky/starskyimageclassificationcli/Program.cs
  starsky/starskyimageclassificationcli/starskyimageclassificationcli.csproj
  starsky/starskytest/starsky.foundation.imageclassification/Services/ImageClassificationBatchRunnerTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

readme
  starsky/starskyimageclassificationcli/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.420
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Chuncked Upload
  starsky/CHUNKED_UPLOAD_IMPLEMENTATION.md
  starsky/starsky.foundation.import/Interfaces/IChunkUploadSessionStore.cs
  starsky/starsky.foundation.import/Models/ChunkUploadModels.cs
  starsky/starsky.foundation.import/Services/InMemoryChunkUploadSessionStore.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starsky/clientapp/src/components/atoms/drop-area/chunk-upload-helper.ts
  starsky/starsky/clientapp/src/components/atoms/drop-area/post-single-form-data.ts
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/CHUNKED_UPLOAD_IMPLEMENTATION.md
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/clientapp/src/components/atoms/drop-area/chunk-upload-helper.spec.ts
  starsky/starsky/clientapp/src/components/atoms/drop-area/chunk-upload-helper.ts
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/starsky.foundation.import/Services/InMemoryChunkUploadSessionStoreTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1512
  starsky-tools/mock/set-router.js
  starsky/starsky.feature.search/Interfaces/ISearchSuggest.cs
  starsky/starsky.feature.search/Services/SearchSuggestionsService.cs
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky/Controllers/IndexController.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/clientapp/src/components/molecules/shared-structured-filter/shared-structured-filter.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/shared-structured-filter/shared-structured-filter.tsx
  starsky/starsky/clientapp/src/containers/archive/archive.spec.tsx
  starsky/starsky/clientapp/src/containers/archive/archive.tsx
  starsky/starsky/clientapp/src/containers/search.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/interfaces/IUrl.ts
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/pages/search-page.tsx
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starsky/clientapp/src/shared/url/url-path.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-path.ts
  starsky/starsky/clientapp/src/shared/url/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starsky/clientapp/src/style/css/00-index.css
  starsky/starsky/clientapp/src/style/css/41-structured-filter.css
  starsky/starskytest/Controllers/IndexControllerTest.cs
  starsky/starskytest/Controllers/SearchSuggestControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/FakeMocks/FakeIQueryException.cs
  starsky/starskytest/starsky.feature.search/Services/SearchSuggestionsServiceTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.420 (#3029)
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#3025)
  documentation/docs/developer-guide/api/readme.md
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Import check for duplicates within same batch #861
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1512
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starsky/clientapp/src/shared/url/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starskytest/Controllers/IndexControllerTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#225
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

feature/202605-file-index-item-json-parser-225
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/NewItemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

feature/202605-filters-1512
  starsky/starsky/clientapp/src/components/molecules/shared-structured-filter/shared-structured-filter.spec.tsx
  starsky/starsky/clientapp/src/containers/archive/archive.spec.tsx
  starsky/starsky/clientapp/src/containers/search.spec.tsx
  starsky/starsky/clientapp/src/shared/url/url-path.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-query.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

feature/202605-file-index-item-json-parser-225
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#576 InstanceID
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starskytest/starsky.foundation.database/Models/FileIndexItemTest.cs
  starsky/starskytest/starsky.foundation.import/Helpers/UpdateImportTransformationsTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_XmpReadHelperTest.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/NewItemTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#576 InstanceID
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_ForceOverWrite_ColorClassOverwrite.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_HappyFlow.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a330.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a6660.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-a6700.arw.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-eos7d.cr2.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-test.mp4.verified.txt
  starsky/starskytest/starsky.foundation.import/Services/ImportTestInMemoryDb.Importer_Gpx.verified.txt
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1512 filters
  starsky/starsky/clientapp/src/components/molecules/shared-structured-filter/shared-structured-filter.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
