Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

RUN mkdir -p /app/temp && chown app:app /app/temp
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Dockerfile - simplifying user and group management and standardizing file ownership (#3235)
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update history.md
  history.md
Due: none

add docs
  documentation/docs/features/readme.md
  documentation/docs/getting-started/desktop/desktop-windows.md
  documentation/docs/getting-started/desktop/readme.md
  documentation/docs/getting-started/setup.md
Due: pipelines/azure/documentation.yaml

set back to 1000
  documentation/docs/getting-started/docker/kubernetes.md
  starsky/Dockerfile
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

single run
  history.md
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

comment
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

node24
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

set back to 1000 (#3236)
  documentation/docs/getting-started/docker/kubernetes.md
  history.md
  starsky/Dockerfile
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#3231)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

changelog
  history.md
Due: none

WebApp Update Swagger .NET (#3240)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add kill
  windows/Services/BackendService.cs
Due: none

add build step
  documentation/docs/getting-started/desktop/desktop-windows.md
  windows/SPEC.md
  windows/Starsky.Desktop.csproj
Due: pipelines/azure/documentation.yaml

add installer
  .gitignore
  windows/Windows/MainWindow.xaml.cs
  windows/build-velopack.ps1
Due: none

add checker for updates
  windows/App.xaml.cs
  windows/Models/MainWindowOptions.cs
  windows/Services/UpdateService.cs
  windows/Services/WindowManager.cs
  windows/Starsky.Desktop.csproj
  windows/Windows/MainWindow.xaml
  windows/Windows/MainWindow.xaml.cs
  windows/starsky.Tests/Services/WindowManagerTests.cs
Due: none

sonar
  windows/Services/FileDownloadService.cs
  windows/starsky.Tests/Services/BackendServiceTests.cs
Due: none

sonar
  windows/Services/WindowManager.cs
Due: none

changelog 0.9.0-beta.0
  history.md
Due: none

add ignore
  .gitignore
Due: none

Command CodeSign failed with a nonzero exit code
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starskyTests.xcscheme
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Services/FileDownloadService.swift
  mac/starsky/Services/UpdateService.swift
Due: none

xcode
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starskyTests.xcscheme
  mac/starsky/Windows/MainWindowController.swift
Due: none

xcode
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starskyTests.xcscheme
Due: none

try this
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starsky.xcscheme
  mac/starsky.xcodeproj/xcshareddata/xcschemes/starskyTests.xcscheme
Due: none

try this
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky/App/AppDelegate.swift
  mac/starsky/starsky.debug.entitlements
Due: none

WIP
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Windows/SplashWindowController.swift
Due: none

try this
  mac/project.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky/App/AppDelegate.swift
  mac/starsky/App/main.swift
Due: none

WIP
  .github/workflows/desktop-release-on-tag-net-electron.yml
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Windows/MainWindowController.swift
  mac/starsky/Windows/SettingsWindowController.swift
Due: none

WIP
  .github/workflows/desktop-macos-sonarqube.yml
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Services/BackendService.swift
  mac/starsky/Services/RemoteUrlValidator.swift
  mac/starsky/Windows/SettingsWindowController.swift
  starsky-tools/build-tools/app-version-update.js
Due: none

fixes
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_64x64.png
  mac/starsky/WindowManager.swift
  mac/starsky/Windows/MainWindowController.swift
  mac/starsky/Windows/SettingsWindowController.swift
Due: none

fix edit flow && update pipeline
  .github/workflows/desktop-macos-pr-build.yml
  .github/workflows/desktop-macos-sonarqube.yml
  mac/starsky/Services/FileDownloadService.swift
  mac/starsky/Windows/MainWindowController.swift
  mac/starskyTests/Helpers/FakeURLProtocol.swift
  mac/starskyTests/Services/FileDownloadServiceTests.swift
Due: none

code
  mac/starsky/Services/FileDownloadService.swift
  mac/starsky/Windows/ErrorWindowController.swift
Due: none

fixes
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  mac/starsky/Resources/Assets.xcassets/AppIcon.appiconset/icon_64x64.png
  mac/starsky/Services/FileDownloadService.swift
  mac/starsky/Windows/ErrorWindowController.swift
  mac/starskyTests/Services/FileDownloadServiceTests.swift
Due: none

tests
  .github/workflows/desktop-macos-pr-build.yml
  mac/starsky/App/AppDelegate.swift
  mac/starsky/Windows/MainWindowController.swift
Due: none
