Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add test
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix styling issues
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-mouse-down-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update starsky-deploy-demo-env.yml
  .github/workflows/starsky-deploy-demo-env.yml
Due: none

update url
  docs/index.html
  docs/readme.html
  index.md
  readme.md
  starsky-tools/end2end/cypress/config/starsky/heroku-demo.json
Due: none

fix new demo url
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

WIP
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/DataProtection/DataProtectionModel.cs
  starsky/starsky.foundation.database/DataProtection/DataProtectionService.cs
  starsky/starsky.foundation.database/DataProtection/DataProtectionXmlRepository.cs
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  starsky/starsky.foundation.database/DataProtection/DataProtectionService.cs
  starsky/starsky.foundation.database/DataProtection/DataProtectionXmlRepository.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add timeout and check check
  starsky/starsky/Controllers/HealthController.cs
  starskyapp/src/app/config/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add caching on health api && max timeout on health api
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starsky/starskytest/FakeMocks/FakeMemoryCache.cs
  starsky/starskytest/Services/ReadMeta_ReadMetaBoth_Cache_Test.cs
  starsky/starskytest/Services/SearchServiceTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryAddRangeTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryNetFrameworkTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change to 1,5 minute
  starsky/starsky/Controllers/HealthController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add why
  starskyapp/src/app/config/url-query.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix touch issues
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-mouse-down-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-move-mouse-touch-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

debug
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra check
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

debug
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test && fix code smell
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.spec.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.spec.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-move-mouse-touch-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove console log && add tests
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-mouse-down-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-move-mouse-touch-action.spec.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm console
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-mouse-down-mouse-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-mouse-down-mouse-action.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra wait
  starsky-tools/end2end/cypress/integration/00-warmup/warmup.ts
Due: none

debug
  starsky/starsky/clientapp/src/containers/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test for swipe
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm console log
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add reset button
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
  starsky/starsky/clientapp/src/style/css/24-detailview.css
  starsky/starsky/clientapp/src/style/images/baseline-zoom_reset-24px.svg
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

public
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/on-wheel-mouse-action.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
