Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

give more time
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fixes
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix round
  starsky/starskytest/Models/SearchViewModelTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

dispose
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to inmemory tests
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starskytest/FakeMocks/FakeIHttpClientHelper.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFileDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps for windows
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Scoped
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starsky.feature.geolookup/Services/GeoReverseLookup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathCollectionAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change to back to singleton and set scope helper
  starsky/starsky.feature.geolookup/Services/GeoReverseLookup.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoBackgroundTaskTest.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoReverseLookupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comment
  starsky/starsky.feature.geolookup/Services/GeoReverseLookup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade electron packages
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/readme.md
  starskydesktop/src/app/menu/app-menu.ts
Due: pipelines/azure/documentation.yaml

keep a changelog
  history.md
Due: none

update packages && add mock example && update reducer && add filetype to list in typescript
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
  starsky-tools/mock/websocket-server.js
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

mock fixes
  starsky-tools/mock/api/env/features.json
  starsky-tools/mock/set-router.js
  starsky-tools/mock/websocket-server.js
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update test
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

reinstall electron
  starskydesktop/package-lock.json
Due: none

change version of nodejs
  pipelines/azure/app-ci.yml
Due: none

hope this helps
  starsky/starsky.foundation.platform/Extensions/TimeoutTaskAfter.cs
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

more clear
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make code easier to read && fix style issues in github ymls
  .github/workflows/auto-update-application-version.yml
  .github/workflows/auto-update-nuget-packages-list.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-docker-buildx.yml
  .github/workflows/starsky-tools-node-smoke-test.yml
  .github/workflows/starskyapp-electron-pr-build-mac-win.yml
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra mocks
  starskydesktop/src/app/child-process/setup-child-process.spec.ts
  starskydesktop/src/app/edit-file/download-xmp-file.spec.ts
  starskydesktop/src/app/main-window/create-main-window.spec.ts
  starskydesktop/src/app/net-request/get-net-request.spec.ts
  starskydesktop/src/app/settings-window/create-settings-window.spec.ts
  starskydesktop/src/client/script/check-for-updates.spec.ts
  starskydesktop/src/client/script/reload-redirect.spec.ts
  starskydesktop/src/client/script/settings-check-for-updates-toggle.spec.ts
  starskydesktop/src/client/script/settings.spec.ts
Due: none

add mock for settings
  starskydesktop/src/app/menu/app-menu.spec.ts
  starskydesktop/src/app/startup/app-settings.spec.ts
  starskydesktop/src/app/startup/restore-warmup-main-window-and-close-splash.spec.ts
  starskydesktop/src/client/script/settings-default-image-application-select.spec.ts
  starskydesktop/src/client/script/settings-remote-local-toggle.spec.ts
  starskydesktop/src/client/script/settings-remote-location-field.spec.ts
  starskydesktop/src/main/main.spec.ts
  starskydesktop/src/preload/preload-main.spec.ts
Due: none

lint fix
  starskydesktop/src/main/main.spec.ts
Due: none

export
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress
  starsky/starsky/Controllers/MetaUpdateController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/build/helpers/SonarQube.cs
  starsky/starskytest/starsky.foundation.database/DataProtection/AddDataProtectionKeysTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelper.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.readmeta/Helpers/GeoParser.cs
  starsky/starskycore/Helpers/MimeHelper.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIExport.cs
  starsky/starskytest/Helpers/MimeHelperTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Helpers/GeoParserTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

give more time && code smell
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMetaSubPathStorageTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update cypress
  starsky-tools/end2end/cypress/e2e/21-archive-from-upload/from-upload.cy.ts
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

make test more clear
  starsky/starskytest/Helpers/MimeHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
