Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

is this working?
  starsky/starsky.foundation.realtime/Helpers/WebSocketConnection.cs
Due: azure-pipelines-starsky.yml

WIP
  starsky-tools/localtunnel/localtunnel.js
  starsky-tools/localtunnel/localtunnel2.js
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

make policies easier to read on mobile
  starsky/starsky/wwwroot/legal/legal.css
  starsky/starsky/wwwroot/legal/privacy-policy.en.html
  starsky/starsky/wwwroot/legal/privacy-policy.nl.html
  starsky/starsky/wwwroot/legal/toc.en.html
  starsky/starsky/wwwroot/legal/toc.nl.html
Due: azure-pipelines-starsky.yml

move try catch to source of exception
  starsky/starsky.foundation.realtime/Helpers/WebSocketConnection.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
Due: azure-pipelines-starsky.yml

change order to support websockets
  starsky-tools/localtunnel/localtunnel2.js
Due: none

add localtunnel
  starsky-tools/localtunnel/localtunnel2.js
Due: none

rename
  starsky-tools/localtunnel/localtunnel.js
  starsky-tools/localtunnel/localtunnel2.js
Due: none

resolve same status code to client
  starsky-tools/localtunnel/localtunnel.js
Due: none

update check
  starsky/starsky/clientapp/src/hooks/use-sockets.tsx
Due: azure-pipelines-starsky.yml

make code more clear
  starsky/starsky/clientapp/src/components/molecules/list-image-box/list-image-box.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.tsx
  starsky/starsky/clientapp/src/hooks/use-sockets.tsx
Due: azure-pipelines-starsky.yml

update comment
  starsky/starskycore/Helpers/ApplicationInsightsJsHelper.cs
Due: azure-pipelines-starsky.yml

move and rename client side
  starsky-tools/localtunnel/localtunnel.js
  starsky/starsky/clientapp/src/containers/media-content.spec.tsx
  starsky/starsky/clientapp/src/containers/media-content.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.const.ts
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.ts
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
  starsky/starsky/clientapp/src/hooks/use-sockets.tsx
Due: azure-pipelines-starsky.yml

shallow instead of mount
  starsky/starsky/clientapp/src/hooks/___tests___/test-hook.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/use-capture-position.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-fetch.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-global-settings.spec.ts
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
Due: azure-pipelines-starsky.yml

add tests
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.spec.ts
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.ts
Due: azure-pipelines-starsky.yml

rename UpperCase
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

test if this fixes the issue
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
  starskyapp/lib/setup-child-process.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

remove outdated comment
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
Due: azure-pipelines-starsky.yml

add hint
  starsky/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/readme.html
Due: none

add tests ++ catch exception
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky.yml

add verbose log
  docs/starsky/readme.html
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
Due: azure-pipelines-starsky.yml

add retry and small delay to avoid timing issues
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
Due: azure-pipelines-starsky.yml

change localtunnel to support websockets ++ make socket client work to include missing Model ++ add comment with statuscode in middleware
  .gitignore
  starsky-tools/localtunnel/localtunnel.js
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
  starsky-tools/socket/ChannelWSClient.csproj
  starsky-tools/socket/Model/AppSettings.cs
  starsky-tools/socket/_example_appsettings.json
  starsky/starsky.foundation.realtime/Middleware/DisabledWebSocketsMiddleware.cs
  starsky/starsky.foundation.realtime/Middleware/WebSocketConnectionsMiddleware.cs
Due: azure-pipelines-starsky.yml

sonarqube should also scan front-end only changes
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

reset count
  starsky-tools/localtunnel/localtunnel.js
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/hooks/realtime/___tests___/fake-web-socket-service.ts
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.spec.ts
Due: azure-pipelines-starsky.yml

add tests
  starsky/starsky/clientapp/src/hooks/realtime/___tests___/fake-web-socket-service.ts
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.spec.ts
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/shared/url-query.spec.ts
Due: azure-pipelines-starsky.yml

fix ts lint issue
  starsky/starsky/clientapp/src/hooks/realtime/___tests___/fake-web-socket-service.ts
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
Due: azure-pipelines-starsky.yml

export type
  starsky/starsky/clientapp/src/contexts/detailview-context.tsx
Due: azure-pipelines-starsky.yml

add addEventListener in DetailViewWrapper
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky.feature.metaupdate/Interfaces/IMetaUpdateService.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
Due: azure-pipelines-starsky.yml

add test ++ update pusher
  starsky/starsky.foundation.platform/JsonConverter/DefaultJsonSerializer.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
Due: azure-pipelines-starsky.yml

add test ++ catch Event and update
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.spec.tsx
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.tsx
Due: azure-pipelines-starsky.yml
