Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

Change to precompiled regex
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

"
  starsky/starsky.foundation.platform/Helpers/HashSetHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code formatting && move to GenerateSlugHelper method
  starsky/starsky.feature.webftppublish/Services/FtpService.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/CopyPublishedContent.cs
  starsky/starsky.feature.webhtmlpublish/Models/PublishManifestModel.cs
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.platform/Helpers/GenerateSlugHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/Helpers/FileStreamingHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/GenerateSlugHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Rewrite Slug to Static Generated Regex
  starsky/starsky.foundation.platform/Helpers/GenerateSlugHelper.cs
  starsky/starsky.foundation.platform/Helpers/GenerateSlugHelperStaticRegex.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm usused appsettings props
  starsky/starsky.feature.webftppublish/Services/FtpService.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/CopyPublishedContent.cs
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starskytest/FakeMocks/FakeIOverlayImage.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Helpers/CopyPublishedContentTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/OverlayImageTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.webtelemetry/Services/TracesService.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/src/main.tsx
  starsky/starsky/clientapp/src/shared/opentelemetry/opentelemetry.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix ios styling issue && fix desktop build issues
  starsky/starsky/clientapp/src/style/css/12-menu-context.css
  starskydesktop/package.json
  starskydesktop/src/setup/before-build.ts
  starskydesktop/starskydesktop.code-workspace
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Task.Yield] PeriodicThumbnailScanHostedService startup time improvement
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Colorclass filter refactor
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/shared/class-name-container.ts
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/shared/clean-color-class.ts
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/shared/get-filter-url-color-class.ts
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename to internal
  starsky/starsky/clientapp/src/hooks/realtime/internal/is-client-side-feature-disabled.ts
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.ts
  starsky/starsky/clientapp/src/hooks/use-location/internal/navigate-fn.ts
  starsky/starsky/clientapp/src/hooks/use-location/use-location.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test && rename && add comment
  starsky/starsky/clientapp/src/components/atoms/current-location-button/current-location-button.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/internal/get-filter-url-color-class.spec.ts
  starsky/starsky/clientapp/src/shared/select-check-if-active.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to loc.json && make easier to read
  .editorconfig
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test && move to json
  starsky/starsky/clientapp/src/containers/import/import.spec.tsx
  starsky/starsky/clientapp/src/containers/import/import.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove state
  starsky/starsky/clientapp/src/components/atoms/portal/portal.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[localtunnel] update to latest version
  starsky-tools/localtunnel/localtunnel.js
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

add retry && renew free port if failed
  starskydesktop/src/app/child-process/setup-child-process.spec.ts
  starskydesktop/src/app/child-process/setup-child-process.ts
  starskydesktop/src/app/get-free-port/get-free-port.ts
Due: none

add sonar init
  starskydesktop/.eslintrc.cjs
  starskydesktop/package-lock.json
  starskydesktop/package.json
  starskydesktop/sonar-scanner.ts
Due: none

remove app insights features
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.sync/SyncInterfaces/IManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starsky/Controllers/HealthController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/Controllers/SynchronizeController.cs
  starsky/starsky/clientapp/public/index.html
  starsky/starskyadmincli/Program.cs
  starsky/starskydemoseedcli/Program.cs
  starsky/starskygeocli/Program.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskysynchronizecli/Program.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starsky/starskytest/FakeMocks/FakeITelemetryProcessor.cs
  starsky/starskytest/root/StartupTest.cs
  starsky/starskytest/starsky.foundation.consoletelemetry/Extensions/ApplicationInsightsWorkerExtensionTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/ApplicationInsightsJsHelperTest.cs
  starsky/starskythumbnailcli/Program.cs
  starsky/starskythumbnailmetacli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add metrics WIP
  starsky/starsky.foundation.webtelemetry/Extensions/OpenTelemetryExtension.cs
  starsky/starsky.foundation.webtelemetry/Models/Metrics.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm
  starsky/starskytest/starsky.foundation.consoletelemetry/Initializers/CloudRoleNameInitializerConsoleTest.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SetupDatabaseTypesTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelperTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Helpers/TrackDependencyTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Processor/FilterWebsocketsTelemetryProcessorTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Services/DatabaseTelemetryInterceptorTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/RequestTelemetryHelperTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Initializers/CloudRoleNameInitializerWebTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Models/EmptyOperationHolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

version bumb to v0.6.0-beta.0 && add tester to build tools package.json
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

rm csproj
  starsky/starsky.foundation.consoletelemetry/starsky.foundation.consoletelemetry.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.diagnosticsource/ActivitySource/ActivitySourceMeter.cs
  starsky/starsky.foundation.diagnosticsource/Metrics/Class1.cs
  starsky/starsky.foundation.diagnosticsource/starsky.foundation.diagnosticsource.csproj
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starsky.foundation.webtelemetry/Extensions/OpenTelemetryExtension.cs
  starsky/starsky.foundation.webtelemetry/Helpers/MetricsHelper.bak
  starsky/starsky.foundation.webtelemetry/Helpers/MetricsHelper.cs
  starsky/starsky.foundation.webtelemetry/Helpers/SampleMeter.bak
  starsky/starsky.foundation.webtelemetry/Helpers/Test.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.foundation.worker/Services/UpdateBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailBackgroundTaskQueue.cs
  starsky/starsky.sln
  starsky/starsky/Controllers/HealthController.cs
  starsky/starsky/Controllers/TestController.cs
  starsky/starsky/Startup.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIManualBackgroundSyncService.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnectorTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/SetupLoggingTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Services/FilterStatusCodesInitializerTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Services/TelemetryServiceTest.cs
  starsky/starskytest/starsky.foundation.worker/Services/UpdateBackgroundTaskQueueTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry for docker build
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.101
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

front-end version update && knip && prestorybook
  starsky/starsky/clientapp/.storybook/middleware.js
  starsky/starsky/clientapp/jest.setup.ts
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/scripts/prestorybook.js
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundService.cs
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.diagnosticsource/ActivitySource/ActivitySourceMeter.cs
  starsky/starsky.foundation.diagnosticsource/Metrics/Class1.cs
  starsky/starsky.foundation.diagnosticsource/starsky.foundation.diagnosticsource.csproj
  starsky/starsky.foundation.platform/MetricsNamespaces/ActivitySourceMeter.cs
  starsky/starsky.foundation.sync/Metrics/DiskWatcherBackgroundTaskQueueMetrics.cs
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starsky.foundation.webtelemetry/Extensions/OpenTelemetryExtension.cs
  starsky/starsky.foundation.webtelemetry/Helpers/MetricsHelper.bak
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.sln
  starsky/starsky/Controllers/TestController.cs
  starsky/starsky/Startup.cs
  starsky/starsky/starsky.csproj
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/MetricsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm
  starsky/starsky/clientapp/jest.setup.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

spaceing by dotnet-sdk-version-update
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.feature.syncbackground/starsky.feature.syncbackground.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test and fix nulable
  starsky/starsky.feature.webhtmlpublish/Interfaces/IWebHtmlPublishService.cs
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.sln.DotSettings
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIOverlayImage.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaInfoTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaUpdateServiceTest.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
  starsky/starskytest/starsky.feature.webftppublish/FtpAbstractionsTest/WrapFtpWebRequestTest.cs
  starsky/starskytest/starsky.feature.webftppublish/FtpAbstractionsTest/WrapFtpWebResponseTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove app insights references
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Properties/default-init-launchSettings.json
  starsky/starsky/appsettings.json
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
  starsky/starsky/clientapp/src/main.tsx
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/readme.md
  starsky/starskytest/root/StartupTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
  starsky/telemetry.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
