Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

add test
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
Due: azure-pipelines-starsky.yml

add extra test
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky.yml

account register page fix ++ add link to create account when already loggedin ++ fix /api/sync post
  history.md
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/containers/account-register.spec.tsx
  starsky/starsky/clientapp/src/containers/account-register.tsx
  starsky/starsky/clientapp/src/containers/login.spec.tsx
  starsky/starsky/clientapp/src/containers/login.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky.yml

typo
  starsky/starsky/Controllers/AccountController.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

it should ignore duplicate content
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

same as 'set'
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

WIP
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
Due: azure-pipelines-starsky.yml

store latest page ++ add request when pressing 'e'
  starskyapp/lib/app-menu.js
  starskyapp/lib/get-base-url-from-settings.js
  starskyapp/lib/handle-edit-keypress.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/main-window.js
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml

rename and callback
  starskyapp/lib/app-menu.js
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/handle-edit-keypress.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/main-window.js
  starskyapp/lib/remote-settings-preload.js
  starskyapp/lib/settings-window.js
  starskyapp/pages/edit-not-allowed.html
  starskyapp/pages/edit-save-as.html
  starskyapp/pages/reload-redirect.html
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

work in progress
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/electron-cache-location.js
  starskyapp/lib/file-extensions.js
  starskyapp/lib/get-base-url-from-settings.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/setup-child-process.js
  starskyapp/pages/edit-save-as.html
Due: azure-pipelines-starsky.starskyapp.yml

hotfix for search
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/shared/array-helper.spec.ts
  starsky/starsky/clientapp/src/shared/array-helper.ts
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
Due: azure-pipelines-starsky.yml

add watcher
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/main-window.js
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml

Fix for upload controller
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

add unit test to cover situation
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add test to cover situatation
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add error page
  starskyapp/lib/edit-keypress.js
  starskyapp/pages/edit-connection-error.html
Due: azure-pipelines-starsky.starskyapp.yml

the chain should now working
  starskyapp/index.js
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/main-window.js
  starskyapp/lib/watch-for-changes.js
  starskyapp/media/reload-script.js
Due: azure-pipelines-starsky.starskyapp.yml

send message when something is uploaded to all users
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

add status to ok
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

Add Edit File in Editor to menu
  starskyapp/lib/app-menu.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/main-window.js
Due: azure-pipelines-starsky.starskyapp.yml

add fakeWebSockets
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

feature/202010_upload_controller_bugfix
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

to 19
  history.md
Due: none

Add date for release 0.4.0-beta.0
  docs/history.html
Due: none

version bumb tot beta1
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add feature
  history.md
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/ipc-bridge.js
  starskyapp/lib/remote-settings-preload.js
  starskyapp/lib/settings-window.js
  starskyapp/lib/watch-for-changes.js
  starskyapp/media/settings-client.js
  starskyapp/pages/settings.html
Due: azure-pipelines-starsky.starskyapp.yml

update html
  docs/history.html
Due: none

Create release-on-tag.yml
  .github/workflows/release-on-tag.yml
Due: none

Update release-on-tag.yml
  .github/workflows/release-on-tag.yml
Due: none

replace dot with _
  .github/workflows/release-on-tag.yml
Due: none

add mono install
  .github/workflows/release-on-tag.yml
Due: none

Update starskyapp-electron-build-mac-win.yml
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none
