Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

mock
  starskyapp/src/app/child-process/setup-child-process.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

no rule
  starskyapp/.eslintrc.cjs
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

jest.mock("electron-settings", () => { return { get: () => "data", __esModule: true, }; });
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

WIP
  starskyapp/src/app/file-selector-window/file-selector-window.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

code smells
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Import/ImportQueryFactory.cs
  starsky/starsky.foundation.database/Query/QueryCollections.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.search/ViewModels/SearchViewModel.cs
  starsky/starsky.foundation.database/Query/QueryCollections.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaXmp.cs
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
  starsky/starskytest/Models/SearchViewModelTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add usage
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 6.0.402
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add dist
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update readme
  docs/history.html
  docs/starsky/readme.html
  docs/starskyapp/readme.html
Due: none

update
  starskyapp/src/setup/copy-folder.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

Update starskyapp-electron-pr-build-mac-win.yml
  .github/workflows/starskyapp-electron-pr-build-mac-win.yml
Due: none

make copy more clear
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

code
  starskyapp/src/app/child-process/child-process-path.ts
  starskyapp/src/app/child-process/electron-cache-location.ts
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/setup/html-copy.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

code style
  starskyapp/src/app/file-selector-window/file-selector-window.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

style
  starskyapp/src/app/file-selector-window/file-selector-window.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

test
  starskyapp/.vscode/launch.json
  starskyapp/jest.config.mjs
  starskyapp/src/app/file-selector-window/file-selector-window.spec.ts
  starskyapp/src/types/global.d.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix: upgrade dotenv from 16.0.2 to 16.0.3
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

add names
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add post install
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

remove win-x86
  pipelines/azure/app-ci.yml
Due: none

test new pipeline
  pipelines/azure/app-ci.yml
  pipelines/azure/shared-web-only.yml
  pipelines/azure/steps/publish_artifacts.yml
  pipelines/azure/steps/publish_end2end_container.yml
Due: none

version
  pipelines/azure/app-ci.yml
Due: none

comment
  starsky/starsky/Controllers/AccountController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

disable warning
  starsky/starsky.feature.webftppublish/FtpAbstractions/Services/FtpWebRequestFactory.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  pipelines/azure/steps/electron_build.yml
Due: none

change path
  pipelines/azure/steps/electron_build.yml
Due: none

install-app-deps
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

mv
  starskyapp/src/preload/IPreloadApi1.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

mv
  starskyapp/src/preload/IPreloadApi.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add cache step
  pipelines/azure/steps/build_server.yml
  pipelines/azure/steps/cache_dependencies.yml
Due: none

fixes
  starsky/.nuke/build.schema.json
  starsky/build/Build.cs
  starskyapp/package.json
  starskyapp/src/app/child-process/child-process-path.ts
  starskyapp/src/setup/before-build.ts
  starskyapp/src/setup/copy-folder.ts
  starskyapp/webpack.config.mjs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  starskyapp/package.json
  starskyapp/src/setup/before-build.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update paths
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .gitignore
  docs/assets/download/download.html
  pipelines/azure/app-ci.yml
  starsky-tools/docs/assets/download/download.html
  starsky-tools/mock/github.com/repos/qdraw/starsky/releases/index.json
  starskyapp/package.json
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

rename
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  starsky-tools/build-tools/lib/get-files-directory.js
  starsky-tools/mock/github.com/repos/qdraw/starsky/releases/index.json
  starsky/readme.md
Due: azure-pipelines-starsky.yml

add zip overwrite
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update path
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  pipelines/azure/app-ci.yml
Due: none

rename
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  docs/assets/download/download.html
  pipelines/azure/app-ci.yml
  starsky-tools/docs/assets/download/download.html
  starsky-tools/mock/github.com/repos/qdraw/starsky/releases/index.json
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

update name
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  pipelines/azure/app-ci.yml
Due: none

name
  pipelines/azure/app-ci.yml
Due: none
