Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

fix: upgrade @types/node from 17.0.13 to 17.0.14
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/jest-dom from 5.16.1 to 5.16.2
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add Post helper && setup package Telemetry
  starsky/starsky.foundation.http/Interfaces/IHttpClientHelper.cs
  starsky/starsky.foundation.http/Interfaces/IHttpProvider.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpProvider.cs
  starsky/starsky.foundation.webtelemetry/Helpers/PackageTelemetry.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add appSettings && privacy settings
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.webtelemetry/Helpers/PackageTelemetry.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 17.0.37 to 17.0.39
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 17.0.14 to 17.0.15
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/Controllers/PublishControllerTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

supress warnings
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove depecrated api
  starsky/starsky.foundation.storage/Services/FileHash.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move location of catch
  starsky/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Apple is following the specs in this situation
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/appsettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

46 tests failed
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelper.cs
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.webtelemetry/Helpers/SetupLogging.cs
  starsky/starsky/Startup.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SetupDatabaseTypesTest.cs
  starsky/starskytest/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add attribute
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.webtelemetry/Helpers/PackageTelemetry.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra logging
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix: upgrade @types/node from 17.0.15 to 17.0.16
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix content lenght issue
  starskyapp/src/app/edit-file/download-binary.ts
  starskyapp/src/app/net-request/download-net-request.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix tests
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

to avoid partly written stream to be read by an other application && rename download photo controller && add cache to get
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/UploadController.cs
  starskyapp/src/app/config/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

- [x] (Fixed) _Back-end_ PreserveCompilationContext set for RazorLight cshtml generation
  history.md
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fix to exclude meta data
  starsky/starsky.feature.webhtmlpublish/Helpers/ToBase64DataUriList.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ Fix ImageSharp default behavior for writing base64 strings (PR #665 / Issue #664)
  history.md
Due: none

add trim for input
  starsky/starsky.feature.webhtmlpublish/Services/PublishPreflight.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

--help toggles
  starsky/starsky/github-artifacts-download.sh
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-download-azure-devops.sh
  starsky/starsky/pm2-install-latest-release.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/pm2-warmup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fallback delay
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/QueryGetAllObjects.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/FakeMocks/FakeIQueryException.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix unit tests
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/FakeMocks/FakeIQueryException.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

concurrency: group: ${{ github.workflow }}-${{ github.ref }} cancel-in-progress: true
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

concurrency: group: ${{ github.workflow }}-${{ github.ref }} cancel-in-progress: true
  .github/workflows/clientapp-react-linux-ci.yml
Due: none

analysis
  .github/workflows/codeql-analysis.yml
Due: none

add extra check
  starsky/starsky.foundation.databasetelemetry/Helpers/TelemetryConfigurationHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 17.0.16 to 17.0.17
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

bug fix for png images
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/WebHtmlPublish/EmbeddedViews/Autopost.cshtml
  starsky/starsky.feature.webhtmlpublish/WebHtmlPublish/EmbeddedViews/Index.cshtml
  starsky/starsky.foundation.platform/Models/AppSettingsPublishProfiles.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade winston from 3.5.1 to 3.6.0
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix: upgrade axios from 0.25.0 to 0.26.0
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

fix: upgrade axios from 0.25.0 to 0.26.0
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none
