Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: /pipelines/azure/steps/use_dotnet_version.yml
      - template: /pipelines/azure/steps/build_server.yml
  ...

pipelines/azure/develop-ci.yml:
  pool:
    vmImage: ubuntu-20.04
    demands:
    - msbuild
    - java
  steps:
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      npmConfigCache: $(npm_config_cache)
  - template: /pipelines/azure/steps/build_server.yml
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - template: /pipelines/azure/steps/build_clientapp.yml
  - template: /pipelines/azure/steps/build_server_generic.yml
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: $(Build.SourcesDirectory)/starsky/starsky/generic-site
      ArtifactName: generic-site
  ...

remove duplicate from list
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add catch
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

show path
  pipelines/azure/steps/build_clientapp.yml
Due: none

add debug
  pipelines/azure/steps/build_clientapp.yml
Due: none

spacing
  pipelines/azure/steps/build_clientapp.yml
Due: none

add parameters
  pipelines/azure/steps/cache_nuget_packages.yml
Due: none

Update cache_nuget_packages.yml
  pipelines/azure/steps/cache_nuget_packages.yml
Due: none

Update build_clientapp.yml
  pipelines/azure/steps/build_clientapp.yml
Due: none

update positions && add reset when changing image && change way image is centered
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/pan-and-zoom-image.tsx
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change vertical align
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add delay && fix bool issue
  starskyapp/src/app/config/get-base-url-from-settings.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add tests
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add test case
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

remove step
  pipelines/azure/steps/build_clientapp.yml
Due: none

add nuget packages var
  pipelines/azure/shared-web-only.yml
Due: none

rename service && add init for multiple items
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.spec.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix using
  starsky/starsky/clientapp/src/hooks/___tests___/test-hook.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.spec.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add link to templates in CONTRIBUTING guidelines
  CONTRIBUTING.md
Due: none

use hotkeys
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.spec.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-keyboard-event-multiple.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

working on tests && ctrl a and mac os should work
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test for command a
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add to changelog
  history.md
Due: none

fix typo && add test
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add missing for undefined && update example
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade cypress version to 6.4
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

add test
  pipelines/github/use-dotnet-version/action.yml
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-from-upload.ts
Due: none

data test select all
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-selection-list.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-search/menu-search.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-trash/menu-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add selector
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-from-upload.ts
Due: none

add delete test for files && folders
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/upload-filename1.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/config.json
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-folder-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-from-upload.ts
Due: none

PR run changes end2end tests
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

Update end2end-on-heroku-demo.yml
  .github/workflows/end2end-on-heroku-demo.yml
Due: none

add extra upload step
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
Due: none

change to generic template
  pipelines/azure/shared-web-only.yml
Due: none

fix path
  pipelines/azure/shared-web-only.yml
Due: none

save some bytes by not including pdb (debug) files
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add optimalisations && update dependencies
  starsky/.config/dotnet-tools.json
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
