Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

Update auto-update-swagger-dotnet.yml
  .github/workflows/auto-update-swagger-dotnet.yml
Due: none

downloads fixed for github
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Make more clear how to use
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

also update global.json if exists
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/build.sh
  starsky/global.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments
  starsky-tools/build-tools/dotnet-sdk-version-update.js
Due: none

fix version
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/global.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 6.0.403
  .github/workflows/auto-update-swagger-dotnet.yml
  .github/workflows/release-on-tag-netcore-desktop-electron.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-windows.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/readme.html
Due: none

Update history.md
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add meta thumbnail code
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo && add logging
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ignore temp
  .gitignore
Due: none

add reload
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update
  starsky/build.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make non x64 run on mac - although not offically supported
  starsky/starskytest/FakeCreateAn/CreateAnImage.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageColorClass.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageNoExif.cs
  starskydesktop/.dockerignore
  starskydesktop/.eslintignore
  starskydesktop/package.json
  starskydesktop/src/app/child-process/child-process-path.ts
  starskydesktop/src/main/main.ts
  starskydesktop/src/setup/before-build.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

less magic strings
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add strict version
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky/build.sh
  starsky/global.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

less code
  starskydesktop/src/setup/before-build.ts
Due: none

does this help
  starskydesktop/src/client/script/reload-warmup-script.spec.ts
Due: none

add config
  starskydesktop/jest.config.mjs
Due: none

- template: /pipelines/azure/steps/use_dotnet_version.yml
  pipelines/azure/shared-web-only.yml
Due: none

fix for video
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tmp file
  starskydesktop/src/app/edit-file/download-binary.ts
  starskydesktop/src/app/file-watcher/action-when-file-is-changed.ts
Due: none

add test
  starskydesktop/package.json
  starskydesktop/src/app/edit-file/download-binary.spec.ts
Due: none

add test
  starskydesktop/src/app/edit-file/download-xmp-file.spec.ts
  starskydesktop/src/renderer/App.tsx
  starskydesktop/src/renderer/renderer.tsx
Due: none

move to function
  starskydesktop/src/app/child-process/electron-cache-location.ts
  starskydesktop/src/app/config/read-app-settings.bak
  starskydesktop/src/app/edit-file/edit-file.ts
Due: none

windows
  starskydesktop/src/app/edit-file/download-xmp-file.spec.ts
Due: none

"
  starskydesktop/src/app/edit-file/download-xmp-file.spec.ts
Due: none

not used
  starskydesktop/webpack.config.mjs
Due: none

rename project file
  starskydesktop/starskydesktop.code-workspace
  starskydesktop/webpack.config.mjs
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
