Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add deps cli
  starsky/starsky.sln
  starsky/starskydependenciescli/Program.cs
  starsky/starskydependenciescli/starskydependenciescli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

give longer
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

more input
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

idea
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starsky-tools/localtunnel/package.json & starsky-tools/localtunnel/package-lock.json to reduce vulnerabilities
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

fix: starsky-tools/mock/package.json & starsky-tools/mock/package-lock.json to reduce vulnerabilities
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
Due: none

WIP
  starsky/starsky.feature.dependenciescli/DependenciesCliService.cs
  starsky/starsky.feature.dependenciescli/Interfaces/IDependenciesCliService.cs
  starsky/starsky.feature.dependenciescli/starsky.feature.dependenciescli.csproj
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.platform/Helpers/PlatformParser.cs
  starsky/starsky.sln
  starsky/starskydependenciescli/Program.cs
  starsky/starskydependenciescli/default-init-launchSettings.json
  starsky/starskydependenciescli/starskydependenciescli.csproj
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PlatformParserTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.203
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.3.3 to 5.4.2
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @types/node from 20.11.24 to 20.11.25
  starsky-tools/end2end/package.json
Due: none

rename and add setup
  starsky/starsky.feature.dependenciescli/DependenciesCliService.cs
  starsky/starsky.feature.dependenciescli/Interfaces/IDependenciesCliService.cs
  starsky/starsky.feature.externaldependencies/ExternalDependenciesService.cs
  starsky/starsky.feature.externaldependencies/Interfaces/IExternalDependenciesService.cs
  starsky/starsky.feature.externaldependencies/starsky.feature.externaldependencies.csproj
  starsky/starsky.feature.geolookup/Services/GeoFileDownload.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Helpers/PlatformParser.cs
  starsky/starsky.sln
  starsky/starskydependenciescli/Program.cs
  starsky/starskydependenciescli/starskydependenciescli.csproj
  starsky/starskytest/FakeMocks/FakeExifToolDownload.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PlatformParserTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add code
  starsky/starsky.feature.externaldependencies/ExternalDependenciesService.cs
  starsky/starskytest/starsky.feature.externaldependencies/ExternalDependenciesServiceTest.cs
  starsky/starskytest/starsky.foundation.database/DataProtection/SqlXmlRepositoryTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.3.3 to 5.4.2
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade @types/node from 20.11.24 to 20.11.25
  starsky-tools/thumbnail/package.json
Due: none

WIP
  starsky/starsky.feature.externaldependencies/ExternalDependenciesService.cs
  starsky/starsky.feature.externaldependencies/Interfaces/IExternalDependenciesService.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Helpers/PlatformParser.cs
  starsky/starskydependenciescli/Program.cs
  starsky/starskytest/starsky.feature.externaldependencies/ExternalDependenciesServiceTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PlatformParserTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Upgrade NPM
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

add option
  documentation/package.json
Due: pipelines/azure/documentation.yaml

update packages
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/node from 20.11.24 to 20.11.26
  starsky-tools/end2end/package.json
Due: none

fix: upgrade @types/node from 20.11.24 to 20.11.27
  starsky-tools/end2end/package.json
Due: none

fix: upgrade cypress from 13.6.6 to 13.7.0
  starsky-tools/end2end/package.json
Due: none

WIP
  starsky/build/Build.cs
  starsky/build/helpers/DotnetGenericHelper.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskydependenciescli/Program.cs
  starsky/starskydependenciescli/Properties/default-init-launchSettings.json
  starsky/starskydependenciescli/starskydependenciescli.csproj
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PlatformParserTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add folder copy
  starsky/starsky.foundation.storage/Interfaces/IStorage.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
  starsky/starsky.foundation.writemeta/Helpers/CreateFolderIfNotExists.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tmp
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add guid
  starsky/starsky.feature.externaldependencies/starsky.feature.externaldependencies.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

// GlobalSuppressions.cs && add more time for main pipeline
  pipelines/azure/develop-ci.yml
  starsky/starsky.foundation.database/Data/GlobalSuppressions.cs
  starsky/starsky/GlobalSuppressions.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add type
  starsky/starsky/clientapp/src/shared/update-relative-object.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

suppress more issues
  starsky/build/Build.cs
  starsky/build/helpers/DotnetGenericHelper.cs
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/SonarQube.cs
  starsky/build/helpers/TrxParserHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starskydesktop/package.json to reduce vulnerabilities
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

package lock / end2end
  starsky-tools/end2end/package-lock.json
Due: none

Update end2end-ubuntu-ci.yml
  .github/workflows/end2end-ubuntu-ci.yml
Due: none

Update end2end-windows-ci.yml
  .github/workflows/end2end-windows-ci.yml
Due: none

[end2end] update packages
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: starsky/starsky/clientapp/package.json to reduce vulnerabilities
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
