Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

500
  starsky/starsky.feature.rename/DateTimeRepair/Helpers/DateTimePatterns.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky.project.web/Helpers/PortProgramHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Feature/202603 mdat mp4 (#2860)
  history.md
  starsky/starsky.feature.rename/DateTimeRepair/Helpers/DateTimePatterns.cs
  starsky/starsky.foundation.storage/Services/Mp4FileHasher.cs
  starsky/starsky.project.web/Helpers/PortProgramHelper.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/20260309_041447_wapp_head_part.mp4
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/C0008_head_part.mp4
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4Wapp.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4a6700.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-test.mp4.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_CreateAnImageWithThumbnail_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_CreateAnImage_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnImage_Test.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4A6700_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4Wapp_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_BytesWithLocation_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.cs
  starsky/starskytest/starsky.foundation.storage/Services/Mp4FileHasherTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

typo
  history.md
Due: none

update npm packages
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
  starsky-tools/update-npm.sh
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#2862)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add retry for chmod
  starsky/starsky.foundation.optimisation/Interfaces/IImageOptimisationToolDownload.cs
  starsky/starsky.foundation.optimisation/Interfaces/IMozJpegDownload.cs
  starsky/starsky.foundation.optimisation/Services/ImageOptimisationService.cs
  starsky/starsky.foundation.optimisation/Services/ImageOptimisationToolDownload.cs
  starsky/starsky.foundation.optimisation/Services/MozJpegDownload.cs
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starskytest/FakeMocks/FakeMozJpegDownload.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/ImageOptimisationServiceTests.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegDownloadTests.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starskytest/FakeMocks/FakeMozJpegDownload.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.webftppublish/Helpers/WebFtpCli.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/ImageOptimisationToolDownloadTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegDownloadTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ Fix when MozJPEG for unix permission errors (PR #2863)
  history.md
Due: none

Feature/202603 chmod (#2863)
  history.md
  starsky/starsky.feature.webftppublish/Helpers/WebFtpCli.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.optimisation/Interfaces/IImageOptimisationToolDownload.cs
  starsky/starsky.foundation.optimisation/Interfaces/IMozJpegDownload.cs
  starsky/starsky.foundation.optimisation/Services/ImageOptimisationService.cs
  starsky/starsky.foundation.optimisation/Services/ImageOptimisationToolDownload.cs
  starsky/starsky.foundation.optimisation/Services/MozJpegDownload.cs
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starskytest/FakeMocks/FakeMozJpegDownload.cs
  starsky/starskytest/starsky.feature.webftppublish/Helpers/WebFtpCliTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/ImageOptimisationServiceTests.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/ImageOptimisationToolDownloadTests.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegDownloadTests.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

CopyAllContent flag
  starsky/starsky.feature.webftppublish/Services/LocalFileSystemPublishService.cs
  starsky/starsky.feature.webftppublish/Services/RemotePublishService.cs
  starsky/starsky.foundation.platform/Models/AppSettingsPublishProfilesRemote.cs
  starsky/starskytest/starsky.feature.webftppublish/Services/LocalFileSystemPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Added) _Back-end_ Overwrite CopyContent in PublishProfile false Copy flag (PR #2866)
  history.md
Due: none

CopyAllContent flag (#2866)
  history.md
  starsky/starsky.feature.webftppublish/Services/LocalFileSystemPublishService.cs
  starsky/starsky.feature.webftppublish/Services/RemotePublishService.cs
  starsky/starsky.foundation.platform/Models/AppSettingsPublishProfilesRemote.cs
  starsky/starskytest/starsky.feature.webftppublish/Services/LocalFileSystemPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#2867)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Update Documentation and Docusaurus (#2865)
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

fix log reason
  starsky/starsky.feature.syncbackground/Services/OnStartupSync.cs
  starsky/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundService.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelper.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/starsky.feature.syncbackground/Helpers/OnStartupSyncTest.cs
  starsky/starskytest/starsky.feature.syncbackground/Services/OnStartupSyncBackgroundServiceTest.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/HasDiskContentOrExistsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

format code
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change date scanning
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix sync button
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerate.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/Shared/SharedGenerateTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

format
  starsky/starsky.feature.export/Interfaces/IExport.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncFolderTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky.feature.thumbnail/Interfaces/IDatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationJobHandler.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[SuppressMessage("Usage", "S2094: Remove this empty class, write its code or make it an interface")]
  starsky/starsky.feature.syncbackground/Models/OnStartupSyncPayload.cs
  starsky/starsky.foundation.database/Models/ApplicationUser.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starskytest/FakeMocks/FakeIDatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationJobHandlerTest.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.foundation.sync/WatcherHelpers/QueueProcessor.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/SmallThumbnailBackgroundJobHandlerTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportBackgroundJobHandlerTests.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/MetaReplaceBackgroundJobHandlerTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/QueueProcessorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/Controllers/GeoController.cs
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/MetaReplaceController.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starskytest/Controllers/GeoControllerTest.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/Controllers/MetaReplaceControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/Controllers/MetaReplaceControllerTest.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationJobHandlerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationJobHandlerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
