Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

update changelog
  history.md
Due: none

change database structure
  starsky/starsky.foundation.database/Migrations/20201027151043_SidecarExtensionsAdded.Designer.cs
  starsky/starsky.foundation.database/Migrations/20201027151043_SidecarExtensionsAdded.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaXmp.cs
Due: azure-pipelines-starsky.yml

add tests
  starsky/starskytest/Models/FileIndexItemTest.cs
Due: azure-pipelines-starsky.yml

add back
  starsky/starsky/clientapp/src/containers/detailview.tsx
Due: azure-pipelines-starsky.yml

add extra cypress tests ++ fix issue where next prev didn't work
  starsky-tools/end2end/cypress/fixtures/20200822_111408.jpg
  starsky-tools/end2end/cypress/fixtures/20200822_112430.jpg
  starsky-tools/end2end/cypress/fixtures/20200822_134151.jpg
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/flow.json
  starsky-tools/end2end/cypress/integration/20-archive/archive.ts
  starsky-tools/end2end/cypress/integration/20-archive/config.json
  starsky-tools/end2end/cypress/integration/20-archive/flow.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/flow.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/from-upload.ts
  starsky-tools/end2end/cypress/integration/30-search/20-search.ts
  starsky-tools/end2end/cypress/integration/30-search/config.json
  starsky-tools/end2end/cypress/integration/30-search/flow.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/flow.json
  starsky-tools/end2end/cypress/support/commands.ts
  starsky/starsky/clientapp/src/components/organisms/modal-drop-area-files-added/modal-drop-area-files-added.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
Due: azure-pipelines-starsky.yml

disable tasks
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
Due: none

add extra wait
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
  starsky-tools/end2end/package.json
Due: none

Update starsky-sonarqube-clientapp-netcore.yml
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

fix issues ++ add tests
  starsky/starsky/Controllers/HealthController.cs
  starsky/starskytest/Controllers/HealthControllerTest.cs
  starskyapp/pages/edit-error.html
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update collection
  starsky/docs/Starsky.postman_collection.json
Due: azure-pipelines-starsky.yml

update upload controller
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky.yml

add extra cache clean point to avoid caching issues
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky.yml

add retry for mysql ++ add retry for exceptions
  starsky/starsky.foundation.database/Helpers/SetupDatebaseType.cs
  starsky/starsky.foundation.database/Query/QueryFolder.cs
Due: azure-pipelines-starsky.yml

fix issue where uploads where incorrect ++ remove old wrong tests ++ fix typos
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageColorClass.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageNoExif.cs
  starsky/starskytest/Services/ImportServiceTest.cs__
  starsky/starskytest/Services/ImportServiceTest2.cs__
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.database/Models/ImportIndexItemTest.cs
Due: azure-pipelines-starsky.yml

add dispose test
  starsky/starsky.foundation.database/Query/QueryFolder.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

rename and add test
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SetupDatabaseTypesTest.cs
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Change default in ADO for SonarQube
  azure-pipelines-starsky.yml
Due: none

Update azure-pipelines-starsky.yml
  azure-pipelines-starsky.yml
Due: none

[DocsUpdateBot] Auto commited html update
  docs/azure-pipelines-starsky.yml
Due: none

Clean thumbnail folder when file is uploaded
  starsky/starsky/Controllers/ImportController.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
Due: azure-pipelines-starsky.yml

- [x] (Fixed) _Back-end_ Remove file from temp folder after thumbnail upload (and copy it to thumbnailTemp)
  history.md
Due: none

update changelog
  history.md
  inotify-settings/readme.md
  starsky/starsky/Controllers/HealthController.cs
Due: azure-pipelines-starsky.yml

reformat code style
  starsky/starskytest/Controllers/ImportControllerTest.cs
Due: azure-pipelines-starsky.yml

add importer for side car files
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky.foundation.writemeta/Helpers/ExifToolDownload.cs
Due: azure-pipelines-starsky.yml

fixes to handle a complete flow
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
  starskyapp/lib/edit-file-download.js
  starskyapp/lib/edit-keypress.js
  starskyapp/lib/edit-windows.js
  starskyapp/lib/watch-for-changes.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Add improvements for exif reading and writing
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.feature.metaupdate/Services/MetaInfo.cs
  starsky/starsky.foundation.storage/Storage/StorageSubPathFilesystem.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky.foundation.writemeta/Services/ExifCopy.cs
  starsky/starsky/clientapp/src/shared/aspect-ratio.spec.ts
  starsky/starskytest/Controllers/MetaInfoControllerTest.cs
Due: azure-pipelines-starsky.yml

add readings
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaXmp.cs
Due: azure-pipelines-starsky.yml

fix unit tests
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaInfoTest.cs
Due: azure-pipelines-starsky.yml

add todo
  starsky/starsky.feature.import/Services/Import.cs
Due: azure-pipelines-starsky.yml

add filter for non-output
  starsky/starsky/clientapp/src/shared/aspect-ratio.spec.ts
  starsky/starsky/clientapp/src/shared/aspect-ratio.ts
Due: azure-pipelines-starsky.yml

show add size in MB/KB
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starsky/clientapp/src/shared/bytes-format.spec.ts
  starsky/starsky/clientapp/src/shared/bytes-format.ts
Due: azure-pipelines-starsky.yml

add Lens Model
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaExif.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky.yml

add Lens Model
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.readmeta/Services/ReadMetaXmp.cs
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starsky/clientapp/src/style/css/25-detailview-sidebar.css
  starsky/starsky/clientapp/src/style/css/27-archive-sidebar.css
  starsky/starsky/clientapp/src/style/images/baseline-lens-24px.svg
Due: azure-pipelines-starsky.yml

add null tests
  starsky/starskytest/Models/FileIndexItemTest.cs
Due: azure-pipelines-starsky.yml
