Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

sonar
  starsky/build.ps1
  starsky/starsky/cleanup-build-tools.ps1
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/pm2-warmup.ps1
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add import index (#3058)
  history.md
  starsky/build.ps1
  starsky/starsky.foundation.database/Import/ImportQuery.cs
  starsky/starsky.foundation.database/Interfaces/IImportQuery.cs
  starsky/starsky.foundation.import/Interfaces/IImportIndexJsonService.cs
  starsky/starsky.foundation.import/Interfaces/IImportJsonCli.cs
  starsky/starsky.foundation.import/Models/ImportIndexJsonContainer.cs
  starsky/starsky.foundation.import/Services/ImportCli.cs
  starsky/starsky.foundation.import/Services/ImportIndexJsonService.cs
  starsky/starsky.foundation.import/Services/ImportJsonCli.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Helpers/RetryHelper.cs
  starsky/starsky.foundation.readmeta/Helpers/GeoDistanceTo.cs
  starsky/starsky.foundation.thumbnailmeta/Helpers/NewImageSize.cs
  starsky/starsky/cleanup-build-tools.ps1
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/pm2-warmup.ps1
  starsky/starsky/service-deploy-windows.ps1
  starsky/starskyimportercli/Program.cs
  starsky/starskytest/FakeMocks/FakeIImportIndexJsonService.cs
  starsky/starskytest/FakeMocks/FakeIImportQuery.cs
  starsky/starskytest/starsky.feature.health/HealthCheck/DiskStorageHealthCheckTest.cs
  starsky/starskytest/starsky.foundation.database/Import/ImportQueryTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportCliTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportIndexJsonServiceTest.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportJsonCliTests.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/FilenamesHelperTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/EmbeddedRawThumbnail/LightweightContainerPreviewExtractorTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar 12
  starsky/build.ps1
  starsky/starsky/cleanup-build-tools.ps1
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/pm2-warmup.ps1
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

-
  history.md
Due: none

sonar 12 (#3060)
  starsky/build.ps1
  starsky/starsky/cleanup-build-tools.ps1
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/pm2-warmup.ps1
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[*.{ps1,psm1,psd1}] trim_trailing_whitespace = true
  .editorconfig
Due: none

sonar 12
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ClassName
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Microsoft.Management.Infrastructure.CimInstance] does not contain a method named 'StartService'.
  starsky/starsky/service-deploy-windows.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

Auto .NET SDK version Upgrade to 8.0.421
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update .NET SDK version in README
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update version history for upcoming release 0.7.19
  history.md
Due: none

.NET SDK Upgrade to 8.0.421 (#3063)
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  history.md
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/readme.md
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.mountwatch/starsky.foundation.mountwatch.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskymountwatchercli/starskymountwatchercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#3065)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

0.7.19
  history.md
Due: none

_fileSystemWatcherWrapper.InternalBufferSize = 64 * 1024; // 64 KB - default = 4096 / 4 KB
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#3066
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/ExternalAuthSettings.cs
  starsky/starsky.project.web/ViewModels/EnvFeaturesViewModel.cs
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Controllers/AppSettingsFeaturesController.cs
  starsky/starsky/clientapp/src/interfaces/IEnvFeatures.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
  starsky/starskytest/Controllers/AccountControllerTest.cs
  starsky/starskytest/Controllers/AppSettingsFeaturesControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add controller
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

sonar
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.spec.tsx
  starsky/starsky/clientapp/src/containers/preferences/preferences.tsx
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/shared/url/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.import/Services/ImportIndexJsonService.cs
  starsky/starsky/Controllers/ImportIndexJsonController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add storage provider down drill
  starsky/starsky.foundation.import/Interfaces/IImportIndexJsonService.cs
  starsky/starsky.foundation.import/Services/ImportIndexJsonService.cs
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIImportIndexJsonService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starskytest/Controllers/ImportIndexJsonControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.tsx
  starsky/starsky/clientapp/src/containers/import/import.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky/Controllers/ImportIndexJsonController.cs
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[SuppressMessage("Usage", "S5693:Make sure the content " + "length limit is safe here", Justification = "Is checked")]
  starsky/starsky/Controllers/ImportIndexJsonController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/clientapp/src/containers/import/import.spec.tsx
  starsky/starsky/clientapp/src/pages/import-page.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.import/Interfaces/IImportIndexJsonService.cs
  starsky/starsky/clientapp/src/components/molecules/tag-autocomplete/tag-autocomplete.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/add-context-menu.spec.ts
  starsky/starsky/clientapp/src/components/organisms/preferences-import-index-json/preferences-import-index-json.tsx
  starsky/starsky/clientapp/src/main.tsx
  starsky/starsky/clientapp/src/shared/keyboard/keyboard-set-caret-to-end.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
