Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

refactor be && change fe
  starsky/starsky.feature.trash/Interfaces/ITrashConnectionService.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.feature.trash/Services/TrashConnectionService.cs
  starsky/starsky.foundation.worker/CpuEventListener/CpuUsageListener.cs
  starsky/starsky/Controllers/TrashController.cs
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/containers/detailview/helpers/move-folder-up.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/next.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/status-removed.ts
  starsky/starsky/clientapp/src/shared/url-query.ts
  starsky/starskytest/FakeMocks/FakeITrashConnectionService.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
  starsky/starskytest/starsky.feature.trash/Services/TrashConnectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

give more time
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky/Controllers/TrashController.cs
  starsky/starskytest/Controllers/TrashControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.foundation.worker/CpuEventListener/CpuUsageListener.cs
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev-next.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/status-removed.ts
  starsky/starskytest/starsky.foundation.worker/CpuEventListener/CpuUsageListenerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky/clientapp/src/containers/detailview/helpers/move-folder-up.spec.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/status-removed.spec.ts
  starsky/starsky/clientapp/src/containers/detailview/helpers/status-removed.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use query
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev-next.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev-next.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

longer
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/containers/detailview/helpers/prev-next.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/containers/detailview/helpers/move-folder-up.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

longer
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky-tools/end2end/cypress/e2e/01-create-account/01-create-account.cy.ts
  starsky-tools/end2end/cypress/e2e/02-login/02-login.cy.ts
  starsky-tools/end2end/cypress/e2e/10-upload-to-folder/10-upload-to-folder.cy.ts
  starsky/starsky.foundation.accountmanagement/Middleware/CheckIfAccountExistMiddleware.cs
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tab
  starsky/starsky.foundation.webtelemetry/Services/ApplicationInsightsJsHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add branch
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code formating && add reset env
  starsky-tools/end2end/cypress.config.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
Due: none

fix: upgrade jimp from 0.16.2 to 0.17.8
  starsky-tools/sync/package-lock.json
  starsky-tools/sync/package.json
Due: none

revert
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade cypress
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

get cypress working
  starsky-tools/end2end/cypress/e2e/01-create-account/03-check-env.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/config.json
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Models/AccountRoles.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Attributes/PermissionAttribute.cs
  starsky/starsky/appsettings.json
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs && add feature
  starsky-tools/end2end/cypress.config.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/config.json
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/90-desktop-move-to-trash.cy.ts
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/config.json
  starsky/starsky.feature.trash/Interfaces/IMoveToTrashService.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/DeleteController.cs
  starsky/starsky/Controllers/MetricsDebugController.cs
  starsky/starsky/Controllers/TestController.cs
  starsky/starsky/Controllers/TrashController.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starsky/Properties/default-init-launchSettings.json
  starsky/starsky/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

fix: upgrade jimp from 0.16.2 to 0.22.4
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

more clear
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/90-desktop-move-to-trash.cy.ts
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/config.json
  starsky/starsky.feature.trash/Interfaces/IMoveToTrashService.cs
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/Controllers/TrashController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

various fixes
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/config.json
  starsky/starskytest/FakeMocks/FakeIMoveToTrashService.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

should ignore itself && fix test
  starsky/starsky.foundation.accountmanagement/Services/UserManager.cs
  starsky/starskytest/starsky.foundation.accountmangement/Services/UserManagerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/Controllers/TrashControllerTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tryParseResult
  starsky/starskytest/Controllers/TrashControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix compare
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra tests
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryCountTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add skip
  starsky-tools/end2end/cypress/e2e/90-desktop-move-to-trash/90-desktop-move-to-trash.cy.ts
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

fix: upgrade jimp from 0.17.8 to 0.22.4
  starsky-tools/sync/package-lock.json
  starsky-tools/sync/package.json
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
