Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

fix 2 tests
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add clear readme
  history.md
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

fix: upgrade @testing-library/user-event from 13.2.1 to 13.3.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add crash test
  history.md
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/FakeMocks/FakeIFileSystemWatcherWrapper.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm using
  starsky/starsky.foundation.sync/WatcherHelpers/SyncWatcherConnector.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra exception
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra test
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm catch
  starsky/starsky.feature.health/HealthCheck/DiskStorageHealthCheck.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update history
  history.md
Due: none

add import ignore
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Models/ImportIndexItem.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/appsettings.json
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Import ignore
  history.md
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

fix for windows
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move setting
  starsky/starsky.feature.import/Services/ImportCli.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/readme.html
Due: none

add test / fix
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/Controllers/PublishControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry button
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to verbose && add stopwatch
  starsky/starsky.feature.import/Services/ImportCli.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskysynccli/Program.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix cleanup
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

cypress add extra wait
  starsky-tools/end2end/cypress/integration/02-login/02-login.ts
  starsky-tools/end2end/cypress/integration/30-search/32-search-tags-update-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
Due: none

data protection
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Helpers/SetupDatebaseTypes.cs
  starsky/starsky.foundation.database/Helpers/XElementExtension.cs
  starsky/starsky.foundation.database/Interfaces/IAddDataProtectionXmlRepository.cs
  starsky/starsky.foundation.database/Models/DataProtection.cs
  starsky/starsky.foundation.database/Services/AddDataProtectionXmlRepository.cs
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky/Startup.cs
  starsky/starsky/starsky.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

docker fixes
  starsky-tools/end2end/cypress/integration/30-search/32-search-tags-update-from-upload.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-file-from-upload.ts
  starsky/Dockerfile
  starsky/docker-compose.yml
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starskyadmincli/Program.cs
  starsky/starskytest/starsky.foundation.database/Helpers/RunMigrationsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starskytest/starsky.foundation.database/Helpers/RunMigrationsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 17.0.27 to 17.0.29
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

set env variables
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo e_isdemo
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade axios from 0.22.0 to 0.23.0
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

add screenshot
  starsky-tools/build-tools/attach-screenshots.ps1
Due: none

add screenshots && make packagejson end2end more clear
  starsky-tools/build-tools/attach-screenshots.ps1
  starsky-tools/end2end/package.json
Due: none

fix: upgrade axios from 0.22.0 to 0.23.0
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

Create starsky-tools-node-smoke-test.yml
  .github/workflows/starsky-tools-node-smoke-test.yml
Due: none

Update starsky-mock-tools.yml
  .github/workflows/starsky-mock-tools.yml
Due: none

Rename starsky-mock-tools.yml to starsky-tools-mock-smoke-test.yml
  .github/workflows/starsky-tools-mock-smoke-test.yml
Due: none

Update starsky-tools-node-smoke-test.yml
  .github/workflows/starsky-tools-node-smoke-test.yml
Due: none

upgrade to node 16.x
  .github/workflows/starsky-nuget-packages-list-update.yml
Due: none

Create release-on-tag-docker-hub.yml
  .github/workflows/release-on-tag-docker-hub.yml
Due: none

Update release-on-tag-docker-hub.yml
  .github/workflows/release-on-tag-docker-hub.yml
Due: none

Update and rename starsky-deploy-demo-env.yml to starsky-docker-deploy-demo-env.yml
  .github/workflows/starsky-docker-deploy-demo-env.yml
Due: none

Update starsky-docker-deploy-demo-env.yml
  .github/workflows/starsky-docker-deploy-demo-env.yml
Due: none
