Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

add desktop instructions
  documentation/docs/getting-started/desktop.md
Due: pipelines/azure/documentation.yaml

add config options
  documentation/docs/getting-started/config-options.md
Due: pipelines/azure/documentation.yaml

add more options
  documentation/docs/getting-started/config-options.md
Due: pipelines/azure/documentation.yaml

update changelog
  history.md
Due: none

add bulk edit
  documentation/docs/features/bulk-editing.md
  documentation/docs/features/readme.md
Due: pipelines/azure/documentation.yaml

add import
  documentation/docs/features/import.md
Due: pipelines/azure/documentation.yaml

Sharing is caring
  starsky-tools/build-tools/create-pull-request-azure-devops.js
  starsky-tools/build-tools/dotnet-sdk-version-update.js
  starsky-tools/build-tools/dotnet-sdk-version-update.reference.yml
  starsky-tools/build-tools/git-commit-message.js
  starsky-tools/build-tools/git-new-branch-if-not-exists.js
  starsky-tools/build-tools/lib/https-get.js
Due: none

undo changes
  starsky/docs/migrations.md
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20221223170918_ThumbnailSizes.Designer.cs
  starsky/starsky.foundation.database/Migrations/20221223170918_ThumbnailSizes.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.database/Models/ThumbnailData.cs
  starsky/starsky.foundation.database/ValueConverters/EnumCollectionJsonValueConverter.cs
  starsky/starsky.foundation.platform/Enums/ThumbnailSizeType.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaUpdateStatusThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

nullable add ideas
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20221229111418_ThumbnailTable.Designer.cs
  starsky/starsky.foundation.database/Migrations/20221229111418_ThumbnailTable.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.database/Models/ThumbnailData.cs
  starsky/starsky.foundation.database/Models/ThumbnailItem.cs
  starsky/starsky.foundation.database/Query/QueryAddRange.cs
  starsky/starsky.foundation.platform/JsonConverter/DefaultJsonSerializer.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IOffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IWriteMetaThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Models/OffsetModel.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/Services/WriteMetaThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

needs testing
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Models/ThumbnailItem.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQueryFactory.cs
  starsky/starsky.foundation.thumbnailmeta/Helpers/MetaThumbnailCommandLineHelper.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IMetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IMetaUpdateStatusThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaUpdateStatusThumbnailService.cs
  starsky/starsky/Controllers/ImportController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ignore storybook
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Work in progress
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCli.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IUpdateStatusThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/UpdateStatusThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IWriteMetaThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaUpdateStatusThumbnailService.cs
  starsky/starsky.sln.DotSettings
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIMetaExifThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIMetaUpdateStatusThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest_InMemoryDb.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Services/ThumbnailServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starsky.foundation.database/Models/ThumbnailItem.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/UpdateStatusThumbnailService.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/UploadControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

enable nullable
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.consoletelemetry/starsky.foundation.consoletelemetry.csproj
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.databasetelemetry/starsky.foundation.databasetelemetry.csproj
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.http/Streaming/MultipartRequestHelper.cs
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/ServiceAttribute.cs
  starsky/starsky.foundation.injection/ServiceCollectionExtensions.cs
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/Helpers/DeserializeJson.cs
  starsky/starsky.foundation.storage/Models/StructureRange.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.storage/Services/StructureService.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.sync/SyncServices/SyncFolder.cs
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky.foundation.webtelemetry/Helpers/FlushApplicationInsights.cs
  starsky/starsky.foundation.webtelemetry/Services/TelemetryService.cs
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Work in progress
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/ToBase64DataUriList.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.http/Interfaces/IHttpClientHelper.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCli.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Models/GenerationResultModel.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailService.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailGenerationTest.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
  starsky/starskytest/Helpers/HttpClientHelperTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/MetaUpdateServiceTest.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/ToBase64DataUriListTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCliTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Services/ThumbnailServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starskytest/Controllers/ThumbnailGenerationTest.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.import/Helpers/UpdateImportTransformations.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.database/Models/ThumbnailItem.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Models/GenerationResultModel.cs
  starsky/starsky.foundation.thumbnailmeta/Helpers/MetaThumbnailCommandLineHelper.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IMetaUpdateStatusThumbnailService.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starskytest/Controllers/DownloadPhotoControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/Models/ThumbnailItemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQueryFactory.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryFactoryTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smell
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/starsky.foundation.database/Models/ThumbnailItemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename namespace
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.thumbnailmeta/Helpers/MetaThumbnailCommandLineHelper.cs
  starsky/starsky.foundation.thumbnailmeta/Helpers/NewImageSize.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IMetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IMetaUpdateStatusThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IOffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/Interfaces/IWriteMetaThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Models/OffsetModel.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/MetaUpdateStatusThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/Services/WriteMetaThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky/Controllers/ImportController.cs
  starsky/starsky/Controllers/UploadController.cs
  starsky/starskytest/Controllers/ImportControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIMetaExifThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIMetaUpdateStatusThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIOffsetDataMetaExifThumbnail.cs
  starsky/starskytest/FakeMocks/FakeIWriteMetaThumbnailService.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Helpers/MetaThumbnailCommandLineHelperTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Helpers/NewImageSizeTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/OffsetDataMetaExifThumbnailTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/ReadMetaThumbnailTest.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/WriteMetaThumbnailServiceTest.cs
  starsky/starskythumbnailmetacli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/MetaUpdateStatusThumbnailServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smell
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

addtest
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/FlushOnApplicationStoppingTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/FlushOnApplicationStoppingTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/Services/ReadMetaThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQueryFactory.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryFactoryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add comments && add test
  starsky/starsky.foundation.storage/Storage/ThumbnailNameHelper.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add blog post
  documentation/blog/20221231-project-starsky-2022-a-year-in-review.md
Due: pipelines/azure/documentation.yaml

add tests
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starskytest/starsky.foundation.database/Models/ThumbnailItemTest.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryFactoryTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
  starsky/starskytest/Controllers/ThumbnailGenerationTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not used
  starsky/starsky.foundation.thumbnailmeta/Helpers/MetaThumbnailCommandLineHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Models/GenerationResultModelTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make code easier && add test
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add bg service
  starsky/starsky.foundation.worker/ThumbnailServices/Interfaces/IThumbnailQueuedHostedService.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailQueuedHostedService.cs
  starsky/starsky/Controllers/ThumbnailGenerationController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not working
  starsky/starsky/clientapp/src/components/atoms/snake/snaek.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/snake/snake.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
