Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

more clear
  history.md
Due: none

should not add xmp files
  starsky/starsky.foundation.sync/SyncServices/SyncAddAddThumbnailTable.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncThumbnailTableAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

rm test controller
  starsky/starsky/Controllers/TestController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to seperate file
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use seperate function
  starsky/starsky/clientapp/src/components/atoms/modal/modal.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add console log to test in storybook
  starsky/starsky/clientapp/src/components/atoms/modal/modal.stories.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make easier to read
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add extra test
  starsky/starsky/clientapp/src/components/atoms/modal/modal-insert-portal-div.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make code easier to read
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add export
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/modal-freeze-helper.ts
  starsky/starsky/clientapp/src/components/atoms/modal/toggle-tab-index.spec.ts
  starsky/starsky/clientapp/src/components/atoms/modal/toggle-tab-index.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make code easier to read
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to sperate function
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small refactor
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps against flaky tests
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove from desktop
  starskydesktop/src/app/menu/app-menu.ts
  starskydesktop/src/app/menu/dock-menu.ts
Due: none

fix: upgrade jimp from 0.22.5 to 0.22.7
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

update to latest v18.15.0
  starsky/.nvmrc
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep. a changelog
  history.md
Due: none

bugfix for cmd +E
  starskydesktop/src/app/edit-file/download-binary.ts
Due: none

rm unused using
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryGetObjectsByFilePathAsyncTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

lint fix
  starskydesktop/src/app/edit-file/download-binary.ts
Due: none

add logging start docs
  documentation/docs/developer-guide/logging/readme.md
Due: pipelines/azure/documentation.yaml

fix: upgrade jimp from 0.22.5 to 0.22.7
  starsky-tools/sync/package-lock.json
  starsky-tools/sync/package.json
Due: none

version bumb & increase timeout
  starsky-tools/build-tools/app-version-update.js
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

also add build for github actions && set version to beta
  .github/workflows/release-on-tag-docker-hub.yml
  .github/workflows/starsky-docker-buildx.yml
  starsky-tools/build-tools/app-version-update.js
Due: none

add check
  .github/workflows/starsky-docker-buildx.yml
  history.md
Due: none

add comment
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

no duplicate name
  .github/workflows/starsky-docker-buildx.yml
Due: none

version bumb
  history.md
  starsky-tools/build-tools/app-version-update.js
Due: none

update docs for docker
  documentation/docs/getting-started/docker/docker.md
Due: pipelines/azure/documentation.yaml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
