Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

reformat ireadmeta ; add raw xample format exifcopy test
  starsky/starsky.foundation.readmeta/Interfaces/IReadMeta.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/CreateAnImageA6600Raw.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/CreateAnImageA6600Raw.tiff
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 reformat readmeta
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 reformat && add tests
  starsky/starsky.foundation.readmeta/Helpers/SonyLensIdConverter.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/CreateAnImageA6600Raw.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/copyToTiffData.tiff
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/head_part.arw
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/readme.md
  starsky/starskytest/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExifTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

#1807 rename file
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/CreateAnImageA6600Raw.tiff
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 add examples
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA330Raw/CreateAnImageA330Raw.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageA330Raw/head_part.arw
  starsky/starskytest/FakeCreateAn/CreateAnImageA330Raw/readme.md
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

#1807 remove half test
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 rename for sonar
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 reformat files && add tests
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMetaTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifCopyTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 reformat files
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMetaSubPathStorageTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 add tests // format
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMetaSubPathStorageTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMetaTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 remove duplicate content
  starsky/starsky.foundation.readmeta/Helpers/SonyLensIdConverter.cs
  starsky/starskytest/starsky.foundation.readmeta/Helpers/SonyLensIdConverterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 add extra tests
  starsky/starskytest/starsky.foundation.readmeta/Helpers/SonyLensIdConverterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1807 keep a changelog
  history.md
Due: none

nuget update packages
  starsky/.nuke/build.schema.json
  starsky/build/_build.csproj
  starsky/nuget-packages-list.json
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Docker upgrade node version && remove node_modules after build
  starsky/Dockerfile
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

increase limit && change reading order to favor XMP
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebP reading
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starskytest/FakeCreateAn/CreateAnImageWebP/CreateAnImageWebP.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageWebP/test.webp
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1814 fallback
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1814 add test case
  starsky/starskytest/FakeCreateAn/CreateAnImageLongDescriptionTitle/CreateAnImageLongDescriptionTitle.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageLongDescriptionTitle/CreateAnImageLongDescriptionTitle.jpg
  starsky/starskytest/FakeCreateAn/CreateAnImageLongDescriptionTitle/CreateAnImageLongDescriptionTitle.json
  starsky/starskytest/FakeCreateAn/CreateAnImageLongDescriptionTitle/CreateAnImageLongDescriptionTitleExampleDataModel.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

OrderByImageFormat
  starsky/starsky.foundation.database/Helpers/SortHelper.cs
  starsky/starskytest/starsky.foundation.database/Helpers/SortHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1815 keep a changelog
  history.md
Due: none

#1813 add tests
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky.foundation.readmeta/ReadMetaHelpers/ReadMetaExif.cs
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.tsx
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starsky.foundation.readmeta/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1813 fix tests
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add img-box--webp && reformat code
  starsky/starsky/clientapp/src/style/css/21-archive-folder.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1813 keep a changelog
  history.md
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Add support for PSD to display in files && fix fileListCache issue
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/interfaces/IFileIndexItem.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starsky/clientapp/src/style/css/21-archive-folder.css
  starsky/starskytest/FakeCreateAn/CreateAnImagePsd/CreateAnImagePsd.cs
  starsky/starskytest/FakeCreateAn/CreateAnImagePsd/test.psd
  starsky/starskytest/starsky.foundation.platform/Helpers/ExtensionRolesHelperTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1817 add test case
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1817 keep a changelog
  history.md
Due: none

Should create new item instead of re-using it
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQueryFactory.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @mdx-js/react from 3.0.1 to 3.1.0
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

reformat code
  starsky/starsky.foundation.thumbnailmeta/Services/MetaExifThumbnailService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.404
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.thumbnailmeta/Helpers/TagLibSharpAbstractions.cs
  starsky/starsky.foundation.thumbnailmeta/ServicesPreviewSize/Helpers/PreviewImageExtractor.cs
  starsky/starsky.foundation.thumbnailmeta/ServicesPreviewSize/OffsetDataMetaExifPreviewThumbnail.cs
  starsky/starsky.foundation.thumbnailmeta/ServicesPreviewSize/WritePreviewThumbnailService.cs
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starskytest/FakeCreateAn/CreateAnImageA6600Raw/CreateAnImageA6600Raw.cs
  starsky/starskytest/FakeCreateAn/CreateAnImageLargePreview/CreateAnImageLargePreview.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/ServicesPreviewSize/ReadPreviewThumbnailTest.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 22.7.5 to 22.7.8
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

IWP
  starsky/starsky.foundation.thumbnailmeta/Helpers/TagLibSharpAbstractions.cs
  starsky/starsky.foundation.thumbnailmeta/ServicesPreviewSize/Helpers/SonyMakersNoteParser.cs
  starsky/starsky.foundation.thumbnailmeta/ServicesPreviewSize/OffsetDataMetaExifPreviewThumbnail.cs
  starsky/starskytest/starsky.foundation.thumbnailmeta/ServicesPreviewSize/ReadPreviewThumbnailTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
