Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

update date
  history.md
Due: none

update date
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/clientapp/readme.html
Due: none

fix storybook
  starsky/starsky/clientapp/.storybook/main.js
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starsky/clientapp/readme.html
Due: none

small tweaks
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/Helpers/CacheControlOverwrite.cs
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
Due: azure-pipelines-starsky.yml

startup add cache for static files ++ implement browser cache for index pages
  starsky/starsky/Startup.cs
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/shared/date.ts
Due: azure-pipelines-starsky.yml

add cache clear to operations
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-color-class.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.tsx
Due: azure-pipelines-starsky.yml

arrow
  starsky/starsky/clientapp/src/containers/archive.tsx
Due: azure-pipelines-starsky.yml

show if Color Update is loading
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
Due: azure-pipelines-starsky.yml

add comment to search for
  starsky/starsky/Controllers/MetaUpdateController.cs
Due: azure-pipelines-starsky.yml

implement client side response caching
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-edit-date-time/modal-edit-datetime.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky.yml

fix test and update threshold
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.tsx
  starsky/starsky/clientapp/src/containers/archive.spec.tsx
Due: azure-pipelines-starsky.yml

add isLoading to ColorClass Select
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.tsx
Due: azure-pipelines-starsky.yml

add UI tweaks ++ add cache header to static files
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/Helpers/CacheControlOverwrite.cs
  starsky/starsky/Startup.cs
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
  starsky/starsky/clientapp/src/containers/detailview.tsx
  starsky/starsky/clientapp/src/shared/date.ts
Due: azure-pipelines-starsky.yml

fix when in select mode and navigate next to the select mode is still on but there are no items selected
  history.md
  starsky/starsky/clientapp/src/components/molecules/archive-pagination/archive-pagination.tsx
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

add test
  starsky/starskytest/Controllers/SearchSuggestControllerTest.cs
Due: azure-pipelines-starsky.yml

add unit tests
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.tsx
Due: azure-pipelines-starsky.yml

add unit test for this change
  starsky/starsky/clientapp/src/shared/url-query.spec.ts
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add use-filelist
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
Due: azure-pipelines-starsky.yml

add keyboard shortcut to archive page
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
Due: azure-pipelines-starsky.yml

add test for keydown
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
Due: azure-pipelines-starsky.yml

remove unused code
  starsky/starsky/clientapp/src/containers/detailview.spec.tsx
Due: azure-pipelines-starsky.yml

version update
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

[docs] update changelog
  history.md
Due: none

add collections to API ++ implement client side caching feature
  starsky/starsky/Controllers/IndexController.cs
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/contexts/detailview-context.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/interfaces/IArchive.ts
  starsky/starsky/clientapp/src/interfaces/IArchiveProps.ts
  starsky/starsky/clientapp/src/interfaces/IDetailView.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starskycore/ViewModels/ArchiveViewModel.cs
Due: azure-pipelines-starsky.yml

add unittest
  starsky/starsky/clientapp/src/hooks/use-filelist.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starskytest/ViewModels/ArchiveViewModelTest.cs
Due: azure-pipelines-starsky.yml

add checks
  starsky/starsky/clientapp/src/contexts/detailview-context.spec.tsx
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky.yml

add tweaks
  starsky/starsky/clientapp/src/shared/filelist-cache.spec.ts
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky.yml

- [x] (Added) _Front-end_ Client Side caching for 3 minutes to avoid requests and speed on slow devices
  history.md
Due: none

show error when video is missing ++ add caching to downloadPhoto API
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/SearchSuggestController.cs
  starsky/starsky/Helpers/CacheControlOverwrite.cs
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
  starsky/starsky/clientapp/src/style/css/37-video.css
Due: azure-pipelines-starsky.yml

add no playback warning
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

longer time
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
Due: azure-pipelines-starsky.yml

update changelog ++ add unmount
  history.md
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
Due: azure-pipelines-starsky.yml

fix act
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
Due: azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
