Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 30
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-20.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

code smells
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky.feature.search/Services/SearchService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.foundation.platform/Services/WebLogger.cs
  starsky/starsky.foundation.storage/Services/FileHash.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add debug
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add todo && add small fix
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add idea
  starsky/starsky.feature.thumbnail/Interfaces/IDatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/FakeMocks/FakeIDatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update version
  starsky-tools/build-tools/app-version-update.js
Due: none

add wip code
  starsky/starsky.foundation.webtelemetry/Helpers/MetricsHelper.cs
  starsky/starsky.foundation.worker/Services/UpdateBackgroundTaskQueue.cs
  starsky/starsky.foundation.worker/ThumbnailServices/ThumbnailBackgroundTaskQueue.cs
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/starsky.foundation.database/Import/ImportQueryTest.cs
  starsky/starskytest/starsky.foundation.worker/Services/UpdateBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.worker/ThumbnailServices/ThumbnailQueuedHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests
  starsky/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueue.cs
  starsky/starsky.foundation.webtelemetry/Helpers/MetricsHelper.cs
  starsky/starskytest/starsky.foundation.sync/WatcherBackgroundService/DiskWatcherBackgroundTaskQueueTest.cs
  starsky/starskytest/starsky.foundation.webtelemetry/Helpers/MetricsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

fix
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky.feature.thumbnail/Interfaces/IDatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedService.cs
  starsky/starskytest/FakeMocks/FakeIDatabaseThumbnailGenerationService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/PeriodicThumbnailScanHostedServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

errors in cypress
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/config.json
  starsky/starsky/Controllers/DiskController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

disable for now
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
Due: none

update comment and code format
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Controllers/DiskController.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/ErrorController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/config.json
  starsky/starsky/Controllers/DiskController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/shared/fetch-post.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/shared/fetch-post.spec.ts
  starsky/starskytest/Controllers/DiskControllerTest.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ideas
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add read only test
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add rm
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starsky.foundation.database/Interfaces/IThumbnailQuery.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky.foundation.thumbnailgeneration/Helpers/Thumbnail.cs
  starsky/starsky.foundation.thumbnailgeneration/Interfaces/IUpdateStatusGeneratedThumbnailService.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/ThumbnailCleaner.cs
  starsky/starsky.foundation.thumbnailgeneration/Services/UpdateStatusGeneratedThumbnailService.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
Due: none

add test
  starsky/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationService.cs
  starsky/starskytest/FakeMocks/FakeIThumbnailService.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
  starsky/starskytest/starsky.feature.thumbnail/Services/ManualThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.thumbnail/Services/DatabaseThumbnailGenerationServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix cli
  starsky/starskytest/starskyWebHtmlCli/starskyWebHtmlCli_IntegrationTest.cs
  starsky/starskywebhtmlcli/Program.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry on flanky test
  starsky-tools/end2end/cypress/e2e/40-detailview-from-upload/detailview-from-upload.cy.ts
Due: none

rename
  starsky-tools/end2end/cypress/e2e/21-archive-from-upload/from-upload.cy.ts
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-file-from-upload.cy.ts
Due: none

rename
  starsky-tools/end2end/cypress/e2e/01-create-account/01-create-account.cy.ts
  starsky-tools/end2end/cypress/e2e/01-create-account/02-check-if-toc-privacy.cy.ts
  starsky-tools/end2end/cypress/e2e/01-create-account/03-check-env.cy.ts
  starsky-tools/end2end/cypress/e2e/02-login/02-login.cy.ts
  starsky-tools/end2end/cypress/e2e/03-logout/03-logout.cy.ts
  starsky-tools/end2end/cypress/e2e/20-archive/archive.cy.ts
  starsky-tools/end2end/cypress/e2e/21-archive-from-upload/from-upload.cy.ts
  starsky-tools/end2end/cypress/e2e/22-create-rename-directory/22-create-directory.cy.ts
  starsky-tools/end2end/cypress/e2e/30-search/30-search.cy.ts
  starsky-tools/end2end/cypress/e2e/30-search/31-search-from-upload.cy.ts
  starsky-tools/end2end/cypress/e2e/30-search/32-search-tags-update-from-upload.cy.ts
  starsky-tools/end2end/cypress/e2e/50-delete-from-upload/delete-folder-from-upload.cy.ts
Due: none

add version to test
  starsky-tools/end2end/cypress/e2e/10-upload-to-folder/10-upload-to-folder.cy.ts
Due: none

support disposed
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

make error more clear
  starsky-tools/dropbox-import/dropbox-core.js
Due: none

add retry and comment out xit test
  starsky-tools/end2end/cypress/e2e/21-archive-from-upload/from-upload.cy.ts
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
