Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

add tests
  starsky/starsky.foundation.import/Services/ImportBackup.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add defaults
  starsky/starsky/Properties/default-init-launchSettings.json
  starsky/starsky/appsettings.json
  starsky/starskytest/starsky.foundation.import/Services/ImportBackupTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add docs
  documentation/docs/features/import/import.md
Due: pipelines/azure/documentation.yaml

add docs
  documentation/docs/getting-started/configuration/config-options.md
Due: pipelines/azure/documentation.yaml

add tests
  starsky/starsky.foundation.import/Services/ImportBackup.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettingsImportBackupModel.cs
  starsky/starsky.foundation.platform/Models/AppSettingsMountWatcherModel.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportBackupTests.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add docs
  documentation/docs/features/import/import.md
  documentation/docs/features/import/mountwatchercli.md
  starsky/starsky/appsettings.json
  starsky/starskymountwatchercli/Properties/default-init-launchSettings.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.import/Services/ImportBackupTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logging
  starsky/starsky.foundation.import/Services/ImportBackup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

add list
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/pm2-restore-x-rights.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

windows
  starsky/starskytest/starsky.foundation.import/Services/ImportBackupTests.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Import Backup timestamped copy of imported to a specified folder / Delete After setting Import specific for MountCLI (#2965)
  documentation/docs/features/import/import.md
  documentation/docs/features/import/mountwatchercli.md
  documentation/docs/getting-started/configuration/config-options.md
  history.md
  starsky/starsky.foundation.import/Services/Import.cs
  starsky/starsky.foundation.import/Services/ImportBackup.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettingsImportBackupModel.cs
  starsky/starsky.foundation.platform/Models/AppSettingsMountWatcherModel.cs
  starsky/starsky/Properties/default-init-launchSettings.json
  starsky/starsky/appsettings.json
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-new-instance.sh
  starsky/starsky/pm2-restore-x-rights.sh
  starsky/starskymountwatchercli/Properties/default-init-launchSettings.json
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportBackupTests.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

WebApp Update Swagger .NET (#2970)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#2971)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

hope this helps for codeql
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add pull_request trigger for CodeQL analysis
  .github/workflows/global-codeql-analysis.yml
Due: none

update packages
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

reduce code complexity
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

flaiky test GenerateJpeg_ResizerLocal_ImageOptimisationThrows__UnixOnly (#2972)
  .github/workflows/global-codeql-analysis.yml
  starsky/starsky.foundation.optimisation/Services/MozJpegService.cs
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
  starsky/starskytest/starsky.foundation.optimisation/Services/MozJpegServiceTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add status
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IOSServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Interfaces/IServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskytest/FakeMocks/FakeServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.mountwatch/Services/MountWatcherCli.cs
  starsky/starskymountwatchercli/Program.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/MacOsServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/RunProcess.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstaller.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/Services/Helpers/RunProcessTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

avoid duplications
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/RunProcess.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/WindowsServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.mountwatch/Services/MountWatcherCliTest.cs
  starsky/starskytest/starskymountwatchercli/ProgramTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

SystemctlCmd
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smell
  starsky/starskytest/starsky.foundation.mountwatch/Services/Helpers/RunProcessTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

public async Task InstallAsync_Root_WritesSystemdServiceFileAndLogs()
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2973
  history.md
Due: none

11.2.1
  starsky/.config/dotnet-tools.json
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
