Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  pool:
    vmImage: ubuntu-20.04
    demands:
    - msbuild
    - java
  steps:
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      npmConfigCache: $(npm_config_cache)
      jest: ${{ parameters.unitTestsEnabled }}
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

fix code smells
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/Controllers/ThumbnailControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix null ref error
  starsky/starsky.foundation.storage/Storage/StorageThumbnailFilesystem.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change default option
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-display-options/modal-display-options.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog
  history.md
Due: none

change order
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

add logger to app
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/child-process/setup-child-process.spec.ts
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/config/temp-path.ts
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/logger/logger.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

npm audit fix && upgrade packages
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove exifTool && upgrade package && include seperate autorotate lib due missing support
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
  starsky-tools/thumbnail/thumbnail-core.ts
Due: none

working on logger
  starskyapp/src/app/child-process/setup-child-process.spec.ts
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
  starskyapp/src/app/config/temp-path.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/logger/logger.ts
  starskyapp/src/app/menu/app-menu.spec.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/updates-warning-window/should-it-update.spec.ts
  starskyapp/src/app/updates-warning-window/updates-warning-window.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

breaking build
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
  starskyapp/src/app/config/temp-path.ts
  starskyapp/src/app/edit-file/download-binary.ts
  starskyapp/src/app/edit-file/download-xmp-file.ts
  starskyapp/src/app/edit-file/edit-file.ts
  starskyapp/src/app/edit-file/is-application-running.ts
  starskyapp/src/app/edit-file/open-path.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
  starskyapp/src/app/logger/logger.ts
  starskyapp/src/app/main-window/restore-main-window.ts
  starskyapp/src/app/menu/app-menu.spec.ts
  starskyapp/src/app/net-request/download-net-request.ts
  starskyapp/src/app/net-request/get-net-request.ts
  starskyapp/src/app/net-request/upload-net-request.ts
  starskyapp/src/app/startup/app-settings.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/updates-warning-window/should-it-update.spec.ts
  starskyapp/src/app/updates-warning-window/updates-warning-window.spec.ts
  starskyapp/src/app/updates-warning-window/updates-warning-window.ts
  starskyapp/src/client/script/check-for-updates.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

fix test
  starskyapp/src/app/ipc-bridge/ipc-bridge.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

remove comment && and fix for showing home after new sync
  starsky/build.sh
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
  starskyapp/src/app/child-process/setup-child-process.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update changelog && change default setting use DiskWatcher
  history.md
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade electron to 13.x && update logger to put in separate directory
  starskyapp/package-lock.json
  starskyapp/package.json
  starskyapp/src/app/child-process/setup-child-process.ts
  starskyapp/src/app/config/get-base-url-from-settings.spec.ts
  starskyapp/src/app/config/logs-path.ts
  starskyapp/src/app/logger/logger.ts
  starskyapp/src/app/startup/app-settings.spec.ts
  starskyapp/src/app/startup/main.spec.ts
  starskyapp/src/app/startup/main.ts
  starskyapp/src/client/script/reload-warmup-local-or-remote.spec.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update changelog && add AppData
  history.md
  starskyapp/src/app/child-process/electron-cache-location.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update @types clientapp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update version
  starsky/starsky/clientapp/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starsky/clientapp/readme.html
Due: none

no filestream to log
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add import script for mac os
  starsky-tools/import/import.sh
  starsky-tools/import/starsky.importer.plist
Due: none

WIP
  starsky/starsky.foundation.json/Services/JsonMerge.cs
  starsky/starsky.foundation.json/starsky.foundation.json.csproj
  starsky/starsky.foundation.platform/Helpers/SetupAppSettings.cs
  starsky/starsky.sln
  starsky/starskytest/starsky.foundation.json/Services/JsonMergeTest.cs
  starsky/starskytest/starskytest.csproj
  starskyapp/src/app/main-window/create-main-window.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update starsky-codecov-clientapp-netcore.yml
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

3.1.411
  .github/workflows/starsky-dotnetcore-ubuntu.yml
Due: none

3.1.411
  .github/workflows/starsky-dotnetcore-windows.yml
Due: none

3.1.411
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

3.1.411
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

3.1.411
  pipelines/azure/steps/use_dotnet_version.yml
Due: none

upgrade version 3.1.17 && nuget packages
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky.foundation.worker/starsky.foundation.worker.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP test && fix versions
  starsky/readme.md
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix null && update changelog
  history.md
  starsky/starsky/Startup.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smell
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/readme.html
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
