Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 35
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-24.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-24.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-24.04
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
  ...

20k
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Openstreep blocked for no reason our services, so we switch to something else https://operations.osmfoundation.org/policies/tiles/
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starsky/starsky/clientapp/src/shared/tile-layer-location.const.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

csp
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.414
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

sonar scanner update
  starsky/.config/dotnet-tools.json
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

for countries without states
  starsky/starsky.feature.geolookup/Services/GeoFolderReverseLookup.cs
  starsky/starskytest/starsky.feature.geolookup/Services/GeoBackgroundTaskTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.feature.geolookup/Services/GeoFolderReverseLookupTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Reformat && add slug cases
  starsky/starsky.feature.webftppublish/Services/FtpService.cs
  starsky/starsky.feature.webhtmlpublish/Helpers/CopyPublishedContent.cs
  starsky/starsky.feature.webhtmlpublish/Models/PublishManifestModel.cs
  starsky/starsky.feature.webhtmlpublish/Services/OverlayImage.cs
  starsky/starsky.feature.webhtmlpublish/Services/WebHtmlPublishService.cs
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.platform/Helpers/Slug/GenerateSlugHelper.cs
  starsky/starsky.foundation.platform/Helpers/Slug/GenerateSlugHelperStaticRegex.cs
  starsky/starsky.foundation.platform/Helpers/Slug/RemoveDiacritics.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky/Controllers/PublishController.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/Slug/GenerateSlugHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/Slug/ReplaceDiacriticsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar feedback
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-selection-no-select-warning/menu-option-desktop-editor-open-selection-no-select-warning.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-selection/menu-option-desktop-editor-open-selection.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-single/menu-option-desktop-editor-open-single.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

for of
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-status-error/health-status-error.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
  starsky/starsky/clientapp/src/shared/select-check-if-active.ts
  starsky/starsky/clientapp/src/shared/url/url-path.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check to helper
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-color-class.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.tsx
  starsky/starsky/clientapp/src/shared/file-extensions.ts
  starsky/starsky/clientapp/src/shared/url/url-path.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Extract this nested ternary operation into an independent statement.
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-selection/menu-option-desktop-editor-open-selection.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Sonar feedback
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/internal/class-name-container.ts
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/internal/get-filter-url-color-class.ts
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-update-single.ts
  starsky/starsky/clientapp/src/components/molecules/health-status-error/health-status-error.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/internal/shift-selection-helper.ts
  starsky/starsky/clientapp/src/components/molecules/item-text-list-view/item-text-list-view.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-selection-all/menu-option-selection-all.tsx
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/time-update.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/internal/update-progress-by-click.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-datetime/detailview-info-datetime.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/main.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

MessageRestoreFromTrash
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar feedback
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/internal/get-filter-url-color-class.ts
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/modal-geo.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar feedback
  starsky/starsky/clientapp/src/components/organisms/modal-archive-mkdir/modal-archive-mkdir.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/internal/update-geo-location.ts
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar feedback
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/internal/get-filter-url-color-class.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

turn around
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

feature/202510_sonar_2
  starsky/starsky/clientapp/src/components/molecules/item-list-view/internal/shift-selection-helper.ts
  starsky/starsky/clientapp/src/components/organisms/menu-archive/internal/select-menu-item.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
  starsky/starsky/clientapp/src/containers/detailview/detailview.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky/clientapp/src/shared/document-title.ts
  starsky/starsky/clientapp/src/shared/file-extensions.ts
  starsky/starsky/clientapp/src/shared/keyboard.ts
  starsky/starsky/clientapp/src/shared/leaflet/leaflet-modify-empty-image-url-gridlayer.ts
  starsky/starsky/clientapp/src/shared/select-check-if-active.ts
  starsky/starsky/clientapp/src/shared/select.ts
  starsky/starsky/clientapp/src/shared/url/url-path.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky/clientapp/src/shared/select-check-if-active.ts
  starsky/starsky/clientapp/src/shared/url/url-path.ts
  starsky/starsky/clientapp/src/shared/url/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Disable PSQL rules
  sonar-project.properties
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add docs
  documentation/docs/developer-guide/technologies/static-application-security-testing/sonarcloud.md
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

PL/SQL disable
  documentation/docs/developer-guide/technologies/static-application-security-testing/sonarcloud.md
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

exists?
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move file
  starsky/sonar-project.properties
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

PL/SQL disable
  starsky/SonarQube.Analysis.xml
  starsky/build/helpers/SonarQube.cs
  starsky/sonar-project.properties
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

PL/SQL
  starsky/SonarQube.Analysis.xml
  starsky/build/helpers/SonarQube.cs
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ignore sql files
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/starsky/clientapp/src/shared/tile-layer-location.const.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.415
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
