Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

Check if Exiftool exist before running the import CLI
  starsky/starsky.feature.import/Services/ImportCli.cs
  starsky/starskyimportercli/Program.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
Due: azure-pipelines-starsky.yml

add test
  starsky/starskytest/FakeMocks/FakeIHttpProvider.cs
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
Due: azure-pipelines-starsky.yml

it builds now
  starsky.netframework/starskyImporterNetFrameworkCli/Program.cs
Due: azure-pipelines-starsky.netframework-msbuild.yml

update test
  starsky/starskytest/starsky.feature.import/Services/ImportCliTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Directory.GetCurrentDirectory()
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky.yml

update some content
  index.md
  starsky-tools/docs/assets/style/style.css
  starsky-tools/docs/docs.js
Due: none

update docs site && remove old settings
  inotify-settings/inotify.sh
  inotify-settings/inotifyd.sh
  inotify-settings/readme.md
  inotify-settings/starsky.conf
  inotify-settings/starskyhourly.sh
  readme.md
  starsky-tools/docs/assets/style/style.css
  starsky-tools/docs/docs.js
  starsky-tools/readme.md
  starsky.netframework/readme.md
  starsky/readme.md
  starsky/starsky/clientapp/readme.md
  starsky/starsky/readme.md
  starsky/starskybusinesslogic/readme.md
  starsky/starskygeocli/readme.md
  starsky/starskyimportercli/readme.md
  starsky/starskysynccli/readme.md
  starsky/starskysynchronizecli/readme.md
  starsky/starskytest/readme.md
  starsky/starskythumbnailcli/readme.md
  starsky/starskywebftpcli/readme.md
  starsky/starskywebhtmlcli/readme.md
  starskyapp/readme.md
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

add changelog to list
  history.md
  readme.md
  starsky-tools/readme.md
  starsky.netframework/readme.md
  starsky/readme.md
  starsky/starsky/clientapp/readme.md
  starsky/starsky/readme.md
  starsky/starskyadmincli/readme.md
  starsky/starskybusinesslogic/readme.md
  starsky/starskygeocli/readme.md
  starsky/starskyimportercli/readme.md
  starsky/starskysynchronizecli/readme.md
  starsky/starskytest/readme.md
  starsky/starskythumbnailcli/readme.md
  starsky/starskywebftpcli/readme.md
  starsky/starskywebhtmlcli/readme.md
  starskyapp/readme.md
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

update settings
  readme.md
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml

list all operations
  starsky-tools/docs/assets/config/starsky.json
  starsky-tools/docs/assets/style/style.css
  starsky-tools/docs/swagger.js
  starsky/starsky/readme.md
  starsky/starskybusinesslogic/readme.md
Due: azure-pipelines-starsky.yml

ignore swagger js
  starsky-tools/docs/copy.js
Due: none

generate html
  docs/assets/config/starsky.json
  docs/assets/style/style.css
  docs/history.html
  docs/index.html
  docs/readme.html
  docs/starsky-tools/readme.html
  docs/starsky.netframework/readme.html
  docs/starsky/readme.html
  docs/starsky/starsky/clientapp/readme.html
  docs/starsky/starsky/readme.html
  docs/starsky/starskybusinesslogic/readme.html
  docs/starsky/starskygeocli/readme.html
  docs/starsky/starskyimportercli/readme.html
  docs/starsky/starskysynchronizecli/readme.html
  docs/starsky/starskytest/readme.html
  docs/starsky/starskythumbnailcli/readme.html
  docs/starsky/starskywebftpcli/readme.html
  docs/starsky/starskywebhtmlcli/readme.html
  docs/starskyapp/readme.html
Due: none

update docs
  starsky/starskyadmincli/readme.md
  starsky/starskygeocli/readme.md
  starsky/starskyimportercli/readme.md
  starsky/starskysynchronizecli/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/starskyadmincli/readme.html
  docs/starsky/starskygeocli/readme.html
  docs/starsky/starskyimportercli/readme.html
  docs/starsky/starskysynchronizecli/readme.html
Due: none

Upgrade to React 17.x and typescript 4.x
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/breadcrumbs/breadcrumbs.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts-wrappers/detailview-wrapper.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/setupTests.js
  starsky/starsky/clientapp/src/shared/geo.spec.ts
  starsky/starsky/clientapp/src/shared/url-query.spec.ts
  starsky/starsky/clientapp/tsconfig.json
Due: azure-pipelines-starsky.yml

add init for v3
  starsky-tools/clientapp_v3/.gitignore
  starsky-tools/clientapp_v3/README.md
  starsky-tools/clientapp_v3/clientapp_v3.code-workspace
  starsky-tools/clientapp_v3/package-lock.json
  starsky-tools/clientapp_v3/package.json
  starsky-tools/clientapp_v3/public/index.html
  starsky-tools/clientapp_v3/public/manifest.json
  starsky-tools/clientapp_v3/public/robots.txt
  starsky-tools/clientapp_v3/src/App.css
  starsky-tools/clientapp_v3/src/App.test.tsx
  starsky-tools/clientapp_v3/src/App.tsx
  starsky-tools/clientapp_v3/src/index.css
  starsky-tools/clientapp_v3/src/index.tsx
  starsky-tools/clientapp_v3/src/react-app-env.d.ts
  starsky-tools/clientapp_v3/src/reportWebVitals.ts
  starsky-tools/clientapp_v3/src/setupTests.ts
  starsky-tools/clientapp_v3/tsconfig.json
Due: none

add to strict mode && add one fix
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.tsx
  starsky/starsky/clientapp/src/index.tsx
Due: azure-pipelines-starsky.yml

add startup
  starsky-tools/clientapp_v3/.eslintcache
  starsky-tools/clientapp_v3/.eslintignore
  starsky-tools/clientapp_v3/.prettierrc
  starsky-tools/clientapp_v3/.vscode/ext.list
  starsky-tools/clientapp_v3/.vscode/settings.json
  starsky-tools/clientapp_v3/README.md
  starsky-tools/clientapp_v3/clientapp_v3.code-workspace
  starsky-tools/clientapp_v3/package-lock.json
  starsky-tools/clientapp_v3/package.json
  starsky-tools/clientapp_v3/src/App.tsx
  starsky-tools/clientapp_v3/src/components/organisms/archive-list.tsx
  starsky-tools/clientapp_v3/src/global-store/actions/action-types.ts
  starsky-tools/clientapp_v3/src/global-store/actions/course-actions.ts
  starsky-tools/clientapp_v3/src/global-store/reducers/course-reducer.ts
  starsky-tools/clientapp_v3/src/global-store/reducers/index.ts
  starsky-tools/clientapp_v3/src/global-store/store-config/configure-store.ts
  starsky-tools/clientapp_v3/src/index.tsx
  starsky-tools/clientapp_v3/tsconfig.json
  starsky/starsky/clientapp/package.json
  starsky/starsky/clientapp/readme.md
  starsky/starsky/clientapp/tsconfig.json
Due: azure-pipelines-starsky.yml

code changes
  starsky/starsky/clientapp/clientapp.code-workspace
  starsky/starsky/clientapp/readme.md
  starsky/starsky/clientapp/src/hooks/use-interval.ts
  starsky/starsky/clientapp/src/index.tsx
Due: azure-pipelines-starsky.yml

add comment
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-interval.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-interval.ts
Due: azure-pipelines-starsky.yml

add typescript fix
  starsky-tools/clientapp_v3/clientapp_v3.code-workspace
  starsky-tools/clientapp_v3/src/App.tsx
  starsky-tools/clientapp_v3/tsconfig.json
Due: none

WIP
  starsky/starsky/clientapp/src/components/atoms/current-location-button/current-location-button.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-interval.spec.tsx
  starsky/starsky/clientapp/src/setupTests.js
Due: azure-pipelines-starsky.yml

add types
  starsky/starsky/clientapp/src/components/atoms/current-location-button/current-location-button.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/shared/coordinates-position.types.ts
Due: azure-pipelines-starsky.yml

small changes to have less errors
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/file-hash-image/file-hash-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/form-control/form-control.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/list-image/list-image.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/more-menu/more-menu.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/notification/notification.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/portal/portal.spec.tsx
Due: azure-pipelines-starsky.yml

linting error
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-add-overwrite.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit-search-replace.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/archive-sidebar/archive-sidebar-label-edit.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-filter/color-class-filter.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/color-class-select/color-class-select.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/health-check-for-updates/health-check-for-updates.tsx
  starsky/starsky/clientapp/src/components/molecules/health-status-error/health-status-error.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-box/list-image-box.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/search-pagination/search-pagination.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/archive-sidebar/archive-sidebar.spec.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.spec.tsx
Due: azure-pipelines-starsky.yml

test
  starsky/starsky/clientapp/src/components/organisms/archive-sidebar/archive-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

change value
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

change order
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

add check
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
Due: azure-pipelines-starsky.yml

naming fixes
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-default/menu-default.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky/clientapp/src/pages/account-register-page.spec.tsx
  starsky/starsky/clientapp/src/pages/import-page.spec.tsx
  starsky/starsky/clientapp/src/pages/login-page.spec.tsx
  starsky/starsky/clientapp/src/pages/search-page.spec.tsx
  starsky/starsky/clientapp/src/pages/trash-page.spec.tsx
Due: azure-pipelines-starsky.yml

fix elements
  starsky/starsky/clientapp/src/contexts-wrappers/archive-wrapper.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-intersection-observer.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-interval.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-keyboard-event.spec.tsx
  starsky/starsky/clientapp/src/hooks/use-location.spec.tsx
Due: azure-pipelines-starsky.yml

it should fix this
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
Due: azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
