Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

improve telemetry
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetryBackgroundService.cs
  starsky/starskytest/starsky.feature.packagetelemetry/Helpers/PackageTelemetryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update tests
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsStructureModelTests.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
  starsky/starskytest/starsky.foundation.storage/Structure/StructureServiceTest.cs
  starsky/starskytest/starsky.foundation.sync/Helpers/SyncCliTest.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/Helpers/ThumbnailCliTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[breaking build] update tests
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add info about trash
  documentation/docs/features/trash.md
Due: pipelines/azure/documentation.yaml

add docs
  starsky-tools/mock/readme.md
Due: pipelines/azure/documentation.yaml

remove old sync tool
  documentation/blog/20221231-project-starsky-2022-a-year-in-review.md
  documentation/blog/20231229-reflecting-on-a-year-of-progress-a-look-back-at-2023.md
  documentation/blog/20240315-new-release-version-060.md
  documentation/blog/20241220-year-in-review.md
  documentation/docs/developer-guide/api/readme.md
  documentation/scripts/prestart.js
  starsky-tools/readme.md
  starsky-tools/sync/crawler.js
  starsky-tools/sync/package-lock.json
  starsky-tools/sync/package.json
  starsky-tools/sync/readme.md
  starsky-tools/sync/sync.js
  starsky-tools/sync/sync_singlefile.js
  starsky-tools/update-npm.sh
Due: pipelines/azure/documentation.yaml

- [x] (Removed) _Tools_ Remove old sync tool (PR #2208)
  history.md
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix compare
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/AppSettingsCompareHelperTest.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change how it saves
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
  starsky/starsky.foundation.platform/Models/Structure/StructureRegexHelper.cs
  starsky/starskytest/starsky.foundation.platform/Models/Structure/StructureRegexHelperTests.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix appsettings writer
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.feature.import/Services/ObjectCreateIndexItemService.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky.foundation.platform/Models/Structure/StructureRegexHelper.cs
  starsky/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starskytest/starsky.feature.import/Models/ImportSettingsModelTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.411
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskydependenciesdownloadcli/starskydependenciesdownloadcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2216 set timeout longer on slow devices
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

value #2216
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update history.md
  history.md
Due: none

update electron
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

update packages
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

add link to docs
  documentation/sidebars.ts
Due: pipelines/azure/documentation.yaml

add more retry for slower macs
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/Helpers/MacOsOpenUrlTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check for external disks
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/DiskHelper.cs
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

space
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/MacOsTrashBindingHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starskytest/starsky.foundation.native/Trash/Helpers/DiskHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

varrious fixes
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.feature.import/Services/ObjectCreateIndexItemService.cs
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
  starsky/starsky.foundation.storage/Structure/StructureService.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/Structure/StructureRegexHelperTests.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
  starsky/starskytest/starsky.foundation.storage/Structure/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

temp disable tests
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.foundation.storage/Structure/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

enable tests again
  starsky/starskytest/starsky.foundation.storage/Structure/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix tests && remove legacy one
  starsky/starsky.foundation.storage/Services/LegacyStructureService.cs
  starsky/starskytest/starsky.foundation.storage/Structure/StructureServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix link
  documentation/sidebars.ts
Due: pipelines/azure/documentation.yaml

remove unused code
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Helpers/ArgsHelper.cs
  starsky/starsky/Controllers/RedirectController.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/ArgsHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Make this field 'private' and encapsulate it in a 'public' property.
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code style
  starsky/starsky.feature.import/Services/Import.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

refactor create objectCreateIndexItem
  documentation/docs/developer-guide/migrations/migrations.md
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.feature.import/Services/ObjectCreateIndexItemService.cs
  starsky/starsky.foundation.database/Models/ImportIndexItem.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add migration
  starsky/starsky.foundation.database/Migrations/20250612150431_ImportIndexAddImageFormatAndSize.Designer.cs
  starsky/starsky.foundation.database/Migrations/20250612150431_ImportIndexAddImageFormatAndSize.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

refacotrings
  starsky/starsky.feature.import/Models/ImportFileSettingsModel.cs
  starsky/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelper.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix this
  starsky/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelper.cs
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use min value
  starsky/starskytest/starsky.foundation.storage/Structure/Helpers/ParseDateTimeFromFileNameHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add Verify && add tests
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starsky.foundation.platform/Models/AppSettingsStructureModel.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.Preflight_SingleImage_ForceOverWrite_ColorClassOverwrite.verified.txt
  starsky/starskytest/starsky.feature.import/Services/ImportTest.Preflight_SingleImage_HappyFlow.verified.txt
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTestInMemoryDb.Importer_Gpx.verified.txt
  starsky/starskytest/starsky.feature.import/Services/ImportTest_InMemoryDb.cs
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename
  starsky/starskytest/starsky.feature.import/Services/ImportTest_InMemoryDb.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
