Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

update version to 0.4.0-beta.0 _+ update changelog
  history.md
  starsky-tools/build-tools/app-version-update.js
  starsky-tools/build-tools/package.json
  starsky-tools/docs/package.json
  starsky-tools/dropbox-import/package.json
  starsky-tools/localtunnel/package.json
  starsky-tools/mail/package.json
  starsky-tools/mock/package.json
  starsky-tools/sync/package.json
  starsky-tools/thumbnail/package.json
  starsky/starsky.feature.export/starsky.feature.export.csproj
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.import/starsky.feature.import.csproj
  starsky/starsky.feature.metaupdate/starsky.feature.metaupdate.csproj
  starsky/starsky.feature.rename/starsky.feature.rename.csproj
  starsky/starsky.feature.webftppublish/starsky.feature.webftppublish.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.http/starsky.foundation.http.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.storage/starsky.foundation.storage.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/clientapp/package.json
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

tupo
  history.md
Due: none

history
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

WIP
  starsky/starsky.foundation.sync/Helpers/HashcodeCompare.cs_
  starsky/starsky.foundation.sync/Helpers/NewItem.cs_
  starsky/starsky.foundation.sync/Services/Synchronize.cs_
  starsky/starsky.foundation.sync/readme.md
  starsky/starsky.foundation.sync/starsky.foundation.sync.csproj
Due: azure-pipelines-starsky.yml

add to solution ++ add watcher implementation
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/Services/FileSystemWatcherImplementation.cs
  starsky/starsky.foundation.sync/Services/Synchronize.cs
  starsky/starsky.sln
Due: azure-pipelines-starsky.yml

add docs link
  starsky/starsky.foundation.sync/Services/FileSystemWatcherImplementation.cs
Due: azure-pipelines-starsky.yml

add size to import
  starsky/starsky.feature.import/Services/Import.cs
  starsky/starskytest/starsky.feature.import/Services/ImportTest.cs
Due: azure-pipelines-starsky.yml

add example code
  starsky/starsky.foundation.sync/Interfaces/IFileProcessor.cs
  starsky/starsky.foundation.sync/Services/FileProcessor.cs
  starsky/starsky.foundation.sync/Services/FileSystemWatcherImplementation.cs
Due: azure-pipelines-starsky.yml

add more example files
  starsky/docker_demo_setup.sh
Due: azure-pipelines-starsky.yml

starsky/docker_demo_setup.sh
  .github/workflows/starsky-deploy-demo-env.yml
Due: none

fix path
  starsky/docker_demo_setup.sh
Due: azure-pipelines-starsky.yml

code_smells and leaflet_ui fixes
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-gpx.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.ts
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
  starsky/starsky/clientapp/src/style/css/24-detailview.css
Due: azure-pipelines-starsky.yml

add check for colorClassUsage when add a file
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
Due: azure-pipelines-starsky.yml

add comments ++ add clean cache when rename file ++ add polyfill for jest
  starsky/starsky/clientapp/src/components/atoms/modal/modal.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/modal/modal.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-detailview-rename-file/modal-detailview-rename-file.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.spec.tsx
  starsky/starsky/clientapp/src/contexts/archive-context.tsx
  starsky/starsky/clientapp/src/index.tsx
Due: azure-pipelines-starsky.yml

add clean cache ++ lenght of string
  starsky/starsky/clientapp/src/components/organisms/modal-detailview-rename-file/modal-detailview-rename-file.tsx
Due: azure-pipelines-starsky.yml

- [x] (Fixed) _Front-end_ When in Archive mode and 'Move file to trash' client cache is cleared
  history.md
  starsky/starsky/clientapp/src/components/molecules/menu-option-move-to-trash/menu-option-move-to-trash.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
Due: azure-pipelines-starsky.yml

add feature
  history.md
Due: none

update changelog
  history.md
Due: none

add POC
  starsky/starsky/clientapp/src/containers/login.tsx
  starsky/starsky/clientapp/src/shared/url-path.ts
Due: azure-pipelines-starsky.yml

code smell
  starsky/starsky/clientapp/src/hooks/realtime/websocket-service.ts
Due: azure-pipelines-starsky.yml

update fakeUserManager ++ add credentials to model
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starskytest/Controllers/AccountControllerTest.cs
  starsky/starskytest/FakeMocks/FakeUserManagerActiveUsers.cs
  starsky/starskytest/Middleware/BasicAuthenticationMiddlewareTest.cs
  starsky/starskytest/starskyAdminCli/Services/ConsoleAdminTest.cs
Due: azure-pipelines-starsky.yml

add pref username component
  starsky-tools/mock/account/status/index.json
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starsky/clientapp/src/containers/preferences.tsx
Due: azure-pipelines-starsky.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.stories.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starsky/clientapp/src/containers/preferences.spec.tsx
  starsky/starsky/clientapp/src/containers/preferences.tsx
Due: azure-pipelines-starsky.yml

add test for when user is not found in db
  starsky/starsky/Controllers/AccountController.cs
  starsky/starskytest/Controllers/AccountControllerTest.cs
Due: azure-pipelines-starsky.yml

document breaking changes
  history.md
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/Controllers/ApiController.cs
  starsky/starsky/Controllers/DownloadPhotoController.cs
  starsky/starsky/Controllers/ExportController.cs
  starsky/starsky/Controllers/RedirectController.cs
  starsky/starsky/Controllers/SearchController.cs
  starsky/starsky/clientapp/src/components/organisms/detail-view-sidebar/detail-view-sidebar.spec.tsx
  starsky/starsky/clientapp/src/containers/login.spec.tsx
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky.yml

add extra rename
  history.md
  starsky/starsky/Controllers/SyncController.cs
  starsky/starsky/Controllers/ThumbnailController.cs
  starsky/starsky/clientapp/src/shared/url-query.ts
Due: azure-pipelines-starsky.yml

rename files in mock service
  starsky-tools/mock/api/account/status/index.json
  starsky-tools/mock/api/download-photo/test.gpx
  starsky-tools/mock/set-router.js
  starsky/starsky/clientapp/src/components/organisms/modal-archive-mkdir/modal-archive-mkdir.tsx
Due: azure-pipelines-starsky.yml

Make model that easier to use is
  starsky-tools/mock/api/account/status/index.json
  starsky/starsky.foundation.accountmanagement/Models/Account/UserStatusModel.cs
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
Due: azure-pipelines-starsky.yml

add specific api to log current user off
  starsky/starsky/Controllers/AccountController.cs
  starsky/starsky/clientapp/src/shared/url-query.spec.ts
  starsky/starsky/clientapp/src/shared/url-query.ts
  starsky/starskytest/Controllers/AccountControllerTest.cs
Due: azure-pipelines-starsky.yml

fix test and add to changelog
  history.md
  starsky/starskytest/Controllers/AccountControllerTest.cs
Due: azure-pipelines-starsky.yml

change back
  history.md
Due: none

update docs ++ remove unused using
  docs/history.html
  starsky/starsky.foundation.accountmanagement/Models/Account/UserStatusModel.cs
Due: azure-pipelines-starsky.yml

add extra checks
  starsky/starskytest/Controllers/AccountControllerTest.cs
Due: azure-pipelines-starsky.yml

fix 404 error warmup
  starsky/starsky/pm2-warmup.sh
Due: azure-pipelines-starsky.yml

WIP Download Service
  starsky/starsky.feature.export/Interfaces/IExport.cs
  starsky/starsky.feature.export/Services/ExportService.cs
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-publish/modal-publish.tsx
Due: azure-pipelines-starsky.yml

[]
  starsky/starsky/clientapp/src/components/organisms/modal-download/modal-download.tsx
Due: azure-pipelines-starsky.yml

TEST FAILS
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky.yml

NotFoundSourceMissing
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky.yml
