Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

changelog
  history.md
Due: none

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

use --camera
  starsky-tools/import/import.sh
Due: none

Feature/202601 shell video (#2638)
  starsky-tools/import/import.sh
Due: none

WebApp Update Swagger .NET (#2637)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

add auto code sign
  starsky/starsky/mac-self-codesign.sh
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add auto code sign (#2640)
  history.md
  starsky/starsky/mac-self-codesign.sh
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update nuget packages
  starsky/build/_build.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update nuget packages (#2644)
  starsky/build/_build.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update GitHub Actions workflow for NuGet package list
  .github/workflows/webapp-update-nuget-packages-list.yml
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list (#2645)
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

change name
  starsky/starsky/Controllers/MetaTimeCorrectController.cs
  starsky/starskytest/Controllers/MetaTimeCorrectControllerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.metaupdate/Interfaces/IExifTimezoneCorrectionService.cs
  starsky/starsky.foundation.metaupdate/Models/ExifTimezoneCorrectionRequest.cs
  starsky/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionService.cs
  starsky/starsky/Controllers/MetaCorrectTimezoneController.cs
  starsky/starsky/Controllers/MetaTimeCorrectController.bak
  starsky/starskytest/starsky.foundation.metaupdate/Services/ExifTimezoneCorrectionServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

powershell fix
  starsky/starsky/github-artifacts-download.ps1
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update permissions for end2end Windows CI workflow
  .github/workflows/end2end-windows-ci.yml
Due: none

Update permissions for end2end-windows CI job
  .github/workflows/end2end-windows-ci.yml
Due: none

fix for migrations
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Migrations/20260126104937_IndexFixThumbnail.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260126104937_IndexFixThumbnail.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky/add-exif-feature.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix migrations
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Migrations/20260126104937_IndexFixThumbnail.cs
  starsky/starsky.foundation.database/Migrations/20260126112553_IndexFixSizeToBig.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260126112553_IndexFixSizeToBig.cs
  starsky/starsky.foundation.database/Migrations/ApplicationDbContextModelSnapshot.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starskytest/starsky.foundation.database/Data/ApplicationDbContextIndexSizeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.database/Data/ApplicationDbContextIndexSizeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starskytest/starsky.foundation.database/Data/ApplicationDbContextIndexSizeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add history.md
  history.md
Due: none

Feature/202601 migrations fix (#2653)
  history.md
  starsky/starsky.foundation.database/Data/ApplicationDbContext.cs
  starsky/starsky.foundation.database/Helpers/RunMigrations.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
  starsky/starsky.foundation.database/Migrations/20260126112553_IndexFixSizeToBig.Designer.cs
  starsky/starsky.foundation.database/Migrations/20260126112553_IndexFixSizeToBig.cs
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starsky/add-exif-feature.md
  starsky/starskytest/starsky.foundation.database/Data/ApplicationDbContextIndexSizeTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add lens model / make camera
  starsky/starsky.feature.search/Services/SearchService.cs
  starsky/starsky.feature.search/ViewModels/SearchViewModel.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.search/Services/SearchServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update docs
  starsky/starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Feature/202601 search fix (#2655)
  history.md
  starsky/starsky.feature.search/Services/SearchService.cs
  starsky/starsky.feature.search/ViewModels/SearchViewModel.cs
  starsky/starsky/readme.md
  starsky/starskytest/starsky.foundation.search/Services/SearchServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

add migration fixes
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

duplicate
  starsky/starsky.foundation.database/Migrations/20260122095812_SearchThumbnailIndex.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
