Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md

Update starsky-dotnetcore-ubuntu.yml
  .github/workflows/starsky-dotnetcore-ubuntu.yml
Due: none

Add sonar cache
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

update sdk to 403
  .github/workflows/starsky-sonarqube-clientapp-netcore.yml
Due: none

update to sdk 403
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

update to sdk 403
  .github/workflows/starsky-dotnetcore-ubuntu.yml
Due: none

update to sdk 403
  .github/workflows/starsky-dotnetcore-windows.yml
Due: none

update to sdk 403
  azure-pipelines-starsky.yml
Due: none

[DocsUpdateBot] Auto commited html update
  docs/azure-pipelines-starsky.yml
Due: none

update test
  starsky/starskytest/Services/ReadMetaTest.cs
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Cypress improvements
  starsky-tools/end2end/.gitignore
  starsky-tools/end2end/cypress.json
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/config.json
  starsky-tools/end2end/cypress/integration/helpers/create-directory-helper.ts
  starsky-tools/end2end/cypress/screenshots/.gitignore
  starsky-tools/end2end/cypress/screenshots/.gitkeep
  starsky-tools/end2end/cypress/screenshots/readme.md
Due: none

upgrade nuget packages to 3.1.9
  starsky/starsky.feature.geolookup/starsky.feature.geolookup.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.injection/starsky.foundation.injection.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.readmeta/starsky.foundation.readmeta.csproj
  starsky/starsky.foundation.realtime/starsky.foundation.realtime.csproj
  starsky/starsky.foundation.writemeta/starsky.foundation.writemeta.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskycore/starskycore.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynccli/starskysynccli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky.yml

upgrade old project to 319
  history.md
  starsky.netframework/starskyImporterNetFrameworkCli/starskyImporterNetFrameworkCli.csproj
  starsky.netframework/starskySyncNetFrameworkCli/starskySyncNetFrameworkCli.csproj
Due: azure-pipelines-starsky.netframework-msbuild.yml

run nuget-package-list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky.yml

fix test
  starsky/starskytest/Helpers/ApplicationInsightsJsHelperTest.cs
Due: azure-pipelines-starsky.yml

Command E isn't working with colorclass selected
  starskyapp/lib/edit-keypress.js
Due: azure-pipelines-starsky.starskyapp.yml

update version ++ change to warn
  azure-pipelines-starsky.starskyapp.yml
  starsky-tools/end2end/.eslintrc.js
Due: none

update version
  starsky/readme.md
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/readme.html
Due: none

remove unused versions from list
  starsky/starskycore/starskycore.csproj
Due: azure-pipelines-starsky.yml

update nuget packages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky.yml

refactor code
  starsky/starsky.foundation.sync/Extensions/WaitOneAsync.cs
  starsky/starsky.foundation.sync/SyncInterfaces/ISync.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IAutoResetEventAsync.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IFileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/WatcherServices/AutoResetEventAsync.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky.foundation.sync/Extensions/WaitOneAsync.cs_
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starsky.foundation.sync/WatcherInterfaces/IFileSystemWatcherWrapper.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherServices/FileSystemWatcherWrapper.cs
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

add parallel testing run settings ++ remove unused test
  starsky/build.vstest.runsettings
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

change to class Level
  starsky/build.vstest.runsettings
Due: azure-pipelines-starsky.yml

add more timeout
  starsky/starskytest/Controllers/ExportControllerTest.cs
  starsky/starskytest/starsky.foundation.realtime/Helpers/WebSocketConnectionTest.cs
Due: azure-pipelines-starsky.yml

change folder
  starsky/starskytest/Controllers/ExportControllerTest.cs
Due: azure-pipelines-starsky.yml

change back
  starsky/build.vstest.runsettings
  starsky/starskytest/Helpers/FileStreamingHelperTest.cs
Due: azure-pipelines-starsky.yml

hope this works
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

refactor code
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

add extra test
  starsky/starskytest/starsky.foundation.sync/Services/FileProcessorTest.cs
Due: azure-pipelines-starsky.yml

add extra test
  starsky/starsky.foundation.sync/WatcherInterfaces/IDiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundService.cs
  starsky/starskytest/FakeMocks/FakeDiskWatcher.cs
  starsky/starskytest/starsky.foundation.sync/WatcherHelpers/FileProcessorTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundServiceTest.cs
Due: azure-pipelines-starsky.yml

add test
  starsky/starskytest/FakeMocks/FakeIFileSystemWatcherWrapper.cs
  starsky/starskytest/FakeMocks/FakeISynchronize.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundService.cs
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherBackgroundServiceTest.cs
Due: azure-pipelines-starsky.yml

add zero test
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky.yml

add test ++ events
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starskytest/FakeMocks/FakeIFileSystemWatcherWrapper.cs
  starsky/starskytest/FakeMocks/FakeISynchronize.cs
  starsky/starskytest/starsky.foundation.sync/WatcherServices/DiskWatcherTest.cs
Due: azure-pipelines-starsky.yml

rename
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky.yml
