Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

WIP
  starsky/starsky.foundation.writemeta/Services/ExifToolDownload.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloadBackgroundService.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloader/CheckSha1.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloader/ExifToolDownload.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloader/ExifToolDownloadUnix.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloader/ExifToolDownloadWindows.cs
  starsky/starsky.foundation.writemeta/Services/ExifToolDownloader/ExifToolLocations.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolDownloadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

$"[SearchSuggestionsService] exception catch-ed {exception.Message} {exception.StackTrace}");
  starsky/starsky.feature.search/Services/SearchSuggestionsService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test
  starsky/starskytest/starsky.foundation.search/Services/SearchSuggestionsServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Fix regex issue
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky.foundation.platform/Helpers/PathHelper.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/PathHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

keep a changelog
  history.md
Due: none

code smells desktop 9
  starskydesktop/src/app/child-process/spawn-clean-mac-os.ts
  starskydesktop/src/app/config/url-regex.spec.ts
  starskydesktop/src/app/edit-file/download-binary.spec.ts
  starskydesktop/src/app/edit-file/edit-file.ts
  starskydesktop/src/app/edit-file/is-detail-view-result.spec.ts
  starskydesktop/src/app/edit-file/is-detail-view-result.ts
  starskydesktop/src/app/ipc-bridge/ipc-bridge.ts
  starskydesktop/src/app/logger/logger.ts
  starskydesktop/src/shared/IArchive.ts
  starskydesktop/src/shared/IDetailView.ts
Due: pipelines/azure/app-ci.yml

Add WIP
  starsky/starsky.feature.trash/Helpers/TrashPreflight.cs
  starsky/starskytest/Architecture/ArchitectureTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Auto .NET SDK version Upgrade to 8.0.204
  .github/workflows/desktop-release-on-tag-net-electron.yml
  .github/workflows/webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-windows.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
  pipelines/azure/steps/use_dotnet_version.yml
  starsky/global.json
  starsky/nuget-packages-list.json
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.foundation.accountmanagement/starsky.foundation.accountmanagement.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starsky/starsky.csproj
  starsky/starskyadmincli/starskyadmincli.csproj
  starsky/starskydemoseedcli/starskydemoseedcli.csproj
  starsky/starskygeocli/starskygeocli.csproj
  starsky/starskyimportercli/starskyimportercli.csproj
  starsky/starskysynchronizecli/starskysynchronizecli.csproj
  starsky/starskytest/starskytest.csproj
  starsky/starskythumbnailcli/starskythumbnailcli.csproj
  starsky/starskythumbnailmetacli/starskythumbnailmetacli.csproj
  starsky/starskywebftpcli/starskywebftpcli.csproj
  starsky/starskywebhtmlcli/starskywebhtmlcli.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update readme.md
  starsky/readme.md
Due: azure-pipelines-starsky.yml, pipelines/azure/documentation.yaml

Update history.md
  history.md
Due: none

Windows CI Test fix
  starsky/starskytest/starsky.foundation.native/OpenApplicationNative/OpenApplicationNativeServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/react from 18.2.67 to 18.2.69
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 5.2.2 to 5.4.3
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj to reduce vulnerabilities
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: starskydesktop/package.json to reduce vulnerabilities
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update Documentation and Docusaurus
  documentation/package-lock.json
  documentation/package.json
Due: pipelines/azure/documentation.yaml

npm install
  starskydesktop/package-lock.json
Due: pipelines/azure/app-ci.yml

Upgrade NuGet Packages
  starsky/build/_build.csproj
  starsky/starsky.feature.health/starsky.feature.health.csproj
  starsky/starsky.feature.webhtmlpublish/starsky.feature.webhtmlpublish.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.thumbnailgeneration/starsky.foundation.thumbnailgeneration.csproj
  starsky/starsky.foundation.thumbnailmeta/starsky.foundation.thumbnailmeta.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix build
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/shared-web-only.yml

fix: starskydesktop/package.json & starskydesktop/package-lock.json to reduce vulnerabilities
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Auto .NET SDK version Upgrade to 8.0.204
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @docusaurus/module-type-aliases from 3.0.0 to 3.2.0
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/types from 3.0.0 to 3.2.0
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @docusaurus/tsconfig from 3.0.0 to 3.2.0
  documentation/package.json
Due: pipelines/azure/documentation.yaml

fix: upgrade @types/node from 20.11.30 to 20.12.2
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

fix lock
  starsky/build/_build.csproj.DotSettings
  starskydesktop/package-lock.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 20.12.2 to 20.12.3
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

#1537 add regex timeout
  starsky/starsky.foundation.platform/Helpers/ExtensionRolesHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1489 add check for key instead of string
  starsky/starsky.foundation.database/Thumbnails/ThumbnailQuery.cs
  starsky/starskytest/starsky.foundation.database/Thumbnails/ThumbnailQueryErrorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @typescript-eslint/parser from 7.4.0 to 7.5.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @typescript-eslint/eslint-plugin from 7.4.0 to 7.5.0
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react from 18.2.73 to 18.2.74
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

fix: upgrade @types/react-dom from 18.2.23 to 18.2.24
  starskydesktop/package-lock.json
  starskydesktop/package.json
Due: pipelines/azure/app-ci.yml

Update clientapp-react-linux-ci.yml
  .github/workflows/clientapp-react-linux-ci.yml
Due: none

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
