Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

add tests
  starsky/starsky.foundation.mountwatch/ServiceInstaller/Helpers/UnixSecurity.cs
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.storage/Storage/StorageHostFullPathFilesystem.cs
  starsky/starskytest/FakeMocks/FakeUnixSecurity.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/UnixSecurityTest.cs
  starsky/starskytest/starsky.foundation.storage/Storage/StorageHostFullPathFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add condition
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

msdos
  starsky/starsky.foundation.import/Services/CameraStorageDetector.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

macos
  starsky/starsky.foundation.import/Helpers/MacOsFileSystemHelper.cs
  starsky/starskytest/starsky.foundation.import/Helpers/MacOsFileSystemHelperTest.cs
  starsky/starskytest/starsky.foundation.import/Services/CameraStorageDetectorTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky.foundation.mountwatch/ServiceInstaller/ServiceInstaller.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[OSCondition(OperatingSystems.Linux | OperatingSystems.OSX)]
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

simpler
  starsky/starsky.foundation.import/Helpers/MacOsFileSystemHelper.cs
  starsky/starskytest/starsky.foundation.import/Helpers/MacOsFileSystemHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

int
  starsky/starsky.foundation.import/Helpers/MacOsFileSystemHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test simpler
  starsky/starskytest/starsky.foundation.import/Helpers/MacOsFileSystemHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rm
  starsky/TEST_COVERAGE_SUMMARY.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix test for macos
  starsky/starskytest/starsky.foundation.import/Helpers/MacOsFileSystemHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move ns
  starsky/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstaller.cs
  starsky/starsky.foundation.platform/Helpers/UnixSecurity.cs
  starsky/starskytest/FakeMocks/FakeUnixSecurity.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/UnixSecurityTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

OSCondition
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

unix only
  starsky/starskytest/starsky.foundation.import/Helpers/MacOsFileSystemHelperTest.cs
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code cleanup
  starsky/starskytest/starsky.foundation.mountwatch/ServiceInstaller/LinuxServiceInstallerTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

use different file
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WebApp Update Swagger .NET (#2947)
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

sonar feedback 10
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-mode-selection.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-offset-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

code smells
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-mode-selection.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-offset-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

undo
  starsky/starskytest/starsky.feature.webhtmlpublish/Services/WebHtmlPublishServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

sonar feedback 10 (#2948)
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-mode-selection.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-offset-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/internal/render-timezone-mode.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-timezone-shift/modal-timezone-shift.tsx
  starsky/starsky/pm2-deploy-on-env.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix issue
  mac-1/starsky.xcodeproj/project.pbxproj
  mac-1/starsky/runBinary.swift
Due: none

fixes
  mac-1/starsky/getFreePort.swift
  mac-1/starsky/runBinary.swift
  mac-1/starskyTests/GetFreePortTests.swift
  mac-1/starskyTests/starskyTests.swift
  mac-1/starskyUITests/starskyUITests.swift
  mac-1/starskyUITests/starskyUITestsLaunchTests.swift
Due: none

add tests
  mac-1/starsky/BackendReadiness.swift
  mac-1/starsky/runBinary.swift
  mac-1/starsky/starskyApp.swift
  mac-1/starskyTests/BackendReadinessTests.swift
Due: none

tests
  mac-1/starsky/AppViewModel.swift
  mac-1/starsky/BackendLauncher.swift
  mac-1/starsky/ReadinessChecker.swift
  mac-1/starsky/RootView.swift
  mac-1/starsky/starskyApp.swift
  mac-1/starskyTests/AppViewModelTests.swift
  mac-1/starskyUITests/starskyUITests.swift
  mac-1/starskyUITests/starskyUITestsLaunchTests.swift
Due: none

move
  mac/starsky.xcodeproj/project.pbxproj
  mac/starsky.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac/starsky/AppViewModel.swift
  mac/starsky/Assets.xcassets/AccentColor.colorset/Contents.json
  mac/starsky/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starsky/Assets.xcassets/Contents.json
  mac/starsky/BackendLauncher.swift
  mac/starsky/BackendReadiness.swift
  mac/starsky/ReadinessChecker.swift
  mac/starsky/RootView.swift
  mac/starsky/getFreePort.swift
  mac/starsky/runBinary.swift
  mac/starsky/starskyApp.swift
  mac/starsky/webView.swift
  mac/starskyTests/AppViewModelTests.swift
  mac/starskyTests/BackendReadinessTests.swift
  mac/starskyTests/GetFreePortTests.swift
  mac/starskyTests/starskyTests.swift
  mac/starskydesktop.xcodeproj/project.pbxproj
  mac/starskydesktop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  mac/starskydesktop/Assets.xcassets/AccentColor.colorset/Contents.json
  mac/starskydesktop/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/starskydesktop/Assets.xcassets/Contents.json
  mac/starskydesktop/ContentView.swift
  mac/starskydesktop/starskydesktopApp.swift
  mac/starskydesktopTests/starskydesktopTests.swift
  mac/starskydesktopUITests/starskydesktopUITests.swift
  mac/starskydesktopUITests/starskydesktopUITestsLaunchTests.swift
Due: none

move to generic storage providers
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettingsTransferObject.cs
  starsky/starsky.foundation.platform/Models/StorageProvider.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

WIP
  starsky/starsky.foundation.platform/Helpers/AppSettingsCompareHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starsky.foundation.platform/Models/AppSettingsTransferObject.cs
  starsky/starsky.foundation.platform/Models/Tenant.cs
  starsky/starskytest/starsky.foundation.platform/Helpers/SetupAppSettingsTest.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

- [x] (Fixed) _Back-end_ Zero-payload non-mdat atom (e.g. wide, free) gives hash back (PR #2955)
  history.md
Due: none

fix this
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-test.mp4.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_BytesWithLocation_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_Test_Verify.verified.txt
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Root cause: The MOV file has the atom sequence ftyp → wide → mdat → m… (#2955)
  history.md
  starsky/starsky.foundation.storage/Services/Mp4FileHasher.cs
  starsky/starskytest/FakeCreateAn/CreateAnQuickTimeMp4/CreateAnQuickTimeMp4.cs
  starsky/starskytest/starsky.foundation.import/Services/ImportTest.Preflight_SingleImage_Verify_filePath=-test.mp4.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_BytesWithLocation_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/FileHashTest.FileHash_StringArray_CreateAnQuickTimeMp4_Test_Verify.verified.txt
  starsky/starskytest/starsky.foundation.storage/Services/Mp4FileHasherTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
