Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-20.04
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
      - template: /pipelines/azure/steps/use_dotnet_version.yml
  ...

pipelines/azure/develop-ci.yml:
  stages:
  - stage: build
    displayName: Develop CI
    jobs:
    - job: buildnetcore
      displayName: Build
      timeoutInMinutes: 25
      cancelTimeoutInMinutes: 10
      pool:
        vmImage: ubuntu-22.04
        demands:
        - msbuild
        - java
      steps:
      - checkout: self
  ...

pipelines/azure/documentation.yaml:
  stages:
  - stage: builddocumentation
    displayName: Build Documentation
    jobs:
    - job: builddocumentation
      displayName: Build Documentation
      timeoutInMinutes: 10
      cancelTimeoutInMinutes: 2
      pool:
        vmImage: ubuntu-22.04
      steps:
      - checkout: self
        clean: true
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

add assets
  starsky/starsky/Startup.cs
  starsky/starskytest/root/StartupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add check
  starsky/starsky/Startup.cs
  starsky/starskytest/root/StartupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/Startup.cs
  starsky/starskytest/root/StartupTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

fix some todos
  starsky/starsky.foundation.database/Query/QueryCollections.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryCollectionsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test && comment
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starsky.foundation.database/Query/QuerySingleItem.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not needed at the moment
  starsky/starsky.foundation.storage/ArchiveFormats/Zipper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change test
  starsky/starskytest/starsky.foundation.search/Services/SearchServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try to fix test
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

nullable changes
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

spacings
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add retry
  starsky/starsky.foundation.writemeta/Helpers/ExifTool.cs
  starsky/starskytest/FakeMocks/FakeIStorage.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
  starsky/starskytest/starsky.foundation.writemeta/Services/ExifToolServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

small code tweaks
  starsky/starsky.feature.rename/Services/RenameService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change check to avoid new. line issues
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

start refactor
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-video-class-name.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/play-pause.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/time-update.ts
  starsky/starsky/clientapp/src/shared/data.spec.ts
  starsky/starsky/clientapp/src/shared/date.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

seperate functions
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/update-progress-by-click.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/waiting.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move to sperate function
  starsky/starsky/clientapp/.vscode/extensions.json
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/set-default-effect.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move feature out
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/controls.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/progress-bar.tsx
  starsky/starsky/clientapp/src/localization/localization.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/progress-bar.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/progress-bar.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/update-progress-by-click.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/waiting.spec.ts
  starsky/starsky/clientapp/src/shared/validate-login-form.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tmp
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/play-pause.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/controls.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/play-pause.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/play-pause.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/time-update.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-video-class-name.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/time-update.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/detail-view-mp4.tsx
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/set-default-effect.spec.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/set-default-effect.ts
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/update-progress-by-click.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tmp
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

?
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/organisms/detail-view-media/shared/get-mouse-position.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

optional chain expression
  starsky/starsky/clientapp/src/components/organisms/preferences-password/preferences-password.tsx
  starsky/starsky/clientapp/src/components/organisms/preferences-username/preferences-username.tsx
  starsky/starsky/clientapp/src/containers/media-content.tsx
  starsky/starsky/clientapp/src/hooks/realtime/use-sockets.tsx
  starsky/starsky/clientapp/src/hooks/realtime/ws-current-start.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Add warning for SonarQube CLI tool is out of date
  starsky/build/Build.cs
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/HttpQuery.cs
  starsky/build/helpers/MergeCoverageFiles.cs
  starsky/build/helpers/SonarQube.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Rename codecov.yml, update rules& add documentation for static code analysis
  .codecov.yml
  codecov.yml
  documentation/docs/assets/developer-guide-static-application-security-testing-sonarqube.jpg
  documentation/docs/assets/developer-guide-technologies-static-application-security-testing-codecov-pr-build.jpg
  documentation/docs/assets/developer-guide-technologies-static-application-security-testing-sonarcloud-dashboard.jpg
  documentation/docs/assets/developer-guide-technologies-static-application-security-testing-sonarcloud-pr-build.jpg
  documentation/docs/developer-guide/technologies/static-application-security-testing/_category_.json
  documentation/docs/developer-guide/technologies/static-application-security-testing/codecov.md
  documentation/docs/developer-guide/technologies/static-application-security-testing/codeql.md
  documentation/docs/developer-guide/technologies/static-application-security-testing/readme.md
  documentation/docs/developer-guide/technologies/static-application-security-testing/snyk.md
  documentation/docs/developer-guide/technologies/static-application-security-testing/sonarcloud.md
Due: pipelines/azure/documentation.yaml

add workflow run
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

add workflow run space
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

workflow_dispatch
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

--no-publish
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

--no-dependencies
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

no sonar for codecov
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

Update documentation npm packages && update clientapp packages
  documentation/package-lock.json
  documentation/package.json
  starsky-tools/build-tools/.gitignore
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Move to Serilog && update dotnet-sonarscan to latest version
  starsky/.config/dotnet-tools.json
  starsky/build/Build.cs
  starsky/build/helpers/ClientHelper.cs
  starsky/build/helpers/CoverageReportHelper.cs
  starsky/build/helpers/DotnetGenericHelper.cs
  starsky/build/helpers/DotnetRuntimeSpecificHelper.cs
  starsky/build/helpers/DotnetTestHelper.cs
  starsky/build/helpers/GetSolutionAllProjects.cs
  starsky/build/helpers/MergeCoverageFiles.cs
  starsky/build/helpers/SonarQube.cs
  starsky/build/helpers/ZipperHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
