Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

Update readme-upgrade-net-core.md
  starsky/readme-upgrade-net-core.md
Due: azure-pipelines-starsky.yml

add gatekeeper warning to docs
  docs/starskyapp/docs-assets/starskyapp-mac-gatekeeper.jpg
  docs/starskyapp/readme.html
  starsky-tools/docs/docs.js
  starskyapp/docs-assets/starskyapp-mac-gatekeeper.jpg
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

add new image
  docs/index.html
  docs/starsky/docs/starsky-mac-v043-home-nl.jpg
  index.md
  starsky-tools/docs/docs.js
  starsky/docs/starsky-mac-v043-home-nl.jpg
Due: azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/starsky/docs/starsky-mac-v025-home-nl.jpg
Due: none

Update release-on-tag-netcore-electron.yml
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

${{ steps.get_tag_name.outputs.VERSION }}
  .github/workflows/release-on-tag-netcore-electron.yml
Due: none

add todo
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

Update readme.md
  readme.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

rename
  .github/workflows/starskyapp-electron-build-mac-win.yml
Due: none

Update readme.md
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

[DocsUpdateBot] Auto commited html update
  docs/starskyapp/readme.html
Due: none

should ignore markdown changes
  azure-pipelines-starsky.starskyapp.yml
Due: none

update docs
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

add explicit to readme
  azure-pipelines-starsky.starskyapp.yml
Due: none

gatekeeper is part of mac os
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

add download page
  .gitignore
  docs/assets/download/download.html
  docs/index.html
  index.md
  starsky-tools/docs/assets/download/download.html
Due: none

add gatekeeper warning
  starsky-tools/docs/assets/download/download.html
Due: none

[DocsUpdateBot] Auto commited html update
  docs/assets/download/download.html
Due: none

update download
  starsky-tools/docs/assets/download/download.html
Due: none

js
  starsky-tools/docs/assets/download/download.html
Due: none

add download button
  docs/starskyapp/readme.html
  starskyapp/readme.md
Due: azure-pipelines-starsky.starskyapp.yml

remove the pre-alpha from docs
  history.md
  starsky-tools/readme.md
  starsky.netframework/readme.md
  starsky/starsky.feature.geolookup/readme.md
  starsky/starsky/clientapp/readme.md
  starsky/starsky/readme.md
  starsky/starskyadmincli/readme.md
  starsky/starskybusinesslogic/readme.md
  starsky/starskygeocli/readme.md
  starsky/starskyimportercli/readme.md
  starsky/starskysynccli/readme.md
  starsky/starskysynchronizecli/readme.md
  starsky/starskytest/readme.md
  starsky/starskythumbnailcli/readme.md
  starsky/starskywebftpcli/readme.md
  starsky/starskywebhtmlcli/readme.md
  starskyapp/readme.md
Due: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky-tools/readme.html
  docs/starsky.netframework/readme.html
  docs/starsky/starsky.feature.geolookup/readme.html
  docs/starsky/starsky/clientapp/readme.html
  docs/starsky/starsky/readme.html
  docs/starsky/starskyadmincli/readme.html
  docs/starsky/starskybusinesslogic/readme.html
  docs/starsky/starskygeocli/readme.html
  docs/starsky/starskyimportercli/readme.html
  docs/starsky/starskysynccli/readme.html
  docs/starsky/starskysynchronizecli/readme.html
  docs/starsky/starskytest/readme.html
  docs/starsky/starskythumbnailcli/readme.html
  docs/starsky/starskywebftpcli/readme.html
  docs/starsky/starskywebhtmlcli/readme.html
  docs/starskyapp/readme.html
Due: none

remove nuget step
  azure-pipelines-starsky.netframework-msbuild.yml
Due: none

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
