Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - task: NuGetToolInstaller@0
    displayName: Use NuGet 4.3.0
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

add assert
  starsky/starskytest/starsky.foundation.platform/Extensions/TimeoutTaskAfterTest.cs
Due: azure-pipelines-starsky.yml

add WIP code
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
Due: azure-pipelines-starsky.yml

avoid csp
  starskyapp/media/focus-button-autoclose.js
  starskyapp/pages/edit-error.html
Due: azure-pipelines-starsky.starskyapp.yml

add extra check
  starskyapp/lib/edit-keypress.js
Due: azure-pipelines-starsky.starskyapp.yml

add cache clean to rename and move
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-move-file/modal-move-file.tsx
Due: azure-pipelines-starsky.yml

change order
  starsky/starsky/clientapp/src/components/organisms/modal-archive-rename/modal-archive-rename.tsx
Due: azure-pipelines-starsky.yml

update changelog
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

WIP code
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
Due: azure-pipelines-starsky.yml

add null check
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
Due: azure-pipelines-starsky.yml

allow only one api from app insights
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starskyapp/lib/main-window.js
Due: azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml

rename demo folder
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/config.json
  starsky-tools/end2end/cypress/integration/21-archive-from-upload/from-upload.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/config.json
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
Due: none

add new features
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starskytest/FakeMocks/FakeIQuery.cs
  starsky/starskytest/Services/ExifToolTest.cs1
  starsky/starskytest/Services/ThumbnailTest.legacy.cs1
  starsky/starskytest/starsky.foundation.sync/SyncServices/SyncSingleFileTest.cs
Due: azure-pipelines-starsky.yml

add test for disposed item
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.database/Query/QuerySingleItem.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

refactor to local functions
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.yml

its working again
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky.yml

add extra home tests
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add disposed test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add test
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

change test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add test for query
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add remove + remove disposed test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add disposed test
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky.yml

add new beta sync controller
  starsky/starsky/Controllers/SyncController.cs
  starsky/starsky/Controllers/SynchronizeController.cs
Due: azure-pipelines-starsky.yml

WIP
  starsky/starsky.foundation.readmeta/Services/ReadMeta.cs
  starsky/starsky.foundation.sync/Helpers/NewItem.cs
  starsky/starsky.foundation.sync/SyncInterfaces/ISync.cs
  starsky/starsky.foundation.sync/SyncServices/SyncRemove.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
  starsky/starsky.foundation.sync/SyncServices/Synchronize.cs
  starsky/starsky.foundation.sync/WatcherHelpers/FileProcessor.cs
  starsky/starsky.foundation.sync/WatcherServices/DiskWatcher.cs
  starsky/starsky.foundation.sync/WatcherServices/SyncWatcherPreflight.cs
  starsky/starsky/Controllers/SynchronizeController.cs
Due: azure-pipelines-starsky.yml

tell how to restore filter
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
Due: azure-pipelines-starsky.yml

add changelog
  history.md
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
Due: azure-pipelines-starsky.yml

slug tests
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/starsky.foundation.platform/Models/AppSettingsTest.cs
Due: azure-pipelines-starsky.yml

allow uppercase examples
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky.foundation.platform/Models/AppSettings.cs
  starsky/starskytest/Helpers/FileStreamingHelperTest.cs
Due: azure-pipelines-starsky.yml

allow uppercase uploads
  starsky/starsky.foundation.http/Streaming/FileStreamingHelper.cs
  starsky/starsky/Controllers/UploadController.cs
Due: azure-pipelines-starsky.yml

ignore markdown in pipeline
  azure-pipelines-starsky-shared-web-only.yml
Due: none

add tests for moving a file to the home
  starsky/starsky.feature.rename/Services/RenameService.cs
  starsky/starsky.foundation.database/Interfaces/IQuery.cs
  starsky/starsky.foundation.database/Models/FileIndexItem.cs
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
  starsky/starskytest/Models/FileIndexItemTest.cs
  starsky/starskytest/starsky.feature.rename/Services/RenameServiceTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
  starsky/starskytest/starsky.foundation.database/QueryTest/Query_AddParentItemsAsyncTest.cs
Due: azure-pipelines-starsky.yml

Path conditions:
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
