Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

Update readme.md
  readme.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

fix: upgrade dotenv from 16.0.1 to 16.0.2
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

fix: upgrade marked from 4.0.19 to 4.1.0
  starsky-tools/docs/package-lock.json
  starsky-tools/docs/package.json
Due: none

version bumb to 0.5.0-beta.8
  starsky-tools/build-tools/app-version-update.js
Due: none

fix: upgrade dotenv from 16.0.1 to 16.0.2
  starsky-tools/mail/package-lock.json
  starsky-tools/mail/package.json
Due: none

upgrade nuget
  starsky/.config/dotnet-tools.json
  starsky/build/_build.csproj
  starsky/starsky.foundation.database/starsky.foundation.database.csproj
  starsky/starsky.foundation.platform/starsky.foundation.platform.csproj
  starsky/starsky.foundation.webtelemetry/starsky.foundation.webtelemetry.csproj
  starsky/starskytest/starskytest.csproj
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update todo
  history.md
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/shared-web-only.yml

fix: upgrade dotenv from 16.0.1 to 16.0.2
  starsky-tools/dropbox-import/package-lock.json
  starsky-tools/dropbox-import/package.json
Due: none

stricter CSP policy
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

space
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starskytest/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddlewareTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

comment
  history.md
  starskyapp/src/app/main-window/on-headers-received.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

add csp-evaluator
  starsky/starsky.foundation.platform/Middleware/ContentSecurityPolicyMiddleware.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @testing-library/react from 13.3.0 to 13.4.0
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update starsky-docker-buildx.yml
  .github/workflows/starsky-docker-buildx.yml
Due: none

add check
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move comments to seperate md
  starsky/starsky/github-artifacts-download.example.md
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename step
  .github/workflows/starsky-codecov-clientapp-netcore.yml
Due: none

add force and change check
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add output && small fixes
  starsky/starsky/github-artifacts-download.sh
  starsky/starsky/pm2-deploy-on-env.sh
  starsky/starsky/pm2-install-latest-release.sh
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update comment
  starsky/starsky/pm2-new-instance.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

upgrade electron
  starskyapp/package-lock.json
  starskyapp/package.json
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

for gatekeeper issues
  starsky/starsky/gatekeeper-mac-os-helper.command
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade typescript from 4.8.2 to 4.8.3
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add clean
  starsky/starsky/docker-cleanup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add parent dir
  starsky/starsky/docker-cleanup.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

hope this helps
  starsky/starsky.foundation.database/Query/Query.cs
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starsky.foundation.sync/SyncServices/SyncSingleFile.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky.foundation.sync/SyncServices/ManualBackgroundSyncService.cs
  starsky/starskytest/starsky.foundation.sync/SyncServices/ManualBackgroundSyncServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
