Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

azure-pipelines-starsky-shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Cake ClientRestore
    enabled: true
    inputs:
      filePath: starsky/build.ps1
      arguments: -target="ClientRestore"
      pwsh: true
      workingDirectory: $(Build.SourcesDirectory)/starsky/
  - task: PowerShell@2
  ...

azure-pipelines-starsky.netframework-msbuild.yml:
  pool:
    name: Hosted macOS
  steps:
  - bash: 'ls
  
      pwd
  
      '
    displayName: Bash Script -- just for debugging
  - task: Bash@3
    displayName: Bash Script CAKE For Legacy Project
    inputs:
      targetType: filePath
      filePath: starsky.netframework/build.sh
      workingDirectory: starsky.netframework/
  ...

azure-pipelines-starsky.starskyapp.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk 3.1.201
        enabled: true
        inputs:
  ...

azure-pipelines-starsky.yml:
  pool:
    vmImage: windows-2019
    demands:
    - msbuild
    - java
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 3.1.300
    enabled: true
    inputs:
      packageType: sdk
      version: 3.1.300
      installationPath: $(Agent.ToolsDirectory)/dotnet
  - task: DotNetCoreCLI@2
  ...

pipelines/azure/app-ci.yml:
  stages:
  - stage: buildnetcore
    displayName: Build .NET Core
    jobs:
    - job: buildnetcore
      displayName: Build .NET Core
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: /pipelines/azure/steps/use_dotnet_version.yml
      - template: /pipelines/azure/steps/build_server.yml
  ...

pipelines/azure/develop-ci.yml:
  pool:
    vmImage: ubuntu-20.04
    demands:
    - msbuild
    - java
  steps:
  - template: /pipelines/azure/steps/use_dotnet_version.yml
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      npmConfigCache: $(npm_config_cache)
      jest: ${{ parameters.unitTestsEnabled }}
  ...

pipelines/azure/shared-web-only.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - template: /pipelines/azure/steps/build_clientapp.yml
    parameters:
      jest: false
  - template: /pipelines/azure/steps/build_server_shared_runtime.yml
    parameters:
      nugetPackages: $(NUGET_PACKAGES)
  ...

fix toggle bug
  starskyapp/src/app/file-watcher/setup-file-watcher.ts
  starskyapp/src/app/ipc-bridge/ipc-bridge.ts
Due: azure-pipelines-starsky.starskyapp.yml, pipelines/azure/app-ci.yml

update changelog
  history.md
Due: none

hotfix e2e
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
Due: none

[DocsUpdateBot] Auto commited html update
  docs/history.html
  docs/starsky/starsky/clientapp/readme.html
Due: none

publish container for e2e
  pipelines/azure/develop-ci.yml
  pipelines/azure/shared-web-only.yml
  pipelines/azure/steps/publish_end2end_container.yml
Due: none

change warmup script. && add local.lt ignore script
  starsky-tools/end2end/cypress/integration/00-warmup/warmup.ts
Due: none

add extra wait && use env variables
  starsky-tools/end2end/cypress/integration/00-warmup/warmup.ts
  starsky-tools/end2end/cypress/integration/01-create-account/01-create-account.ts
  starsky-tools/end2end/cypress/integration/02-login/02-login.ts
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/30-search/30-search.ts
  starsky-tools/end2end/cypress/integration/50-delete-from-upload/delete-folder-from-upload.ts
Due: none

change wait
  starsky-tools/end2end/cypress/integration/10-upload-to-folder/10-upload-to-folder.ts
  starsky-tools/end2end/cypress/integration/30-search/30-search.ts
Due: none

change wait sensors
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
  starsky-tools/end2end/cypress/integration/40-detailview-from-upload/detailview-from-upload.ts
Due: none

use loop && replace console.writeLine with logger
  starsky/starsky.foundation.database/Query/Query.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add logger to test
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryUpdateItem_Error.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix
  history.md
  starsky/starskytest/starsky.foundation.database/QueryTest/QueryTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

not used
  starsky/starskytest/Services/ReadMeta_ExifReadTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change var name && refactor use gestures
  starsky/starsky/clientapp/src/hooks/use-filelist.ts
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix small code smells
  starsky/starsky/clientapp/src/hooks/use-gestures/use-gestures.ts
  starsky/starsky/clientapp/src/hooks/use-keyboard/use-hotkeys.tsx
  starsky/starsky/clientapp/src/hooks/use-searchlist.ts
  starsky/starsky/clientapp/src/interfaces/IHealthEntry.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add type && change to for-of loop
  starsky/starsky/clientapp/src/shared/filelist-cache.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

change for of loop
  starsky/starsky/clientapp/src/shared/shallow-equal.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update list view
  starsky/starsky/clientapp/src/components/atoms/flat-list-item/flat-list-item.tsx
  starsky/starsky/clientapp/src/shared/url-path.spec.ts
  starsky/starsky/clientapp/src/shared/url-path.ts
  starsky/starsky/clientapp/src/style/css/21-archive-folder-flatlist.css
  starsky/starsky/clientapp/src/style/css/26-colorfilter.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove icon
  readme.md
Due: none

WIP
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[DocsUpdateBot] Auto commited html update
  docs/history.html
Due: none

[DocsUpdateBot] Auto commited html update
  docs/readme.html
Due: none

@mkdir
  starsky-tools/end2end/cypress/integration/21-create-rename-directory/21-create-directory.ts
Due: none

display path
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

tests tools
  starsky/build.cake
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move code out of scope && fix issue
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/drop-area/drop-area.tsx
  starsky/starsky/clientapp/src/components/atoms/drop-area/post-single-form-data.ts
  starsky/starsky/clientapp/src/components/atoms/drop-area/upload-files.ts
  starsky/starsky/clientapp/src/shared/fetch-post.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

test bad connection
  starsky/starsky/clientapp/src/shared/fetch-post.spec.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

comment
  starsky/starsky/clientapp/src/components/atoms/drop-area/post-single-form-data.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix code smells
  starsky/starsky/clientapp/src/components/atoms/drop-area/post-single-form-data.ts
  starsky/starsky/clientapp/src/shared/fetch-post.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

changelog
  history.md
Due: none

add tests
  starsky/starsky/clientapp/src/components/atoms/flat-list-item/flat-list-item.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add test
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

move component to atoms
  starsky/starsky/clientapp/src/components/atoms/list-image-child-item/list-image-child-item.spec.tsx
  starsky/starsky/clientapp/src/components/atoms/list-image-child-item/list-image-child-item.stories.tsx
  starsky/starsky/clientapp/src/components/atoms/list-image-child-item/list-image-child-item.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/item-list-view/item-list-view.tsx
  starsky/starsky/clientapp/src/components/molecules/item-text-list-view/item-text-list-view.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/list-image-view-select-container/list-image-view-select-container.stories.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

style change && update changelog
  history.md
  starsky/starsky/clientapp/src/style/css/21-archive-folder-flatlist.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

styling
  starsky/starsky/clientapp/src/style/css/21-archive-folder-flatlist.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fix & test for command click bug
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

rename close to parent folder
  starsky/starsky/clientapp/src/components/organisms/menu-detail-view/menu-detail-view.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework, *.md, starskyapp/*.md, starskyapp/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
