Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md

Rename update-application-version-auto.yml to global-update-application-version-auto.yml
  .github/workflows/global-update-application-version-auto.yml
Due: none

Update and rename release-on-tag-docker-hub.yml to webapp-docker-release-on-tag-docker-hub.yml
  .github/workflows/webapp-docker-release-on-tag-docker-hub.yml
Due: none

Update and rename release-on-tag-netcore-desktop-electron.yml to desktop-release-on-tag-netcore-desktop-electron.yml
  .github/workflows/desktop-release-on-tag-netcore-desktop-electron.yml
Due: none

Rename starsky-codecov-clientapp-netcore.yml to webapp-codecov-clientapp-netcore.yml
  .github/workflows/webapp-codecov-clientapp-netcore.yml
Due: none

Update and rename starsky-docker-buildx.yml to webapp-unstable-docker-buildx.yml
  .github/workflows/webapp-unstable-docker-buildx.yml
Due: none

Update and rename auto-update-nuget-packages-list.yml to webapp-update-nuget-packages-list.yml
  .github/workflows/webapp-update-nuget-packages-list.yml
Due: none

Rename storybook-clientapp-netlify.yml to clientapp-storybook-netlify.yml
  .github/workflows/clientapp-storybook-netlify.yml
Due: none

Rename clean-untagged-ghcr-images.yml to global-clean-untagged-ghcr-images.yml
  .github/workflows/global-clean-untagged-ghcr-images.yml
Due: none

Update and rename auto-update-swagger-dotnet.yml to webapp-update-swagger-dotnet.yml
  .github/workflows/webapp-update-swagger-dotnet.yml
Due: none

Update and rename auto-upgrade-clientapp-create-react-app.yml to clientapp-update-dependencies-vite.yml
  .github/workflows/clientapp-update-dependencies-vite.yml
Due: none

Rename codeql-analysis.yml to global-codeql-analysis.yml
  .github/workflows/global-codeql-analysis.yml
Due: none

Rename starsky-sonarqube-clientapp-netcore.yml to webapp-sonarqube-clientapp-netcore.yml
  .github/workflows/webapp-sonarqube-clientapp-netcore.yml
Due: none

Create global-snyk-analysis.yml
  .github/workflows/global-snyk-analysis.yml
Due: none

Rename starsky-tools-node-smoke-test.yml to tools-smoke-test-node.yml
  .github/workflows/tools-smoke-test-node.yml
Due: none

Rename starsky-dotnetcore-windows.yml to webapp-build-net-windows.yml
  .github/workflows/webapp-build-net-windows.yml
Due: none

Rename webapp-net-only-macos.yml to webapp-build-net-macos.yml
  .github/workflows/webapp-build-net-macos.yml
Due: none

Rename starsky-dotnetcore-ubuntu.yml to webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-ubuntu.yml
Due: none

Update ClientApp
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update and rename desktop-release-on-tag-netcore-desktop-electron.yml to desktop-release-on-tag-net-electron.yml
  .github/workflows/desktop-release-on-tag-net-electron.yml
Due: none

Update desktop-release-on-tag-net-electron.yml
  .github/workflows/desktop-release-on-tag-net-electron.yml
Due: none

Update global-update-application-version-auto.yml
  .github/workflows/global-update-application-version-auto.yml
Due: none

Update tools-smoke-test-node.yml
  .github/workflows/tools-smoke-test-node.yml
Due: none

Update Documentation and Docusaurus
  documentation/package-lock.json
Due: pipelines/azure/documentation.yaml

Update webapp-update-nuget-packages-list.yml
  .github/workflows/webapp-update-nuget-packages-list.yml
Due: none

Update webapp-build-net-ubuntu.yml
  .github/workflows/webapp-build-net-ubuntu.yml
Due: none

update paths
  documentation/docs/developer-guide/github-actions/readme.md
  readme.md
  starsky/starsky/github-artifacts-download.ps1
  starsky/starsky/github-artifacts-download.sh
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

update example
  starsky/starsky/github-artifacts-download.example.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

update paths
  readme.md
Due: none

fix: upgrade @types/node from 20.11.20 to 20.11.24
  starsky-tools/end2end/package-lock.json
  starsky-tools/end2end/package.json
Due: none

fix: upgrade express from 4.18.2 to 4.18.3
  starsky-tools/mock/package-lock.json
  starsky-tools/mock/package.json
Due: none

Update global-snyk-analysis.yml
  .github/workflows/global-snyk-analysis.yml
Due: none

add rosetta error case
  documentation/docs/assets/getting-started-desktop-desktop-macos-rosetta.jpg
  documentation/docs/getting-started/desktop/desktop-macos.md
Due: pipelines/azure/documentation.yaml

imageoptim
  documentation/docs/assets/getting-started-desktop-desktop-macos-rosetta.jpg
Due: pipelines/azure/documentation.yaml

Make prev / next more contrast
  starsky/starsky/clientapp/src/style/css/23-relativelink.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix: upgrade @types/node from 20.11.21 to 20.11.24
  starsky-tools/thumbnail/package-lock.json
  starsky-tools/thumbnail/package.json
Due: none

keep a changelog
  history.md
Due: none

fix: upgrade express from 4.18.2 to 4.18.3
  starsky-tools/localtunnel/package-lock.json
  starsky-tools/localtunnel/package.json
Due: none

Update Open Telemetry instead of Application insights
  documentation/blog/20231229-reflecting-on-a-year-of-progress-a-look-back-at-2023.md
  documentation/docs/developer-guide/technologies/dotnet/readme.md
  history.md
  starsky/starsky/Startup.cs
  starsky/starsky/readme.md
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

fix path in sln file
  starsky/starsky.sln
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
