Repository qdraw/starsky: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.netframework-msbuild.yml, azure-pipelines-starsky.starskyapp.yml, azure-pipelines-starsky.yml, pipelines/azure/app-ci.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

Path conditions:
  azure-pipelines-starsky-shared-web-only.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md
  azure-pipelines-starsky.netframework-msbuild.yml: any of: starsky.netframework, but not: starskyapp, starsky-tools, starsky
  azure-pipelines-starsky.starskyapp.yml: any of: starskyapp, but not: starsky, starsky-tools, starsky.netframework
  azure-pipelines-starsky.yml: any of: starsky, but not: starskyapp, starsky-tools, starsky.netframework, *.md
  pipelines/azure/app-ci.yml: any of: starskydesktop, but not: starsky, starsky-tools, starsky.netframework, *.md, starskydesktop/*.md, starskydesktop/readme.md
  pipelines/azure/develop-ci.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json
  pipelines/azure/documentation.yaml: any of: documentation, starsky/readme.md, starsky/history.md, starsky/starsky/readme.md, starsky/starsky/readme-docker-hub.md, starsky/starsky/readme-docker-development.md, starsky/starsky/clientapp/readme.md, starsky/**/readme.md, starskydesktop/readme.md, starskydesktop/docs-assets, starsky/starskytest/readme.md, starsky-tools/readme.md, starsky-tools/**/readme.md
  pipelines/azure/shared-web-only.yml: any of: starsky, but not: starskydesktop, starsky-tools, starsky.netframework, starsky/readme.md, starsky/starsky/readme.md, starsky/starsky/clientapp/readme.md, *.md, *.json, starsky/nuget-packages-list.json

add checks for windows
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ImageMetadataReaderWindowsBindings.cs
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/QuicklookMacOs.cs
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindows.cs
  starsky/starskytest/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindowsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add STA state
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ImageMetadataReaderWindowsBindings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

try this
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ImageMetadataReaderWindowsBindings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

path
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ImageMetadataReaderWindowsBindings.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

use imagesharp
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ImageMetadataReaderWindowsBindings.cs
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindows.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/NativePreview/NativePreviewHelper.cs
  starsky/starskytest/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindowsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add fallback
  starsky/starskytest/FakeCreateAn/CreateAnImageWhiteJpeg/CreateAnImageWhiteJpeg.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Fixed) _Back-end_ Fix for when images are white on Mac OS, thumbnail gen. (PR #2176)
  history.md
Due: none

add comments
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/QuicklookMacOs.cs
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindows.cs
  starsky/starsky.foundation.native/PreviewImageNative/PreviewImageNativeService.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

height = ( int ) Math.Round(( double ) sourceHeight / width * width);
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/NativePreview/NativePreviewHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add readmeta back
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/NativePreviewThumbnailGenerator.cs
  starsky/starsky.foundation.thumbnailgeneration/GenerationFactory/NativePreview/NativePreviewHelper.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/Generators/NativePreviewThumbnailGeneratorTests.cs
  starsky/starskytest/starsky.foundation.thumbnailgeneration/GenerationFactory/NativePreview/NativePreviewHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add replace
  starsky/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindows.cs
  starsky/starskytest/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindowsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

reformat
  starsky/starskytest/starsky.foundation.native/PreviewImageNative/Helpers/ShellThumbnailExtractionWindowsTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[NugetPackagesListUpdate] Auto commited nugetPackages list
  starsky/nuget-packages-list.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml

#1510 quote handeling
  starsky/starsky.feature.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.writemeta/Helpers/ExifToolCmdHelper.cs
  starsky/starsky.foundation.writemeta/Helpers/QuotesCommandLineEscapeHelper.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1510 quote handeling
  starsky/starsky.foundation.writemeta/Helpers/QuotesCommandLineEscapeHelper.cs
  starsky/starskytest/starsky.foundation.writemeta/Helpers/ExifToolCmdHelperTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#1510 quote handeling
  history.md
Due: none

#1510 quote handeling
  starsky/starskytest/starsky.foundation.writemeta/Helpers/QuotesCommandLineEscapeHelperTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

remove duplicates
  starsky/starskytest/starsky.foundation.video/GetDependencies/FfMpegDownloadTest.cs
  starsky/starskytest/starsky.project.web/Helpers/FilenameHelpersTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2106 align upload
  starsky/starsky/clientapp/src/components/organisms/menu-archive/internal/upload-menu-item.tsx
  starsky/starsky/clientapp/src/shared/url/url-query.ts
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2106 #2178
  history.md
Due: none

fix reference for feature.trash project and reformat fixes: #1778
  documentation/docs/developer-guide/testing/architecture-test.md
  starsky/starsky.feature.metaupdate/Helpers/AddNotFoundInIndexStatus.cs
  starsky/starsky.feature.metaupdate/readme.md
  starsky/starsky.feature.trash/Services/MoveToTrashService.cs
  starsky/starsky.feature.trash/starsky.feature.trash.csproj
  starsky/starsky.foundation.metaupdate/Helpers/AddNotFoundInIndexStatus.cs
  starsky/starsky.foundation.metaupdate/Helpers/AddParentCacheIfNotExist.cs
  starsky/starsky.foundation.metaupdate/Helpers/AppendXmpPathsWhenCollectionsFalse.cs
  starsky/starsky.foundation.metaupdate/Interfaces/IMetaPreflight.cs
  starsky/starsky.foundation.metaupdate/Interfaces/IMetaReplaceService.cs
  starsky/starsky.foundation.metaupdate/Interfaces/IMetaUpdateService.cs
  starsky/starsky.foundation.metaupdate/Services/MetaPreflight.cs
  starsky/starsky.foundation.metaupdate/Services/MetaReplaceService.cs
  starsky/starsky.foundation.metaupdate/Services/MetaUpdateService.cs
  starsky/starsky.foundation.metaupdate/starsky.foundation.metaupdate.csproj
  starsky/starsky.sln
  starsky/starsky/Controllers/MetaReplaceController.cs
  starsky/starsky/Controllers/MetaUpdateController.cs
  starsky/starskytest/Architecture/ArchitectureTest.cs
  starsky/starskytest/Controllers/MetaReplaceControllerTest.cs
  starsky/starskytest/Controllers/MetaUpdateControllerTest.cs
  starsky/starskytest/FakeMocks/FakeIMetaReplaceService.cs
  starsky/starskytest/FakeMocks/FakeIMetaUpdateService.cs
  starsky/starskytest/FakeMocks/FakeMetaPreflight.cs
  starsky/starskytest/starsky.feature.metaupdate/Helpers/AddParentCacheIfNotExistTest.cs
  starsky/starskytest/starsky.feature.metaupdate/Services/ReplaceServiceTest.cs
  starsky/starskytest/starsky.feature.trash/Services/MoveToTrashServiceTest.cs
  starsky/starskytest/starsky.foundation.accountmanagement/Services/UserManagerTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Helpers/AddParentCacheIfNotExistTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/MetaPreflightTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/MetaUpdateServiceTest.cs
  starsky/starskytest/starsky.foundation.metaupdate/Services/ReplaceServiceTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/documentation.yaml, pipelines/azure/shared-web-only.yml

#2179 #1778
  history.md
Due: none

Add refresh button to main menu
  starsky/starsky/Controllers/SynchronizeController.cs
  starsky/starsky/clientapp/src/components/molecules/force-sync-wait-button/force-sync-wait-button.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/force-sync-wait-button/force-sync-wait-button.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/localization/localization.json
  starsky/starsky/clientapp/src/style/css/10-menu.css
  starsky/starsky/clientapp/src/style/images/baseline-refresh-24px.svg
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add tests
  starsky/starsky/clientapp/src/components/molecules/force-sync-wait-button/force-sync-wait-button.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

- [x] (Added) _Front-end_ Add refresh button to main menu (Issue #962 & PR #2180)
  documentation/docs/getting-started/first-steps.md
  history.md
Due: pipelines/azure/documentation.yaml

update docs
  documentation/docs/getting-started/desktop/desktop-windows.md
  documentation/docs/getting-started/desktop/readme.md
Due: pipelines/azure/documentation.yaml

isShortLabel={false}
  starsky/starsky/clientapp/src/components/organisms/modal-archive-synchronize-manually/modal-archive-synchronize-manually.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

[Swagger] Auto commited swagger/openapi list
  documentation/static/openapi/openapi.json
Due: pipelines/azure/documentation.yaml

Upgrade packages to React 19
  starsky/starsky/clientapp/package-lock.json
  starsky/starsky/clientapp/package.json
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

fix some tests
  starsky/starsky/clientapp/src/components/molecules/menu-inline-search/menu-inline-search.spec.tsx
  starsky/starsky/clientapp/src/components/molecules/menu-option-desktop-editor-open-single/menu-option-desktop-editor-open-single.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/detailview-info-location/detailview-info-location.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/modal-geo/modal-geo.spec.tsx
  starsky/starsky/clientapp/src/components/organisms/preference-app-settings-desktop/preference-app-settings-desktop.spec.tsx
  starsky/starsky/clientapp/src/containers/menu-detailview-container/menu-detailview-container.spec.tsx
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

Update history.md
  history.md
Due: none

Task Canceled && reformat
  starsky/starsky.feature.packagetelemetry/Services/PackageTelemetry.cs
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

get generic typ
  starsky/starsky.foundation.http/Services/HttpClientHelper.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

#2189
  history.md
Due: none

add check before
  starsky/starskytest/starsky.foundation.storage/Storage/StorageTemporaryFilesystemTests.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

add unique names
  starsky/starskytest/starsky.foundation.storage/Storage/StorageThumbnailFilesystemTest.cs
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml

ForceSyncWaitButton is not shown on mobile due limited space (450px)
  starsky/starsky/clientapp/src/components/organisms/menu-archive/menu-archive.tsx
  starsky/starsky/clientapp/src/style/css/10-menu.css
Due: azure-pipelines-starsky-shared-web-only.yml, azure-pipelines-starsky.yml, pipelines/azure/develop-ci.yml, pipelines/azure/shared-web-only.yml
